# Compiled python code
*.pyc

# Mac OSX Folder config files
.DS_Store

# Cached files
cache/*

# IntelliJ IDEA
.idea
Lexos.iml

# Temporary files with tilde

# debug log
debug.log

# temp file from gedit
*~

# temp file from vim
*.swp

# config file for vscode
.vscode/*