install:
  # install anaconda
  - choco install anaconda3

  # add anaconda to path
  - SET PATH=C:\\tools\\Anaconda3\\scripts\\;C:\\tools\\Anaconda3\\;%PATH%

  # install dependency
  - pip install -r ./requirements.txt
  - pip install -r ./dev_requirements.txt

test_script:
  # Put your test command here.
  # If you don't need to build C extensions on 64-bit Python 3.3 or 3.4,
  # you can remove "build.cmd" from the front of the command, as it's
  # only needed to support those cases.
  # Note that you must use the environment variable %PYTHON% to refer to
  # the interpreter you're using - Appveyor does not do anything special
  # to put the Python evrsion you want to use on PATH.
  - flake8 --count .

build:
  - off

