# Set up environment.
environment:
  # NodeJS version
  nodejs_version: "10"
  # Run for both architecture for python 3.8.x
  matrix:
    - PYTHON: "C:\\Python38-x64"
      PYTHON_VERSION: "3.8"
      PYTHON_ARCH: "64"

# Set python path.
init:
  - set PATH=%PYTHON%;%PYTHON%\\Scripts;%PATH%

# Installations.
install:
  # Upgrade pip to the latest version.
  - python -m pip install --upgrade pip
  - pip install numpy
  - pip install -r requirements.txt
  - pip install -r dev_requirements.txt
  # Set up node js checks.
  - choco install nodejs
  # use npm to install all the dependencies.
  - cd .\lexos\frontend
  - npm install
  - cd ..\..

# Set only master branch.
branches:
  only:
    - master

test_script:
  # Test for python static analysis.
  - flake8 --ignore E121,E123,E126,E226,E24,E704,W503,W504,E741,N818
  # Unit testing.
  - pytest --cov=.\lexos
  # Doc style, at the moment only test files under models and receivers.
  - pydocstyle lexos\models\
  - pydocstyle lexos\receivers\

  # Test for javascript code style
  #- cd .\lexos\frontend

  # Following line is commented out, frontend refactor is not completed
  # - ./node_modules/.bin/eslint ./js/script_*.js
  #- .\node_modules\.bin\eslint .\js\scripts_statistics.js
  #- .\node_modules\.bin\eslint .\js\scripts_similarity.js
  #- .\node_modules\.bin\eslint .\js\scripts_dendrogram.js
  #- .\node_modules\.bin\eslint .\js\scripts_rwanalysis.js
  #- .\node_modules\.bin\eslint .\js\scripts_tokenizer.js
  #- .\node_modules\.bin\eslint .\js\scripts_upload.js
  #- .\node_modules\.bin\eslint .\js\scripts_manage.js
  #- .\node_modules\.bin\eslint .\js\scripts_kmeans.js
  #- .\node_modules\.bin\eslint .\js\scripts_scrub.js
  #- .\node_modules\.bin\eslint .\js\scripts_cut.js
  #- .\node_modules\.bin\eslint .\js\scripts_bct.js
  #- cd ..\..

build: off
