install:
  # install anaconda
  - choco install anaconda3

  # add anaconda to path
  - SET PATH=C:\\tools\\Anaconda3\\scripts\\;C:\\tools\\Anaconda3\\;%PATH%

  # log debug info
  - conda info -a

  # install dependency
  - pip install -r ./requirements.txt
  - pip install -r ./dev_requirements.txt

  # install npm
  - choco install nodejs

  # use npm to install all the dependencies (including dev)
  - cd ./lexos/static
  - npm install
  - cd ../..

branches:
  only:
    - master

test_script:
  # test for python static analysis
  # including code style, doc style, and basic code analysis
  # ignore F841 because it includes blackhole variable: "_"
  # ignore E123 because https://github.com/PyCQA/pycodestyle/issues/103
  - flake8 --ignore F841,E123 --count .
  # unit testing
  - pytest --cov=./lexos
  - codecov
  # doc style, at the moment only test files under models and receivers.
  - pydocstyle lexos/models/
  - pydocstyle lexos/receivers/

  # test for javascript code style
  - cd ./lexos/static
  # following line is commented out, because frontend refactor is not yet compeleted
  # - .\node_modules\.bin\eslint ./js/script_*.js
  - .\node_modules\.bin\eslint .\js\scripts_statistics.js
  - .\node_modules\.bin\eslint .\js\scripts_similarity.js
  - .\node_modules\.bin\eslint .\js\scripts_dendrogram.js
  - cd ../..

build: off

