beautifulsoup4<=4.12.2
biopython<=1.83
chardet<=5.2.0
colorlover<=0.3.0
flask==1.1.1
gensim<=4.3.2
itsdangerous==2.0.1
Jinja2==3.0.3
lxml<=5.1.0
matplotlib<=3.7.3
natsort<=8.4.0
numpy<=1.26.4
pandas<2.0.0
plotly<=5.19.0
requests<=2.31.0
scikit-learn<1.0.0
scipy<=1.10.1
werkzeug==2.0.2
