/* Minimum width */
#main-section,
.popup-container {
    /*min-width: 136rem;*/
}


/* Form */
form {
    display: grid;
    grid-template-rows: min-content 1fr;
    grid-gap: var(--gap);
}

#cut-settings-section, #cut-mode-section {
    height: 100%;
}


/* Options */
#options-section {
    display: grid;
    grid-template-columns: 1fr 1.3fr;
    grid-gap: var(--gap);
}


/* Cut mode */
#cut-mode-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 3rem;
}


/* Cut settings */
#cut-settings-grid {
    display: grid;
    grid-auto-flow: column;
    height: 5rem;
}

#milestone-input {
    grid-column: span 2;
}

#milestone-input input {
    width: 20rem;
}


/* Document previews */
#document-previews-top {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
