/* Minimum width */
#main-section,
.popup-container {
    /*min-width: 135rem;*/
}


/* Form */
form {
    grid-template-rows: min-content auto;
}


/* Options section */
#options-section {
    grid-template-columns: 1.2fr 2fr 1fr .9fr 2fr;
}

#advanced-options-section label {
    margin-right: var(--gap);
}

#advanced-options-section input {
    width: 10rem;
}


/* K-means */
#k-means {
    width: calc(100% - var(--gap));
    height: 56rem;
    overflow: hidden;
    margin: 0 var(--small-gap) var(--small-gap) var(--small-gap);
}
