/* Minimum width */
#main-section,
.popup-container {
    /*min-width: 130rem;*/
}

#manage-tips {
    position: absolute;
}


/* Context Menu */
#context-menu {
    z-index: 1;
    position: absolute;
    display: grid;
    row-gap: var(--small-gap);
    top: 0;
    left: 0;
    width: 21rem;
    padding: var(--small-gap);
    background-color: var(--foreground-color);
    border: var(--small-gap) solid var(--highlight-color-light);
    opacity: 0;
    transition: opacity var(--fade-duration);
    pointer-events: none;
}


/* Popups */
input[type="text"] {
    width: 100%;
}

#merge-name-input {
    margin-bottom: var(--small-gap);
    width: calc(100% - 6.5rem);
}

#merge-milestone-input {
    width: calc(100% - 11.9rem);
}

#document-preview-text {
    white-space: pre-line;
}
