/* Options */
#graph-section-top{
    grid-template-columns: .6fr 1fr 1fr 1fr .7fr;
}

#png-button, #svg-button, #fullscreen-button {
    display: none;
}


/* Multicloud */
#multicloud {
    display: grid;
    grid-template-columns: repeat(auto-fit, 46rem);
    grid-gap: var(--gap);
    align-items: center;
    justify-content: center;
    overflow-y: auto;
}


/* Word cloud */
.word-cloud-wrapper {
    width: 46rem;
    height: 50rem;
    background-color: var(--foreground-color-alternate);
    overflow: hidden;
}

.word-cloud-wrapper .title {
    overflow: hidden;
    margin-right: var(--small-gap);
    white-space: nowrap;
}

.word-cloud {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--foreground-color-alternate);
    height: calc(100% - 4rem);
}

.word-cloud-wrapper .button {
    background-color: var(--foreground-color);
}

.word-cloud-wrapper .button:hover {
    background-color: var(--highlight-color-light);
}
