/* Minimum width */
#main-section,
.popup-container {
    /*min-width: 125rem;*/
}


/* Form */
form {
    grid-template-rows: min-content 1fr;
}

#calculation-type-section,
#search-terms-section,
#window-section,
#display-section {
    height: 100%;
}


/* Settings */
#settings-section {
    display: grid;
    grid-template-columns: .7fr 1fr .6fr 1fr;
    grid-gap: var(--gap);
}


/* Text inputs */
#search-input-grid {
    display: grid;
    grid-auto-flow: column;
    grid-gap: var(--small-gap);
}

#search-input-grid input {
    width: 100%;
    margin-left: 0;
}

#search-terms-input-denominator {
    display: none;
}

#window-section input[type=text] {
    width: 11rem;
    margin-left: 0;
}

#display-section-input-label {
    width: calc(100% - 3rem);
}

#display-section input {
    width: calc(100% - 11.2rem);
}


/* Display options */
#display-section .section-body > .checkbox-label {
    width: calc(100% - 6rem);
}
