/* Minimum width */
#main-section,
.popup-container {
    /*min-width: 130rem;*/
}

/* Normalize */
#normalize-section-fieldset {
    display: none;
}

#table-top {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.table-top-radio-option {
    justify-self: center;
}

/* Options section */
#options-section {
    grid-template-columns: 1fr 1fr 1.5fr;
}

#comparison-document-text {
    word-break: break-all;
}
