/* Form */
form {
    grid-template-rows: min-content min-content auto;
    min-height: calc(100% - 4rem);
    height: auto;
}


/* Options */
#options-section {
    grid-template-columns: 1fr .7fr 1fr;
}

#normalize-section-fieldset {
    display: none;
}


/* Results */
.lexos-table {
    height: 25rem;
    background-color: var(--foreground-color-alternate);
}

.lexos-table-row {
    grid-auto-columns: 1fr 1fr;
}

#class-divisions-section,
#top-words-section {
    min-height: 28rem;
    height: 100%;
}

#class-divisions-grid,
#top-words-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    grid-auto-rows: 1fr;
    grid-gap: var(--small-gap);
    height: 100%;
}

#top-words-section .lexos-table {
    height: 35rem;
}
