/* Form */
form {
    grid-template-rows: 1fr 1fr;
    /*min-height: 75rem;*/
}


/* Top section */
#top-section {
    display: grid;
    grid-template-columns: 1fr .4fr;
    grid-gap: var(--gap);
}


/* Upload section */
#browse-button,
#drag-and-drop-section {
    display: grid;
    justify-items: center;
    align-items: center;
}

#browse-button {
    cursor: pointer;
    width: 20rem;
    height: 6rem;
    margin: var(--small-gap);
    border-radius: 3rem;
    color: var(--foreground-color);
    background-color: var(--highlight-color);
    border: var(--line-size) solid var(--highlight-color);
    transition: background-color var(--fade-duration), border-color var(--fade-duration);
}

#browse-button:hover {
    color: var(--highlight-color);
    background-color: var(--highlight-color-light);
    border: var(--line-size) solid var(--highlight-color);
}

#drag-and-drop-section {
    height: calc(100% - 7rem);
    width: 100%;
    color: var(--text-color);
    background-color: var(--foreground-color-alternate);
    border: var(--line-size) dashed var(--text-color);
    transition: background-color var(--fade-duration), border-color var(--fade-duration);
}

#drag-and-drop-section.highlighted {
    color: var(--highlight-color);
    border-color: var(--highlight-color);
    background-color: var(--highlight-color-light);
}

#browse-button > h3,
#drag-and-drop-section  > h3 {
    color: inherit;
}


/* Upload list */
#upload-previews-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
    grid-auto-rows: min-content;
    grid-gap: var(--small-gap);
    height: 100%;
    overflow-y: auto;
}

.upload-preview {
    position: relative;
}

.upload-preview-content{
    display: grid;
    padding: var(--small-gap);
    min-height: 8.2rem;
    height: 100%;
    align-content: center;
    justify-items: center;
    background-color: var(--foreground-color-alternate);
    min-width: 0;
    word-break: break-all;
    transition: opacity var(--long-fade-duration);
}

.progress-bar {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: var(--line-size);
    background-color: var(--highlight-color);
    transition: opacity var(--long-fade-duration), width var(--long-fade-duration);
}
