{% extends "helpers/base.html" %}


<!-- Head -->
{% block head %}

    <!-- Plotly -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <!-- Lexos dependencies -->
    <script type="text/javascript" src="static/js/helpers/analyze-template.js"></script>
    <link rel="stylesheet" type="text/css" href="static/css/helpers/analyze-template.css"/>

    {% block page_head %}{% endblock %}
{% endblock %}


<!-- Content -->
{% block content %}

    <!-- Options -->
    <div id="options-section">

        {% block options %}{% endblock %}

        <!-- Tokenize -->
        <div id="tokenize-section" class="section">

            <!-- Top -->
            <div class="vertical-splitter section-top">
                <h3 class="title">Tokenize</h3>
                <h3 id="tokenize-tooltip-button" class="right-justified button">?</h3>
            </div>

            <!-- By Tokens -->
            <div class="section-body">
                <label class="circle-label">
                    <input name="tokenType" value="word" type="radio" checked="checked">
                    <span class="radiomark"></span>
                    <span>By Tokens</span>
                </label><br>

                <label class="circle-label">
                    <input name="tokenType" value="char" type="radio">
                    <span class="radiomark"></span>
                    <span>By Characters</span>
                </label><br>

                <!-- Grams -->
                <h3>Grams</h3>
                <label><input id="grams-input" name="tokenSize" value="1" type="text" spellcheck="false" autocomplete="off"></label>
            </div>
        </div>

        <!-- Normalize -->
        <div id="normalize-section" class="section">

            <!-- Top -->
            <div class="vertical-splitter section-top">
                <h3 class="title">Normalize</h3>
                <h3 id="normalize-tooltip-button" class="right-justified button">?</h3>
            </div>

            <div class="section-body">

                <!-- Proportional -->
                <label class="circle-label">
                    <input name="normalizeType" value="freq" type="radio" checked="checked">
                    <span class="radiomark"></span>
                    <span>Proportional</span>
                </label><br>

                <!-- Raw -->
                <label class="circle-label">
                    <input name="normalizeType" value="raw" type="radio">
                    <span class="radiomark"></span>
                    <span>Raw</span>
                </label><br>

                <!-- TF-IDF -->
                <label class="circle-label">
                    <input name="normalizeType" value="tfidf" type="radio">
                    <span class="radiomark"></span>
                    <span>TF-IDF</span>
                </label>
                <h3 id="tf-idf-tooltip-button" class="button">?</h3>
            </div>
        </div>

        <!-- Cull -->
        <div id="cull-section" class="section">

            <!-- Top -->
            <div class="vertical-splitter section-top">
                <h3 class="title">Cull</h3>
                <h3 id="cull-tooltip-button" class="right-justified button">?</h3>
            </div>

            <div class="section-body">

                <!-- Use the top X words -->
                <label class="checkbox-label">
                    <input id="most-frequent-words-checkbox" name="mfwcheckbox" type="checkbox">
                    <span class="checkmark"></span>
                    <span>Use the top<input id="most-frequent-words-input" name="mfwnumber" value="100" type="text" spellcheck="false" autocomplete="off">terms</span>
                </label>
                <h3 id="most-frequent-words-tooltip-button" class="button">?</h3><br>

                <!-- Must be in X documents -->
                <label class="checkbox-label">
                    <input id="minimum-occurrences-checkbox" name="cullcheckbox" type="checkbox">
                    <span class="checkmark"></span>
                    <span>Must be in<input id="minimum-occurrences-input" name="cullnumber" value="1" type="text" spellcheck="false" autocomplete="off">documents</span>
                </label>
                <h3 id="minimum-occurrences-tooltip-button" class="button">?</h3>
            </div>
        </div>
    </div>

    <!-- Results -->
    {% block results %}{% endblock %}

    <!-- Hidden elements -->
    <input name="csvdelimiter" value="comma" type="hidden">
    <input name="norm" value="l2" type="hidden">
    <input id="active-file-ids" name="active_file_ids" type="hidden">
    <div id="document-names-section"></div>
    {%  block hidden_elements %}{% endblock %}
{% endblock %}
