{% extends "helpers/base-template.html" %}


<!-- Head -->
{% block head %}

    <!-- Plotly -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <!-- Template Lexos dependencies -->
    <script type="text/javascript" src="static/js/helpers/analyze-template.js"></script>
    <link rel="stylesheet" type="text/css" href="static/css/helpers/analyze-template.css"/>

    {% block page_head %}{% endblock %}
{% endblock %}


<!-- Content -->
{% block content %}

    <!-- Options -->
    <div id="options-section">

        {% block options %}{% endblock %}

        <!-- Tokenize -->
        <div id="tokenize-section" class="section">

            <!-- Top -->
            <div class="vertical-splitter section-top">
                <h3 class="title">Tokenize</h3>
                <span id="tokenize-tooltip-button" class="right-justified tooltip-button">?</span>
            </div>

            <!-- By Tokens -->
            <div class="section-body">
                <label><input name="tokenType" value="word" type="radio" checked><span></span>By Tokens</label><br>
                <label><input name="tokenType" value="char" type="radio"><span></span>By Characters</label><br>

                <!-- Grams -->
                <h3>Grams: </h3><label><input id="grams-input" name="tokenSize" value="1" type="text" spellcheck="false" autocomplete="off"></label>
            </div>
        </div>

        <!-- Normalize -->
        <div id="normalize-section" class="section">

            <!-- Top -->
            <div class="vertical-splitter section-top">
                <h3 class="title">Normalize</h3>
                <span id="normalize-tooltip-button" class="right-justified tooltip-button">?</span>
            </div>

            <div class="section-body">

                <!-- Proportional -->
                <label><input name="normalizeType" value="freq" type="radio" checked><span></span>Proportional</label><br>

                <!-- Raw -->
                <label><input name="normalizeType" value="raw" type="radio"><span></span>Raw</label><br>

                <!-- TF-IDF -->
                <label><input name="normalizeType" value="tfidf" type="radio"><span></span>TF-IDF</label>
                <span id="tf-idf-tooltip-button" class="tooltip-button">?</span>
            </div>
        </div>

        <!-- Cull -->
        <div id="cull-section" class="section">

            <!-- Top -->
            <div class="vertical-splitter section-top">
                <h3 class="title">Cull</h3>
                <span id="cull-tooltip-button" class="right-justified tooltip-button">?</span>
            </div>

            <div class="section-body">

                <!-- Use the top X words -->
                <label><input id="most-frequent-words-checkbox" name="mfwcheckbox" type="checkbox"><span></span>Use the top<input id="most-frequent-words-input" name="mfwnumber" value="100" type="text" spellcheck="false" autocomplete="off">terms</label>
                <span id="most-frequent-words-tooltip-button" class="tooltip-button">?</span><br>

                <!-- Must be in X documents -->
                <label><input id="minimum-occurrences-checkbox" name="cullcheckbox" type="checkbox"><span></span>Must be in<input id="minimum-occurrences-input" name="cullnumber" value="1" type="text" spellcheck="false" autocomplete="off">documents</label>
                <span id="minimum-occurrences-tooltip-button" class="tooltip-button">?</span>
            </div>
        </div>
    </div>

    <!-- Results -->
    {% block results %}{% endblock %}

    <!-- Hidden elements -->
    <input name="csvdelimiter" value="comma" type="hidden">
    <input name="norm" value="l2" type="hidden">
    <input id="active-file-ids" name="active_file_ids" type="hidden">
    <div id="document-names-section"></div>
    {%  block hidden_elements %}{% endblock %}
{% endblock %}
