<!DOCTYPE html>
<html lang="en">


<!-- Head -->
<head>
    <meta charset="UTF-8"/>
    <title>Lexos</title>
    <link rel="shortcut icon" href="static/favicon.png"/>

    <!-- jQuery -->
    <script type="text/javascript" src="static/node_modules/jquery/dist/jquery.min.js")></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="static/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <script type="text/javascript" src="static/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Base Lexos dependencies -->
    <script type="text/javascript" src="static/js/helpers/base.js"></script>
    <link rel="stylesheet" type="text/css" href="static/css/helpers/base.css"/>
    <script type="text/javascript" src="static/js/helpers/utility.js"></script>

    {% block head %}{% endblock %}
</head>


<!-- Body -->
<body>

    <!-- Navbar -->
    <div id="navbar">
        <div id="navbar-left">
            <img id="lexos-dragon" src="static/lexos_dragon.png" id="logo">
            <h1 style="display: inline-block">{L}exos</h1>
        </div>
        <div id="navbar-right">
            <a id="upload-button" href="/upload">Upload</a>
            <a id="manage-button" href="/manage">Manage</a>

            <h3 id="prepare-button" class="navbar-button selectable">Prepare</h3>
            <h3 id="visualize-button" class="navbar-button selectable">Visualize</h3>
            <h3 id="analyze-button" class="navbar-button selectable">Analyze</h3>

            <h3>|</h3>
            <a href="/download-workspace">Save</a>
            <a href="/reset">Reset</a>

            <h3>|</h3>
            <h3 id="help-button" class="selectable highlight">Help</h3>
        </div>
    </div>

    <!-- Main grid -->
    <div id="main-grid">

        <!-- Main section -->
        <div id="main-section">

                <!-- Form -->
                <form method="POST" enctype="multipart/form-data">
                    {% block content %}{% endblock %}
                </form>

            <!-- Help -->
            <div id="help-container"></div>
        </div>
    </div>

    <!-- Footer -->
    <footer>

        <!-- Left footer -->
        <div id="left-footer">
            <h3>Lexos v4.0b © 2019</h3>
            <a href="https://wheatoncollege.edu/academics/special-projects-initiatives/lexomics/" target="_blank"><u>Lexomics Research Group</u></a>
            ·
			<a href="http://wheatoncollege.edu/" target="_blank">Wheaton College</a>

            <span id="license">
                    <!-- image 252 x 62 -->
                <a href="http://www.neh.gov/" target="_blank" style="border:none;">
                <img src="{{ url_for('static', filename='neh_logo_horizontal_rgb.jpg') }}"
                     alt="Funded with support from the National Endowment for the Humanities"
                     style="width:126px;height:31px;">
                    </a>

		    </span>
        </div>


        <!-- Right footer -->
        <div id="right-footer"><h3><a href="/manage">Active Documents: </a></h3><h3 id="active-document-count">0</h3></div>
    </footer>
</body>
</html>
