<!DOCTYPE html>
<html lang="en-us">

<!-- Head -->
<head>
    <meta charset="UTF-8"/>
    <title>Lexos</title>
    <link rel="shortcut icon" href="static/favicon.png"/>

    <!-- jQuery -->
    <script type="text/javascript" src="static/node_modules/jquery/dist/jquery.min.js")></script>

    <!-- Core Lexos dependencies -->
    <script type="text/javascript" src="static/js/helpers/base.js"></script>
    <link rel="stylesheet" type="text/css" href="static/css/helpers/base.css"/>
    <link rel="stylesheet" type="text/css" href="static/css/helpers/error.css"/>
    <link rel="stylesheet" type="text/css" href="static/css/helpers/help.css"/>
    <script type="text/javascript" src="static/js/helpers/utility.js"></script>

    {% block head %}{% endblock %}
</head>


<!-- Body -->
<body>

    <!-- Navbar -->
    <div id="navbar">

        <h1 id="lexos-logo">{L}exos</h1>

        <img id="lexos-dragon" src="static/images/lexos-dragon-crop.png" id="logo">

        <div id="navbar-right" class="right-justified">
            <a id="upload-button" href="/upload">Upload</a>
            <a id="manage-button" href="/manage">Manage</a>

            <h3 id="prepare-button" class="navbar-button selectable">Prepare</h3>
            <h3 id="visualize-button" class="navbar-button selectable">Visualize</h3>
            <h3 id="analyze-button" class="navbar-button selectable">Analyze</h3>

            <h3>|</h3>
            <a href="/download-workspace">Save</a>
            <a href="/reset">Reset</a>

            <h3>|</h3>
            <h3 id="help-button" class="help-selectable help-highlight">Help</h3>
        </div>
    </div>

    <!-- Main grid -->
    <div id="main-grid">

        <!-- Main section -->
        <div id="main-section">

                <!-- Form -->
                <form method="POST" enctype="multipart/form-data">
                    {% block content %}{% endblock %}
                </form>

            <!-- Help -->
            <div id="help-container"></div>
        </div>
    </div>

    <!-- Footer -->
    <footer>

        <!-- Left -->
        <a href="http://www.neh.gov/" target="_blank"><img id="neh-logo" src="static/images/neh.png"></a>

        <div>
            <h3>Lexos v4 © 2019 </h3>
            <a href="https://wheatoncollege.edu/academics/special-projects-initiatives/lexomics/" target="_blank">Wheaton Lexomics</a>
        </div>

        <!-- Right -->
        <div class="right-justified">
            <a href="/manage">Active Documents</a>
            <h3>: </h3>
            <h3 id="active-document-count">0</h3>
        </div>
    </footer>
</body>
</html>
