:root {

    /* Text */
    --lexos-text-color: #0587DF;
    --text-color: #22628E;

    /* Buttons */
    --button-border-color: var(--text-color);
    --button-background-color: #122235;

    /* Background and foreground */
    --background-color: #000000;
    --foreground-color-alternate: #04080C;
    --foreground-color: #080F17;

    /* Primary highlight */
    --highlight-color: #0093FA;
    --highlight-color-light: #152b46;

    /* Secondary highlight */
    --secondary-highlight-color: var(--highlight-color);
    --secondary-highlight-color-light: var(--highlight-color-light);

    /* Error */
    --error-button-hover-color: #B4263C;
    --error-button-color: #CD2741;
    --error-color: #E62843;
    --error-color-light: #1D1414;
    --error-text-color: #FFFFFF;

    /* NEH logo */
    --neh-logo-filters: brightness(.9) sepia(1) hue-rotate(160deg) saturate(4);
}
