:root {

    /* Text */
    --lexos-text-color: #262626;
    --text-color: #505050;

    /* Buttons */
    --button-border-color: var(--text-color);
    --button-background-color: var(--foreground-color-alternate);

    /* Background and foreground */
    --background-color: #E3E3E3;
    --foreground-color-alternate: #F3F3F3;
    --foreground-color: #FFFFFF;

    /* Primary highlight */
    --highlight-color: #0093FA;
    --highlight-color-light: #E7F5FF;

    /* Secondary highlight */
    --secondary-highlight-color: var(--highlight-color);
    --secondary-highlight-color-light: var(--highlight-color-light);

    /* Error */
    --error-button-hover-color: #B4263C;
    --error-button-color: #CD2741;
    --error-color: #E62843;
    --error-color-light: #FFE7E9;
    --error-text-color: #FFFFFF;

    /* NEH logo */
    --neh-logo-filters: none;
}
