:root {

    /* Text */
    --lexos-text-color: #8981d0;
    --text-color: #7570A0;

    /* Buttons */
    --button-border-color: var(--text-color);
    --button-background-color: #23222D;

    /* Background and foreground */
    --background-color: #000000;
    --foreground-color-alternate: #0A0A0E;
    --foreground-color: #14141D;

    /* Primary highlight */
    --highlight-color: #A198FF;
    --highlight-color-light: #302D46;

    /* Secondary highlight */
    --secondary-highlight-color: var(--highlight-color);
    --secondary-highlight-color-light: var(--highlight-color-light);

    /* Error */
    --error-button-hover-color: #B4263C;
    --error-button-color: #CD2741;
    --error-color: #E62843;
    --error-color-light: #1d1414;
    --error-text-color: #FFFFFF;

    /* NEH logo */
    --neh-logo-filters: brightness(1.3) sepia(1) hue-rotate(210deg) saturate(1.5);
}
