:root {

    /* Text */
    --lexos-text-color: #3d3d3d;
    --text-color: #586E75;

    /* Buttons */
    --button-border-color: var(--text-color);
    --button-background-color: var(--foreground-color-alternate);

    /* Background and foreground */
    --background-color: #DEDACD;
    --foreground-color-alternate: #EEE8D5;
    --foreground-color: #FDF6E3;

    /* Primary highlight */
    --highlight-color: #268BD2;
    --highlight-color-light: #E5EEF3;

    /* Secondary highlight */
    --secondary-highlight-color: #B58900;
    --secondary-highlight-color-light: #FBEBB9;

    /* Error */
    --error-button-hover-color: #B4263C;
    --error-button-color: #CD2741;
    --error-color: #E62843;
    --error-color-light: #F3E3DD;
    --error-text-color: #FFFFFF;

    /* NEH logo */
    --neh-logo-filters: none;
}
