{% extends "helpers/base-template.html" %}


<!-- Head -->
{% block head %}

    <!-- Plotly -->
    <script src="frontend/node_modules/plotly.js-dist/plotly.js"></script>

    <!-- Template Lexos dependencies -->
    <script type="text/javascript" src="frontend/js/helpers/analyze-template.js"></script>
    <link rel="stylesheet" type="text/css" href="frontend/css/helpers/analyze-template.css"/>

    <!-- Page head -->
    {% block page_head %}{% endblock %}
{% endblock %}


<!-- Content -->
{% block content %}

    <!-- Options -->
    <div id="options-section">

        <!-- Page options -->
        {% block options %}{% endblock %}

        <!-- Tokenize -->
        <div id="tokenize-section" class="section">

            <div class="vertical-splitter section-top">
                <h3 class="title">Tokenize</h3>
                <span id="tokenize-tooltip-button" class="right-justified tooltip-button">?</span>
            </div>

            <div class="section-body">
                <label><input name="token_type" value="Tokens" type="radio" checked><span></span>By Tokens</label><br>
                <label><input name="token_type" value="Characters" type="radio"><span></span>By Characters</label><br>
                <h3>Grams: </h3><label><input id="grams-input" name="token_size" value="1" type="text" spellcheck="false" autocomplete="off"></label>
            </div>
        </div>

        <!-- Normalize -->
        <div id="normalize-section" class="section">

            <div class="vertical-splitter section-top">
                <h3 class="title">Normalize</h3>
                <span id="normalize-tooltip-button" class="right-justified tooltip-button">?</span>
            </div>

            <div class="section-body">
                <label><input name="normalization_method" value="Proportional" type="radio" checked><span></span>Proportional</label><br>
                <label><input name="normalization_method" value="Raw" type="radio"><span></span>Raw</label><br>
                <label><input name="normalization_method" value="TF-IDF" type="radio"><span></span>TF-IDF</label>
                <span id="tf-idf-tooltip-button" class="tooltip-button">?</span>
            </div>
        </div>

        <!-- Cull -->
        <div id="cull-section" class="section">

            <div class="vertical-splitter section-top">
                <h3 class="title">Cull</h3>
                <span id="cull-tooltip-button" class="right-justified tooltip-button">?</span>
            </div>

            <div class="section-body">
                <label><input id="most-frequent-words-checkbox" name="enable_most_frequent_words" type="checkbox"><span></span>Use the top<input id="most-frequent-words-input" name="most_frequent_words" value="100" type="text" spellcheck="false" autocomplete="off">terms</label>
                <span id="most-frequent-words-tooltip-button" class="tooltip-button">?</span><br>
                <label><input id="minimum-occurrences-checkbox" name="enable_minimum_occurrences" type="checkbox"><span></span>Must be in<input id="minimum-occurrences-input" name="minimum_occurrences" value="1" type="text" spellcheck="false" autocomplete="off">documents</label>
                <span id="minimum-occurrences-tooltip-button" class="tooltip-button">?</span>
            </div>
        </div>
    </div>

    <!-- Results -->
    {% block results %}{% endblock %}

    <!-- Hidden elements -->
    {%  block hidden_elements %}{% endblock %}
{% endblock %}
