{% extends "helpers/base-template.html" %}


<!-- Head -->
{% block head %}

    <!-- d3.v4.js -->
    <script type="text/javascript" src="//d3js.org/d3.v4.min.js"></script>
    <script type="text/javascript" src="//d3js.org/d3-scale-chromatic.v1.min.js"></script>


    <!-- Template JS and CSS -->
    <script type="text/javascript" src="frontend/js/helpers/visualize-template.js"></script>
    <link rel="stylesheet" type="text/css" href="frontend/css/helpers/visualize-template.css"/>

    {% block page_head %}{% endblock %}
{% endblock %}


<!-- Content -->
{% block content %}

    <!-- Graph -->
    <div class="section">
        <div id="graph-section-top" class="section-top">

            <div>
                <h3 class="title">{% block graph_title %}{% endblock %}</h3>
            </div>

            <div class="center-justified" id="visualize-font">
                <label for="font-input">Font:</label>
                <input id="font-input" value="Open Sans" type="text" spellcheck="false" autocomplete="off">
            </div>

            <div class="center-justified" id="visualize-term-count">
                <label for="term-count-input">Term Count:</label>
                <input id="term-count-input" value="100" type="text" spellcheck="false" autocomplete="off">
            </div>

            <div class="center-justified" id="visualize-color">
                <h3>Color: </h3>
                <span id="color-button" class="button">Default</span>
            </div>

            <div class="right-justified" id="visualize-buttons">
                <span id="generate-button" class="disabled important-button">Generate</span>
                <a id="png-button" class="disabled button">PNG</a>
                <a id="svg-button" class="disabled button">SVG</a>
                <span id="fullscreen-button" class="disabled button">Fullscreen</span>
            </div>
        </div>

        {% block graph %}{% endblock %}
    </div>

    <!-- Hidden elements -->
    <input id="color-input" value="Default" type="hidden">

{% endblock %}
