.headernavitem {
  display: block;
  float: left;
  position: relative; /* Used to absolutely position children */
  width: calc(100% / 4 - 2px);
  line-height: 27px;
  margin: 1px;
  background-color: #0068af;
  color: #FFFFFF;
  font-size: 15px;
  text-align: center;
  cursor: default;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 5px;
  text-align: center;
  z-index: 10000;
  border: 2px solid black;
  margin: auto;
  padding: 3px 5px 3px 5px;
  vertical-align: middle;
  box-shadow: 0 0 7px black;
  overflow: auto;
}

/* ================== QTIP2 STYLING =============================== */
.lexosTooltip .qtip-content {
  color: white;
  font-size: 140px;
  line-height: 1em;
  cursor: pointer;
  background-color: #FF69B4;
  box-shadow: 2px 2px 6px #222;
  -webkit-transition: opacity .25s ease;
  -moz-transition:    opacity .25s ease;
  -o-transition:      opacity .25s ease;
  transition:         opacity .25s ease;
}

.lexosTooltip .qtip-content a {
  color: #6CF;
  text-decoration: none;
}

.lexosTooltip .qtip-content a:hover {
  color: /*#003066;*/#3baae3;
  text-decoration: underline;
}

/* For hovering over SVG images */
.node:hover {
    opacity: .80;
}

#mcfilesselectbttnlabel {
  position: relative;
  bottom: 0px;
  float: left;
  margin-left: 25px;
}