/* ================== OVERALL STYLING ============================ */

fieldset {
  /*border: 2px dashed gray;*/
} /*useful for debugging*/

div { 
  position: relative;
  /*border: 1px dotted gray;*/
} /*useful for debugging*/

label {
  cursor: default;
} /*Overwriting FlatUI label cursor*/

h6 {
  margin-bottom: 0px;
  padding-bottom: 5px;
  line-height: 1em;
  font-size: 15px;
}

input[type="text"] {
  margin: 0px;
  padding: 0px;
}

input[type="number"] {
  margin: 0px;
  padding: 0px;
}

input[type="file"] {
  display: none;
}

.hidden {
  display: none;
}

.transparent {
  opacity: 0;
}

.newline {
  display: block;
  margin-bottom: 10px;

  position: relative;
}

.inline {
  display: inline;
}

.bttn {
  opacity: 0.95;
  border: none;
  position: relative;
  cursor: pointer;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  text-shadow: none;

  background-color: #000000;
  padding: 10px;
  font-size: 14px;
  line-height: 1em;

  border-radius: 6px;
  box-shadow: none;
  transition: 0.25s;
}
.bttn:hover {
  opacity: 0.8;
}
.bttn:active {
  opacity: 1.0;
}

.bttn.bttn-action {
  background-color: #2ecc71; /*#00B824;*/
}

.bttn.bttn-apply {
  background-color: #27ae60; /*#00B824;*/
}

.bttn.bttn-exit {
  background-color: #003066;
  float: right;
}

.bttn.bttn-minor {
  background-color: #BBBBBB;
}

.bttnfilelabels:before,
.tooltip {
  background: #888888;
  /*border-radius: 4px;*/
  color: #FFFFFF;
  display: block;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  transition: all .25s ease-out;

          transform: translateY(10px);
  -webkit-transform: translateY(10px);
  box-shadow: 2px 2px 6px #222222;
}

.bttnfilelabels:hover:before,
div:hover + .tooltip {
  opacity: 0.9;
          transform: translateY(0px);
  -webkit-transform: translateY(0px);
}

.questionmark {
  content: url('../images/glyphicons_194_circle_question_mark.png'); /* This link is a bit hacky - better way to do it? */
  opacity: 0.35;
  position: absolute;
}

.submiterrors {
  display: none;
  color: red;
  position: absolute;
  font-size: 20px;  
}

#no-active-error {
  display: block;
  width: 100%;
  font-size: 30px;
  margin-top: 200px;
  text-align: center;
  color: red;
}


/* ================== d3 STYLING ================================= */

.line {
  fill: none;
  stroke: gray;
  stroke-width: 1.5px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.plot {
  fill: rgba(250, 250, 255, 0.6);
}

/* ================== MULTISELECT STYLING ======================== */

.ui-multiselect {
  padding: 2px 0 2px 4px;
  text-align: left;
}
.ui-multiselect span.ui-icon {
  float: right;
}
.ui-multiselect-single .ui-multiselect-checkboxes input {
  position: absolute !important;
  top: auto !important;
  left: -9999px;
}
.ui-multiselect-single .ui-multiselect-checkboxes label {
  padding: 5px !important;
}

.ui-multiselect-header {
  margin-bottom: 3px;
  padding: 3px 0 3px 4px;
}
.ui-multiselect-header ul {
  font-size: 0.8em;
}
.ui-multiselect-header ul li {
  float:left;
  padding: 0 10px 0 0;
}
.ui-multiselect-header a {
  text-decoration: none;
}
.ui-multiselect-header a:hover {
  text-decoration: underline;
}
.ui-multiselect-header span.ui-icon {
  float: left;
}
.ui-multiselect-header li.ui-multiselect-close {
  float: right;
  text-align: right;
  padding-right: 0;
}

.ui-multiselect-menu {
  display: none;
  padding: 3px;
  position: absolute;
  z-index: 10000;
  text-align: left;
}
.ui-multiselect-checkboxes {
  position: relative; /* fixes bug in IE6/7 */
  overflow-y: auto;
}
.ui-multiselect-checkboxes label {
  cursor: default;
  display: block;
  border: 1px solid transparent;
  padding: 3px 1px;
}
.ui-multiselect-checkboxes label input {
  position: relative;
  top: 1px;
}
.ui-multiselect-checkboxes li {
  clear: both;
  font-size: 0.9em;
  padding-right: 3px;
}
.ui-multiselect-checkboxes li.ui-multiselect-optgroup-label {
  text-align: center;
  font-weight: bold;
  border-bottom: 1px solid;
}
.ui-multiselect-checkboxes li.ui-multiselect-optgroup-label a {
  display: block;
  padding: 3px; margin: 1px 0;
  text-decoration: none;
}

/* remove label borders in IE6 because IE6 does not support transparency */
* html .ui-multiselect-checkboxes label {
  border: none;
}

/* ================== BASE STYLING =============================== */

#titlelink {
  text-decoration: none;
  text-transform: none;
  color: inherit;
}
#titlelink:hover {
  color: inherit;
}

#titleprefix {
  color: gray;
}

.headerprefix {
  float: left;
}

.container {
  width: 940px;
  padding: 0px;
}

#footer {
  display: inline-block;
  float: none;
  border-top: 1px solid #AAAAAA;
  width: 100%;
  height: 50px;
  padding: 10px 0px;
  font-size: 14px;
  color: gray;

  position: relative;
  bottom: 0px;
}

.bttn#bttn-restart {
  float: right;
  background-color: #66CCFF;
  padding: 12px 18px;
  font-size: 14px;
  margin-top: 8px;
  margin-right: 8px;
  color: #FFFFFF;
  border: none;
  text-align: center;
  text-decoration: none;
  text-shadow: none;

  border-radius: 6px;
}

#navbardiv {
  clear: both;
  display: block;
  width: 100%;
  height: 40px;
}

#navbarlist {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  z-index: 2;

  -webkit-transition: all 50ms ease;
  -moz-transition:    all 50ms ease;
  -o-transition:      all 50ms ease;
  transition:         all 50ms ease;
}

#navbarlist:hover {
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration:    0.2s;
  -o-transition-duration:      0.2s;
  transition-duration:         0.2s;
}

#navbarlist .headernavitem {
  display: block;
  float: left;
  position: relative;
  width: calc(100% / 3 - 2px);
  height: 30px;
  line-height: 30px;
  margin: 1px;
  list-style: none;
  /*background-color: #ADD9D4;*/
  background-color: #79C6A4;
  color: #FFFFFF;
  font-size: 15px;
  text-align: center;
  cursor: default;
}

#navbarlist .sublist {
  /*display: none;*/
  list-style-type: none;
  position: absolute;
  left: 0;
  margin: 0;
  padding-top: 6px;
  padding-bottom: 25px;
  width: 100%;

  overflow: hidden;

  -webkit-transform: scaleY(0);
  -moz-transform:    scaleY(0);
  -o-transform:      scaleY(0);
  transform:         scaleY(0);

  -webkit-transform-origin: 0 0;
  -moz-transform-origin:    0 0;
  -o-transform-origin:      0 0;
  transform-origin:         0 0;

  /* controls time of dropdown animation */
  -webkit-transition: -webkit-transform 0.15s linear;
  -moz-transition:    -moz-transform 0.15s linear;
  -o-transition:      -o-transform 0.15s linear;
  transition:         transform 0.15s linear;
}

#navbarlist .sublist li {
  background-color: #79C6A4;
  opacity: 0.97;
  position: relative;
  display: block;
  width: 100%;
  text-align: center;
  list-style: none;
/*   margin-top: 2px; */
  line-height: 30px;

  -webkit-transition: background-color 0.5s ease,
                      opacity 0.25s ease,
                      all .25s ease;
  -moz-transition:    background-color 0.5s ease,
                      opacity 0.25s ease;
  -o-transition:      background-color 0.5s ease,
                      opacity 0.25s ease;
  transition:         background-color 0.5s ease,
                      opacity 0.25s ease,
                      all .25s ease;
}

#navbarlist .sublist li a {
  display: block;
  text-decoration: none;
  color: #FFFFFF;
  font-weight: bold;
  width: 100%;
  padding: 5px 0px;
}

#navbarlist li:hover ul {
  display: block;

  -webkit-transform: scaleY(1);
  -moz-transform:    scaleY(1);
  -o-transform:      scaleY(1);
  transform:         scaleY(1);
}

#navbarlist .sublist li:hover {
  opacity: 0.99;
  background-color: #56B984;
}

/*#nav1:hover {
  background-color: #0042C2;
}
#nav2:hover {
  background-color: #0070A3;
}
#nav3:hover {
  background-color: #008D90;
}
#nav4:hover {
  background-color: #00A481;
}
#nav5:hover {
  background-color: #00B575;
}
#nav101:hover {
  background-color: #00A263;
}
#nav102:hover {
  background-color: #008E52;
}
#nav103:hover {
  background-color: #007B40;
}
#nav104:hover {
  background-color: #00672F;
}
#nav105:hover {
  background-color: #00541D;
}
#nav106:hover {
  background-color: #00400C;
}
#nav1.current {
  background-color: #0042C2;
}
#nav2.current {
  background-color: #0070A3;
}
#nav3.current {
  background-color: #008D90;
}
#nav4.current {
  background-color: #00A481;
}
#nav5.current {
  background-color: #00B575;
}
#nav101.current {
  background-color: #00A263;
}
#nav102.current {
  background-color: #008E52;
}
#nav103.current {
  background-color: #007B40;
}
#nav104.current {
  background-color: #00672F;
}
#nav105.current {
  background-color: #00541D;
}
#nav106.current {
  background-color: #00400C;
}*/

#basesubmitdiv {
  clear: both;
  display: block;
  float: left;
  width: 100%;
  margin: 10px 0px;
}

#aboutus {
  font-size: 14.5px;
  float: left;
}
#location {
  margin: 0px 5px;
  float: left;
}
#copyright {
  float: left;
}

#submiterrormessage1 {
  top: 32px;
  left: 5px;
}


/* ================== UPLOAD STYLING ============================= */

#fileselect { /*Can't do with class - .click() seems to remove class attribute?*/
  display: none;
}

.bttn.bttn-action#uploadbrowse {
  float: left;
  width: 75px;
  height: 40px;
  line-height: 40px;
  font-size: 15px;
}

#dragndrop {
  margin-left: 125px;
  line-height: 125px;
  font-size: 17px;
  color: #3498db;
  text-align: center;
  opacity: 0.6;

  border: 3px dashed;
  border-radius: 6px;
  box-shadow: none;
  transition: 0.25s;
}

#dragndrop.hover {
  opacity: .8;
  box-shadow: 0px 0px 4px #1A4C6E inset;
}

.uploadedfilespreivewwrapper {
  display: inline-block;
  width: 49%;
  padding: 10px 4px;
}

.previewtitle {
  font-size: 20px;
  border-bottom: 1px solid #bbbbbb;
  margin-bottom: 10px;
}

.uploadedfilespreivew {
  display: block;
  width: 97%;
  height: 125px;
  overflow: hidden;
  border: 1px solid #D8D8D8;
  box-shadow: 0px 0px 5px #D8D8D8;
  border-radius: 4px;
/*   margin: 0px 10px; */
  padding: 5px 5px;
}

.fileinformation {
  padding-top: 5px;
}

/* ================== MANAGE STYLING ============================= */

#disableall {
  float: right;
}

#selectall {
  float: right;
  margin-right: 5px;
  background-color: #00B824;
}

#selectfield {
  padding-bottom: 40px;
}

.filepreview {
  display: block;
  clear: none;
  float: left;
  font-size: 14px;
  color: gray;
  margin: 10px;
  padding: 5px;
  min-height: 10.5em;
  max-height: 10.5em;
  width: 275px;
  overflow: hidden;
  box-shadow: 0px 0px 5px #D8D8D8;
  border: 1px solid #d8d8d8;
  border-radius: 3px;
  cursor: pointer;
}

.filepreview.enabled {
  background-color: #2ECC71;
  color: #000000;
}

.textblock {
  display: block;
}

.taginput {
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 0px 9px;
}

.tagfield {
  float: left;
  border-radius: 5px;
  border: 3px solid;
  border-color: #d8d8d8;
  width: 200px;
  height: 30px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 19px;
  padding: 0px 5px;
  margin-top: 7px;
  outline: none;
  
  -webkit-transition: border-color 0.5s ease;
  -moz-transition:    border-color 0.5s ease;
  -o-transition:      bordercolor 0.5s ease;
  transition:         border-color 0.5s ease;
}

.tagfield:focus {
  border-color: #2ecc71;
}

#tagsubmit {
  width: 100px;
  margin-right: 10px;
  float: right;
}

/* ================== SCRUB STYLING ============================== */

.optionsandpreviewwrapper {
  height: 610px;
}

#normalscrubbingoptions {
  float: left; 
  width: 500px;
}

#mainscruboptions {
  float: left;
  margin-right: 7px;
}

#punctbox {
  height: 50px;
}

#aposhyph {
  float: left;
}

#tagsradiodiv {
  float: left;
  margin-top: 40px;
}

#tagsradio {
  margin-top: 7px;
}

#additionalscrubbingoptions {
  /*float: right;*/
  width: 500px;
}

.optuploadbuttondiv {
  display: inline-block;
}

.bttn.optionbttn {
  line-height: 22px;
  font-size: 14.996px;
  background-color: #1abc9c;
  width: 125px;
  margin: 3px 10px;
  padding: 9px 12px;
}

textarea.manualinput {
  font-size: 14px;
  line-height: 14px;
  margin-top: 2px;
  margin-bottom: 6px;
  height:50px;
  width:350px;
  max-width:350px;
  margin-left:12px;
}

.bttn.uploadbttn {
  line-height: 15px;
  font-size: 15px;
  background-color: #1abc9c;
  width: 80px;
  padding: 3px 6px;
}

.bttnfilelabels {
  cursor: pointer;
  text-align: center;
  color: #00B226;
}

.bttnfilelabels:before {
  content: "Click to no longer use stored version.";
  display: inline-block;
  width: 250px;
  left: -275px;
  background-color: #000000;
}

#entityrules {
  margin-top:2px; 
  margin-left:29px;
}

#specialchartext {
  margin-left: 210px;
  margin-bottom: 15px;
}

#previewreload {
  clear: both;
  float: left;
  padding: 2px 5px;
  margin-top: 10px;
}

.questionmark.scrub.large {
  left: 163px;
  top: 7px;
  height: 20px;
  width: auto;
}

.questionmark.scrub.small {
  left: 365px;
  top: 7px;
  height: 15px;
  width: auto;
}

.tooltip.scrub.general {
  width: 225px;
  left: 190px;
  top: 0px;
  padding: 4px;
}

.tooltip.scrub.format {
  width: 290px;
  left: 0px;
  top: 0px;
  padding: 4px;
}

.questionmark.small.specchars {
  top: 80px;
}

#ruleslink {
  margin-left: 10px;
}

#alloptions {
  float: left;
  width: 490px;
}

#preview {
  width: 430px;
  height: 100%;
  float: right;
  margin-bottom: 20px;
  overflow-y: scroll; 
}

.expandbttn {
  width: 20px;
  height: 20px;

  padding: 5px;

  float: right;

  margin: 7px 0px; 
  margin-right: 57%;

  background-image: url(../images/arrow_black.png);
  background-size: 16px auto;
  background-repeat: no-repeat;
  background-position: center;

  border-radius: 5px;

  -webkit-transition: all 0.25s ease;
  -moz-transition:    all 0.25s ease;
  -o-transition:      all 0.25s ease;
  transition:         all 0.25s ease;
}

.expandbttn:hover {
  background-image: url(../images/arrow_white.png);
  background-color: #34495E;
}

.advancedoptionsshowing {
  -webkit-transform: rotate(90deg);
  -moz-transform:    rotate(90deg);
  -o-transform:      rotate(90deg);
  transform:         rotate(90deg);
}

.filecontents { /* Used in scrub and cut */
  white-space: pre-wrap; /* Used to show the newlines in the text */
}

/* ================== CUT STYLING ================================ */

#cutrenamingdiv {
  width: 284px;
  display: block;
  float: left;
}

.cuttinginput {
  display: block;
  clear: right;
  float: right;
  margin-right: 10px;
  margin-bottom: 10px;
}

.cuttingoptionswrapper {
  float: left;
}

.cuttingoptionsfieldset {
  float: left;
}

.cutsetnaming {
  clear: both;
  width: 300px;
}

#cuttingmodediv {
  font-size: 20px;
  display: block;
  float: right;
  margin-top: 25px;
  margin-right: 332px;
}

#supercuttingmodemessage {
  font-size: 14px;
  color: green;
}

.individualpreviewwrapper {
  position: relative;
/*   margin-top: 0px; */
}

.individualpreviewlegend {
  color: inherit;
}

.sizeradio,
.numberradio {
  display: inline;
}

.sizeradio {
  margin-right: 10px;
}

.questionmark.cut {
  right: -22px;
  top: -2px;
  -webkit-transform: scale(.55, .55);
          transform: scale(.55, .55);
}

.tooltip.cut {
  top: 2px;
  right: -230px;
  width: 200px;
  padding: 2px 2px;
}

.cuttingdiv {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 5px;
}

.textinput {
  display: inline-block;
  margin-top: 0px;
  margin-left: 5px;
}

.cuttextinput {
  width: 100px;
}

.lastpropinput {
  width: 60px;
}

.indivcutbuttons {
  background-color: #999999;
  width: 150px;
  padding: 2px 4px;
  display: inline-block;
  position: absolute;
  top: 12px;
  right: 0;
}

.questionmark.cut.boundlabel {
  right: 25px;
  top: -3px;
}

.questionmark.cut.numberlabel {
  right: 25px;
  top: -3px;
}

.questionmark.cut.supercut {
  right: -58px;
  top: -3px;
}

.tooltip.cut.boundlabel {
  right: -183px;
}

.tooltip.cut.numberlabel {
  right: -183px;
}

.tooltip.cut.supercut {
  top: 5px;
  right: -260px;
}

.individualcuttingcheckboxes {
  width: 240px;
}
/* ================== ANALYSIS STYLING =========================== */

.navbaroption.analysisbar {
  margin-top: 10px;
  float: right;
}

.analysisoptions {
  padding: 50px;
}

.analysispreview {
  display: block;
  float: left;
  font-size: 14px;
  margin: 25px;
}

.analysisimagelinks {
  display: block;
  height: 100%;
  width: 250px;
  overflow: hidden;
}

#csvpreviewimage {
  margin-top: 30px;
}

#worldcloudpreviewimage {
  margin-top: 30px;
}

#multicloudpreviewimage {
  margin-top: 30px;
}

/* ================== CSVGENERATOR STYLING ======================= */

#csvoptiondiv {
  float: left;
}

#csvlabeldiv {
  display: block;
  float: right;
  width: 400px;
  margin-right: 20px;
}

.questionmark.csvtype {
  left: 335px;
  top: -2px;
  -webkit-transform: scale(.55, .55);
          transform: scale(.55, .55);
}

.questionmark.csvorientation {
  left: 365px;
  top: -2px;
  -webkit-transform: scale(.55, .55);
          transform: scale(.55, .55);
}

.questionmark.csvdelim {
  left: 285px;
  top: -2px;
  -webkit-transform: scale(.55, .55);
          transform: scale(.55, .55);
}

.tooltip.csvtype {
  top: 2px;
  left: 360px;
  width: 200px;
  padding: 2px 2px;
}

.tooltip.csvorientation {
  top: 2px;
  left: 390px;
  width: 200px;
  padding: 2px 2px;
}
.tooltip.csvdelim {
  top: 2px;
  left: 310px;
  width: 200px;
  padding: 2px 2px;
}

#labeledittingcsv {
  display: block;
  float: right;
  width: 200px;
  margin-bottom: 10px; 
}

#modifylabelscsv {
  clear: right;
  float: right;
  display: none;
}


/* ================== DENDROGRAM STYLING ========================= */

#dendrooptionsbox {
  display: inline-block;
}

#dendrocreateoptions {
  float: left;
}

#dendrodisplayoptions {
  float: left;
  margin-left: 75px;
}

#getdendro {
  color: #FFFFFF;
  padding: 10px 10px;
  line-height: 15px;
  background-color: #3498db;
  border: none;
  border-radius: 6px;
  box-shadow: none;
  transition: 0.25s;
}

#dendrodownload {
  margin-left: 10px;
}

.bttndownload {
  float: right;
}

#labeleditting {
  display: block;
  width: 200px;
  margin-top: 15px;
  margin-bottom: 10px; 
}

#modifylabels {
  display: none;
}

#densubmiterrormessage1 {
  left: 150px;
  top: 3px;
}

/* ================== RWANALYSIS STYLING ==================== */

.minifilemanage {
  display: inline-block;
  width: 100%;
}

.minifilepreview {
  display: block;
  float: left;
  height: 20px;
  width: 22%;
  margin: 10px;
  color: gray;
  border: 1px solid gray;
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0px -2px 5px 0px #888888 inset;
}

.minifilepreview.enabled {
  background-color: #C8FFC8;
  color: black;
}

.rwanalysisradiosdiv {
  display: inline-block;
  padding: 10px;
  vertical-align: top;
}

#rollingsearchword {
  margin-top: 5px;
  width: 114px;
}

#rollingwindowsize {
  margin-top: 5px;
  width: 75px;
}

#rollinggraphwidth {
  margin-top: 5px;
  width: 50px;
}

#rollinginputlabel {
  display: inline-block;
}

.rollinginput {
  width: 100px;
  display: inline-block;
}

.rollinginput.hidden {
  display: none;
}

#rwagraphheader {
  display: block;
  width: 100%;
  text-align: center;
}

#rwagraphlabel {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 1.5em;
  margin-top: 20px;
}

#rwasubmiterrormessage2 {
  left: 85px;
  top: 0px;
}

#rwasubmiterrormessage3 {
  float: right;
  width: 300px;
  left: 185px;
  top: 0px;
  font-size: 15px;
}

#rwasubmiterrormessage4 {
  left: 85px;
  top: 0px;
}

/* ================== VIZ STYLING =========================== */

#svgid {
  margin: 0;
  padding: 0;
  position: absolute;
}

#getviz {
  margin-left: 15px;
}

.vizoptions {
  float: left;
  margin-right: 15px;
}

/* Older tooltip styling can be removed if d3.tip works out all right
.bubbletip {
  position: absolute;
  display: block;
  z-index: 10000;
  border: 2px solid black;
  background-color: rgba(0,0,0,0.8);
  margin: auto;
  padding: 3px 5px 3px 5px;
  color: white;
  font-size: 12px;
  font-family: arial;
  border-radius: 5px;
  vertical-align: middle;
  text-align: center;
  min-width: 50px;
  overflow: auto;
  box-shadow: 0 0 7px black;
}
*/
.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 5px;
  text-align: center;  
  z-index: 10000;
  border: 2px solid black;
  margin: auto;
  padding: 3px 5px 3px 5px;
  vertical-align: middle;
  box-shadow: 0 0 7px black;
  overflow: auto;
}

#minlength {
  width: 30px;
}

#graphsize {
  width: 40px;
}

/* ================== WORDCLOUD STYLING ===================== */

#maxwords {
  width: 60px;
}

#segmentlist {
  width: 300px;
  margin-right: 10px;
}

#nosegments {
  font-weight: bold;
  color: red;
  text-align: center;
}

#rightsideoptions {
  float: right;
  text-align: right;
}

#leftsideoptions {
  float: left;
}

#angle-count {
  width: 30px;
}

#angle-from {
  width: 50px;
}

#angle-to {
  width: 50px;
}

#vis text:hover { 
  opacity: .7 !important;
}

#presets a {
  border-left: solid #666 1px;
  padding: 0 10px;
}

#presets a.first { 
  border-left: none; 
}

#keyword { 
  width: 300px; 
}

#fetcher { 
  width: 500px; 
}

#keyword, #go { 
  font-size: 1.5em; 
}

#text { 
  width: 100%; 
  height: 100px; 
}

p.copy { 
  font-size: small; 
}

hr { 
  border: none; 
  border-bottom: solid #ccc 1px; 
}

a.active { 
  text-decoration: none; 
  color: #000; 
  font-weight: bold; 
  cursor: pointer; 
}

#angles line, #angles path, #angles circle { 
  stroke: #666; 
}

#angles text { 
  fill: #333; 
}

#angles path.drag { 
  fill: #666; 
  cursor: move; 
}

#angles { 
  text-align: center; 
  margin: 0 auto; 
  width: 350px; 
}

#angles input { 
  width: 42px; 
}

#wordcloudoptionswrapper label {
  display: inline;
}

#status { 
  font-size: 18px; 
  color: red; 
  position:absolute; 
  top: 450px; 
  left: 320px; 
  padding: 6px; 
  border: 1px solid red; 
  background: #FFFFFF;
  transition: 0.25s;
}

#wordcloudcopyright {
  float: right;
}

/* ================== EXTERNAL TOOLS STYLING ================ */

.extooldiv {
  margin: 15px;
}

.bttn.exlink {
  background-color: #008F38;
  color: #FFFFFF;
}

.externallink {
  margin: 15px;
  padding: 10px;
  padding-left: 20px;
}

.externalsummary {
  margin: 15px;
  padding-left: 10px;
}

#smaller {
  font-size: .8em;
}
