@import url("https://fonts.googleapis.com/css?family=Lato:400,700,700italic,900,400italic,300");

/* ================== ELEMENT STYLING ============================ */

body {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

header {
  padding-bottom: 20px;
}

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 15px;
  font-size: 21px;
  line-height: 40px;
  color: #333;
  border: 0;
  border-bottom: 1px solid #BBB;
}

label {
  display: block;
  margin-bottom: 5px;
}

label, input, button, select,
textarea {
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
}

ul, ol {
  padding: 0;
}

h1 {
  margin: 10px 0;
  font-size: 32px;
  font-weight: 900;
}

h1 small {
  font-size: 24.5px;
  font-weight: normal;
  line-height: 1;
  color: #999;
}

a {
  color: #08C;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #005580;
  text-decoration: underline;
}

select {
  width: 220px;
  background-color: #FFF;
  border: 2px solid #BDC3C7;
  height: 30px;

  -webkit-transition: border .25s linear, color .25s linear;
  -moz-transition:    border .25s linear, color .25s linear;
  -o-transition:      border .25s linear, color .25s linear;
  transition:         border .25s linear, color .25s linear;
}

textarea,
input[type="text"],
input[type="password"],
input[type="number"],
input[type="email"],
input[type="search"],
.uneditable-input {
  display: inline-block;
  margin-bottom: 10px;
  /*font-size: 14px;*/
  line-height: 20px;

  border: 2px solid #bdc3c7;
  color: #34495e;
  font-size: 14px;
  padding: 8px 5px;
  height: 21px;
  text-indent: 6px;

  vertical-align: middle;

  -webkit-border-radius: 6px;
  -moz-border-radius:    6px;
  border-radius:         6px;

  -webkit-box-shadow: none;
  -moz-box-shadow:    none;
  box-shadow:         none;

  -webkit-transition: border .25s linear;
  -moz-transition:    border .25s linear;
  -o-transition:      border .25s linear;
  transition:         border .25s linear;
}

textarea.placeholder,
input[type="text"].placeholder,
input[type="password"].placeholder,
input[type="number"].placeholder,
input[type="email"].placeholder,
input[type="search"].placeholder,
.uneditable-input.placeholder {
  color: #b2bcc5;
}

select:focus,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="search"]:focus,
.uneditable-input:focus {
  outline: none;
  outline: thin dotted \9;
  /* IE6-9 */
  border-color: #1abc9c;
}

select:invalid,
textarea:invalid,
input[type="text"]:invalid,
input[type="password"]:invalid,
input[type="number"]:invalid,
input[type="email"]:invalid,
input[type="search"]:invalid,
.uneditable-input:invalid {
  border-color: #E74C3C;
  background-color: rgba(255, 0, 0, 0.01);
}

input[type="text"],
input[type="number"] {
  margin: 0;
  padding: 0;
}

input[type="file"] {
  display: none;
}

/* ================== SITEWIDE STYLING =========================== */

.hidden {
  display: none;
}

.transparent {
  opacity: 0;
}

/* Clearfix hack - remember to apply this class to parents of any floated elements */
.cf:before,
.cf:after {
  content: ' ';
  display: table;
}
.cf:after {
  clear: both;
}

.bttn {
  opacity: 0.9;
  border: none;
  position: relative;
  cursor: pointer;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  text-shadow: none;

  font-family: inherit;

  background-color: #000000;
  padding: 10px;
  font-size: 14px;
  line-height: 1em;

  border-radius: 6px;
  box-shadow: none;
  transition: 0.25s;
}
.bttn:hover {
  opacity: 0.7;
}
.bttn:active {
  opacity: 1.0;
}
.bttn:focus {
  outline: none;
}

.bttn.bttn-action {
  background-color: #2ecc71;
}

.bttn.bttn-apply {
  background-color: #27ae60;
}

.bttn.bttn-exit {
  background-color: #003066;
  float: right;
}

.bttn.bttn-minor {
  background-color: #BBBBBB;
}

.submiterrors {
  display: none;
  color: red;
  position: absolute;
  font-size: 20px;  
  left:0px;
  top:-20px;
}

#no-active-error {
  display: block;
  width: 100%;
  font-size: 30px;
  margin-top: 200px;
  text-align: center;
  color: red;
}


/* ================== d3 STYLING ================================= */

.line {
  fill: none;
  /*stroke: gray; */
  stroke-width: 1.5px; 
}

.line2 {
  fill: none;
  stroke: green;
  stroke-width: 1.5px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.yaxis2 {
  display: none;
}

.plot {
  /*fill: rgba(250, 250, 255, 0.6);*/
  fill: gray;
  opacity: .1;
}

/*.dot {
  fill: red;
}*/

.label {
  font: helvectia;
  font-weight: bold;
  font-size: 14px;
}

.infobox {
  position: absolute;
  display: none;
  z-index: 10000;
  border: 2px solid black;
  background-color: rgba(0,0,0,0.8);
  margin: auto;
  padding: 3px 5px 3px 5px;
  color: white;
  font-size: 12px;
  font-family: arial;
  border-radius: 2px;
  vertical-align: middle;
  text-align: center;
  min-width: 50px;
  overflow: auto;
  box-shadow: 0 0 7px black;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

/* ================== MULTISELECT STYLING ======================== */

.ui-multiselect {
  padding: 2px 0 2px 4px;
  text-align: left;
}
.ui-multiselect span.ui-icon {
  float: right;
}
.ui-multiselect-single .ui-multiselect-checkboxes input {
  position: absolute !important;
  top: auto !important;
  left: -9999px;
}
.ui-multiselect-single .ui-multiselect-checkboxes label {
  padding: 5px !important;
}

.ui-multiselect-header {
  margin-bottom: 3px;
  padding: 3px 0 3px 4px;
}
.ui-multiselect-header ul {
  font-size: 0.8em;
}
.ui-multiselect-header ul li {
  float:left;
  padding: 0 10px 0 0;
}
.ui-multiselect-header a {
  text-decoration: none;
}
.ui-multiselect-header a:hover {
  text-decoration: underline;
}
.ui-multiselect-header span.ui-icon {
  float: left;
}
.ui-multiselect-header li.ui-multiselect-close {
  float: right;
  text-align: right;
  padding-right: 0;
}

.ui-multiselect-menu {
  display: none;
  padding: 3px;
  position: absolute;
  z-index: 10000;
  text-align: left;
}
.ui-multiselect-checkboxes {
  position: relative; /* fixes bug in IE6/7 */
  overflow-y: auto;
}
.ui-multiselect-checkboxes label {
  cursor: default;
  display: block;
  border: 1px solid transparent;
  padding: 3px 1px;
}
.ui-multiselect-checkboxes label input {
  position: relative;
  top: 1px;
}
.ui-multiselect-checkboxes li {
  clear: both;
  font-size: 0.9em;
  padding-right: 3px;
}
.ui-multiselect-checkboxes li.ui-multiselect-optgroup-label {
  text-align: center;
  font-weight: bold;
  border-bottom: 1px solid;
}
.ui-multiselect-checkboxes li.ui-multiselect-optgroup-label a {
  display: block;
  padding: 3px; margin: 1px 0;
  text-decoration: none;
}

/* remove label borders in IE6 because IE6 does not support transparency */
* html .ui-multiselect-checkboxes label {
  border: none;
}

/* ================== BASE STYLING =============================== */

.container {
  width: 940px;
  padding: 0 20px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

#titlelink {
  text-decoration: none;
  text-transform: none;
  color: #34495E;
}

#titleprefix {
  color: gray;
}

#header-title {
  float: left;
}

#bttn-restart {
  float: right;
  background-color: #66CCFF;
  padding: 12px 18px;
  margin-top: 8px;
  margin-right: 8px;
  color: #FFFFFF;
  text-decoration: none;
  text-shadow: none;
}

#navbardiv {
  clear: both;
  width: 100%;
}

#navbarlist {
  width: 100%;
  margin: 0;
  padding: 0;
}

.headernavitem {
  display: block;
  float: left;
  position: relative; /* Used to absolutely position children */
  width: calc(100% / 4 - 2px);
  line-height: 27px;
  margin: 1px;
  background-color: #0068af;
  color: #FFFFFF;
  font-size: 15px;
  text-align: center;
  cursor: default;
}

.sublist {
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  padding-bottom: 25px;
  padding-top: 20px;

  opacity: 0;
  visibility: hidden;
  z-index: 2;

  -webkit-transition: padding-top 0.20s ease,
                      opacity    0.20s ease;
  -moz-transition:    padding-top 0.20s ease,
                      opacity    0.20s ease;
  -o-transition:      padding-top 0.20s ease,
                      opacity    0.20s ease;
  transition:         padding-top 0.20s ease,
                      opacity    0.20s ease;
}

.sublist li {
  display: block;
}

.sublist li a {
  display: block;
  width: 100%;
  opacity: 0.97;
  background-color: #1A77B7;
  color: #FFFFFF;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  line-height: 30px;
  padding: 5px 0px;
  margin-bottom: 1px;

  -webkit-transition: background-color 0.25s ease;
  -moz-transition:    background-color 0.25s ease;
  -o-transition:      background-color 0.25s ease;
  transition:         background-color 0.25s ease;
}

li.headernavitem:hover ul.sublist {
  padding-top: 6px;
  opacity: 1;
  visibility: visible;
}

.headernavitem.selected,
.sublist li a.selected {
  background-color: #074178;
}


#navbarlist .sublist li a:hover {
  opacity: 0.99;
  background-color: #155F92;
}

#error-message {
  position: fixed;
  color: red;
  font-size: 26px;
  background-color: rgba(255, 255, 255, 0.95);
  z-index: 4;
  display: none;
}

footer {
  float: left;
  border-top: 1px solid #AAAAAA;
  width: 100%;
  height: 50px;
  padding: 10px 0;
  font-size: 14px;
  color: gray;
  background-color: rgba(255, 255, 255, 0.95);

  position: relative;
}

#content-wrapper {
  position: relative;
  padding-bottom: 100px;
}

#aboutus {
  font-size: 14.5px;
  float: left;
}

#license {
  clear: left;
  float: left;
}

/* ================== TOOLTIP STYLING ============================= */

.tooltip[data-tooltip]:after {
  content: attr(data-tooltip);
  position: absolute;
  color: white;
  background-color: gray;
  top: 5px;
  left: 20px;
  padding: 5px 15px;
  visibility: hidden;
  opacity: 0;
  width: 350px;

  
  box-shadow: 2px 2px 6px #222;

  font-size: 14px;
  line-height: 1em;

  z-index: 4;

  -webkit-transition: opacity .25s ease;
  -moz-transition:    opacity .25s ease;
  -o-transition:      opacity .25s ease;
  transition:         opacity .25s ease;
}

.tooltip[data-tooltip]:hover:after {
  visibility: visible;
  opacity: 1;
}

.has-tooltip {
  position: relative;
}

.tf  {
    width: 100px;
  }



/* ================== COLLAPSABLE DIV STYLING ==================== */


.has-expansion .icon-arrow-right {
  margin-left: 10px;
}

.has-expansion .icon-arrow-right:before {
  -webkit-transition: all 0.25s ease;
  -moz-transition:    all 0.25s ease;
  -o-transition:      all 0.25s ease;
  transition:         all 0.25s ease;
}

.has-expansion .icon-arrow-right:hover {
  color: #34495E;
  cursor: pointer;
}

.expansion {
  display: none;
}

.expansion.showing {
  display: block;
}

.icon-arrow-right.showing:before {
  -webkit-transform: rotate(90deg);
  -moz-transform:    rotate(90deg);
  -o-transform:      rotate(90deg);
  transform:         rotate(90deg);
}


/* ================== MANAGE STYLING ============================= */

#manage-options {
  margin-bottom: 40px;
}

#manage-previews {
  margin-bottom: 40px;
}

/* ================== UPLOAD STYLING ============================= */

#fileselect { /* Can't do with class */
  display: none;
}

.bttn.bttn-action#uploadbrowse {
  float: left;

  width: 75px;
  line-height: 40px;
  font-size: 15px;

  margin-top: 20px;
}

#dragndrop {
  float: right;

  width: 800px;
  line-height: 125px;
  font-size: 17px;
  color: #3498db;
  text-align: center;
  opacity: 0.6;

  border: 3px dashed;
  border-radius: 6px;
  transition: 0.25s;
}

#dragndrop.hover {
  opacity: .8;
  box-shadow: 0px 0px 4px #1A4C6E inset;
}

.uploadedfilespreivewwrapper {
  float: left;
  width: calc(100% / 2 - 8px);
  padding: 10px 4px;
}

.previewtitle {
  font-size: 20px;
  border-bottom: 1px solid #bbbbbb;
  margin-bottom: 10px;
}

.uploaded-file-preview {
  display: block;
  width: 97%;
  height: 125px;
  overflow: hidden;
  border: 1px solid #D8D8D8;
  box-shadow: 0px 0px 5px #D8D8D8;
  border-radius: 4px;
  padding: 5px 5px;

  white-space: pre;
}

.fileinformation {
  padding-top: 5px;
}

/* ================== SELECT STYLING ============================= */

#delete, #disableall, #selectall {
  float: right;
  margin-right: 5px;
}

#disableall, #selectall {
  margin-right: 5px;
}

#delete {
  opacity: 0.9;
  background-color: #BBBBBB;

  -webkit-transition: all 0.2s ease;
  -moz-transition:    all 0.2s ease;
  -o-transition:      all 0.2s ease;
  transition:         all 0.2s ease;
}

#delete:hover {
  opacity: 1;
  background-color: #E74C3C;
}

#selectall {
  background-color: #00B824;
}

#taginput {
  padding-right: 3px;
  float: right;
}

input[type="text"]#tagfield {
  height: 30px;
  width: 150px;

  font-size: 14px;

  -webkit-transition: width 0.4s ease;
  -moz-transition:    width 0.4s ease;
  -o-transition:      width 0.4s ease;
  transition:         width 0.4s ease;
}

input[type="text"]#tagfield:focus {
  width: 200px;
}

#tagsubmit {
  width: 75px;
  background-color: #1ABC9C;
}

.select-preview-wrapper {
  float: left;

  width: 275px;

  margin: 10px;
}

.select-preview-wrapper.enabled .select-preview-text {
  background-color: #C8FFC8;
  color: #000000;
}

.select-preview-filename {
  float: left;
  font-weight: bold;
  font-size: 17px;

  width: calc(80% - 4px - 5px);
  white-space: nowrap;

  text-overflow: ellipsis;
  
  border: 2px solid rgba(255, 255, 255, 0.0); /* Placeholder for border */

  overflow: hidden;

  -webkit-border-radius: 6px;
  -moz-border-radius:    6px;
  border-radius:         6px;

  -webkit-transition: border .25s linear;
  -moz-transition:    border .25s linear;
  -o-transition:      border .25s linear;
  transition:         border .25s linear;
}
.select-preview-filename:hover,
.select-preview-filename:focus {
  width: calc(80% - 4px - 5px);
  text-overflow: inherit;
  outline: 0;
  border: 2px solid #bdc3c7;
}

.select-preview-filename:focus {
  border-color: #1abc9c;
}

.select-preview-label {
  float: right;

  color: #ffffff;
  border-radius: 2px;
  /*padding: 2px;*/
  background-color: #1abc9c;
  box-shadow: 0px 2px 0px #16a085;

  max-width: calc(20% - 4px);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.select-preview-text {
  clear: both;
  float: left;
  margin-top: 7px;

  white-space: pre;
  height: 150px;
  width: 100%;

  overflow: hidden;

  font-size: 14px;
  color: gray;

  box-shadow: 0px 0px 5px #D8D8D8;
  border: 1px solid #d8d8d8;
  border-radius: 3px;
  cursor: pointer;
}

#delete-confirm-wrapper {
  height: 200px;
  width: 400px;
  position: fixed;
  z-index: 2;
  background-color: #ecf0f1;
  border: 1px solid #95a5a6;
  box-shadow: 0px 0px 10px #D8D8D8;
  border-radius: 5px;

  -webkit-transition: opacity 0.25s ease;
  -moz-transition:    opacity 0.25s ease;
  -o-transition:      opacity 0.25s ease;
  transition:         opacity 0.25s ease;
  
  visibility: hidden;
  opacity: 0;
}

#delete-confirm-wrapper.showing {
  visibility: visible;
  opacity: 1;
}

#delete-explanation {
  text-align: center;
  font-size: 30px;
  line-height: 55px;
}

#confirmation-bttn-wrapper {
  position: absolute;
  bottom: 10px;
}

.confirmation-bttn {
  width: 160px;
  margin-left: 27px;
  outline: none;
}

#confirm-delete-bttn {
  background-color: #e74c3c;
}

/* ================== PREPARE STYLING ============================ */

#prepare-wrapper {
  position: relative;
  padding-bottom: 100px;
}

#prepare-options {
  float: left;
  width: 490px;
}

#prepare-options.fixed {
  position: fixed;
  top: 0; 
}

#prepare-previews {
  width: 430px;
  height: 100%;
  float: right;
  margin-bottom: 20px;
}

#prepare-submit {
  clear: both;
  float: left;
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 20px;

  background-color: rgba(255, 255, 255, 0.8);

  -webkit-transition: box-shadow 0.25s ease;
  -moz-transition:    box-shadow 0.25s ease;
  -o-transition:      box-shadow 0.25s ease;
  transition:         box-shadow 0.25s ease;
}

#prepare-submit.fixed {
  position: fixed;
  width: 940px;
  box-shadow: 0px -6px 7px 0px rgba(50, 50, 50, 0.25);
}

.filecontents { /* Used in scrub and cut */
  clear: left;
  float: left;
  white-space: pre-wrap; /* Used to show the newlines in the text */
  height: auto;
  display: block;
  margin-top: 10px;
}

.icon-info.fileinfo {
  left: -20px;
}

/* ================== SCRUB STYLING ============================== */

#normalscrubbingoptions {
  float: left; 
}

#mainscruboptions {
  float: left;
}

#punctbox {
  height: 50px;
}

#aposhyph {
  float: left;
  margin-left: 10px;
}

#tagsradiodiv {
  float: left;
  margin-top: 20px;
}

#tagsradio {
  margin-top: 7px;
}

#additionalscrubbingoptions {
  clear: left;
  float: left;
}

.optuploadbuttondiv {
  display: inline-block;
}

textarea.manualinput {
  font-size: 14px;
  line-height: 14px;
  margin-top: 2px;
  margin-bottom: 6px;
  height:50px;
  width:350px;
  max-width:350px;
  margin-left:12px;
}

.bttn.upload-bttn {
  line-height: 15px;
  font-size: 15px;
  background-color: #1abc9c;
  width: 80px;
  padding: 3px 6px;
}

.bttnfilelabels {
  cursor: pointer;
  text-align: center;
  color: #00B226;

  position: absolute;
  top: 8px;
}

.bttnfilelabels#scfileselectbttnlabel {
  top: 70px;
}

#mcfilesselectbttnlabel {
  cursor: default;
}
#mcfilesselectbttnlabel:before {
  content: none;
}

.bttnfilelabels:before {
  position: absolute;
  top: -20px;

  color: white;

  content: "Click to no longer use stored version.";
  width: 250px;
  background-color: gray;
  box-shadow: 2px 2px 6px #222;

  display: none;
  opacity: 0;
  z-index: 4;

  -webkit-transition: opacity .25s ease;
  -moz-transition:    opacity .25s ease;
  -o-transition:      opacity .25s ease;
  transition:         opacity .25s ease;
}

.bttnfilelabels:hover:before {
  display: block;
  opacity: 1;
}

#entityrules {
  margin-top: 2px;
  margin-left: 29px;
}

#specialchartext {
  clear: both;
  margin-left: 210px;
  margin-bottom: 15px;
}

#ruleslink {
  margin-left: 10px;
}

#swfileselectbttnlabel {
  position: absolute;
  bottom: 10px;
}

#scfilesselectbttnlabel {
  position: absolute;
  bottom: 10px;
}

.advanced-option {
  clear: left;
  float: left;
}

.icon-help.scrub {
  left: -20px;
  top: 0;
}

.icon-help#keep-apos {
  top: 0px;
  right: -5px;
}

.icon-help.tiny.scrub-additional {
  left: 360px;
  top: 7px;
}

.icon-help.tiny.scrub-additional#sc-tooltip {
  top: 70px;
}

/* ================== CUT STYLING ================================ */

.cuttingoptionswrapper {
  float: left;
}

.cuttingoptionsfieldset {
  float: left;
}

#cutrenamingdiv {
  width: 284px;
  display: block;
  float: left;
}

.cutting-radio {
  clear: left;
  float: left;
}

.cutting-radio label {
  display: inline-block;
  width: 95px;
}

.cutting-input {
  clear: both;
  float: right;
  margin-right: 10px;
  margin-bottom: 5px;
}

.cutting-input.transparent {
  opacity: 0.2;
}

#cuttingmodediv {
  font-size: 20px;
  clear: left;
  float: left;
  margin-top: 25px;
}

#supercuttingmodemessage {
  font-size: 14px;
  color: green;
}

.individualpreviewwrapper {
  position: relative;
}

.individualpreviewlegend {
  color: inherit;
}

.sizeradio,
.numberradio {
  display: inline;
}

.cuttingdiv {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 5px;
}

.cut-text-input {
  width: 100px;
}

.lastprop-input {
  width: 60px;
}

.indivcutbuttons {
  background-color: #999999;
  width: 150px;
  padding: 2px 4px;
  display: inline-block;
  position: absolute;
  top: 12px;
  right: 0;
}

.individualcuttingcheckboxes {
  width: 240px;
}

.filechunk {
  clear: both;
  margin-bottom: 20px;
  padding-left: 5px;
  border-left: 1px solid gray;
}

.filechunklabel {
  border-bottom: 1px solid gray;
  margin: 2px;
  font-weight: 700;
}

.icon-help.cut {
  right: -5px;
  top: 0;
}

.cut-label-options {
  float: left;
}

/* ================== VISUALIZE STYLING ========================== */

.viz-tips {
  /*clear: left;*/
  /*float: left;*/
  display: block;
}

#visualize-submit {
  margin-top: 40px;
}

/* ================== VIZ STYLING =========================== */

#svgid {
  margin: 0;
  padding: 0;
  position: absolute;
}

#getviz {
  margin-left: 15px;
}

.vizoptions {
  float: left;
  margin-right: 15px;
}

 /*Older tooltip styling can be removed if d3.tip works out all right*/
.bubbletip {
  position: absolute;
  display: block;
  z-index: 10000;
  border: 2px solid black;
  background-color: rgba(0,0,0,0.8);
  margin: auto;
  padding: 3px 5px 3px 5px;
  color: white;
  font-size: 12px;
  font-family: arial;
  border-radius: 5px;
  vertical-align: middle;
  text-align: center;
  min-width: 50px;
  overflow: auto;
  box-shadow: 0 0 7px black;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 5px;
  text-align: center;  
  z-index: 10000;
  border: 2px solid black;
  margin: auto;
  padding: 3px 5px 3px 5px;
  vertical-align: middle;
  box-shadow: 0 0 7px black;
  overflow: auto;
}

#minlength {
  width: 50px;
}

#graphsize {
  width: 70px;
}

#exspecto-bullae {
  background-color: #c8ebf0;
  opacity: 0.3;
  height: 75px;
  width:300px; 
  position:absolute;
  left: 50%;
  top: 50%;
  margin-left: -50px;
  margin-top: -15px;
  font-size: 400%;
  text-align: center;
}

/* ================== WORDCLOUD STYLING ===================== */

#maxwords {
  width: 60px;
}

#segmentlist {
  width: 300px;
  margin-right: 10px;
}

#nosegments {
  font-weight: bold;
  color: red;
  text-align: center;
}

#rightsideoptions {
  float: right;
  text-align: right;
}

#leftsideoptions {
  float: left;
}

#angle-count {
  width: 30px;
}

#angle-from {
  width: 50px;
}

#angle-to {
  width: 50px;
}

#vis text:hover { 
  opacity: .7 !important;
}

#presets a {
  border-left: solid #666 1px;
  padding: 0 10px;
}

#presets a.first { 
  border-left: none; 
}

#keyword { 
  width: 300px; 
}

#fetcher { 
  width: 500px; 
}

#keyword, #go { 
  font-size: 1.5em; 
}

#text { 
  width: 100%; 
  height: 100px; 
}

p.copy { 
  font-size: small; 
}

hr { 
  border: none; 
  border-bottom: solid #ccc 1px; 
}

a.active { 
  text-decoration: none; 
  color: #000; 
  font-weight: bold; 
  cursor: pointer; 
}

#angles line, #angles path, #angles circle { 
  stroke: #666; 
}

#angles text { 
  fill: #333; 
}

#angles path.drag { 
  fill: #666; 
  cursor: move; 
}

#angles { 
  text-align: center; 
  margin: 0 auto; 
  width: 350px; 
}

#angles input { 
  width: 42px; 
}

#wordcloudoptionswrapper label {
  display: inline;
}

#status { 
  font-size: 18px; 
  color: red; 
  position:absolute; 
  top: 450px; 
  left: 320px; 
  padding: 6px; 
  border: 1px solid red; 
  background: #FFFFFF;
  transition: 0.25s;
}

#wordcloudcopyright {
  float: right;
}

/* ================== MULTICLOUD STYLING ==================== */

.multicloud-options {
  float: left;
  margin-right: 40px;
}

#multicloud-selection {
  width: 330px;
}

#multicloud-separator {
  float: left;
  line-height: 120px;
  margin-right: 40px;
  font-size: 22px;
}

#multicloud-upload-tooltip {
  text-align: left;

  top: 0px;
  right: -5px;
}

#sortable {
  list-style-type: none;
  margin: 0 0 3px 2px;
  padding: 0;
  width: 920px;
}

#sortable li {
  margin: 2px 1px 2px 1px;
  padding: 1px;
  float: left;
  width: 300px;
  height: 380px;
  -webkit-border-radius: 5px;
  -moz-border-radius:    5px;
  -o-border-radius:      5px;
  border-radius:         5px;
}

.ui-sortable-placeholder {
  border: 1px dotted black;
  visibility: visible !important;
  height: 380px !important;
}

.ui-sortable-placeholder * {
  visibility: hidden;
}

#exspecto-nubes {
  background-color: #c8ebf0;
  opacity: 0.3;
  height: 75px;
  width:300px; 
  position:relative;
  left: 50%;
  top: 50%;
  margin-left: -50px;
  margin-top: -50px;
  font-size: 400%;
  text-align: center;
}

#mcfilesselectbttnlabel {
  position: relative;
  bottom: 10px;
}

/* ================== ANALYZE STYLING ============================ */

#modifylabels span#no-labels {
  display: block;
  width: 100%;
  text-align: center;
  padding-bottom: 40px;
}

.labeleditting {
  float: right;
  width: 100px;
  margin-bottom: 10px; 
}

#analyze-options {
  float: left;
  max-width: 50%;
}

#analyze-advanced {
  float: right;
  max-width: 51%;

  box-shadow: 0px 0px 10px 0px #888;
}

#analyze-submit {
  clear: both;
  padding-top: 15px;
}

.analyze-advanced-options {
  float: left;
  margin: 0px 12px;
}

.tokenize-div {
  float: left;
}

#tokenize-size-input {
  clear: left;
  float: left;
}

#tokenize-size-input input {
  width: 30px;
}

#tokenize-radios {
  padding-left: 20px;
}

#temp-label-div {
  float: left;
  padding-left: 40px;
  padding-bottom: 20px;
  margin-top:-100px;
}

#analyze-normalize-TFIDF {
  left:190px;
}

#tfidfNorm {
  list-style-type: none;
}

/* ================== CSVGENERATOR STYLING ======================= */

#csvoptiondiv {
  float: left;
}

.csvoptions {
  float: left;
  margin-right: 30px;
}

.csvoptions legend {
  font-size: 18px;
}

/* ================== DENDROGRAM STYLING ========================= */

select#orientation {
  width: 140px;
}

.silhouette-options,
.dendrogram-options,
.kmeans-options {
  float: left;
}

.silhouette-options,
.dendrogram-options label,
.kmeans-options label{
  clear: right;
  float: right;
  line-height: 34px;
}

.bttndownload {
  float: right;
}

.icon-help#annotationTip {
  top: 0px;
  right: -5px;
}

.thresholdHelp {
  border: 1px solid #BDC3C7;
  border-radius: 6px;
  display: none;
  color: black;
  position: absolute;
  font-size: 13px; 
  line-height: 2px;
  color: #303030;
  padding: 1px 10px; 
  margin-top:1px;
  left:230px;
  top:460px;
}

/* ================== RWANALYSIS STYLING ==================== */

.minifilemanage {
  display: inline-block;
  width: 100%;
}

.minifilepreview {
  float: left;
  height: 20px;
  width: calc(100% / 5 - 20px);
  margin: 8px;
  padding: 2px;
  color: gray;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  box-shadow: 0px 0px 5px #D8D8D8;
  border: 1px solid #d8d8d8;
  border-radius: 3px;
}

.minifilepreview.enabled {
  background-color: #C8FFC8;
  color: black;
}

.rwanalysisradiosdiv {
  float: left;
  padding-top: 10px;
  padding-bottom: 15px;
  padding-left: 25px;
  padding-right: 25px;
}

.rollinginput {
  width: 130px;
}

#rollingwindowsize {
  width: 75px;
}

#rwagraphheader {
  display: block;
  width: 100%;
  text-align: center;
}

#rwagraphlabel {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 1.5em;
  margin-top: 20px;
}

.icon-help.rolling-window {
  padding-left: 5px;
}

#generateRWmatrix {
  display: inline-block;
}

#svg-Chrome {
  display: inline-block;
}

#svg-Other {
  display: inline-block;
}

/* ================== CLUSTERING BASE STYLING ==================== */
#dendrocreateoptions,
#kmeanscreateoptions {
  float: right;
}

#clusteringtitle {
  float: center;
}

.clusterselect {
  display: block;
  width: 45%;
  color: #BBB;
  border: 2px solid;
  border-radius: 6px;
  font-size: 17px;
  text-align: center;
  padding: 10px;
}

.clusterselecttext {
  color: #3498db;
}

.clusterMenu {
  display: inline-block;
  width: 200px;
  background-color: white;
  color:black;
  border: 1px solid black;
  border-radius: 6px;
  font-size: 15px;
  text-align: center;
  padding: 5px;
}

.currentCluster {
  color: white;
  background-color:#074178;
  border: 1px solid;
  font-weight:black;
}

#hierarchyselect {
  float: left;
}

#kmeansselect {
  float: right;
}

#clusternote {
  display: inline-block;
  padding: 20px 100px;
  font-size: 15px;
  text-align: justify;
  margin: 0 auto;
}

.clusterlink:link {
  text-decoration: none;
}

.clusterlink:visited {
  text-decoration: none;
}

.clusterlink:hover {
  text-decoration: none;
}

.clusterlink:active {
  text-decoration: none;
}



/* ================== K MEANS STYLING ==================== */
#kmeanscreateoptions {
  margin-bottom: 20px;
  width: 400px;
}

#silhouettescoreresults {
  padding: 10px;
  font-size: 14px;
}

#kmeanstable {
  padding: 10px;
}

#ktable {
  display: inline-block;
  position: relative;
  border: 1px solid #BBB;
  border-radius: 6px;
  border-spacing: 10px;
  font-size: 16px;
}

#ktable td { 
border: #BBB solid 4px; 
border-radius: 2px;
padding: 10px;
text-align: center;
}

#nclusters {
  width: 115px;
}

#max_iter {
  width: 115px;
}

#initMethod {
  width: 115px;
}

.icon-help#kValueTooltip,
#KMeans-maxIter-tooltip,
#KMeans-initailize-tip,
#KMeans-n_init-tooltip,
#KMeans-tolerance-tooltip {
  position: relative;
  float: right;
  padding-left: 5px;
}

#advancedKMeansOptions {
  margin-bottom: 30px;
}

#n_init {
  width: 90px;
}

#tolerance {
  width: 120px;
}

/* ================== SIMILARITY QUERY STYLING ==================== */

#simstable {
  display: inline-block;
  position: relative;
  border: 1px solid #BBB;
  border-radius: 6px;
  border-spacing: 10px;
  font-size: 16px;
}

#simstable td { 
  border: #BBB solid 4px; 
  border-radius: 2px;
  padding: 10px;
  text-align: center;
}

#simsexplanation {
  font-size: 14px;
}

#similarityoptions {
  width: 430px;
}

.minifilemanagesims {
  display: inline-block;
  width: 120%;
}

.minifilepreviewsims {
  float: left;
  height: 20px;
  width: calc(100% / 4 - 20px);
  margin: 8px;
  padding: 2px;
  color: gray;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  box-shadow: 0px 0px 5px #D8D8D8;
  border: 1px solid #d8d8d8;
  border-radius: 3px;
  background-color: #C8FFC8;
  text-align: center;
}

.minifilepreviewsims.enabled {
  background-color: white;
  color: black;
}

#uniquetokenstip {
  display: inline-block;
  padding-left: 10px;
}

/* ================== EXTERNAL TOOLS STYLING ================ */

.extooldiv {
  margin: 15px;
}

.bttn.exlink {
  background-color: #008F38;
  color: #FFFFFF;
}

.externallink {
  margin: 15px;
  padding: 10px;
  padding-left: 20px;
}

.externalsummary {
  margin: 15px;
  padding-left: 10px;
}

#smaller {
  font-size: .8em;
}

/* ================== INFO STYLING =============================== */
/* ================== COMINGSOON STYLING ========================= */

#coming-soon-message {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 40px;
  color: orange;
  padding-top: 50px;
  padding-bottom: 50px;
}
