:root {

    /* Text */
    --text-color: #7E7B96;

    /* Buttons */
    --button-border-color: var(--text-color);
    --button-background-color: #23222D;

    /* Background and foreground */
    --background-color: #000000;
    --foreground-color-alternate: #101010;
    --foreground-color: #232323;

    /* Primary highlight */
    --highlight-color: #A198FF;
    --highlight-color-light: #403D5D;

    /* Secondary highlight */
    --secondary-highlight-color: var(--highlight-color);
    --secondary-highlight-color-light: var(--highlight-color-light);

    /* Error */
    --error-button-hover-color: #B4263C;
    --error-button-color: #CD2741;
    --error-color: #E62843;
    --error-color-light: #3E3031;
    --error-text-color: #FFFFFF;

    /* NEH logo */
    --neh-logo-brightness: 1;
}
