:root {

    /* Text */
    --text-color: #A7A7A7;
    --text-color-light: #909090;

    /* Buttons */
    --button-border-color: var(--text-color);
    --button-background-color: #3E3E3E;

    /* Background and foreground */
    --background-color: #000000;
    --foreground-color-alternate: #101010;
    --foreground-color: #232323;

    /* Primary highlight */
    --highlight-color: #FFFFFF;
    --highlight-color-light: #4C4C4C;

    /* Secondary highlight */
    --secondary-highlight-color: #20ECBA;
    --secondary-highlight-color-light: #4C4C4C;
    --secondary-highlight-color-dark: #C1D5CE;

    /* Error */
    --error-button-hover-color: #B4263C;
    --error-button-color: #CD2741;
    --error-color: #E62843;
    --error-color-light: #3E3031;
    --error-text-color: #FFFFFF;

    /* NEH logo */
    --neh-logo-brightness: 2.3;
}

/* Lexos text */
#lexos-text,
#page-title {
    color: var(--highlight-color);
}
