/* Form */
form {
    grid-template-rows: min-content 1fr;
    min-height: 60rem;
}


/* Options */
#options-section {
    display: grid;
    grid-template-columns: 1.2fr 1fr 1fr 1.5fr;
    grid-gap: var(--gap);
}

#cull-section input[type="text"] {
    margin-right: .5rem;
}


/* Document names */
#document-names-section {
    display: none;
}
