/* Text */
h1 {
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    font-size: 3.3rem;
    color: var(--text-color);
    margin: 0 0 .5rem 0;
}

h2, h3, a, ul, label, legend, textarea, input[type="text"], span {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
    margin: 0;
    display: inline;
    line-height: 2.2rem;
    outline: none;
    color: var(--text-color);
    transition: color var(--fade-duration);
}

.section-top h3 {
    margin-right: var(--small-gap);
}

b {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 1.6rem;
    color: var(--text-color);
}


/* Main Elements */
*,
*:before,
*:after {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

::selection {
    color: var(--foreground-color);
    background-color: var(--highlight-color);
}

html {
    height: 99.9%;
    font-size: 10px;
    background-color: var(--background-color);
}

body {
    display: grid;
    position: relative;
    grid-template-rows: 7rem calc((100vh - (100vh - 100%)) - 11rem) 4rem;
    height: 100%;
    margin: 0;
    opacity: 0;
    transition: opacity var(--long-fade-duration) var(--fade-duration);
}

#main-grid {
    display: grid;
    height: 100%
}

#main-section {
    overflow: auto;
    /*min-width: 120rem;*/
}

form {
    display: grid;
    grid-gap: var(--gap);
    margin: var(--gap);
    width: calc(100% - 4rem);
    height: calc(100% - 4rem);
    min-height: 50rem;
}


/* Links */
a, a:hover, a:focus {
    text-decoration: none;
}

a:hover {
    color: var(--highlight-color);
}


/* Fieldset */
fieldset {
    border: None;
    padding: 0;
    margin: 0;
}

/* Text input */
input[type="text"] {
    height: 3rem;
    width: 7rem;
    padding: 0 1.3rem .1rem 1.3rem;
    border-radius: 3rem;
    outline: none;
    background-color: var(--foreground-color);
    border: var(--line-size) solid var(--button-border-color);
    transition: color var(--fade-duration),
        border-color var(--fade-duration), background-color var(--fade-duration);
    user-select: text;
    -moz-user-select: text;
}

input[type="text"]:focus {
    color: var(--highlight-color);
    background-color: var(--highlight-color-light);
    border-color: var(--highlight-color);
}

input[type="text"].error-highlight {
    border-color: var(--error-color);
    color: var(--error-color);
    background-color: var(--error-color-light);
}

input[type="text"].error-highlight::selection {
    background-color: var(--error-color);
}

span > input[type="text"] {
    color: inherit;
}

.section-body input[type="text"] {
    margin-left: .5rem;
    margin-bottom: var(--small-gap);
}

.section-body label input[type="text"] {
    margin-bottom: 0;
}

textarea::placeholder,
input::placeholder{
    color: inherit;
    opacity: .5;
}


/* Textarea */
textarea {
    width: 100%;
    height: 100%;
    padding: var(--small-gap);
    background-color: var(--foreground-color-alternate);
    resize: none;
    border: none;
    user-select: text;
    -moz-user-select: text;
}

.textarea-label {
    width: 100%;
    height: 100%;
    margin: 0;
}


/* Labels */
label {
    position: relative;
    display: inline-block;
    cursor: pointer;
    height: 3rem;
}

label > span:before {
    content: "";
    display: inline-block;
    position: relative;
    top: .35rem;
    width: var(--gap);
    height: var(--gap);
    margin-right: var(--small-gap);
    background-color: var(--button-background-color);
    border: var(--line-size) solid var(--button-border-color);
    transition: background-color var(--fade-duration),
        border-color var(--fade-duration);
}

label :checked + span:before,
label:hover > span:before {
    background-color: var(--highlight-color-light);
    border-color: var(--highlight-color);
}

.section-body label,
.borderless-section-body label {
    margin-bottom: var(--small-gap);
}

.section-top label {
    margin-right: var(--gap);
}


/* Radio button */
input[type=radio] {
    display: none;
}

.radio {
    width: var(--gap);
    height: var(--gap);
    border-radius: 50%;
    background-color: var(--button-background-color);
    border: var(--line-size) solid var(--button-border-color);
    cursor: pointer;
    transition: background-color var(--fade-duration);
}

label input[type="radio"] + span:before {
    border-radius: 50%;
}

label input[type="radio"] + span:after {
    content: "";
    position: absolute;
    height: .8rem;
    width: .8rem;
    top: .95rem;
    left: .6rem;
    border-radius: 50%;
    background-color: var(--highlight-color);
    transition: opacity var(--fade-duration);
    opacity: 0;
}

label input[type="radio"]:checked + span:after {
    opacity: 1;
}


/* Checkbox */
input[type=checkbox] {
    display: none;
}

.checkbox {
    position: relative;
    cursor: pointer;
    width: var(--gap);
    height: var(--gap);
    background-color: var(--button-background-color);
    border: var(--line-size) solid var(--button-border-color);
    transition: border-color var(--fade-duration);
}

label input[type="checkbox"] + span:after {
    content: "";
    position: absolute;
    height: .6rem;
    width: 1.2rem;
    border-left: var(--line-size) solid var(--highlight-color);
    border-bottom: var(--line-size) solid var(--highlight-color);
    transform: rotate(-45deg);
    top: .95rem;
    left: .4rem;
    transition: opacity var(--fade-duration);
    opacity: 0;
}

label input[type="checkbox"]:checked + span:after {
    opacity: 1;
}


/* Button */
.button,
.important-button,
.help-button {
    display: inline-flex;
    align-items: center;
    width: max-content;
    height: 3rem;
    padding: .9rem 1.5rem 1rem 1.5rem;
    border-radius: 3rem;
    border: var(--line-size) solid var(--button-border-color);
    background-color: var(--button-background-color);
    cursor: pointer;
    transition: color var(--fade-duration), border-color var(--fade-duration),
        background-color var(--fade-duration), opacity var(--fade-duration);
}

.button:hover {
    color: var(--highlight-color);
    background-color: var(--highlight-color-light);
    border-color: var(--highlight-color);
}

.button:hover > h3 {
    color: inherit;
}

.important-button {
    background-color: var(--highlight-color);
    border-color: var(--highlight-color);
    color: var(--foreground-color);
}

.important-button:hover {
    background-color: var(--highlight-color-light);
    color: var(--highlight-color);
}

.help-button {
    border-color: var(--secondary-highlight-color);
    background-color: var(--secondary-highlight-color);
    color: var(--foreground-color);
}

.help-button:hover {
    color: var(--secondary-highlight-color);
    background-color: var(--secondary-highlight-color-light);
    border-color: var(--secondary-highlight-color);
}

.section-top .button {
    margin-left: var(--small-gap);
}

.section-top h3 + .button {
    margin-left: 0;
}

.section-body .button {
    margin: 0 0 var(--small-gap) .5rem;
}

ul ul {
    list-style-type: disc;
}


/* Tooltip */
.lexos-tooltip {
    z-index: 3;
    position: absolute;
    word-break: break-word;
    width: 35rem;
    padding: var(--small-gap);
    overflow-y: auto;
    transform: translate(3rem, 0);
    background-color: var(--foreground-color);
    border: var(--small-gap) solid var(--secondary-highlight-color-light);
}

.right-edge-tooltip {
    transform: translate(-33rem, 3rem);
}

.tooltip-button {
    display: inline-flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    width: var(--gap);
    height: var(--gap);
    margin-left: .5rem;
    font-size: 1.3rem;
    border-radius: 50%;
    transition: color var(--fade-duration), background-color var(--fade-duration);
    color: var(--secondary-highlight-color);
    background-color: var(--secondary-highlight-color-light);
}

.tooltip-button:hover,
.tooltip-button-active {
    color: var(--foreground-color);
    background-color: var(--secondary-highlight-color);
}


/* Plotly */
.plotly-notifier {
    display: none;
}


/* First time visit popup */
#welcome-to-lexos-popup .popup {
    width: 50rem;
}
