#error-section {
    z-index: 10;
    position: relative;
    overflow: hidden;
    background-color: var(--error-color);
}

#error-text,
#error-text-2 {
    position: absolute;
    bottom: 1rem;
    display: inline-block;
    white-space: nowrap;
    padding-left: 100%;
    padding-right: 10rem;
    animation: marquee 20s infinite linear;
    animation-delay: -10s;
    color: var(--error-text-color);
}

#error-text-2 {
    animation-delay: 0s;
}

#error-section:hover #error-text,
#error-section:hover #error-text-2 {
    animation-play-state: paused;
}

#error-button-container {
    z-index: 11;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 4rem;
    padding: .55rem var(--gap) 0 var(--gap);
    pointer-events: none;
    background-color: var(--error-color);
}

#error-close-button {
    pointer-events: all;
    color: var(--error-text-color);
    background-color: var(--error-button-color);
    border: none;
}

#error-close-button:hover {
    background-color: var(--error-button-hover-color)
}

@keyframes marquee {
  0% { transform: translate(0, 0); }
  100% { transform: translate(-100%, 0); }
}
