/* Popup */
#manage-popup .popup {
    min-width: 130rem;
    min-height: 50rem;
}

.separator {
    width: 100%;
    border: 1px solid #555;
    background-color:#555;
    margin-right: auto;
    margin-left: auto;
}


/* Table */
#manage-table-head {
    display: grid;
    grid-template-columns: 7% 7% 16% 14% 16% 21% 16% 3%;
    align-items: center;
    background-color: var(--foreground-color);
    height: 5rem;
}

#manage-table-download-button {
    margin: var(--small-gap) var(--small-gap);
}

#manage-table-head .manage-table-cell {
    display: flex;
    align-items: center;
    height: 100%;
    color: var(--highlight-color);
    transition: background-color var(--fade-duration);
}

.sort-direction-icon {
    margin-left: .3rem;
}

.sort-ascending, .sort-descending {
    background-color: var(--highlight-color-light);
}

#manage-table-head .manage-table-cell:hover {
    background-color: var(--highlight-color-light);
}

.sort-ascending, .sort-descending {
    margin-left: .3rem;
}

.manage-table-row {
    display: grid;
    grid-template-columns: 7% 7% 16% 14% 16% 40%;
}

#manage-table-body {
    height: calc(100% - 5rem);
    overflow-y: auto;
    overflow-y: overlay;
}

.manage-table-row {
    background-color: var(--foreground-color-alternate);
    transition: background-color var(--fade-duration);
    margin-bottom: var(--small-gap);
}

.manage-table-selected-row {
    background-color: var(--highlight-color-light);
}

.manage-table-row:last-child {
    margin-bottom: 0;
}

.manage-table-cell {
    cursor: pointer;
    padding: var(--small-gap);
    word-wrap: break-word;
    overflow: hidden;
    color: var(--text-color);
}

.manage-table-cell:last-child {
    padding-right: var(--gap);
}

.manage-table-active-indicator {
    width: var(--gap);
    height: var(--gap);
    border-radius: 50%;
    margin: var(--small-gap) var(--small-gap);
}

.manage-table-row > .manage-table-active-indicator {
    border: var(--line-size) solid var(--background-color);
    background-color: var(--foreground-color-alternate);
    transition: border var(--fade-duration), background-color var(--fade-duration);
}

.manage-table-selected-row > .manage-table-active-indicator {
    border: var(--line-size) solid var(--highlight-color);
    background-color: var(--highlight-color);
}


/* Selection box */
#manage-table-selection-box {
    position: absolute;
    pointer-events: none;
    background-color: var(--highlight-color);
    transition: opacity var(--fade-duration);
}
