#message
{
    position: absolute;
    right: 4rem;
    bottom: 8rem;
    width: 35rem;
    padding: var(--gap);
    background-color: var(--highlight-color);
    color: var(--foreground-color);
    opacity: 0;
    transition: opacity 500ms;
}

.message-text
{
    flex-grow: 1;
    flex-shrink: 1;
}

#message span
{
    word-break: break-word;
    white-space: normal;
    color: var(--error-content-color);
}