.popup-container {
    z-index: 6;
    display: grid;
    align-content: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-width: 120rem;
    background-color: rgba(0, 0, 0, .5);
    opacity: 0;
}

.popup {
    display: grid;
    align-content: center;
    justify-content: center;
    grid-template-rows: 4rem 1fr auto;
    grid-template-columns: minmax(0, 1fr);
    padding: 1.5rem var(--gap) var(--gap) var(--gap);
    margin: var(--gap);
    min-height: 15rem;
    min-width: 40rem;
    max-width: 110rem;
    word-wrap: break-word;
    background-color: var(--foreground-color);
}

.popup-content {
    max-height: calc(100vh - 11rem);
    overflow-y: auto;
}

.popup-ok-button {
    justify-self: center;
    margin-top: var(--gap);
}

.radio-button-popup .popup-content div:not(:last-child) {
    margin-bottom: var(--small-gap);
}
