/* Table */
.lexos-table {
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    height: 100%;
    background-color: var(--foreground-color);
}


/* Top */
.lexos-table-top,
.lexos-table-bottom {
    display: grid;
    grid-auto-flow: column;
    align-content: center;
    justify-items: center;
    min-height: 3rem;
    margin: var(--small-gap);
}

.lexos-table-top :last-child,
.lexos-table-bottom :last-child {
    justify-self: right;
}

.lexos-table-top :first-child,
.lexos-table-bottom :first-child {
    justify-self: left;
}

.lexos-table-top h3,
.lexos-table-top label {
    margin-right: var(--small-gap);
}

.lexos-table .important-button {
    margin-right: var(--small-gap);
}

.lexos-table-title {
    word-break: break-word;
    color: var(--highlight-color);
}

.lexos-table-top input[type="text"] {
    width: 20rem;
}


/* Content */
.lexos-table-content,
.basic-lexos-table-content {
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}

.lexos-table-content {
    display: grid;
    grid-template-rows: min-content auto;
}

.lexos-table-content .centerer {
    grid-row: span 2;
}


/* Head */
.lexos-table-head-cell,
.lexos-table-cell {
    min-height: 4rem;
    padding: var(--small-gap);
    word-break: break-all;
    overflow: hidden;
}

.lexos-table-head-cell {
    color: var(--highlight-color);
}

.selected-cell {
    background-color: var(--highlight-color-light);
    transition: background-color var(--fade-duration);
}


/* Body */
.lexos-table-body {
    overflow-x: visible;
    overflow-y: auto;
    overflow-y: overlay;
    min-width: min-content;
    height: 100%;
}

.lexos-table-head,
.lexos-table-row {
    display: grid;
    grid-auto-columns: minmax(20rem, 1fr);
    grid-auto-flow: column;
}

.lexos-table-row {
    margin-bottom: var(--small-gap);
}

.lexos-table-row:last-child {
    margin-bottom: 0;
}

.lexos-table-cell {
    background-color: var(--foreground-color-alternate);
}


/* Bottom */
.lexos-table-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 3rem;
    margin: var(--small-gap);
}

.lexos-table-bottom input {
    margin: 0 var(--small-gap) 0 var(--small-gap);
}

.lexos-table-page-number {
    margin: 0 .5rem 0 .5rem;
}

.lexos-table-navigation-buttons span {
    margin-left: var(--small-gap);
}
