/* Minimum width */
#main-section,
.popup-container {
    /*min-width: 125rem;*/
}


/* Graph section top */
#font-input {
    width: 15rem;
}

#term-count-input {
    width: 7rem;
}

#graph-section-top {
    display: grid;
    grid-auto-flow: column;
}


/* Tooltip */
.visualize-tooltip {
    z-index: 1;
    pointer-events: none;
    position: absolute;
    white-space: nowrap;
    padding: var(--small-gap);
    background: var(--foreground-color);
    border: var(--small-gap) solid var(--highlight-color-light);
    opacity: 0;
    transition: opacity var(--fade-duration);
}
