/* Main */
#main-section {
    min-width: 115rem;
}


/* Form */
form {
    grid-template-rows: min-content 1fr;
    min-height: 60rem;
}


/* Options */
#options-section {
    display: grid;
    grid-template-columns: 1.2fr 1fr 1fr 1.5fr;
    grid-gap: 2rem;
}


/* Document names */
#document-names-section {
    display: none;
}
