/* Fonts */
@font-face {
    font-family: "Quicksand";
    src: url("../../fonts/quicksand-regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Open Sans";
    src: url("../../fonts/open-sans-semibold.ttf") format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: "Open Sans";
    src: url("../../fonts/open-sans-bold.ttf") format("truetype");
    font-weight: 700;
}

h1 {
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    font-size: 4rem;
    margin: 0;
    color: #505050;
}

h3, a, ul, textarea, input[type="text"], span {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
    margin: 0;
    display: inline;
    line-height: 2.2rem;
    outline: none;
    color: #505050;
    transition: color .2s;
}

b {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 1.6rem;
    color: #505050;
}


/* Main Elements */
* {
    user-select: none;
    -moz-user-select: none;
}

::selection {
    color: #FFFFFF;
    background-color: #47BCFF;
}

html {
    height: 99.9%;
}

body {
    display: grid;
    grid-template-rows: 7rem calc((100vh - (100vh - 100%)) - 11rem) 4rem;
    height: 100%;
    position: relative;
    background-color: #E3E3E3;
}

#main-grid {
    display: grid;
    height: 100%
}

#main-section {
    overflow: auto;
    min-width: 90rem;
}

form {
    display: grid;
    grid-gap: 2rem;
    padding: 2rem;
    width: 100%;
    height: 100%;
    min-height: 50rem;
}


/* Template classes */
.selectable:hover {
    color: #47BCFF;
    cursor: pointer;
}

.highlight {
    color: #47BCFF;
}

.centerer {
    display: grid;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.disabled {
    opacity: .5;
    pointer-events: none;
}

.invisible {
    opacity: 0;
}

.center-justified {
    justify-self: center;
}

.right-justified {
    justify-self: right;
}

.firefox-hidden-scrollbar {
    scrollbar-width: none;  /* Disable the scrollbar in Firefox*/
}

.vertical-splitter {
    display: grid;
    grid-template-columns: auto auto;
}

.title {
    display: inline-block;
    color: #47BCFF;
    height: 3rem;
}


/* Navbar */
#navbar {
    z-index: 3;
    display: grid;
    grid-template-columns: 20% 80%;
    width: 100%;
    min-width: 90rem;
    height: 7rem;
    background-color: #FFFFFF;
}

#navbar-left {
    margin-top: 1rem;
    margin-left: 1.5rem;
}

#navbar-right {
    justify-self: right;
    margin-top: 2.3rem;
    margin-right: 2rem;
}

#navbar-right > a,
#navbar-right > h3 {
    margin: 1rem;
}


/* Navbar dropdown menus */
.navbar-menu {
    position: absolute;
    top: 7rem;
    transform: translate(-2rem, 0);
    display: inline-grid;
    row-gap: 1rem;
    padding: 1rem;
    white-space: nowrap;
    background-color: #FFFFFF;
    border: 2rem solid #E3E3E3;
    border-top: none;
}


/* Links */
a, a:hover, a:focus {
    text-decoration: none;
}

a:hover {
    color: #47BCFF;
}

.underlined-link {
    box-shadow: inset 0 -.2rem 0 #505050;
    transition: box-shadow .2s, color .2s;
}

.underlined-link:hover {
    box-shadow: inset 0 -.2rem 0 #47BCFF;
}


/* Footer */
footer {
    display: grid;
    grid-template-columns: 70% 30%;
    align-content: center;
    height: 4rem;
    background-color: #FFFFFF;
}

#left-footer {
    margin-left: 2rem;
}

#right-footer {
    margin-right: 2rem;
    justify-self: right;
}


/* Error */
#error-section {
    z-index: 10;
    position: relative;
    overflow: hidden;
    background-color: #E62843;
}

#error-text,
#error-text-2 {
    position: absolute;
    bottom: 1rem;
    display: inline-block;
    white-space: nowrap;
    padding-left: 100%;
    padding-right: 10rem;
    animation: marquee 20s infinite linear;
    animation-delay: -10s;
    font-weight: 700;
    color: #FFFFFF;
}

#error-text-2 {
    animation-delay: 0s;
}

#error-section:hover #error-text,
#error-section:hover #error-text-2 {
    animation-play-state: paused;
}

#error-button-container {
    z-index: 11;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 4rem;
    padding: .5rem 2rem 0 2rem;
    pointer-events: none;
    background-color: #E62843;
}

#error-close-button {
    pointer-events: all;
    color: #FFFFFF;
    font-weight: 700;
    background-color: #CD2741;
    box-shadow: none;
}

#error-close-button:hover {
    background-color: #B4263C;
}

@keyframes marquee {
  0% { transform: translate(0, 0); }
  100% { transform: translate(-100%, 0); }
}


/* Section */
.section {
    background-color: #FFFFFF;
    overflow: hidden;
}

.section-top {
    height: 3rem;
    margin: 1rem;
}

.section-body {
    width: calc(100% - 2rem);
    height: calc(100% - 6rem);
    margin: 0 1rem 1rem 1rem;
}

.borderless-section-body {
    height: calc(100% - 5rem);
}


/* Help section */
#help-section {
    display: block;
    width: 40rem;
    padding-bottom: 2rem;
    overflow-y: auto;
}

.help-section-title {
    display: block;
    margin-top: 2rem;
    padding: 2rem;
    color: #47BCFF;
    background-color: #FFFFFF;
}

.help-section-paragraph,
.help-section-list {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
}

.help-section-paragraph {
    display: block;
    background-color: #FFFFFF;
}

.help-section-list {
    background-color: #FFFFFF;
    display: block;
}

.help-section-list > li {
    padding-bottom: 1rem;
}

.help-section-list > li:last-child {
    padding-bottom: 0;
}
table {
    font-size: 1.3rem;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    font-size: 1.3rem;
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

/* Text input */
input[type="text"] {
    height: 3rem;
    width: 6rem;
    padding: 0 1.3rem 0 1.3rem;
    margin: 0 .5rem 0 .5rem;
    border-radius: 3rem;
    outline: none;
    background-color: #FFFFFF;
    border: none;
    box-shadow: inset #E3E3E3 0 0 0 .2rem;
    transition: color .2s, box-shadow .2s, background-color .2s;
    user-select: text;
    -moz-user-select: text;
}

input[type="text"]:focus {
    color: #47BCFF;
    background-color: #EAF5FF;
    box-shadow: inset #47BCFF 0 0 0 .2rem;
}

span > input[type="text"] {
    color: inherit;
}

label input[type="text"] {
    margin-bottom: 0;
}

#popup input[type="text"] {
    margin: 0;
}


/* Textarea */
textarea {
    width: 100%;
    height: 100%;
    padding: 1rem;
    background-color: #F3F3F3;
    resize: none;
    border: none;
    user-select: text;
    -moz-user-select: text;
}

.textarea-label {
    width: 100%;
    height: 100%;
    margin: 0;
}


/* Radio button */
.radio {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: #FFFFFF;
    border: .2rem solid #D3D3D3;
    cursor: pointer;
    transition: background-color .2s;
}


/* Checkbox */
.checkbox {
    width: 2rem;
    height: 2rem;
    background-color: #FFFFFF;
    border: .2rem solid #D3D3D3;
    cursor: pointer;
    transition: border-color .2s;
}


/* Labels */
label {
    display: inline-block;
    cursor: pointer;
}

.section-body label,
.borderless-section-body label {
    margin-top: .2rem;
    margin-bottom: 1rem;
}

.checkbox-label > span:before,
.circle-label > span:before{
    content: "";
    display: inline-block;
    position: relative;
    top: .4rem;
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
    background-color: #FFFFFF;
    border: .2rem solid #D3D3D3;
    transition: background-color .2s, border-color .2s;
}

input[type=checkbox],
input[type=radio] {
    display: none;
}

.checkbox-label :checked + span,
.circle-label :checked + span {
    color: #47BCFF;
}

.checkbox-label :checked + span:before,
.circle-label :checked + span:before {
    background-color: #EAF5FF;
    border-color: #47BCFF;
}

.circle-label > span:before {
    border-radius: 50%;
}


/* Button */
.button {
    display: inline-grid;
    align-content: center;
    justify-content: center;
    width: max-content;
    height: 3rem;
    padding: 1rem 1.5rem 1rem 1.5rem;
    margin: 0 .5rem 0 .5rem;
    border-radius: 3rem;
    box-shadow: inset #F3F3F3 0 0 0 .2rem;
    background-color: #F3F3F3;
    cursor: pointer;
    transition: color .2s, box-shadow .2s, background-color .2s, opacity .5s;
}

.section-body .button {
    margin-bottom: .5rem;
}

.button:hover,
.button-active{
    color: #47BCFF;
    background-color: #EAF5FF;
    box-shadow: inset #47BCFF 0 0 0 .2rem;
}

.button:hover > h3,
.button-active > h3{
    color: inherit;
}


/* Tooltip */
.lexos-tooltip {
    z-index: 3;
    position: absolute;
    word-break: break-word;
    width: 35rem;
    padding: 1rem;
    overflow-y: auto;
    transform: translate(4rem, 0);
    background-color: #FFFFFF;
    border: 2rem solid #EAF5FF;
}

.right-edge-tooltip {
    transform: translate(-31rem, 3.5rem);
}


/* Plotly */
.plotly-notifier {
    display: none;
}


/* Temporary Bootstrap overrides */
label {
    margin-bottom: 0;
}
