/* Fonts */
@font-face {
    font-family: "Quicksand";
    src: url("../../fonts/quicksand-regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Open Sans";
    src: url("../../fonts/open-sans-regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Open Sans";
    src: url("../../fonts/open-sans-semibold.ttf") format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: "Open Sans";
    src: url("../../fonts/open-sans-bold.ttf") format("truetype");
    font-weight: 700;
}

h1 {
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    font-size: 3.5rem;
    margin: 0;
    color: var(--text-color);
}

h3, a, ul, label, textarea, input[type="text"], span {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
    margin: 0;
    display: inline;
    line-height: 2.2rem;
    outline: none;
    color: var(--text-color);
    transition: color .2s;
}

.section-top h3 {
    margin-right: 1rem;
}

b {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 1.6rem;
    color: var(--text-color);
}


/* Main Elements */
*,
*:before,
*:after {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

::selection {
    color: var(--foreground-color);
    background-color: var(--highlight-color);
}

html {
    height: 99.9%;
    font-size: 10px;
    background-color: var(--background-color);
}

body {
    display: grid;
    position: relative;
    grid-template-rows: 7rem calc((100vh - (100vh - 100%)) - 11rem) 4rem;
    height: 100%;
    margin: 0;
    opacity: 0;
    transition: opacity .5s .2s;
}

#main-grid {
    display: grid;
    height: 100%
}

#main-section {
    overflow: auto;
    min-width: 120rem;
}

form {
    display: grid;
    grid-gap: 2rem;
    margin: 2rem;
    width: calc(100% - 4rem);
    height: calc(100% - 4rem);
    min-height: 50rem;
}


/* Template classes */
.clickable-text:hover {
    color: var(--highlight-color);
    cursor: pointer;
}

.highlight {
    color: var(--highlight-color);
}

.centerer {
    display: grid;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.disabled {
    opacity: .5 !important;
    pointer-events: none !important;
}

.invisible {
    opacity: 0;
}

.hidden {
    display: none !important;
}

.center-justified {
    justify-self: center;
}

.left-justified {
    justify-self: left;
}

.right-justified {
    justify-self: right;
}

.firefox-hidden-scrollbar {
    scrollbar-width: none;
}

.vertical-splitter {
    display: grid;
    grid-template-columns: auto auto;
}

.title {
    display: inline-block;
    color: var(--highlight-color);
    height: 3rem;
}


/* Navbar */
#navbar {
    z-index: 3;
    display: grid;
    grid-template-columns: min-content 1fr;
    padding: 0 2rem 0 2rem;
    align-items: center;
    width: 100%;
    min-width: 100rem;
    height: 7rem;
    background-color: var(--foreground-color);
}

#navbar-left {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

#lexos-dragon {
    cursor: pointer;
    height: 5rem;
    margin-right: 2.3rem;
}

#lexos-text {
    cursor: pointer;
    white-space: nowrap;
    margin-right: 2rem;
    margin-bottom: .7rem;
    font-size: 4rem;
}

#page-title {
    opacity: .5;
    font-size: 3rem;
}

#navbar-walkthrough-button {
    font-family: Libre Baskerville;
    margin-bottom: 1.6rem;
    border-radius: 50%;
    color: var(--text-color);
    background-color: var(--foreground-color);
    border: .20rem solid var(--button-border-color);
}

#navbar-walkthrough-button:hover {
    color: var(--foreground-color);
    background-color: var(--button-border-color);
}

#navbar-walkthrough-button i {
    color: inherit;
}

#navbar-right > a,
#navbar-right > h3 {
    margin: 1rem;
}

#navbar-right > #help-button{
    cursor: pointer;
    color: var(--secondary-highlight-color);
    transition: opacity .2s;
}

#navbar-right > #help-button:hover{
    opacity: .6;
}


/* Navbar dropdown menus */
.navbar-menu {
    position: absolute;
    top: 7rem;
    transform: translate(-2rem, 0);
    display: inline-grid;
    row-gap: 1rem;
    padding: 1rem;
    white-space: nowrap;;
    background-color: var(--foreground-color);
    border: 2rem solid var(--background-color);
    border-top: none;
}


/* Links */
a, a:hover, a:focus {
    text-decoration: none;
}

a:hover {
    color: var(--highlight-color);
}


/* Footer */
footer {
    display: grid;
    grid-template-columns: min-content .7fr .3fr;
    grid-gap: 1rem;
    align-items: center;
    height: 4rem;
    padding: 0 2rem 0 2rem;
    background-color: var(--foreground-color);
}

#neh-logo {
    height: 3rem;
    margin-top: .5rem;
    filter: brightness(var(--neh-logo-brightness));
}


/* Section */
.section {
    background-color: var(--foreground-color);
    overflow: hidden;
}

.section-top {
    height: 3rem;
    margin: 1rem;
}

.section-body {
    width: calc(100% - 2rem);
    height: calc(100% - 6rem);
    margin: 0 1rem 1rem 1rem;
}

.borderless-section-body {
    height: calc(100% - 5rem);
}


/* Text input */
input[type="text"] {
    height: 3rem;
    width: 7rem;
    padding: 0 1.3rem .1rem 1.3rem;
    border-radius: 3rem;
    outline: none;
    background-color: var(--foreground-color);
    border: .2rem solid var(--button-border-color);
    transition: color .2s, border-color .2s, background-color .2s;
    user-select: text;
    -moz-user-select: text;
}

input[type="text"]:focus {
    color: var(--highlight-color);
    background-color: var(--highlight-color-light);
    border-color: var(--highlight-color);
}

input[type="text"].error-highlight {
    border-color: var(--error-color);
    color: var(--error-color);
    background-color: var(--error-color-light);
}

input[type="text"].error-highlight::selection {
    background-color: var(--error-color);
}

span > input[type="text"] {
    color: inherit;
}

.section-body input[type="text"] {
    margin-left: .5rem;
    margin-bottom: 1rem;
}

.section-body label input[type="text"] {
    margin-bottom: 0;
}

textarea::placeholder,
input::placeholder{
    color: inherit;
    opacity: .5;
}


/* Textarea */
textarea {
    width: 100%;
    height: 100%;
    padding: 1rem;
    background-color: var(--foreground-color-alternate);
    resize: none;
    border: none;
    user-select: text;
    -moz-user-select: text;
}

.textarea-label {
    width: 100%;
    height: 100%;
    margin: 0;
}


/* Labels */
label {
    position: relative;
    display: inline-block;
    cursor: pointer;
    height: 3rem;
}

label > span:before {
    content: "";
    display: inline-block;
    position: relative;
    top: .35rem;
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
    background-color: var(--button-background-color);
    border: .2rem solid var(--button-border-color);
    transition: background-color .2s, border-color .2s;
}

label :checked + span:before,
label:hover > span:before {
    background-color: var(--highlight-color-light);
    border-color: var(--highlight-color);
}

.section-body label,
.borderless-section-body label {
    margin-bottom: 1rem;
}

.section-top label {
    margin-right: 2rem;
}


/* Radio button */
input[type=radio] {
    display: none;
}

.radio {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: var(--button-background-color);
    border: .2rem solid var(--button-border-color);
    cursor: pointer;
    transition: background-color .2s;
}

label input[type="radio"] + span:before {
    border-radius: 50%;
}

label input[type="radio"] + span:after {
    content: "";
    position: absolute;
    height: .8rem;
    width: .8rem;
    top: .95rem;
    left: .6rem;
    border-radius: 50%;
    background-color: var(--highlight-color);
    transition: opacity .2s;
    opacity: 0;
}

label input[type="radio"]:checked + span:after {
    opacity: 1;
}


/* Checkbox */
input[type=checkbox] {
    display: none;
}

.checkbox {
    position: relative;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    background-color: var(--button-background-color);
    border: .2rem solid var(--button-border-color);
    transition: border-color .2s;
}

label input[type="checkbox"] + span:after {
    content: "";
    position: absolute;
    height: .6rem;
    width: 1.2rem;
    border-left: .2rem solid var(--highlight-color);
    border-bottom: .2rem solid var(--highlight-color);
    transform: rotate(-45deg);
    top: .95rem;
    left: .4rem;
    transition: opacity .2s;
    opacity: 0;
}

label input[type="checkbox"]:checked + span:after {
    opacity: 1;
}


/* Button */
.button,
.important-button,
.help-button {
    display: inline-flex;
    align-items: center;
    width: max-content;
    height: 3rem;
    padding: .9rem 1.5rem 1rem 1.5rem;
    border-radius: 3rem;
    border: .2rem solid var(--button-border-color);
    background-color: var(--button-background-color);
    cursor: pointer;
    transition: color .2s, border-color .2s, background-color .2s, opacity .5s;
}

.button:hover {
    color: var(--highlight-color);
    background-color: var(--highlight-color-light);
    border-color: var(--highlight-color);
}

.button:hover > h3 {
    color: inherit;
}

.important-button {
    background-color: var(--highlight-color);
    border-color: var(--highlight-color);
    color: var(--foreground-color);
}

.important-button:hover {
    background-color: var(--highlight-color-light);
    color: var(--highlight-color);
}

.help-button {
    border-color: var(--secondary-highlight-color);
    background-color: var(--secondary-highlight-color);
    color: var(--foreground-color);
}

.help-button:hover {
    color: var(--secondary-highlight-color);
    background-color: var(--secondary-highlight-color-light);
    border-color: var(--secondary-highlight-color);
}

.section-top .button {
    margin-left: 1rem;
}

.section-top h3 + .button {
    margin-left: 0;
}

.section-body .button {
    margin: 0 0 1rem .5rem;
}


/* Tooltip */
.lexos-tooltip {
    z-index: 3;
    position: absolute;
    word-break: break-word;
    width: 35rem;
    padding: 1rem;
    overflow-y: auto;
    transform: translate(3rem, 0);
    background-color: var(--foreground-color);
    border: 1rem solid var(--secondary-highlight-color-light);
}

.right-edge-tooltip {
    transform: translate(-33rem, 3rem);
}

.tooltip-button {
    display: inline-flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    margin-left: .5rem;
    font-size: 1.3rem;
    border-radius: 50%;
    transition: color .2s, background-color .2s;
    color: var(--secondary-highlight-color);
    background-color: var(--secondary-highlight-color-light);
}

.tooltip-button:hover,
.tooltip-button-active {
    color: var(--foreground-color);
    background-color: var(--secondary-highlight-color);
}


/* Plotly */
.plotly-notifier {
    display: none;
}

/* 404 page */
.threeddiv {
    display: grid;
    width: 80%;
    height: 80%;
  }
