/* Fonts */
@font-face {
    font-family: "Quicksand";
    src: url("../../fonts/quicksand-regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Open Sans";
    src: url("../../fonts/open-sans-semibold.ttf") format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: "Open Sans";
    src: url("../../fonts/open-sans-bold.ttf") format("truetype");
    font-weight: 700;
}

h1 {
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    font-size: 4rem;
    margin: 0;
    color: #505050;
}

h3, a, ul, label, textarea, input[type="text"], span {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
    margin: 0;
    display: inline;
    line-height: 2.2rem;
    outline: none;
    color: #505050;
    transition: color .2s;
}

b {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 1.6rem;
    color: #505050;
}


/* h3 */
.section-top h3 {
    margin-right: 1rem;
}


/* Main Elements */
*,
*:before,
*:after {
    user-select: none;
    -moz-user-select: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

::selection {
    color: #FFFFFF;
    background-color: #47BCFF;
}

html {
    height: 99.9%;
    font-size: 10px;
}

body {
    display: grid;
    position: relative;
    grid-template-rows: 7rem calc((100vh - (100vh - 100%)) - 11rem) 4rem;
    height: 100%;
    margin: 0;
    background-color: #E3E3E3;
}

#main-grid {
    display: grid;
    height: 100%
}

#main-section {
    overflow: auto;
    min-width: 100rem;
}

form {
    display: grid;
    grid-gap: 2rem;
    margin: 2rem;
    width: calc(100% - 4rem);
    height: calc(100% - 4rem);
    min-height: 50rem;
}


/* Template classes */
.selectable:hover {
    color: #47BCFF;
    cursor: pointer;
}

.highlight {
    color: #47BCFF;
}

.help-selectable:hover {
    color: #c96533;
    cursor: pointer;
}
.help-highlight {
    color: #ff8447;
}

.centerer {
    display: grid;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.disabled {
    opacity: .5;
    pointer-events: none;
}

.invisible {
    opacity: 0;
}

.hidden {
    display: none !important;
}

.center-justified {
    justify-self: center;
}

.right-justified {
    justify-self: right;
}

.firefox-hidden-scrollbar {
    scrollbar-width: none;
}

.vertical-splitter {
    display: grid;
    grid-template-columns: auto auto;
}

.title {
    display: inline-block;
    color: #47BCFF;
    height: 3rem;
}


/* Navbar */
#navbar {
    z-index: 3;
    display: grid;
    grid-template-columns: 15rem 10rem 1fr;
    padding: 0 2rem 0 2rem;
    align-items: center;
    width: 100%;
    min-width: 100rem;
    height: 7rem;
    background-color: #FFFFFF;
}

#lexos-dragon {
    height: 5rem;
}

#lexos-logo {
    margin-bottom: 1rem;
}

#navbar-right > a,
#navbar-right > h3 {
    margin: 1rem;
}


/* Navbar dropdown menus */
.navbar-menu {
    position: absolute;
    top: 7rem;
    transform: translate(-2rem, 0);
    display: inline-grid;
    row-gap: 1rem;
    padding: 1rem;
    white-space: nowrap;
    background-color: #FFFFFF;
    border: 2rem solid #E3E3E3;
    border-top: none;
}


/* Links */
a, a:hover, a:focus {
    text-decoration: none;
}

a:hover {
    color: #47BCFF;
}


/* Footer */
footer {
    display: grid;
    grid-template-columns: min-content .7fr .3fr;
    grid-gap: 1rem;
    align-items: center;
    height: 4rem;
    padding: 0 2rem 0 2rem;
    background-color: #FFFFFF;
}

#neh-logo {
    height: 3rem;
    margin-top: .5rem;
}


/* Section */
.section {
    background-color: #FFFFFF;
    overflow: hidden;
}

.section-top {
    height: 3rem;
    margin: 1rem;
}

.section-body {
    width: calc(100% - 2rem);
    height: calc(100% - 6rem);
    margin: 0 1rem 1rem 1rem;
}

.borderless-section-body {
    height: calc(100% - 5rem);
}


/* Text input */
input[type="text"] {
    height: calc(3rem - .2rem);
    width: 6rem;
    padding: 0 1.3rem .1rem 1.3rem;
    border-radius: 3rem;
    outline: none;
    background-color: #FFFFFF;
    border: .2rem solid #E3E3E3;
    transition: color .2s, border-color .2s, background-color .2s;
    user-select: text;
    -moz-user-select: text;
}

input[type="text"]:focus {
    color: #47BCFF;
    background-color: #EAF5FF;
    border-color: #47BCFF;
}

span > input[type="text"] {
    color: inherit;
}

.section-body input[type="text"] {
    margin-left: .5rem;
    margin-bottom: 1rem;
}

.section-body label input[type="text"] {
    margin-bottom: 0;
}


/* Textarea */
textarea {
    width: 100%;
    height: 100%;
    padding: 1rem;
    background-color: #F3F3F3;
    resize: none;
    border: none;
    user-select: text;
    -moz-user-select: text;
}

.textarea-label {
    width: 100%;
    height: 100%;
    margin: 0;
}


/* Labels */
label {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

label > span:before {
    content: "";
    display: inline-block;
    position: relative;
    top: .35rem;
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
    background-color: #FFFFFF;
    border: .2rem solid #D3D3D3;
    transition: background-color .2s, border-color .2s;
}

label :checked + span:before {
    background-color: #EAF5FF;
    border-color: #47BCFF;
}

.section-body label,
.borderless-section-body label {
    margin-bottom: 1rem;
}

.section-top label {
    margin-right: 2rem;
}


/* Radio button */
input[type=radio] {
    display: none;
}

.radio {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: #FFFFFF;
    border: .2rem solid #D3D3D3;
    cursor: pointer;
    transition: background-color .2s;
}

label input[type="radio"] + span:before {
    border-radius: 50%;
}

label input[type="radio"] + span:after {
    content: "";
    position: absolute;
    height: .7rem;
    width: .7rem;
    border-radius: 50%;
    background-color: #47BCFF;
    transform: translate(-2.35rem, 1.01rem);
    transition: opacity .2s;
    opacity: 0;
}

label input[type="radio"]:checked + span:after {
    opacity: 1;
}


/* Checkbox */
input[type=checkbox] {
    display: none;
}

.checkbox {
    position: relative;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    background-color: #FFFFFF;
    border: .2rem solid #D3D3D3;
    transition: border-color .2s;
}

label input[type="checkbox"] + span:after {
    content: "";
    position: absolute;
    height: .6rem;
    width: 1.2rem;
    border-left: .2rem solid #47BCFF;
    border-bottom: .2rem solid #47BCFF;
    transform: rotate(-45deg) translate(-2.5rem, -1.2rem);
    transition: opacity .2s;
    opacity: 0;
}

label input[type="checkbox"]:checked + span:after {
    opacity: 1;
}


/* Button */
.button,
.important-button,
.help-button {
    display: inline-flex;
    align-items: center;
    width: max-content;
    height: 3rem;
    padding: .9rem 1.5rem 1rem 1.5rem;
    border-radius: 3rem;
    border: .1rem solid #47BCFF;
    background-color: #F3F3F3;
    cursor: pointer;
    transition: color .2s, border-color .2s, background-color .2s, opacity .5s;
}

.button:hover {
    color: #47BCFF;
    background-color: #EAF5FF;
    border-color: #47BCFF;
}

.button:hover > h3 {
    color: inherit;
}

.important-button {
    background-color: #47BCFF;
    border-color: #47BCFF;
    color: #FFFFFF;
}

.important-button:hover {
    background-color: #EAF5FF;
    color: #47BCFF;
}

.help-button {
    border-color: #ff8447;
}

.help-button:hover {
    color: #ff8447;
    background-color: #fff2ea;
    border-color: #ff8447;
}

.section-top .button {
    margin-left: 1rem;
}

.section-top h3 + .button {
    margin-left: 0;
}

.section-body .button {
    margin: 0 0 .5rem .5rem;
}


/* Tooltip */
.lexos-tooltip {
    z-index: 3;
    position: absolute;
    word-break: break-word;
    width: 35rem;
    padding: 1rem;
    overflow-y: auto;
    transform: translate(3rem, 0);
    background-color: #FFFFFF;
    border: 1rem solid #fff2ea;
}

.right-edge-tooltip {
    transform: translate(-33rem, 3rem);
}

.tooltip-button {
    color: #d17a40;
    display: inline-flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    margin-left: .5rem;
    font-size: 1.3rem;
    background-color: #fff2ea;
    border-radius: 50%;
    border: .1rem solid #d17a40;
    transition: color .2s, background-color .2s;
}

.tooltip-button:hover,
.tooltip-button-active {
    color: #ff8447;
    background-color: #fad3ad;
}


/* Plotly */
.plotly-notifier {
    display: none;
}
