.lexos-table {
    display: grid;
    grid-template-rows: max-content auto;
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    background-color: #FFFFFF;
}

.lexos-table-title {
    padding: 1rem;
    color: #47BCFF;
}

.lexos-table-head-cell,
.lexos-table-cell {
    min-height: 4rem;
    padding: 1rem;
    word-break: break-all;
    overflow: hidden;
}

.lexos-table-head-cell {
    color: #47BCFF;
}

.selected-cell {
    background-color: #EAF5FF;
    transition: background-color .2s;
}

.lexos-table-body {
    overflow-x: visible;
    overflow-y: auto;
    overflow-y: overlay;
}

.lexos-table-head,
.lexos-table-row {
    display: grid;
    grid-auto-columns: minmax(20rem, 1fr);
    grid-auto-flow: column;
}

.lexos-table-row {
    margin-bottom: 1rem;
}

.lexos-table-row:last-child {
    margin-bottom: 0;
}

.lexos-table-cell {
    background-color: #F3F3F3;
}
