/* Table */
.lexos-table {
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    height: 100%;
    background-color: #FFFFFF;
}


/* Top */
.lexos-table-top,
.lexos-table-bottom {
    display: grid;
    grid-auto-flow: column;
    align-content: center;
    justify-items: center;
    min-height: 3rem;
    margin: 1rem;
}

.lexos-table-top :last-child,
.lexos-table-bottom :last-child {
    justify-self: right;
}

.lexos-table-top :first-child,
.lexos-table-bottom :first-child {
    justify-self: left;
}

.lexos-table-top h3,
.lexos-table-top label {
    margin-right: 1rem;
}

.lexos-table .important-button {
    margin-right: 1rem;
}

.lexos-table-title {
    color: #47BCFF;
}

.lexos-table-top input[type="text"] {
    width: 20rem;
}


/* Content */
.lexos-table-content {
    display: grid;
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}


/* Head */
.lexos-table-head-cell,
.lexos-table-cell {
    min-height: 4rem;
    padding: 1rem;
    word-break: break-all;
    overflow: hidden;
}

.lexos-table-head-cell {
    color: #47BCFF;
}

.selected-cell {
    background-color: #EAF5FF;
    transition: background-color .2s;
}


/* Body */
.lexos-table-body {
    overflow-x: visible;
    overflow-y: auto;
    overflow-y: overlay;
    min-width: min-content;
    height: 100%;
}

.lexos-table-head,
.lexos-table-row {
    display: grid;
    grid-auto-columns: minmax(20rem, 1fr);
    grid-auto-flow: column;
}

.lexos-table-row {
    margin-bottom: 1rem;
}

.lexos-table-row:last-child {
    margin-bottom: 0;
}

.lexos-table-cell {
    background-color: #F3F3F3;
}


/* Bottom */
.lexos-table-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 3rem;
    margin: 1rem;
}

.lexos-table-bottom input {
    margin: 0 1rem 0 1rem;
}

.lexos-table-page-number {
    margin: 0 .5rem 0 .5rem;
}

.lexos-table-navigation-buttons span {
    margin-left: 1rem;
}
