/* Main section */
#main-section {
    min-width: 125rem;
}


/* Graph section top */
#font-input {
    width: 15rem;
}

#term-count-input {
    width: 7rem;
}

#graph-section-top {
    display: grid;
    grid-auto-flow: column;
}


/* Tooltip */
.visualize-tooltip {
    z-index: 1;
    pointer-events: none;
    position: absolute;
    white-space: nowrap;
    padding: 1rem;
    background: #FFFFFF;
    border: 1rem solid #EAF5FF;
    opacity: 0;
    transition: opacity .2s;
}
