/* Main section */
#main-section {
    min-width: 125rem;
}


/* Graph section top */
#font-input {
    width: 15rem;
}

#term-count-input {
    width: 7rem;
}

#graph-section-top {
    display: grid;
    grid-template-columns: .5fr 1fr 1fr 1fr 1.2fr;
}
