{% extends "base.html" %}

{% block section_head %}
    <script type="text/javascript"
            src="{{ url_for('static', filename='js/scripts_analyze.js') }}?ver={{ version }}"></script>
    <meta id="manage-url" data-url="{{ url_for('manage.manage') }}">
    <meta id="upload-url" data-url="{{ url_for('upload.upload') }}">
    <meta id="num-active-files" data-number="{{ labels|len }}">
    <meta id="session-cull-number"
          data-number="{{ session['analyoption']['cullnumber'] }}">
{% endblock %}

{% block content %}
    <!-- Loading Icon -->
    <div id="status-analyze">
        <i class="fa fa-spinner fa-spin fa-2x fa-fw"
           style="color: #0068AF;"></i>
        <span class="sr-only">Loading...</span>
    </div>

    <!-- Top Row -->
    <div class="row">

        <!-- Left Column - Analyze-Options -->
        <div id="analyze-options" class="col-md-5">
            {% block options %}{% endblock %}
        </div>

        <!-- Right Column - Analyze-Advanced -->
        <div id="analyze-advanced" class="col-md-7">
            <!-- Analyze-Advanced Row 1 -->
            <div class="row">
                <!-- Analyze-Advanced Left Column -->
                <div class="col-md-5">
                    <!-- Tokenize-Options -->
                    <fieldset class="analyze-advanced-options"
                              id="tokenize-options">
                        <legend id="tokenize-title" style="width:220px;">
                            Tokenize
                            <i class="fa fa-question-circle lexos-tooltip-trigger"
                               data-toggle="tooltip" data-html="true"
                               data-placement="right" data-container="body"
                               title="Divide the text into n-grams (by tokens or characters) of
                                      the desired length.">
                            </i>
                        </legend>
                        <div class="row" id="tokenize-input">
                            <div class="col-md-12" id="tokenize-size-input">
                                <table>
                                    <tr>
                                        <td style="width:100px;vertical-align:top;">
                                            <label for="tokenSize"></label>
                                            <input type="number" id="tokenSize"
                                                   name="tokenSize"
                                                   min="1" max="5" step="1"
                                                   style="width:45px;height:32px;"
                                                   value="{{ session['analyoption']['tokenSize'] }}"/>
                                            gram
                                        </td>
                                        <td>
                                            <label>
                                                by Tokens
                                                <input type="radio"
                                                       name="tokenType"
                                                       id="tokenByWords"
                                                       value="word" checked/>
                                            </label>
                                            <br>
                                            <label>
                                                by Characters
                                                <input type="radio"
                                                       name="tokenType"
                                                       value="char" {{ 'checked' if session['analyoption']['tokenType'] == 'char' }}/>
                                            </label>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </fieldset>
                </div>

                <!-- Analyze-Advanced Right Column -->
                <div class="col-md-7">
                    <!-- Fieldsets - Normalize-Options -->
                    <fieldset class="analyze-advanced-options"
                              id="normalize-options" style="width:300px;">
                        <legend id="normalize-title">Normalize
                            <i class="fa fa-question-circle lexos-tooltip-trigger"
                               data-toggle="tooltip" data-html="true"
                               data-placement="right" data-container="body"
                               title="Alter how terms are counted, by raw (absolute) counts,
                                      by proportional frequencies (to account for document length), or by TF-IDF weighted counts.">
                            </i>
                        </legend>

                        <div class="normalize-div" id="normalize-radios">
                            <label>Proportional Counts
                                <input type="radio" id="normalizeTypeFreq"
                                       name="normalizeType" value="freq"
                                       checked/>
                            </label>
                            <br>
                            <label>Raw Counts
                                <input type="radio" id="normalizeTypeRaw"
                                       name="normalizeType"
                                       value="raw" {{ 'checked' if session['analyoption']['normalizeType'] == 'raw' }}/>
                            </label>
                            <br>

                            <label>Weighted Counts (TF-IDF)
                                <i class="fa fa-question-circle lexos-tooltip-trigger"
                                   data-toggle="popover" data-html="true"
                                   data-placement="right" data-container="body"
                                   data-content='Normalize the data for different
                                                 document lengths using <a href="https://en.wikipedia.org/wiki/Tf%E2%80%93idf" target="_blank">
                                                 Term Frequency-Inverse Document Frequency (TF-IDF)</a>.
                                                 Selecting TF-IDF allows you to choose the distance metric
                                                 according to which each document vector is normalized.
                                                 Lexos uses base <em>e</em> (natural log) as the default.'>
                                </i>
                                <br>
                                <input type="radio" id="normalizeTypeTFIDF"
                                       name="normalizeType"
                                       value="tfidf" {{ 'checked' if session['analyoption']['normalizeType'] == 'tfidf' }}/>
                                <br>
                                <span id="tfidfspan">
                                    <label>Euclidean Distance
                                        <input type="radio" name="norm"
                                               value="l2" checked/>
                                    </label>
                                    <br>
								    <label>Manhattan Distance
                                        <input type="radio" name="norm"
                                               value="l1" {{ 'checked' if session['analyoption']['norm'] == 'l1' }}/>
                                    </label>
                                    <br>
								    <label>Norm: None
                                        <input type="radio" name="norm"
                                               value="None" {{ 'checked' if session['analyoption']['norm'] == 'None' }}/>
                                    </label>
							    </span>
                            </label>
                        </div>
                    </fieldset>
                </div>
            </div>
            <!-- End Analyze-Advanced Row 1 -->

            <!-- Analyze-Advanced Row 2 -->
            <div class="row">
                <!-- Analyze-Advanced Left Column -->
                <div class="col-md-5">
                    <!-- Fieldsets - Culling-Options -->
                    <fieldset class="analyze-advanced-options"
                              id="culling-options">
                        <legend class="has-chevron" id="culling-title"
                                style="width:220px;">
                            Culling Options
                            <i class="fa fa-question-circle lexos-tooltip-trigger"
                               data-toggle="tooltip" data-html="true"
                               data-placement="right" data-container="body"
                               title="Place statistical
                                      bounds on the terms included in the DTM using Culling Options.">
                            </i>
                            <span class="fa fa-chevron-right rotate {{ 'showing' if session['analyoption']['mfwcheckbox'] == True or session['analyoption']['cullcheckbox'] == True }}"
                                  id="cullingOptsChev"
                                  data-target="#cullingOptsPanel"
                                  aria-expanded="false"
                                  aria-controls="cullingOptsPanel">
                            </span>
                        </legend>
                        <div class="collapse" id="cullingoptsdiv">
                            <div aria-expanded="true" class="collapse in"
                                 id="cullingOptsPanel"
                                 style="display: {{ 'block' if session['analyoption']['mfwcheckbox'] == True or session['analyoption']['cullcheckbox'] == True }}">
                                <label>Most Frequent Words<i
                                        class="fa fa-question-circle lexos-tooltip-trigger"
                                        data-toggle="tooltip" data-html="true"
                                        data-placement="right"
                                        data-container="body"
                                        title="Use only the most frequently occurring terms in the DTM."
                                        style="padding-left:4px;"></i>
                                    <input type="checkbox" id="MFW"
                                           name="mfwcheckbox" {{ 'checked' if session['analyoption']['mfwcheckbox'] }}/>
                                </label>

                                <span id="mfwnumber-input">
                                    <label>Use top
                                        <input type="number" name="mfwnumber"
                                               id="mfwnumber" min="1"
                                               style="width:60px;" step="1"
                                               value="{{ session['analyoption']['mfwnumber'] }}"/>
                                        terms
                                    </label>
                                </span>

                                <label>Culling
                                    <i class="fa fa-question-circle lexos-tooltip-trigger"
                                       data-toggle="tooltip" data-html="true"
                                       data-placement="right"
                                       data-container="body"
                                       title="Set the minimum number of documents in
                                              which terms must occur to be included in the DTM."
                                       style="padding-left:4px;"></i>
                                    <input type="checkbox" id="culling"
                                           name="cullcheckbox" {{ 'checked' if session['analyoption']['cullcheckbox'] }}/>
                                </label>

                                <span id="cullnumber-input">
                                    <label>Must be in
                                        <input type="number" name="cullnumber"
                                               id="cullnumber" step="1"
                                               style="width:50px;" min="1"
                                               max="{{ numActiveDocs }}"
                                               value="{{ numActiveDocs }}"/>
                                        documents
                                    </label>
                                </span>
                            </div>
                        </div>
                    </fieldset>
                </div>

                <!-- Analyze-Advanced Left Column -->
                <div class="col-md-7">
                    <!-- Fieldsets - Temp-Label-Div -->
                    <fieldset class="analyze-advanced-options"
                              id="temp-label-div" style="width:300px;">
                        <legend id="assign-title" class="has-chevron">Assign
                            Temporary Labels
                            <i class="fa fa-question-circle lexos-tooltip-trigger"
                               data-toggle="tooltip" data-html="true"
                               data-placement="right" data-container="body"
                               title="Assign temporary names to documents for use
                                      in tables and graphs produced by the Lexos
                                      tools that use the Tokenize, Normalize, and Culling options."
                               style=""></i>
                            <span class="fa fa-chevron-right rotate"
                                  id="assignLabelsChev"
                                  data-target="#tempLabelPanel"
                                  aria-expanded="false"
                                  aria-controls="tempLabelPanel"></span>
                        </legend>
                        <div class="collapse" id="modifylabels"
                             style="overflow:auto;width:100%;">
                            <div style="" aria-expanded="true"
                                 class="collapse in" id="tempLabelPanel">
                                {% if labels|len == 0 %}
                                    <span id="no-labels">No Documents are Selected</span>
                                {% else %}
                                    <table style="width:100%;border:none;">
                                        {% for fileID, label in labels.items() %}
                                            <tr>
                                                <td style="width:30px;">{{ loop.index }}</td>
                                                <td>
                                                    <label for="{{ fileID }}"></label>
                                                    <input type="text"
                                                           class="filenames"
                                                           name="file_{{ fileID }}"
                                                           id="{{ fileID }}"
                                                           value="{{ request.form['file_'+(fileID|str)] or label }}"
                                                           style="min-width:240px;height:32px;">
                                                </td>
                                            </tr>
                                        {%- endfor %}
                                    </table>
                                {% endif %}
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
        <!-- End Right Column - Analyze-Advanced -->
    </div>
    <!-- End Top Row -->

    <!-- Analyze-Results Row -->
    <div id="analyze-results" class="row col-md-12 col-lg-12">
        {% block results %}{% endblock %}
    </div>
    <!-- End Analyze-Results Row -->

{% endblock %}
<!-- End Block Content -->
