<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>Lexos</title>

	{%- set version = 3.2 %}

	<meta http-equiv="cache-control" content="max-age=0" />
	<meta http-equiv="expires" content="0" />
	<meta http-equiv="pragma" content="no-cache" />

    <!-- === jQuery Core === -->
	{% if config['LOCAL_MODE'] == True %}
    <script type="text/javascript" src="{{ url_for('static', filename='node_modules/jquery/dist/jquery.min.js') }}?ver={{version}}"></script>
	{% else %}
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	{% endif %}

	<!-- === Load jQuery UI only for selected pages === -->
	{% set needs_jQuery_ui = ['wordcloud', 'multicloud'] -%}
	{% if active_page in needs_jQuery_ui %}
		{% if config['LOCAL_MODE'] == True %}
		<link rel="stylesheet" href="{{ url_for('static', filename='node_modules/jquery-ui/themes/base/jquery-ui.min.css') }}?ver={{version}}">
	    <script type="text/javascript" src="{{ url_for('static', filename='node_modules/jquery-ui/jquery-ui.min.js') }}?ver={{version}}"></script>
		{% else %}
		<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
		<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
		{% endif %}
	{% endif %}

	<!-- === Load d3.js only for selected pages === -->
	{% set needs_d3 = ['wordcloud', 'multicloud', 'viz', 'kmeans', 'rollingwindow'] -%}
	{% if active_page in needs_d3 %}
		{% if config['LOCAL_MODE'] == True %}
	    <script type="text/javascript" src="{{ url_for('static', filename='node_modules/d3/d3.min.js') }}?ver={{version}}"></script>
		{% else %}
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
		{% endif %}
	{% endif %}

    <!-- === Bootstrap === -->
	{% if config['LOCAL_MODE'] == True %}
	<link rel="stylesheet" href="{{ url_for('static', filename='node_modules/bootstrap/dist/css/bootstrap.min.css') }}?ver={{version}}">
	<script type="text/javascript" src="{{ url_for('static', filename='node_modules/bootstrap/dist/js/bootstrap.min.js') }}?ver={{version}}"></script>
	{% else %}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	{% endif %}

    <!-- === SmartMenus jQuery plugin CSS === -->
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/smartmenus/dist/addons/bootstrap/jquery.smartmenus.bootstrap.css') }}?ver={{version}}"/>
    <script type="text/javascript" src="{{ url_for('static', filename='node_modules/smartmenus/dist/jquery.smartmenus.min.js') }}?ver={{version}}"></script>
    <!-- SmartMenus jQuery Bootstrap Addon -->
    <script type="text/javascript" src="{{ url_for('static', filename='node_modules/smartmenus/dist/addons/bootstrap/jquery.smartmenus.bootstrap.js') }}?ver={{version}}"></script>

    <!-- === Font Awesome === -->
	{% if config['LOCAL_MODE'] == True %}
	<link rel="stylesheet" href="{{ url_for('static', filename='node_modules/font-awesome/css/font-awesome.min.css') }}?ver={{version}}">
	{% else %}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	{% endif %}

	<!-- Lexos Scripts -->
	<script type="text/javascript" src="{{ url_for('static', filename='js/scripts_icons.js') }}?ver={{version}}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/scripts_base.js') }}?ver={{version}}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/scripts_ITM.js') }}?ver={{version}}"></script>

	<!-- Lexos CSS -->
	<link rel="stylesheet" type="text/css" media="all" href="{{ url_for('static', filename='css/style.css') }}?ver={{version}}"/>
	<link rel="stylesheet" type="text/css" media="all" href="{{ url_for('static', filename='css/iconfonts.css') }}?ver={{version}}"/>
	<link rel="stylesheet" type="text/css" media="all" href="{{ url_for('static', filename='css/ITMtabStyles.css') }}?ver={{version}}"/>
    <link rel="stylesheet" type="text/css" media="all" href="{{ url_for('static', filename='css/bootstrap-override.css') }}?ver={{version}}"/>
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}?ver={{version}}"/>

	<script>
	/* Move the banner above the navbar. This function must remain here. */
	$('#topnavbar').affix({
	    offset: {
	        top: $('#banner').height()
	    }
	});
	</script>
	{% block section_head %}{% endblock %}
	{% block head %}{% endblock %}
</head>

<body>
  <a name="page-top"></a>

	<header class="container">
	<input type="hidden" name="current_id" value="{{ session['id'] }}"/>
	<input type="hidden" name="current_version" value="{{ version }}"/>
	<!-- Loading icon -->
    <div id="status"><img src="{{ url_for('static', filename='images/loading_icon.svg') }}?ver={{version}}" alt="Loading..."></div>

    <div id="banner" class="container">
	    <div class="row">
		    <div class="pull-left">
				<h1 id="header-title">
					<a href="{{url_for('base.base')}}" id="titlelink"><span id="titleprefix" data-slug="{{ itm }}">Lexos</span> &#123;{% block title %}{% endblock %}&#125;</a>
					<small>An Integrated Lexomics Workflow</small>
					</h1>
			</div>

			<div class="pull-right">
				<a class="btn" id="bttn-downloadworkspace" href="{{ url_for('base.download_workspace') }}"><i class="fa fa-download fa-lg" style="margin-right:4px;"></i> Workspace</a>

				<a class="btn btn-restart" id="bttn-restart" href="{{ url_for('base.reset') }}"><i class="fa fa-repeat fa-lg" style="margin-right:4px;"></i> Reset</a>

				<a class="btn" id="bttn-cog" data-toggle="modal" data-target="#settings-modal" data-slug="best-practices" data-type="dialog" href="#"><i class="fa fa-cog fa-lg"></i></a>
			</div>
		</div>
    </div>

	<!-- Static navbar -->
	<div class="container navbar navbar-fixed-static navbar-lexos" role="navigation" id="topnavbar">
	    <div class="navbar-header">
	        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	          <span class="sr-only">Toggle navigation</span>
	          <div class="icon-bar"></div>
	          <span class="icon-bar"></span>
	          <span class="icon-bar"></span>
	        </button>
	    </div>

	    <div class="navbar-collapse collapse">
		    <!-- Left nav -->
		    <ul class="nav navbar-nav">
		      <li{% if active_page == 'upload' %} class="active"{% endif
  %}><a href="{{ url_for('upload.upload') }}">Upload</a></li>
		      <li{% if active_page == 'manage' %} class="active"{% endif
  %}><a href="{{ url_for('manage.manage') }}">Manage</a></li>
		      <li{% if active_page == 'scrub' or active_page == 'cut' or active_page == 'tokenizer' %} class="active"{% endif
  %}><a href="#">Prepare <span class="caret"></span></a>
		        <ul class="dropdown-menu">
		          <li><a href="{{ url_for('scrubber.scrub') }}">Scrub</a></li>
		          <li><a href="{{ url_for('cutter.cut') }}">Cut</a></li>
		          <li><a href="{{ url_for('tokenizer.tokenizer') }}">Tokenize/Count</a></li>
		        </ul>
		      </li>
		      <li{% if active_page == 'wordcloud' or active_page == 'multicloud' or active_page == 'viz' or active_page == 'rollingwindow' %} class="active"{% endif %}><a href="#">Visualize <span class="caret"></span></a>
		        <ul class="dropdown-menu">
		          <li><a href="{{ url_for('word_cloud.word_cloud') }}">Word Cloud</a></li>
		          <li><a href="{{ url_for('multi_clouds.multi_cloud') }}">Multicloud</a></li>
		          <li><a href="{{ url_for('viz.viz') }}">BubbleViz</a></li>
		          <li><a href="{{ url_for('rowlling_windows.rolling_window') }}">Rolling Windows</a></li>
		        </ul>
		      </li>
	          <li{% if active_page == 'statistics' or active_page == 'hierarchy' or active_page == 'kmeans' or active_page == 'similarity' or active_page == 'topword' %} class="active"{% endif %}><a href="#">Analyze <span class="caret"></span></a>
	            <ul class="dropdown-menu">
	              <li><a href="{{ url_for('statistics.statistics') }}">Statistics</a></li>
	              <li><a href="#">Clustering <span class="caret caret-right"></span></a>
	                <ul class="dropdown-menu">
	                  <li><a href="{{ url_for('dendrogram.dendrogram') }}">Hierarchical Clustering</a></li>
	                  <li><a href="{{ url_for('k_means.k_means') }}">K-Means Clustering</a></li>
	                </ul>
	              </li>
	              <li><a href="{{ url_for('sim_query.similarity') }}">Similarity Query</a></li>
	              <li><a href="{{ url_for('top_words.top_words') }}">Topwords</a></li>
                    <li><a href="{{ url_for('content_analysis.content_analysis') }}">Content Analysis</a></li>
	            </ul>
	          </li>
		    </ul>

		    <!-- Right nav -->
<!-- 			<ul class="nav navbar-nav navbar-right">
		    	<li></li>
		    </ul>	 -->
			<ul class="nav navbar-nav navbar-pills navbar-right">
            <a href="{{ url_for('manage.manage') }}">
					{% if numActiveDocs is not defined %}
					{% set numActiveDocs = 0 %}
					{% endif %}
					<i id="numActiveDocs-{{ numActiveDocs }}" class="fa fa-folder-open-o fa-2x" style="color:white;cursor:pointer;padding-top:10px;{% if numActiveDocs > 0 %}display:block;{% else %}display:none {% endif %}" data-toggle="tooltip" data-placement="bottom" data-container="body" title="You have {{ numActiveDocs }} active document(s)."></i>


            </a>


			</ul>

		</div><!--/.nav-collapse -->
	</div><!--/.container -->
	</header>

	<!-- Begin Main Content -->
	<main class="container">
		<form method="POST" enctype="multipart/form-data">
			{% block content %}
			<!-- Default content -->
			{% endblock %}
		</form>
	</main>

	<footer class="container">
		<span id="aboutus">

			<a href="http://lexos.wheatoncollege.edu/" target="_blank">Lexos v{{version}}</a>
			© 2017

			<a href="http://lexomics.wheatoncollege.edu" target="_blank">Lexomics Research Group</a>
			 ·
			<a href="http://wheatoncollege.edu/" target="_blank">Wheaton College</a>
                (Norton, MA)

		</span>
        <div id= "twitter"> <a href="https://twitter.com/intent/tweet?screen_name=Lexomics" class="twitter-mention-button" data-related="Lexomics">Tweet to @Lexomics</a> <script>$(document).ready(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs'));</script><br><a href="https://urldefense.proofpoint.com/v2/url?u=https-3A__docs.google.com_a_wheatoncollege.edu_forms_d_e_1FAIpQLSddEsRE2PcserYwcjtNpBAMF-2DYRKVrL4H4LtWDxHeNKoVVxcA_viewform&d=CwMCaQ&c=Oo8bPJf7k7r_cPTz1JF7vEiFxvFRfQtp-j14fFwh71U&r=fkkkcAta9tNbJT0GbA-b8fBT5Vx0day25Z1KcBOKxKQ&m=pvw58nUgCb4t3z5cj9Zj2XFIXgBppHEM8aQoOb5vqpA&s=ZxoSL8vQIBP526hKabavc3SaECtb_M8nMnjGHo6MiSk&e=" target="_blank">Feedback and Support</a>
		</div>
            <span id="license">
			This site is licensed under the <a href="http://opensource.org/licenses/MIT">MIT License</a>.<br>
				<a href="http://www.neh.gov/" target="_blank" style="border:none;">
				<!-- image 252 x 62 -->
			<img src="{{ url_for('static', filename='images/neh_logo_horizontal_rgb.jpg') }}"
				 alt="Funded with support from the National Endowment for the Humanities" style="width:126px;height:31px;">
			</a>
		</span>
</footer>

    <!-- Settings Dialog -->
	<div class="modal fade" id="settings-modal" tabindex="-1" role="dialog" aria-labelledby="settings-modalLabel">
	  <div class="modal-dialog modal-lg" role="document">
	    <div class="modal-content panel-primary">
	      <div class="modal-header panel-heading">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="settings-modalLabel">About Lexos</h4>
	      </div>
	      <div class="modal-body" style="max-height: calc(100vh - 210px); overflow-y: auto;">
	      	<p>Lexos is a web-based tool designed for transforming, analyzing, and visualizing texts. Lexos is designed for use primarily with small to medium-sized text collections, and especially for use with ancient languages and languages that do not employ the Latin alphabet. Lexos was created as an entry-level platform for Humanities scholars and students new to computational techniques while providing tools and techniques sophisticated enough for advanced research. <a href="http://scalar.usc.edu/works/lexos" target="_blank">Read more...</a></p>
	      	<p>The Lexos Manual can be found in its <a href="http://scalar.usc.edu/works/lexos" target="_blank"><em>In the Margins</em></a> component, which can be accessed by clicking the side panel icon on the left edge of the screen. The <em>In the Margins</em> panel can be accessed anywhere in the Lexos interface, or it can be opened by clicking <a id="cog-toggler" href="#">this link</a>. You can also read <a href="http://scalar.usc.edu/works/lexos" target="_blank"><em>In the Margins</em></a> as a separate "book" on the <a href="http://scalar.usc.edu/scalar/" target="_blank">Scalar</a> web platform. In addition to the "how to" manual, it contains more in-depth discussion and bibliography on issues and best practices in computational stylistics.</p>
	      	<h4>Settings</h4>
	      	<p>Beta functions are new features in Lexos which are not yet fully tested. If you enable them, the functions will become visible in the Lexos interface. But please use them with caution.</p>
	      	<form id="settingsform">
		      	<label id="beta_on" for="beta_onbox">
				    <input type="checkbox" name="beta_onbox" id="beta_onbox" {{ "checked" if session['generalsettings']['beta_onbox'] }}> Use Beta functions
				</label>
			</form>
	      </div>
	      <div class="modal-footer">
	        <button type="button" id="savesettings" class="btn btn-default" data-dismiss="modal">Save Settings</button>
	        <button type="button" id="closesettings" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>

    <!-- In the Margins Dialog -->
	<div class="modal fade" id="ITM-modal" tabindex="-1" role="dialog" aria-labelledby="ITM-modalLabel">
	  <div class="modal-dialog modal-lg" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="ITM-modalLabel"><em>In the Margins</em></h4>
	      </div>
	      <div class="modal-body" style="max-height: calc(100vh - 210px); overflow-y: auto;">
	      	<label id="beta_on" for="beta_onbox">
			    <input type="checkbox" name="beta_onbox" id="beta_onbox" {# "checked" if session['general_settings']['beta_on'] #}> Use Beta functions
			</label>
	      	<div id="dialog-status"><img src="{{ url_for('static', filename='images/loading_icon.svg') }}?ver={{version}}" alt="Loading..."></div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        <!-- <button id="show-video" type="button" class="btn btn-primary">Show Video</button> -->
	      </div>
	    </div>
	  </div>
	</div>

	<!-- Error Modal -->
	<div id="error-modal" class="modal fade" role="dialog">
	  <div class="modal-dialog modal-sm">
	    <!-- Modal content-->
	    <div class="modal-content panel-danger">
	      <div class="modal-header panel-heading">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <h4 class="modal-title">Error!</h4>
	      </div>
	      <div class="modal-body">
	      	<p id="error-modal-message">You have no active documents. Please activate at least one document using the <a href="{{ url_for("manage.manage") }}">Manage</a> tool or <a href="{{ url_for("upload.upload") }}">upload</a> a new document.</p>
	      </div>
	    </div>
	  </div>
	</div>

	<!-- Warning Modal -->
	<div id="warning-modal" class="modal fade" role="dialog">
	  <div class="modal-dialog modal-lg">
	    <!-- Modal content-->
	    <div class="modal-content panel-warning">
	      <div class="modal-header panel-heading">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <h4 class="warning-modal-title">Warning!</h4>
	      </div>
	      <div id="warning-modal-body" class="modal-body">
	      	<p id="warning-modal-message"></p>
	      </div>
	      <div id="warning-modal-footer" class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
	      </div>
	    </div>
	  </div>
	</div>

	<!-- Error Message -->
    <span id="error-message"></span>

	<!-- End Container -->

	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-42990457-1']);
		_gaq.push(['_trackPageview']);

		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	</script>
  <!-- In the Margins Panel -->
  <div id="ITMPanel" class="container sidebar sidebar-left" style="width:500px;position:absolute;left:-500px;">
	<div id="ITMPanel-itm-content" data-slug="{{ itm }}" data-type="panel" data-status="closed" style="max-height:99%;overflow-y:auto;">
		<div class="row" style="padding: 0 !important;margin: 0 !important;">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg1-12" data-side="" style="padding: 0 !important;margin: 0 !important;">
				<div id="itm-header" style="padding:2px 20px;"><h3>In the Margins</h3></div>
				<div id="itm-content" style="padding:2px 20px;"></div>
				<div id="panel-status"><img src="{{ url_for('static', filename='images/loading_icon.svg') }}?ver={{version}}" alt="Loading..."></div>
			</div>
		</div>
	</div>
	<div id="toggler" class="toggler">
		<span class="glyphicon glyphicon-chevron-right" style="display:block;">&nbsp;</span> <span class="glyphicon glyphicon-chevron-left" style="display:none;">&nbsp;</span>
	</div>
  </div>
  <!--/In the Margins Panel  -->

</body>
</html>
