{% extends "base.html" %}

{% block section_head %}{% endblock %}

{% block content %}
	<div id="status-visualize"><img src="{{ url_for('static', filename='images/loading_icon.svg') }}?ver={{version}}" alt="Loading..."></div>
<div class="row" id="visualize-options">
	<div class="col-md-12">{% block options %}{% endblock %}</div>
</div>
<div class="row" id="visualize-submit">
	{% block submit %}<div class="col-md-12"></div>{% endblock %}
</div>
<div class="row" id="visualize-results" style="margin-top:20px;">
	<div class="col-md-12">{% block results %}{% endblock %}</div>
</div>
{% endblock %}