{% extends "base_analyze.html" %}
{% set active_page = 'bct_analysis' %}

{% block head %}
    <script type="module"
            src="{{ url_for('static', filename='js/scripts_bct.js') }}?ver={{ version }}"></script>
{% endblock %}

{% block title %}Bootstrap Consensus Tree{% endblock %}


{% block options %}
    <fieldset>
        <legend>
            BCT Options
            <i class="fa fa-question-circle lexos-tooltip-trigger"
               data-toggle="tooltip" data-html="true"
               data-placement="right" data-container="body"
               title="This is the beta version of this tool. Thank you for being our first testers!"
               style="padding-left:4px; font-size:18px; color:orangered">
            </i>
        </legend>
        <div id="bct-options">
            <label for="metric">Distance Metric:
                <select name="metric" id="metric">
                    <option value="euclidean" {{ 'selected' if session['bctoption']['metric'] == 'euclidean' }}>
                        Euclidean
                    </option>
                    <option value="minkowski" {{ 'selected' if session['bctoption']['metric'] == 'minkowski' }}>
                        Minkowski
                    </option>
                    <option value="cityblock" {{ 'selected' if session['bctoption']['metric'] == 'cityblock' }}>
                        Manhattan
                    </option>
                    <option value="seuclidean" {{ 'selected' if session['bctoption']['metric'] == 'seuclidean' }}>
                        Standardized Euclidean
                    </option>
                    <option value="sqeuclidean" {{ 'selected' if session['bctoption']['metric'] == 'sqeuclidean' }}>
                        Squared Euclidean
                    </option>
                    <option value="cosine" {{ 'selected' if session['bctoption']['metric'] == 'cosine' }}>
                        Cosine
                    </option>
                    <option value="correlation" {{ 'selected' if session['bctoption']['metric'] == 'correlation' }}>
                        Correlation
                    </option>
                    <option value="hamming" {{ 'selected' if session['bctoption']['metric'] == 'hamming' }}>
                        Hamming
                    </option>
                    <option value="chebyshev" {{ 'selected' if session['bctoption']['metric'] == 'chebyshev' }}>
                        Chebyshev
                    </option>
                    <option value="jaccard" {{ 'selected' if session['bctoption']['metric'] == 'jaccard' }}>
                        Jaccard
                    </option>
                    <option value="canberra" {{ 'selected' if session['bctoption']['metric'] == 'canberra' }}>
                        Canberra
                    </option>
                    <option value="braycurtis" {{ 'selected' if session['bctoption']['metric'] == 'braycurtis' }}>
                        Braycurtis
                    </option>
                    <option value="yule" {{ 'selected' if session['bctoption']['metric'] == 'yule' }}>
                        Yule
                    </option>
                    <option value="matching" {{ 'selected' if session['bctoption']['metric'] == 'matching' }}>
                        Matching
                    </option>
                    <option value="dice" {{ 'selected' if session['bctoption']['metric'] == 'dice' }}>
                        Dice
                    </option>
                </select>
                <i class="fa fa-question-circle lexos-tooltip-trigger"
                   data-toggle="popover" data-html="true"
                   data-placement="right" data-container="body"
                   data-content="Different methods for measuring the distance (differences) between documents. See <a href='http://scalar.usc.edu/works/lexos/choosing-a-distance-metric' target='_blank'>Choosing a distance metric.</a>"
                   style="padding-left:4px;font-size:18px;">
                </i>
            </label>

            <label for="linkage">Linkage Method:
                <select name="linkage" id="linkage">
                    <option value="average" {{ 'selected' if session['bctoption']['linkage'] == 'average' }}>
                        Average
                    </option>
                    <option value="single" {{ 'selected' if session['bctoption']['linkage'] == 'single' }}>
                        Single
                    </option>
                    <option value="complete" {{ 'selected' if session['bctoption']['linkage'] == 'complete' }}>
                        Complete
                    </option>
                    <option value="weighted" {{ 'selected' if session['bctoption']['linkage'] == 'weighted' }}>
                        Weighted
                    </option>
                    <option value="centroid" {{ 'selected' if session['bctoption']['linkage'] == 'centroid' }}>
                        Centroid
                    </option>
                </select>
                <i class="fa fa-question-circle lexos-tooltip-trigger"
                   data-toggle="tooltip" data-html="true"
                   data-placement="right" data-container="body"
                   title="Linkage is the method used to determine when documents and/or other sub-clusters should be joined into new clusters."
                   style="padding-left:4px;font-size:18px;">
                </i>
            </label>

            <label for="cutoff">Majority rule consensus cutoff:
                <input type="number" name="cutoff" id="cutoff"
                       step="0.01" min="0" max="1"
                       value="{{ session['bctoption']['cutoff'] }}">
                <i class="fa fa-question-circle lexos-tooltip-trigger"
                   data-toggle="tooltip" data-html="true"
                   data-placement="right" data-container="body"
                   title="0.5 means that if two file want to stay in the same cluster in the result, they have to stick together in the same cluster more than 50% times of all iterations."
                   style="padding-left:4px; font-size:18px">
                </i>
            </label>

            <label for="iterations">Number of bootstrap iterations:
                <input type="number" name="iterations" id="iterations"
                       step="1" min="20" max="200"
                       value="{{ session['bctoption']['iterations'] }}">
                <i class="fa fa-question-circle lexos-tooltip-trigger"
                   data-toggle="tooltip" data-html="true"
                   data-placement="right" data-container="body"
                   title="100 means that the Doc-Term Matrix will be iterated 100 times, and each time 80% data within it will be picked with/without replacement."
                   style="padding-left:4px; font-size:18px">
                </i>
            </label>

            <label for="linkage">Sample each iteration
                <select name="linkage" id="linkage" style="width: 75px">
                    <option value="with" {{ 'selected' if session['bctoption']['sampling'] == 'with' }}>
                        with
                    </option>
                    <option value="without" {{ 'selected' if session['bctoption']['sampling'] == 'without' }}>
                        without
                    </option>
                </select>
                replacement.
                <i class="fa fa-question-circle lexos-tooltip-trigger"
                   data-toggle="popover" data-html="true"
                   data-placement="right" data-container="body"
                   data-content="Different methods for sampling the Doc-Term Matrix. See <a href='https://www.ma.utexas.edu/users/parker/sampling/repl.htm' target='_blank'>Sampling With/Without Replacement.</a> for more details."
                   style="padding-left:4px;font-size:18px;">
                </i>
            </label>
        </div>
    </fieldset>
{% endblock %}


{% block results %}
    <div class="row submit-button-row">
        <div class="col-md-12 col-lg-12">
            <input class="btn btn-success" id="get-bct" name="get-bct"
                   type="button" value="Get Bootstrap Consensus Tree"/>
        </div>
    </div>
    <div id="bct-result" class="row" style="text-align: center"></div>
{% endblock %}

{% block submit %}

{% endblock %}
