{% extends "base.html" %}
{% set active_page = 'bct_analysis' %}

{% block head %}{% endblock %}
{% block title %}Bootstrap Consensus Tree{% endblock %}

<!-- We have this page set up because scikit-bio library is hard to install on windows.
     Thus if users choose to not to install scikit-bio, we display this page.
     And once scikit-bio better supports windows or an alternative method is
     written, this page should be removed. -->
{% block content %}
    <legend>Missing scikit-bio library!</legend>

    <div class="row col-lg-11 col-md-11" style="padding-left: 30px">
        <ul class="list-group" style="list-style-type:disc">
            <li class="list-group-item-danger">
                We detected that scikit-bio library, which is required by this
                tool, is missing.
            </li>
            <li class="list-group-item-text">
                If you don't want to use this tool, please ignore this message.
                All the other tools in Lexos run fine without this library.
            </li>
            <li class="list-group-item-text">
                If you intend to use this tool, but don't want to go through
                the trouble installing the library, you can visit our
                <a href="http://lexos.wheatoncollege.edu">server</a>.
            </li>
            <li class="list-group">
                If you want to have this tool running on your localhost, you
                can install scikit-learn.
                <ul class="list-group" style="list-style-type:disc">
                    <li class="list-group-item">
                        Mac/Linux users: Run <code>pip install scikit-bio</code>
                    </li>
                    <li class="list-group-item">
                        Windows users: Please follow the instructions on our
                        <a href="https://github.com/WheatonCS/Lexos/wiki/How-to-Install-scikit-bio-on-Windows">Wiki</a>.
                    </li>
                </ul>
            </li>
        </ul>
    </div>
{% endblock %}
