{% extends "analyze-template.html" %}


<!-- Head -->
{% block page_head %}

    <!-- Page JS and CSS -->
    <script type="text/javascript" src="static/js/consensus-tree.js"></script>
    <link rel="stylesheet" type="text/css" href="static/css/consensus-tree.css"/>
{% endblock %}


<!-- Options -->
{% block options %}

    <!-- Consensus tree options -->
    <div id="consensus-tree-options-section" class="section">
        <h3 class="title">Options</h3>
    </div>
{% endblock %}


<!-- Results -->
{% block results %}
    <h3 class="title">Consensus Tree</h3>
{% endblock %}
