{% extends "helpers/analyze-template.html" %}


<!-- Head -->
{% block page_head %}

    <!-- Lexos dependencies -->
    <script type="text/javascript" src="static/js/helpers/popup.js"></script>
    <link rel="stylesheet" type="text/css" href="static/css/helpers/popup.css"/>
    <script type="text/javascript" src="static/js/helpers/tree-options.js"></script>

    <!-- Page JS and CSS -->
    <script type="text/javascript" src="static/js/consensus-tree.js"></script>
    <link rel="stylesheet" type="text/css" href="static/css/consensus-tree.css"/>
{% endblock %}


<!-- Options -->
{% block options %}

    <!-- Options -->
    <div class="section">
        <h3 class="section-top title">Options</h3>
        <div class="section-body vertical-splitter">

            <!-- Left column -->
            <div>

                <!-- Sample with replacement -->
                <label>
                    <input name="replace" type="checkbox"><span></span><span>Sample with replacement</span>
                </label>
                <br>

                <!-- Distance metric -->
                <h3>Distance Metric </h3><h3 id="distance-metric-button" class="button">Euclidean</h3>
                <h3 id="distance-metric-tooltip-button" class="button">?</h3><br>

                <!-- Linkage method -->
                <h3>Linkage Method </h3><h3 id="linkage-method-button" class="button">Average</h3>
                <h3 id="linkage-method-tooltip-button" class="button">?</h3>
            </div>

            <!-- Right column -->
            <div>

                <!-- Cutoff -->
                <div>
                    <h3>Cutoff</h3><input id="cutoff-input" name="cutoff" value="0.5" type="text" spellcheck="false" autocomplete="off">
                    <h3 id="cutoff-tooltip-button" class="button">?</h3><br>
                </div>

                <!-- Iterations -->
                <div>
                    <h3>Iterations</h3><input id="iterations-input" name="iterations" value="100" type="text" spellcheck="false" autocomplete="off">
                    <h3 id="iterations-tooltip-button" class="button">?</h3>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


<!-- Results -->
{% block results %}

    <!-- Consensus tree -->
    <div class="section">

        <!-- Top -->
        <div class="vertical-splitter section-top">
            <h3 class="title">Consensus Tree</h3>
            <div class="right-justified">
                <h3 id="generate-button" class="disabled important-button">Generate</h3>
                <h3 id="download-button" class="disabled button">Download</h3>
            </div>
        </div>

        <!-- Body -->
        <div id="consensus-tree-body" class="section-body centerer"></div>
    </div>
{% endblock %}


<!-- Hidden elements -->
{% block hidden_elements %}
    <input id="distance-metric-input" name="metric" value="euclidean" type="hidden">
    <input id="linkage-method-input" name="linkage" value="average" type="hidden">
{% endblock %}
