{% extends "base.html" %}

<!-- Head -->
{% block head %}

    <!-- Page JS and CSS -->
    <script type="text/javascript" src="static/js/content-analysis.js"></script>
    <link rel="stylesheet" type="text/css" href="static/css/content-analysis.css"/>
{% endblock %}

<!-- Content -->
{% block content %}

    <!-- Settings -->
    <div id="settings-section">

        <!-- Dictionaries -->
        <div id="dictionaries-section" class="section">
            <h3 class="title">Dictionaries</h3>
        </div>

        <!-- Formula -->
        <div id="formula-section" class="section">
            <h3 class="title">Formula</h3>
        </div>
    </div>

    <!-- Results -->
    <div id="results-section" class="borderless-section">
        <h3 class="title">Content Analysis</h3>
    </div>
{% endblock %}
