{% extends "base.html" %}
{% set active_page = 'contentanalysis' %}
{% block title %}Content Analysis{% endblock %}
{% block head %}
  {% if config['LOCAL_MODE'] == True %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='node_modules/datatables.net-bs/css/dataTables.bootstrap.css') }}?ver={{version}}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='node_modules/datatables.net-select-bs/css/select.bootstrap.css') }}?ver={{version}}"/>
    <script type="text/javascript" src="{{ url_for('static', filename='node_modules/datatables.net/js/jquery.dataTables.js') }}?ver={{version}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='node_modules/datatables.net-select/js/dataTables.select.js') }}?ver={{version}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='node_modules/datatables.net-bs/js/dataTables.bootstrap.js') }}?ver={{version}}"></script>
  {% else %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/u/bs/jszip-2.5.0,pdfmake-0.1.18,dt-1.10.12,b-1.2.1,b-html5-1.2.1,b-print-1.2.1,fc-3.2.2,fh-3.1.2,se-1.2.0/datatables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/u/bs/jszip-2.5.0,pdfmake-0.1.18,dt-1.10.12,b-1.2.1,b-html5-1.2.1,b-print-1.2.1,fc-3.2.2,fh-3.1.2,se-1.2.0/datatables.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='node_modules/datatables.net-bs/js/dataTables.bootstrap.js') }}?ver={{version}}"></script>
  {% endif %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/scripts_content_analysis.js') }}?ver={{version}}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/content_analysis.css') }}?ver={{version}}"/>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <p style="color:orangered;">This feature is still in Beta. If you have problems, please <a class="beta" href="https://github.com/WheatonCS/Lexos/issues/new" target="_blank">open an issue</a> on our GitHub site.</p>
    </div>
</div>
    <div class="row">
    <div class="col-md-3">
        <legend id="Dictionaries">
            Dictionaries
            <i class="fa fa-question-circle lexos-tooltip-trigger" data-toggle="tooltip" data-html="true" data-placement="right" data-container="body"
               title="Upload a text file containing a comma separated list of key words and phrases associated with the characteristic to test.
               (e.g. If one is analyzing sentiment, a positive file might include <em>happy, very happy, great, good</em>.)" style="padding-left:4px;font-size:18px;"></i>
        </legend>
        <div class="collapse in" aria-expanded="true" >
            <div class="col-md-12" id="statsFileSelectcontainer" name="segmentlistdiv" style="overflow:auto; float: left; max-height: 320px; min-height: 2em;">
                <div class="forAllCheckBox" id="forAllCheckBox" align="left">
                    {% if dictionary_labels|length > 0 %}
                        {% if toggle_all_value %}
                            <label class='icon-checkbox checked'><input type='checkbox' id='allCheckBoxSelector' onclick='toggle_checkbox(-1)'>Check/Uncheck All</label>
                        {% else %}
                            <label class='icon-checkbox'><input type='checkbox' id='allCheckBoxSelector' onclick='toggle_checkbox(-1)'>Check/Uncheck All</label>
                        {% endif %}
                    {% endif %}
                </div>
                <div id="checkboxes" style="padding-left: 15px">
                    {% for index in range(dictionary_labels|length) %}
                        <div class="forAllCheckBox" align="left" style='width:100%;'>
                            <input type='hidden' name='dictionary' value='{{dictionary_labels[index]}}'>
                            <label id="statSelect"><input type='checkbox' id='dict_checkbox' {{'checked' if active_dictionaries[index] }} onclick='toggle_checkbox("{{ index }}")'>{{dictionary_labels[index]}}</label>
                            <a role="button" ><span class="glyphicon glyphicon-remove delete" onclick='delete_dictionary("{{ index }}")'></span></a>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="optuploadbuttondiv">
                <div class="bttn upload-bttn" id='upload_files'>Upload Files</div>
                <input type="file" onchange="upload_dictionaries()" class="scrub-upload inputWrapper" id="lemfileselect" name="lemfileselect[]" multiple=""/>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <legend id="Dictionaries">
            Formula
            <i class="fa fa-question-circle lexos-tooltip-trigger"
               data-toggle="tooltip" data-html="true"
               data-placement="right" data-container="body"
               title="Create a formula that uses the dictionary buttons to compute a final score (e.g. [happy] – [sad] )." style="padding-left:4px;font-size:18px;">
            </i>
        </legend>
        <div class="collapse in" id="lemmasPanel" aria-expanded="true">
            <div class="optuploadbuttondiv">
                <div id="big_wrapper">
                    <div id="calculator_wrapper">
                       <input id="display" type="text" name="display" value="{{ formula }}" disabled contenteditable="false" >
                       <br>
                        <div class="col-md-12" id="statsFileSelectcontainer" name="segmentlistdiv" style="overflow:auto; float: left; max-height: 100px; min-height: 0px">
                       <div id="dictionaryButtons">
                            {% for index in range(dictionary_labels|length) %}
                               {% if active_dictionaries[index] %}
                                    <input value='{{ dictionary_labels[index] }}' onclick="this.form.display.value+='[{{ dictionary_labels[index] }}]'" type="button">
                               {% endif %}
                            {% endfor %}
                       </div>
                        </div>
                       <input class="calc_button number" type="button" value="1" onClick="display.value+=1">
                       <input class="calc_button number" type="button" value="2" onClick="this.form.display.value+=2">
                       <input class="calc_button number" type="button" value="3" onClick="this.form.display.value+=3">
                       <input class="calc_button bold" type="button" value="C" onClick="this.form.display.value=''">
                       <input class="calc_button" type="button" value="DEL" onClick="backspace(this.form)">
                       <br>
                       <input class="calc_button number" type="button" value="4" onClick="this.form.display.value+=4">
                       <input class="calc_button number" type="button" value="5" onClick="this.form.display.value+=5">
                       <input class="calc_button number" type="button" value="6" onClick="this.form.display.value+=6">
                       <input class="calc_button opps" type="button" value="+" onClick="this.form.display.value+='+'">
                       <input class="calc_button" type="button" value="sin" onClick="this.form.display.value+='sin('">
                       <br>
                       <input class="calc_button number" type="button" value="7" onClick="this.form.display.value+=7">
                       <input class="calc_button number" type="button" value="8" onClick="this.form.display.value+=8">
                       <input class="calc_button number" type="button" value="9" onClick="this.form.display.value+=9">
                       <input class="calc_button opps" type="button" value="-" onClick="this.form.display.value+='-'">
                       <input class="calc_button" type="button" value="cos" onClick="this.form.display.value+='cos('">
                       <br>
                       <input class="calc_button opps" type="button" value="." onClick="this.form.display.value+='.'">
                       <input class="calc_button number" type="button" value="0" onClick="this.form.display.value+=0">
                       <input class="calc_button opps" type="button" value="/" onClick="this.form.display.value+='/'">
                       <input class="calc_button opps" type="button" value="x" onClick="this.form.display.value+='*'">
                       <input class="calc_button" type="button" value="tan" onClick="this.form.display.value+='tan('">
                       <br>
                       <input class="calc_button opps" type="button" value="√" onClick="this.form.display.value+='√('">
                       <input class="calc_button opps" type="button" value="log" onClick="this.form.display.value+='log('">
                       <input class="calc_button" type="button" value="x^y" onClick="this.form.display.value+='^('">
                       <input class="calc_button" type="button" value="(" onClick="this.form.display.value+='('">
                       <input class="calc_button" type="button" value=")" onClick="this.form.display.value+=')'">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2">
            <div class="col-md-1">
                <input class="bttn bttn-action" id="analyze_button" value="Analyze" type="button" onclick="analyze()">
            </div>
    </div>
</div>

<div class="row" style="margin-top: 20px;">
    <div id="table"></div>
</div>
<div class="row" id="search" style="display: none">
    Search all tables <input type='search' id='Search_All'/><br>
</div>
<div class="row" style="margin-top: 20px;">
    <div id="corpus_counts"></div>
</div>
<div class="row" style="margin-top: 20px;">
    <div id="files_raw_counts_tables"></div>
</div>
{% endblock %}
