{% extends "base.html" %}
{% set active_page = 'contentanalysis' %}

{% block title %}Content Analysis{% endblock %}
{% block head %}
 <!-- Latest compiled and minified DataTables CSS and JS -->
  {% if config['LOCAL_MODE'] == True %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='node_modules/datatables.net-bs/css/dataTables.bootstrap.css') }}?ver={{version}}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='node_modules/datatables.net-select-bs/css/select.bootstrap.css') }}?ver={{version}}"/>
    <script type="text/javascript" src="{{ url_for('static', filename='node_modules/datatables.net/js/jquery.dataTables.js') }}?ver={{version}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='node_modules/datatables.net-select/js/dataTables.select.js') }}?ver={{version}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='node_modules/datatables.net-bs/js/dataTables.bootstrap.js') }}?ver={{version}}"></script>
  {% else %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/u/bs/jszip-2.5.0,pdfmake-0.1.18,dt-1.10.12,b-1.2.1,b-html5-1.2.1,b-print-1.2.1,fc-3.2.2,fh-3.1.2,se-1.2.0/datatables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/u/bs/jszip-2.5.0,pdfmake-0.1.18,dt-1.10.12,b-1.2.1,b-html5-1.2.1,b-print-1.2.1,fc-3.2.2,fh-3.1.2,se-1.2.0/datatables.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='node_modules/datatables.net-bs/js/dataTables.bootstrap.js') }}?ver={{version}}"></script>
  {% endif %}
<script type="text/javascript" src="{{ url_for('static', filename='js/scripts_content_analysis.js') }}?ver={{version}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/scripts_scrub.js') }}?ver={{version}}"></script>
<style>
*{padding:0;
margin:0;
}
body {text-align:center;}
#heading {margin-top:30px;}
#form_wrapper {width:400px;
text-align:center;}

#calcform{/*padding:10px;*/}

#display {width:380px;
height:40px;
font-size:18px;
color:black;
margin:4px;
border:2px solid #999;
background-color:#FFFFFF;}

.button {width:40px;
height:40px;
margin:1px;  }

.number {font-size:16px;
font-weight:bold;}

.opps {font-size:18px;}

.three {font-weight:bold;}
/*.three:hover{background-color:#1A77B7;}*/
</style>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-3">
        <legend id="Dictionaries" class="has-chevron">
            Dictionaries
            <i class="fa fa-question-circle lexos-tooltip-trigger" data-toggle="tooltip" data-html="true" data-placement="right" data-container="body" title="" style="padding-left:4px;font-size:18px;"></i>
            <span class="fa fa-chevron-right rotate {{ 'showing' if lem_showing }}" data-target="#lemmasPanel" aria-expanded="false" aria-controls="lemmasPanel"></span>
        </legend>
        <div class="collapse" id="lemmasPanel">
            <div class="col-md-12" id="statsFileSelectcontainer" name="segmentlistdiv" style="overflow:auto; float: left; max-height: 135px; min-height: 2em;">
                <div class="forAllCheckBox" id="forAllCheckBox" align="left">
                    <label><input type="checkbox" id="allCheckBoxSelector" checked onclick='toggle_checkbox(-1)'>Check/Uncheck All</label>
                </div>
                <div id="checkboxes" style="padding-left: 15px">
                    {% for index in range(session['dictionary_names']|length) %}
                        <div class="forAllCheckBox" align="left">
                            <input type='hidden' name='dictionary' value='{{session['dictionary_names'][index]}}'>
                            <label id="statSelect"><input type='checkbox' id='dict_checkbox' {{'checked' if session['active_dictionaries'][index] }} onclick='toggle_checkbox("{{ index }}")'>{{session['dictionary_names'][index]}}</label>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="optuploadbuttondiv">
                <div class="bttn upload-bttn" style="margin-top: 5px;">Upload File</div>
                <input type="file" onchange="upload_dictionaries('apply')" class="scrub-upload inputWrapper" id="lemfileselect" name="lemfileselect[]" multiple=""/>
            </div>
        </div>

    </div>
    <div class="col-md-5">
        <legend id="Dictionaries" class="has-chevron">
            Formula
            <i class="fa fa-question-circle lexos-tooltip-trigger" data-toggle="tooltip" data-html="true" data-placement="right" data-container="body" title="" style="padding-left:4px;font-size:18px;"></i>
            <span class="fa fa-chevron-right rotate {{ 'showing' if lem_showing }}" data-target="#lemmasPanel" aria-expanded="false" aria-controls="lemmasPanel"></span>
        </legend>
        <div class="collapse" id="lemmasPanel">
            <div class="optuploadbuttondiv">
                <div id="big_wrapper">
                    <div id="form_wrapper">
                       <input id="display" type="text" name="display" value="{{ session['formula'] }}" disabled contenteditable="false" >
                       <br>
                       <div id="dictionaryButtons">
                           {% for index in range(session['dictionary_names']|length) %}
                               {% if session['active_dictionaries'][index] %}
                                    <input value='{{ session['dictionary_names'][index] }}' onclick="this.form.display.value+='[{{ session['dictionary_names'][index] }}]'" type="button">
                               {% endif %}
                           {% endfor %}
                       </div>
                       <input class="button number" type="button" value="1" onClick="display.value+=1">
                       <input class="button number" type="button" value="2" onClick="this.form.display.value+=2">
                       <input class="button number" type="button" value="3" onClick="this.form.display.value+=3">
                       <input class="button three" type="button" value="C" onClick="this.form.display.value=''">
                       <input class="button three" type="button" value="DEL" onClick="backspace(this.form)">
                       <br>
                       <input class="button number" type="button" value="4" onClick="this.form.display.value+=4">
                       <input class="button number" type="button" value="5" onClick="this.form.display.value+=5">
                       <input class="button number" type="button" value="6" onClick="this.form.display.value+=6">
                       <input class="button opps" type="button" value="+" onClick="this.form.display.value+='+'">
                       <input class="button" type="button" value="sin" onClick="this.form.display.value+='sin('">
                       <br>
                       <input class="button number" type="button" value="7" onClick="this.form.display.value+=7">
                       <input class="button number" type="button" value="8" onClick="this.form.display.value+=8">
                       <input class="button number" type="button" value="9" onClick="this.form.display.value+=9">
                       <input class="button opps" type="button" value="-" onClick="this.form.display.value+='-'">
                       <input class="button" type="button" value="cos" onClick="this.form.display.value+='cos('">
                       <br>
                       <input class="button opps" type="button" value="." onClick="this.form.display.value+='.'">
                       <input class="button number" type="button" value="0" onClick="this.form.display.value+=0">
                       <input class="button opps" type="button" value="/" onClick="this.form.display.value+='/'">
                       <input class="button opps" type="button" value="x" onClick="this.form.display.value+='*'">
                       <input class="button" type="button" value="tan" onClick="this.form.display.value+='tan('">
                       <br>
                       <input class="button opps" type="button" value="√" onClick="this.form.display.value+='√('">
                       <input class="button opps" type="button" value="log" onClick="this.form.display.value+='log('">
                       <input class="button" type="button" value="x^y" onClick="this.form.display.value+='^('">
                       <input class="button" type="button" value="(" onClick="this.form.display.value+='('">
                       <input class="button" type="button" value=")" onClick="this.form.display.value+=')'">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" style="margin-top: 20px;">
    <div class="col-md-3">
        <a class="btn btn-success" id="analyze_button" role="button">Analyze</a>
    </div>
    <div class="col-md-9" style="text-align:right;">
        <a class="btn btn-primary" onclick="" role="button">Download CSV</a>
    </div>
</div>
<div class="row">
        <div id="table" style="width: 100%"></div>
</div>

{% endblock %}
