{% extends "helpers/base.html" %}


<!-- Head -->
{% block head %}

    <!-- Page Lexos dependencies -->
    <script type="text/javascript" src="/static/js/helpers/document-previews.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/helpers/document-previews.css"/>

    <!-- Page JS and CSS -->
    <script type="text/javascript" src="static/js/cut.js"></script>
    <link rel="stylesheet" type="text/css" href="static/css/cut.css"/>
{% endblock %}


<!-- Content -->
{% block content %}

    <!-- Options -->
    <div id="options-section">

        <!-- Cut mode -->
        <div id="cut-mode-section" class="section">

            <div class="vertical-splitter section-top">
                <h3 class="title">Cut Mode</h3>
                <span id="cut-mode-tooltip-button" class="right-justified tooltip-button">?</span>
            </div>

            <div id="cut-mode-grid" class="section-body">

                <div>
                    <!-- Tokens -->
                    <label><input type="radio" name="cutType" value="words" checked><span></span>Tokens</label><br>

                    <!-- Characters -->
                    <label><input type="radio" name="cutType" value="letters"><span></span>Characters</label>
                </div>

                <div>
                    <!-- Lines -->
                    <label><input type="radio" name="cutType" value="lines"><span></span>Lines</label><br>

                    <!-- Segments -->
                    <label><input type="radio" name="cutType" value="number"><span></span>Segments</label>
                </div>

                <!-- Milestones -->
                <label><input type="radio" name="cutType" value="milestone"><span></span>Milestones</label>
            </div>
        </div>

        <!-- Cut settings -->
        <div id="cut-settings-section" class="section">
            <h3 class="section-top title">Cut Settings</h3>

            <div id="cut-settings-grid" class="section-body">

                <!-- Segment size -->
                <div id="segment-size-input" >
                    <h3>Segment Size</h3>
                    <input name="cutValue" type="text" spellcheck="false" autocomplete="off">
                    <span id="segment-size-tooltip-button" class="tooltip-button">?</span>
                </div>

                <!-- Overlap -->
                <div id="overlap-input" >
                    <h3>Overlap</h3>
                    <input name="cutOverlap" type="text" spellcheck="false" autocomplete="off" value="0">
                    <span id="overlap-tooltip-button" class="tooltip-button">?</span>
                </div>

                <!-- Merge threshold -->
                <div id="merge-threshold-input" >
                    <h3>Merge %</h3>
                    <input name="cutLastProp" type="text" spellcheck="false" autocomplete="off" value="50">
                    <span id="merge-threshold-tooltip-button" class="tooltip-button">?</span>
                </div>

                <!-- Milestone -->
                <div id="milestone-input" class="hidden" >
                    <h3>Milestone</h3>
                    <input name="MScutWord" type="text" spellcheck="false" autocomplete="off">
                    <span id="milestone-tooltip-button" class="tooltip-button">?</span>
                </div>
            </div>
        </div>
    </div>

    <!-- Document previews -->
    <div id="document-previews-section" class="section">

        <div class="section-top vertical-splitter">
            <h3 class="title">Previews</h3>
            <div class="right-justified">
                <span id="preview-button" class="disabled important-button button">Preview</span>
                <span id="apply-button" class="disabled important-button button">Apply</span>
                <a id="download-button" class="disabled button" href="scrub/download">Download</a>
            </div>
        </div>
        <div id="previews"></div>
    </div>

    <!-- Hidden elements -->
    <input id="cut-by-milestone-input" name="cutByMS" type="hidden">
    <input name="hasErrors" type="hidden" value="false">
    <input name="needsWarning" type="hidden" value="false">
{% endblock %}
