{% extends "base.html" %}
{% set active_page = "cut" %}
{% block title %}Cut{% endblock %}

<!-- Head -->
{% block head %}

    <!-- Page JS and CSS -->
    <script type="text/javascript" src="/static/js/document-previews.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/document-previews.css"/>
    <script type="text/javascript" src="static/js/cut.js"></script>
    <link rel="stylesheet" type="text/css" href="static/css/cut.css"/>
{% endblock %}

<!-- Content -->
{% block content %}

    <!-- Options -->
    <div id="options-section">

        <!-- Cut mode -->
        <div id="cut-mode-section" class="section">
            <h3 class="title">Cut Mode</h3>
            <div id="cut-mode-grid">
                <div>
                    <label class="circle-label"><input type="radio" name="cutType" value="words" checked><span>Tokens</span></label><br>
                    <label class="circle-label"><input type="radio" name="cutType" value="letters"><span>Characters</span></label>
                </div>
                <div>
                    <label class="circle-label"><input type="radio" name="cutType" value="lines"><span>Lines</span></label><br>
                    <label class="circle-label"><input type="radio" name="cutType" value="number"><span>Segments</span></label>
                </div>
                <label class="circle-label"><input type="radio" name="cutType" value="milestone"><span>Milestones</span></label>
            </div>
        </div>

        <!-- Cut settings -->
        <div id="cut-settings-section" class="section">
            <h3 class="title">Cut Settings</h3>
            <div id="cut-settings-grid"></div>
        </div>
    </div>

    <!-- Document previews -->
    <div id="document-previews-section" class="borderless-section">
        <div id="document-previews-top">
            <h3 class="title">Document Previews</h3>
            <div id="document-previews-buttons">
                <h3 id="preview-button" class="button">Preview</h3>
                <h3 id="apply-button" class="button">Apply</h3>
                <a class="button" href="cut/download">Download</a>
            </div>
        </div>
        <div id="previews"></div>
    </div>

    <!-- Hidden elements -->
    <input id="milestone-input" name="MScutWord" type="hidden">
    <input name="hasErrors" type="hidden" value="false">
    <input name="needsWarning" type="hidden" value="false">
{% endblock %}
