{% extends "base_analyze.html" %}
{% set active_page = 'cluster' %}

{% block head %}
    <script type="text/javascript"
            src="{{ url_for('static', filename='js/scripts_dendrogram.js') }}?ver={{ version }}"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script>
      $(document).ready(function () {
        // Handle the return to top links
        $('.to-top').click(function () {
          $('html, body').animate({scrollTop: 0}, 800)
          return false
        })
      })
    </script>
    <style type="text/css"></style>
{% endblock %}

{% block title %}Hierarchical Clustering{% endblock %}


{% block options %}
    <input type="hidden" id="num_active_files" value="{{ numActiveDocs }}"/>

    <fieldset>
        <legend>Dendrogram Options</legend>
        <div class="dendrogram-options cf" id="dendrocreateoptions">

            <label for="metric">Distance Metric:
                <select name="metric" id="metric">
                    <option value="euclidean" {{ 'selected' if session['hierarchyoption']['metric'] == 'euclidean' }}>
                        Euclidean
                    </option>
                    <option value="minkowski" {{ 'selected' if session['hierarchyoption']['metric'] == 'minkowski' }}>
                        Minkowski
                    </option>
                    <option value="cityblock" {{ 'selected' if session['hierarchyoption']['metric'] == 'cityblock' }}>
                        Manhattan
                    </option>
                    <option value="seuclidean" {{ 'selected' if session['hierarchyoption']['metric'] == 'seuclidean' }}>
                        Standardized Euclidean
                    </option>
                    <option value="sqeuclidean" {{ 'selected' if session['hierarchyoption']['metric'] == 'sqeuclidean' }}>
                        Squared Euclidean
                    </option>
                    <option value="cosine" {{ 'selected' if session['hierarchyoption']['metric'] == 'cosine' }}>
                        Cosine
                    </option>
                    <option value="correlation" {{ 'selected' if session['hierarchyoption']['metric'] == 'correlation' }}>
                        Correlation
                    </option>
                    <option value="hamming" {{ 'selected' if session['hierarchyoption']['metric'] == 'hamming' }}>
                        Hamming
                    </option>
                    <option value="chebyshev" {{ 'selected' if session['hierarchyoption']['metric'] == 'chebyshev' }}>
                        Chebyshev
                    </option>
                    <option value="jaccard" {{ 'selected' if session['hierarchyoption']['metric'] == 'jaccard' }}>
                        Jaccard
                    </option>
                    <option value="canberra" {{ 'selected' if session['hierarchyoption']['metric'] == 'canberra' }}>
                        Canberra
                    </option>
                    <option value="braycurtis" {{ 'selected' if session['hierarchyoption']['metric'] == 'braycurtis' }}>
                        Braycurtis
                    </option>
                </select>
                <i class="fa fa-question-circle lexos-tooltip-trigger"
                   data-toggle="popover" data-html="true"
                   data-placement="right" data-container="body"
                   data-content="Different methods for measuring the distance (differences) between documents. See <a href='http://scalar.usc.edu/works/lexos/choosing-a-distance-metric' target='_blank'>Choosing a distance metric</a>."
                   style="padding-left:4px;font-size:18px;"></i>
            </label>

            <label for="linkage">Linkage Method:
                <select name="linkage" id="linkage">
                    <option value="average" {{ 'selected' if session['hierarchyoption']['linkage'] == 'average' }}>
                        Average
                    </option>
                    <option value="single" {{ 'selected' if session['hierarchyoption']['linkage'] == 'single' }}>
                        Single
                    </option>
                    <option value="complete" {{ 'selected' if session['hierarchyoption']['linkage'] == 'complete' }}>
                        Complete
                    </option>
                    <!-- <option value="ward" {{ 'selected' if session['hierarchyoption']['linkage'] == 'ward' }}>Ward</option> -->
                    <option value="weighted" {{ 'selected' if session['hierarchyoption']['linkage'] == 'weighted' }}>
                        Weighted
                    </option>
                </select>
                <i class="fa fa-question-circle lexos-tooltip-trigger"
                   data-toggle="tooltip" data-html="true"
                   data-placement="right" data-container="body"
                   title="Linkage is the method used to determine when documents should be joined into clusters."
                   style="padding-left:4px;font-size:18px;"></i>
            </label>
            <label for="orientation">Dendrogram Leaves Orientation:
                <select name="orientation" id="orientation">
                    <option value="top" {{ 'selected' if session['hierarchyoption']['orientation'] == 'top' }}>
                        Top
                    </option>
                    <option value="left" {{ 'selected' if session['hierarchyoption']['orientation'] == 'left' }}>
                        Left
                    </option>
                    <option value="right" {{ 'selected' if session['hierarchyoption']['orientation'] == 'right' }}>
                        Right
                    </option>
                    <option value="bottom" {{ 'selected' if session['hierarchyoption']['orientation'] == 'bottom' }}>
                        Bottom
                    </option>
                </select>
            </label>

        </div>
    </fieldset>
{% endblock %}


{% block results %}
    <div class="row submit-button-row">
        <div class="col-md-12">
            <input class="bttn bttn-action" id="getdendro" name="getdendro"
                   type="button" value="Get Dendrogram" style=""/>
        </div>
    </div>

    <div id="dendrogram-result" class="row">

    </div>

{% endblock %}

{% block submit %}

{% endblock %}
