{% extends "helpers/analyze-template.html" %}


<!-- Head -->
{% block page_head %}

    <!-- Lexos dependencies -->
    <script type="text/javascript" src="static/js/helpers/popup.js"></script>
    <link rel="stylesheet" type="text/css" href="static/css/helpers/popup.css"/>
    <script type="text/javascript" src="static/js/helpers/graph.js"></script>
    <script type="text/javascript" src="static/js/helpers/tree-options.js"></script>

    <!-- Page JS and CSS -->
    <script type="text/javascript" src="static/js/dendrogram.js"></script>
    <link rel="stylesheet" type="text/css" href="static/css/dendrogram.css"/>
{% endblock %}


<!-- Options -->
{% block options %}

    <!-- Dendrogram options -->
    <div id="dendrogram-options-section" class="section">
        <h3 class="section-top title">Options</h3>

        <div class="section-body">

            <!-- Distance metric -->
            <div>
                <h3>Distance Metric: </h3>
                <h3 id="distance-metric-button" class="button">Euclidean</h3>
                <h3 id="distance-metric-tooltip-button" class="button">?</h3><br>
            </div>

            <!-- Linkage method -->
            <h3>Linkage Method: </h3>
            <h3 id="linkage-method-button" class="button">Average</h3>
            <h3 id="linkage-method-tooltip-button" class="button">?</h3><br>

            <!-- Orientation -->
            <h3>Orientation: </h3>
            <h3 id="orientation-button" class="button">Left</h3>
            <h3 id="orientation-tooltip-button" class="button">?</h3><br>
        </div>
    </div>
{% endblock %}


<!-- Results -->
{% block results %}

    <!-- Dendrogram -->
    <div class="section">
        <div class="vertical-splitter section-top">
            <h3 class="title">Dendrogram</h3>
            <h3 id="generate-button" class="right-justified disabled button">Generate</h3>
        </div>

        <div id="graph-container" class="section-body"></div>
    </div>
{% endblock %}


<!-- Hidden elements -->
{% block hidden_elements %}
    <input id="distance-metric-input" name="metric" value="euclidean" type="hidden">
    <input id="linkage-method-input" name="linkage" value="average" type="hidden">
    <input id="orientation-input" name="orientation" value="left" type="hidden">
{% endblock %}
