{% extends "helpers/analyze-template.html" %}


<!-- Head -->
{% block page_head %}

    <!-- Lexos dependencies -->
    <script type="text/javascript" src="static/js/helpers/graph.js"></script>
    <link rel="stylesheet" type="text/css" href="static/css/helpers/graph.css"/>
    <script type="text/javascript" src="static/js/helpers/popup.js"></script>
    <link rel="stylesheet" type="text/css" href="static/css/helpers/popup.css"/>

    <!-- Page JS and CSS -->
    <script type="text/javascript" src="static/js/k-means.js"></script>
    <link rel="stylesheet" type="text/css" href="static/css/k-means.css"/>
{% endblock %}


<!-- Options -->
{% block options %}

    <!-- Options -->
    <div id="k-means-options-section" class="section">
        <h3 class="section-top title">Options</h3>
        <div class="section-body">

            <!-- Clusters -->
            <h3>Clusters</h3>
            <input id="clusters-input" name="nclusters" value="1" type="text" spellcheck="false" autocomplete="off">
            <h3 id="clusters-tooltip-button" class="button">?</h3><br>

            <!-- Voronoi -->
            <label class="circle-label">
                <input name="viz" value="Voronoi" type="radio" checked>
                <span>Voronoi</span>
            </label>
            <h3 id="visualization-method-tooltip-button" class="button">?</h3><br>

            <!-- 2D Scatter -->
            <label class="circle-label"><input name="viz" value="2DScatter" type="radio">
                <span>2D Scatter</span>
            </label><br>

            <!-- 3D Scatter -->
            <label class="circle-label">
                <input name="viz" value="3DScatter" type="radio">
                <span>3D Scatter</span>
            </label>
        </div>
    </div>

    <!-- Advanced -->
    <div id="advanced-options-section" class="section">
        <h3 class="section-top title">Advanced</h3>
        <div class="section-body">

            <!-- K-Means -->
            <label class="circle-label">
                <input name="init" value="k-means++" type="radio" checked>
                <span>K-Means++</span>
            </label>

            <!-- Random -->
            <label class="circle-label">
                <input name="init" value="random" type="radio">
                <span>Random</span>
            </label>
            <h3 id="initialization-method-tooltip-button" class="button">?</h3><br>

            <!-- Maximum Iterations -->
            <h3>Maximum Iterations</h3>
            <input id="maximum-iterations-input" name="max_iter" value="300" type="text" spellcheck="false" autocomplete="off"><br>

            <!-- Different Centriods -->
            <h3>Different Centroids</h3>
            <input id="different-centroids-input" name="n_init" value="10" type="text" spellcheck="false" autocomplete="off">
            <h3 id="different-centroids-tooltip-button" class="button">?</h3><br>

            <!-- Relative Tolerance -->
            <h3>Relative Tolerance</h3>
            <input id="relative-tolerance-input" name="tolerance" value="0.0001" type="text" spellcheck="false" autocomplete="off">
            <h3 id="relative-tolerance-tooltip-button" class="button">?</h3>
        </div>
    </div>
{% endblock %}


<!-- Results -->
{% block results %}

    <!-- K-means -->
    <div class="section">

        <!-- Top -->
        <div class="vertical-splitter section-top">
            <h3 class="title">K-Means</h3>

            <div class="right-justified">
                <h3 id="generate-button" class="disabled button">Generate</h3>
                <h3 id="png-button" class="disabled button">PNG</h3>
                <h3 id="svg-button" class="disabled button">SVG</h3>
                <h3 id="csv-button" class="disabled button">CSV</h3>
            </div>
        </div>

        <!-- Graph -->
        <div id="graph-container" class="section-body"></div>
    </div>
{% endblock %}
