{% extends "helpers/base.html" %}


<!-- Head -->
{% block head %}

    <!-- Lexos dependencies -->
    <script type="text/javascript" src="static/js/helpers/popup.js"></script>
    <link rel="stylesheet" type="text/css" href="static/css/helpers/popup.css"/>
    <script type="text/javascript" src="static/js/helpers/point.js"></script>
    <script type="text/javascript" src="static/js/helpers/selection-box.js"></script>

    <!-- Page JS and CSS -->
    <script type="text/javascript" src="static/js/manage.js"></script>
    <link rel="stylesheet" type="text/css" href="static/css/manage.css"/>
{% endblock %}


<!-- Content -->
{% block content %}

    <!-- Top section -->
    <div id="top-section">

        <h3>
            Activate the documents you want to work with. Click and drag to activate
            multiple documents. Hold "D" to deactivate. Right-click for more options.
        </h3>

        <a id="download-button" class="disabled button" href="manage/download">Download Selected</a>
    </div>

    <!-- Table -->
    <div id="table" class="section">

        <!-- Table head -->
        <div id="table-head">
            <h3 class="table-cell">Active</h3>
            <h3 class="table-cell">#</h3>
            <h3 class="table-cell">Document</h3>
            <h3 class="table-cell">Class</h3>
            <h3 class="table-cell">Source</h3>
            <h3 class="table-cell">Excerpt</h3>
        </div>

        <!-- Table body -->
        <div id="table-body" class="firefox-hidden-scrollbar"></div>
    </div>

     <!-- Context menu -->
    <div id="context-menu">
        <h3 id="preview-button" class="selectable">Preview</h3>
        <h3 id="edit-name-button" class="selectable">Edit Name</h3>
        <h3 id="edit-class-button" class="selectable">Edit Class</h3>
        <h3 id="delete-button" class="selectable">Delete</h3>
        <h3></h3>
        <h3 id="merge-selected-button" class="selectable">Merge Active</h3>
        <h3 id="edit-selected-classes-button" class="selectable">Edit Active Classes</h3>
        <h3 id="delete-selected-button" class="selectable">Delete Active</h3>
        <h3></h3>
        <h3 id="select-all-button" class="selectable">Activate All</h3>
        <h3 id="deselect-all-button" class="selectable">Deactivate All</h3>
    </div>

    <!-- Selection box -->
    <div id="selection-box"></div>

{% endblock %}
