{% extends "base.html" %}
{% set active_page = "manage" %}

<!-- Head -->
{% block head %}

    <!-- Page JS and CSS -->
    <script type="text/javascript" src="static/js/point.js"></script>
    <script type="text/javascript" src="static/js/manage.js"></script>
    <link rel="stylesheet" type="text/css" href="static/css/manage.css"/>
{% endblock %}

{% block content %}

    <!-- Top section -->
    <div id="top-section">

        <!-- Information text -->
        <h3>
            Select the documents you want active. Click and drag to select
            multiple documents. Hold "D" to deselect. Right-click for more options.
        </h3>

        <!-- Download button -->
        <a id="download-button" class="selectable" href="manage/download">Download Selected</a>
    </div>

    <!-- Table -->
    <div id="manage-table">
        <!-- Table head -->
        <div id="manage-table-head">
            <h3 class="manage-table-head-cell">Active</h3>
            <h3 class="manage-table-head-cell">#</h3>
            <h3 class="manage-table-head-cell">Document</h3>
            <h3 class="manage-table-head-cell">Class</h3>
            <h3 class="manage-table-head-cell">Source</h3>
            <h3 class="manage-table-head-cell">Excerpt</h3>
        </div>

        <!-- Table body -->
        <div id="manage-table-body"></div>
    </div>

    <!-- Context menu -->
    <div id="context-menu">
        <h3 id="preview-button" class="selectable">Preview</h3>
        <h3 id="edit-name-button" class="selectable">Edit Name</h3>
        <h3 id="edit-class-button" class="selectable">Edit Class</h3>
        <h3 id="delete-button" class="selectable">Delete</h3>
        <h3></h3>
        <!-- <h3 id="merge-selected-button" class="selectable">Merge Active</h3> -->
        <h3 id="edit-selected-classes-button" class="selectable">Edit Active Classes</h3>
        <h3 id="delete-selected-button" class="selectable">Delete Active</h3>
        <h3></h3>
        <h3 id="select-all-button" class="selectable">Select All</h3>
        <h3 id="deselect-all-button" class="selectable">Deselect All</h3>
    </div>

    <!-- Selection box -->
    <div id="selection-box"></div>

{% endblock %}
