{% extends "helpers/base.html" %}


<!-- Head -->
{% block head %}

    <!-- d3.js -->
    <script type="text/javascript" src="static/node_modules/d3/d3.min.js"></script>

    <!-- d3-cloud.js -->
    <script type="text/javascript" src="static/node_modules/d3-cloud/build/d3.layout.cloud.js"></script>

    <!-- Page JS and CSS -->
    <script type="text/javascript" src="static/js/multicloud.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/multicloud.css"/>
{% endblock %}


<!-- Content -->
{% block content %}

    <!-- Multicloud -->
    <div id="multicloud"></div>
{% endblock %}
