{% extends "helpers/visualize-template.html" %}

{% block title %}Multicloud{% endblock %}

<!-- Head -->
{% block page_head %}

    <!-- d3-cloud.js -->
    <script type="text/javascript" src="static/node_modules/d3-cloud/build/d3.layout.cloud.js"></script>

    <!-- Page JS and CSS -->
    <script type="text/javascript" src="static/js/multicloud.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/multicloud.css"/>
{% endblock %}


<!-- Title -->
{% block graph_title %}Multicloud{% endblock %}


<!-- Graph -->
{% block graph %}

    <!-- Multicloud -->
    <div id="multicloud" class="section-body"></div>
{% endblock %}
