{% extends "helpers/base.html" %}


<!-- Head -->
{% block head %}

    <!-- Plotly -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <!-- Lexos dependencies -->
    <script type="text/javascript" src="static/js/helpers/graph.js"></script>
    <link rel="stylesheet" type="text/css" href="static/css/helpers/graph.css"/>
    <script type="text/javascript" src="static/js/helpers/popup.js"></script>
    <link rel="stylesheet" type="text/css" href="static/css/helpers/popup.css"/>


    <!-- Page JS and CSS -->
    <script type="text/javascript" src="static/js/rolling-window.js"></script>
    <link rel="stylesheet" type="text/css" href="static/css/rolling-window.css"/>
{% endblock %}


<!-- Content -->
{% block content %}

    <!-- Settings -->
    <div id="settings-section">

        <!-- Calculation type -->
        <div id="calculation-type-section" class="section">
            <h3 class="section-top title">Calculation Type</h3>
            <div class="section-body">

                <label><input name="counttype" value="average" type="radio" checked><span></span>Rolling Average</label>
                <h3 id="rolling-average-tooltip-button" class="button">?</h3>
                <br>

                <label><input name="counttype" value="ratio" type="radio"><span></span>Rolling Ratio</label>
                <h3 id="rolling-ratio-tooltip-button" class="button">?</h3>
            </div>
        </div>

        <!-- Search terms -->
        <div id="search-terms-section" class="section">

            <div class="vertical-splitter section-top">
                <h3 class="title">Search Terms</h3>
                <h3 id="search-terms-input-tooltip-button" class="right-justified button">?</h3><br>
            </div>


            <div class="section-body">
                <div id="search-input-grid">
                    <input id="search-terms-input" name="rollingsearchword" type="text" spellcheck="false" autocomplete="off">
                    <input id="search-terms-input-denominator" name="rollingsearchwordopt" type="text" spellcheck="false" autocomplete="off">
                </div>

                <label><input name="inputtype" value="word" type="radio" checked><span></span>Words</label><br>

                <label><input name="inputtype" value="string" type="radio"><span></span>Strings</label>
                <h3 id="strings-tooltip-button" class="button">?</h3><br>

                <label><input name="inputtype" value="regex" type="radio"><span></span>Regex</label>
                <h3 id="regex-tooltip-button" class="button">?</h3>
            </div>
        </div>

        <!-- Window -->
        <div id="window-section" class="section">
            <h3 class="section-top title">Window</h3>
            <div class="section-body">

                <input id="window-size-input" name="rollingwindowsize" type="text" spellcheck="false" autocomplete="off">
                <h3 id="window-size-tooltip-button" class="button">?</h3><br>

                <label><input name="windowtype" value="word" type="radio" checked><span></span>Words</label><br>
                <label><input name="windowtype" value="letter" type="radio"><span></span>Characters</label><br>
                <label><input name="windowtype" value="line" type="radio"><span></span>Lines</label>
            </div>
        </div>

        <!-- Display -->
        <div id="display-section" class="section">
            <h3 class="section-top title">Display</h3>
            <div class="section-body">

                <label>
                    <input id="milestone-checkbox" name="rollinghasmilestone" type="checkbox">
                    <span></span>Milestone
                    <input id="milestone-input" name="rollingmilestonetype" type="text" spellcheck="false" autocomplete="off">
                </label>
                <h3 id="milestone-tooltip-button" class="button">?</h3>

                <label><input name="showDots" type="checkbox"><span></span>Show Individual Points</label><br>
                <label><input name="BWoutput" type="checkbox"><span></span>Black and White</label>
            </div>
        </div>
    </div>

    <!-- Rolling Window -->
    <div class="section">

        <div class="vertical-splitter section-top">
            <h3 class="title">Rolling Window</h3>
            <div class="right-justified">
                <h3 id="generate-button" class="disabled button">Generate</h3>
                <h3 id="png-button" class="disabled button">PNG</h3>
                <h3 id="svg-button" class="disabled button">SVG</h3>
                <h3 id="csv-button" class="disabled button">CSV</h3>
            </div>
        </div>

        <div id="graph-container" class="section-body"></div>
    </div>

    <!-- Hidden elements -->
    <input id="file-to-analyze" name="filetorollinganalyze" type="hidden">
{% endblock %}
