{% extends "base_visualize.html" %}
{% set active_page = "rollingwindow" %}

{% block head %}
    <!-- Javascript that formats options and graph -->
    <script type="module"
            src="{{ url_for('static', filename='js/scripts_rwanalysis.js') }}?ver={{ version }}"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <meta id="manage-url" data-url="{{ url_for('manage.manage') }}">
    <meta id="upload-url" data-url="{{ url_for('upload.upload') }}">
    <meta id="num-active-files" data-number="{{ labels|len }}">
{% endblock %}

{% block title %}Rolling Window{% endblock %}

{% block options %}
    <!-- Title -->
    <div class="row">
        <div class="col-md-12">
            <fieldset>
                <legend>Rolling Window Options
                    <a class="btn bttn bttn-video" data-toggle="tooltip"
                       href="#" data-html="true" data-placement="right"
                       data-container="body" title="Show video"
                       style="margin: -10px 5px;">
                        <i class="fa fa-video-camera fa-lg "
                           data-toggle="modal" data-target="#ITM-modal"
                           data-slug="rolling-window-analysis-video"
                           data-type="video-dialog">
                        </i>
                    </a>
                </legend>
            </fieldset>
        </div>
    </div>

    <!-- Row 1 -->
    <div class="row">
        <!-- Document Selection -->
        <div class="col-sm-4">
            <fieldset>
                <legend>1. Select Active Document</legend>
            </fieldset>
            <!-- Hidden value to save the file checked.-->
            <input type="hidden" id="filetorollinganalyze"
                   value="{{ request.form['filetorollinganalyze'] }}"/>
            <div id="rwFileselect"
                 style="overflow:auto; width: 100%; max-height: 125px;">
                {% for fileID, label in labels.items() %}
                    <label>{{ label }}
                        <input type="radio" name="filetorollinganalyze"
                               class="minifilepreview" {{ 'checked' if fileID|unicode == session['rwoption']['filetorollinganalyze'] or loop.first }}
                               id="{{ fileID }}_selector" value="{{ fileID }}">
                    </label><br/>
                {% endfor %}
                {% if labels|len == 0 %}
                    <span id="no-labels">
                        No active document found. <br>
                        Please activate at least 1 document using the
                        <a href={{ url_for("manage.manage") }}>Manage</a> tool or
                        <a href={{ url_for("upload.upload") }}>Upload</a> a new document.
                    </span>
                {% endif %}
            </div>
        </div>

        <!-- Calculation Type Selection -->
        <div class="col-sm-4">
            <fieldset class="rwanalysisradiosdiv">
                <legend>2. Select Calculation Type</legend>
                <label class="radio" for="rollingaverage" id="radioaverage">
                    <input type="radio" checked name="counttype"
                           value="average" id="rollingaverage"
                           data-toggle="radio"/>
                    <span>Rolling Average</span>
                    <i class="fa fa-question-circle lexos-tooltip-trigger"
                       data-toggle="tooltip" data-html="true"
                       data-placement="right" data-container="body"
                       title="Measures the number of times the input appears in
                              the window, divided by the overall size of the window.">
                    </i>
                </label>
                <label class="radio" for="rollingratio" id="radioratio">
                    <input type="radio" {{ "checked" if session['rwoption']["counttype"] == "ratio" }}
                           name="counttype" value="ratio" id="rollingratio"
                           data-toggle="radio"/>
                    <span>Rolling Ratio</span>
                    <i class="fa fa-question-circle lexos-tooltip-trigger"
                       data-toggle="tooltip" data-html="true"
                       data-placement="right" data-container="body"
                       title="Measures the value of the first input divided
                              by the sum of the first and second inputs.">
                    </i>
                </label>
            </fieldset>
        </div>

        <!-- Enter Search Terms -->
        <div class="col-sm-4">
            <!-- Search Token -->
            <fieldset id="rolling-analysis-inputs">
                <legend>3. Enter Search Terms</legend>
                <div>
                    <table style="border:none;width:100%;">
                        <tr>
                            <td style="width:115px;">Search Pattern(s):</td>
                            <td>
                                <input type="text" name="rollingsearchword"
                                       class="rollinginput"
                                       id="rollingsearchword"
                                       value="{{ session['rwoption']['rollingsearchword'] }}">
                            </td>
                            <td style="width:20px;">
                                <i class="fa fa-question-circle lexos-tooltip-trigger"
                                   data-toggle="tooltip" data-container="body"
                                   data-placement="bottom" data-html="true"
                                   title="Please divide inputs by commas. For rolling
                                          ratios, input the numerator and denominator."
                                   style="padding-left:4px;"></i>
                            </td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>
                                <span class="rollingsearchwordoptdiv {{ 'hidden' if session['rwoption']['counttype'] != 'ratio' }}">
                                <hr style="color:#34495E;border:0;height:2px;background:#34495E;margin:2px;padding:0;">
                                <input type="text" name="rollingsearchwordopt"
                                       class="rollinginput"
                                       id="rollingsearchwordopt"
                                       value="{{ session['rwoption']['rollingsearchwordopt'] }}">
                                </span>
                            </td>
                            <td>&nbsp;</td>
                        </tr>
                    </table>
                </div>

                <!-- Search Patterns -->
                <p><strong>Search pattern(s) as:</strong></p>
                <label class="radio" for="inputstring" id="radioinputletter"
                       style="margin-left:10px;">
                    <input type="radio" checked name="inputtype" value="string"
                           id="inputstring" data-toggle="radio"/>String(s)
                    <i class="fa fa-question-circle lexos-tooltip-trigger"
                       data-toggle="tooltip" data-html="true"
                       data-placement="right" data-container="body"
                       title="A string can be of any length.">
                    </i>
                </label>
                <label class="radio" for="inputword" id="radioinputword"
                       style="margin-left:10px;">
                    <input type="radio" {{ "checked" if session['rwoption']["inputtype"] == "word" }}
                           name="inputtype" value="word" id="inputword"
                           data-toggle="radio"/>Word(s) (Tokens)
                    <i class="fa fa-question-circle lexos-tooltip-trigger"
                       data-toggle="tooltip" data-html="true"
                       data-placement="right" data-container="body"
                       title="A token is typically a word, but Lexos will
                              use whatever unit you have chosen in Tokenize.">
                    </i>
                </label>
                <label class="radio" for="inputregex" id="radioinputregex"
                       style="margin-left:10px;">
                    <input type="radio" {{ "checked" if session['rwoption']["inputtype"] == "regex" }}
                           name="inputtype" value="regex" id="inputregex"
                           data-toggle="radio"/>Regular Expression(s)
                    <i class="fa fa-question-circle lexos-tooltip-trigger"
                       data-toggle="tooltip" data-html="true"
                       data-placement="right" data-container="body"
                       title="Regular Expressions (RegEx) can be used as the input.">
                    </i>
                </label>
            </fieldset>
        </div>
    </div>

    <!-- Row 2 -->
    <div class="row">
        <!-- Window Unit Selection -->
        <div class="col-sm-4">
            <fieldset class="rwanalysisradiosdiv">
                <legend>4. Define Window</legend>
                <label for="rollingwindowsize">Size of Rolling Window:
                    <input type="number" min="1" name="rollingwindowsize"
                           id="rollingwindowsize"
                           value="{{ session['rwoption']['rollingwindowsize'] }}">
                    <i class="fa fa-question-circle lexos-tooltip-trigger"
                       data-toggle="tooltip" data-html="true"
                       data-placement="right" data-container="body"
                       title="The number of characters, tokens, or lines to increment for each window.">
                    </i>
                </label>
                <label class="radio" for="windowletter" id="radiowindowletter">
                    <input type="radio" checked name="windowtype"
                           value="letter" id="windowletter"
                           data-toggle="radio">
                    Count by characters
                </label>
                <label class="radio" for="windowword" id="radiowindowword">
                    <input type="radio" {{ "checked" if session['rwoption']["windowtype"] == "word" }}
                           name="windowtype" value="word" id="windowword"
                           data-toggle="radio"/>
                    Count by words (tokens)
                </label>
                <label class="radio" for="windowline" id="radiowindowline">
                    <input type="radio" {{ "checked" if session['rwoption']["windowtype"] == "line" }}
                           name="windowtype" value="line" id="windowline"
                           data-toggle="radio"/>
                    Count by lines
                </label>
                <label class="milestoneCheckbox">
                    Document has Milestones
                    <input type="checkbox"
                           class="milestoneCheckbox"
                           name="rollinghasmilestone"
                           id="rollinghasmilestone" {{ "checked" if session['rwoption']['rollinghasmilestone'] }}
                           style="text-align: left;">
                    <i class="fa fa-question-circle lexos-tooltip-trigger"
                       data-toggle="tooltip" data-html="true"
                       data-placement="right" data-container="body"
                       title="Search the file for all instances of a specified string and plot a vertical dividing line at those location."
                       style=""></i>
                </label>
                <br>
                <label for="rollingmilestonetype" id="rollingmilestoneopt">
                    <strong>Milestone Delimiter:</strong>
                    <input type="text" name="rollingmilestonetype"
                           id="rollingmilestonetype"
                           value="{{ session['rwoption']['rollingmilestonetype'] }}"
                           style="width: 150px;">
                </label>
            </fieldset>
        </div>

        <!-- Display Options -->
        <div class="col-sm-4">
            <fieldset class="rwanalysisradiosdiv">
                <legend>5. Choose Display Options</legend>
                <label>Show individual points
                    <input type="checkbox" name="showDots"
                           id="showDots" {{ 'checked' if session['rwoption']['showDots'] }}>
                </label>
                <br>
                <label>Black and White only
                    <input type="checkbox" name="BWoutput"
                           id="BWoutput" {{ 'checked' if session['rwoption']['BWoutput'] }}>
                </label>
            </fieldset>
        </div>

        <!-- Add the Get Graph Button-->
        <div class="col-sm-4">
            <fieldset class="rwanalysisradiosdiv">
                <legend>6. Get Graph</legend>
                <input type="button" id="getgraph" value="Get Graph"
                       class="btn btn-success col-sm-6" name="rollinganalyze"/>
            </fieldset>
        </div>
    </div>
{% endblock %}

{% block results %}
    <div id="rwa-result">
        <!-- Loading Icon -->
        <fieldset id="mile-stone-field" style="display: none">
            <legend>
                Milestone Delimiter color
            </legend>
            <div class="row" id="mile-stones">

            </div>
        </fieldset>
        <div id="status-analyze">
            <img src="{{ url_for('static', filename='images/loading_icon.svg') }}?ver={{ version }}"
                 alt="Loading...">
        </div>
        <div id="rwa-result-graph">
        </div>
    </div>
{% endblock %}


