{% extends "base_visualize.html" %}
{% set active_page = 'rollingwindow' %}

{% block head %}
<!-- Javascript that formats options and graph -->
<script type="text/javascript" src="{{ url_for('static', filename='js/scripts_rwanalysis.js') }}?ver={{version}}"></script>
<script type="text/javascript">
// Initialize variables
var dataLines = {{ data|default(0) }};
var xAxisLabel = "{{xAxisLabel}}";
var yAxisLabel = "{{yAxisLabel}}";
var legendLabels = "{{legendLabels[0]}}";
legendLabels = legendLabels.split("#");
noDots = {{ 'true' if session['rwoption']['hideDots'] else 'false' }};
BandW = {{ 'true' if session['rwoption']['BWoutput'] else 'false' }};

{% if rwadatagenerated %}
// If there is data scroll down to the graph on page load
$(document).ready( function () {
	//window.location="#graph-anchor";
	document.getElementById("graph-anchor").scrollIntoView({block: "start", behavior: "smooth"});

	// Save to PNG
	$(".save-png").on("click", function(){
		var $container = $('#rwagraphdiv'),
		// Canvg requires trimmed content
		content = $container.html().trim(),
		canvas = document.getElementById('svg-canvas');

		// Draw svg on canvas
		canvg(canvas, content);

		// Change img from SVG representation
		var theImage = canvas.toDataURL("image/png");
		$('#rwagraphsvg').attr('src', theImage);


		//Open a new window with the image
		var w = window.open();
		var img = $("#rwagraphsvg").clone().css("display", "block");
		var html = $("<div/>");
		html.append("<h2 style='margin-left: 30px'>Instructions for Saving Image</h2>");
		html.append("<h3 style='font-size: 16px; margin-left: 30px'><strong>For Mozilla Firefox:</strong></h3><ol>");
		html.append("<h3 style='font-size: 14px; margin-left: 30px'><li>PNG: Right click on the image and choose \"Save Image As...\".</li>");
		html.append("<h3 style='font-size: 14px; margin-left: 30px'><li>PDF: Right click and view image, then select your browser's print operation and choose print to PDF.</li></ol>");
		html.append("<h3 style='font-size: 16px; margin-left: 30px'><strong>For Chrome:</strong></h3>");
		html.append("<h3 style='font-size: 14px; margin-left: 30px'><li>Right click on the image and choose to \"Open image in new tab\".</li>");
		html.append("<h3 style='font-size: 14px; margin-left: 30px'><li>PNG: Right click on the image and choose to \"Save image as...\".</li>");
		html.append("<h3 style='font-size: 14px; margin-left: 30px'><li>PDF: Select your browser's print operation and choose print to PDF.</li></ol>");
		html.append(img);

		$(w.document.body).html(html);
	// End Save
	});
});
{% endif %}
</script>
{% endblock %}

{% block title %}Rolling Windows{% endblock %}

{% block options %}
<!-- Title -->
<div class="row">
	<div class="col-md-12">
		<legend>Rolling Window Options <a id="{{ rwadatagenerated }}" class="btn bttn bttn-video" href="#" data-toggle="tooltip" data-html="true" data-placement="right" data-container="body" title="Show video" style="margin: -10px 5px;"><i class="fa fa-video-camera fa-lg " data-toggle="modal" data-target="#ITM-modal" data-slug="rolling-window-analysis-video" data-type="video-dialog" style=""></i></a></legend>
	</div>
</div>

<!-- Row 1 -->
<div class="row">
	<!-- Document Selection -->
	<div class="col-sm-4">
		<legend>1. Select Active Document</legend>
		<input type="hidden" value="{{ request.form['filetorollinganalyze'] }}" id="filetorollinganalyze"/>
		<div id="rwFileselect" style="overflow:auto; width: 100%; max-height: 125px;">
			{% for fileID, label in labels.items() %}
				<label style="width: 90%; margin: auto; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{label}}
					<input type="radio" class="minifilepreview" {{ 'checked' if fileID|unicode == session['rwoption']['filetorollinganalyze'] or loop.first }} name="filetorollinganalyze" id="{{fileID}}_selector" value="{{fileID}}">
				</label><br/>
			{%- endfor %}
			{% if labels|len == 0 %}
				<span id="no-labels">No Documents are Selected</span>
			{%- endif %}
		</div>
	</div>

	<!-- Calculation Type Selection -->
	<div class="col-sm-4">
		<fieldset class="rwanalysisradiosdiv">
			<legend>2. Select Calculation Type</legend>
			<label class="radio" for="rollingaverage" id="radioaverage">
				<input type="radio" checked name="counttype" value="average" id="rollingaverage" data-toggle="radio" />
				<span>Rolling Average</span>
				<i class="fa fa-question-circle lexos-tooltip-trigger" data-toggle="tooltip" data-html="true" data-placement="right" data-container="body" title="Measures the number of times the input appears in the window, divided by the overall size of the window." style=""></i>
			</label>
			<label class="radio" for="rollingratio" id="radioratio">
				<input type="radio" {{ "checked" if session['rwoption']["counttype"] == "ratio" }} name="counttype" value="ratio" id="rollingratio" data-toggle="radio"/>
				<span>Rolling Ratio</span>
				<i class="fa fa-question-circle lexos-tooltip-trigger" data-toggle="tooltip" data-html="true" data-placement="right" data-container="body" title="Measures the value of the first input divided by the sum of the first and second inputs." style=""></i>
			</label>
		</fieldset>
	</div>

	<!-- Enter Search Terms -->
	<div class="col-sm-4">
		<!-- Search Token -->
		<fieldset id="rolling-analysis-inputs">
			<legend>3. Enter Search Terms</legend>
			<label id="rollinginputlabel">
				<table style="border:none;width:100%;">
					<tr>
						<td style="width:140px;">Search Pattern(s):</td>
					<td>
						<input type="text" name="rollingsearchword" class="rollinginput" id="rollingsearchword" value="{{ session['rwoption']['rollingsearchword'] }}">
					</td>
					<td style="width:20px;">
						<i class="fa fa-question-circle lexos-tooltip-trigger" data-toggle="tooltip" data-html="true" data-placement="bottom" data-container="body" title="Up to six inputs, divided by commas. For rolling ratios, input the numerator and denominator." style="padding-left:4px;"></i>
					</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>
							<span class="rollingsearchwordoptdiv {{ 'hidden' if session['rwoption']['counttype'] != 'ratio' }}">
							<hr style="color:#34495E;border:0;height:2px;background:#34495E;margin:2px;padding:0;">
							<input type="text" name="rollingsearchwordopt" class="rollinginput" id="rollingsearchwordopt" value="{{ session['rwoption']['rollingsearchwordopt'] }}">
							</span>
						</td>
						<td>&nbsp;</td>
					</tr>
				</table>
			</label>
		<!-- Search Patterns -->
		<p><strong>Search pattern(s) as:</strong></p>
		<label class="radio" for="inputstring" id="radioinputletter" style="margin-left:10px;">
			<input type="radio" checked name="inputtype" value="string" id="inputstring" data-toggle="radio"/>String(s)
			<i class="fa fa-question-circle lexos-tooltip-trigger" data-toggle="tooltip" data-html="true" data-placement="right" data-container="body" title="A string can be of any length." style=""></i>
		</label>
		<label class="radio" for="inputword" id="radioinputword" style="margin-left:10px;">
			<input type="radio" {{ "checked" if session['rwoption']["inputtype"] == "word" }} name="inputtype" value="word" id="inputword" data-toggle="radio" />Word(s) (Tokens)
			<i class="fa fa-question-circle lexos-tooltip-trigger" data-toggle="tooltip" data-html="true" data-placement="right" data-container="body" title="A token is typically a word, but Lexos will use whatever unit you have chosen in Tokenize." style=""></i>
		</label>
		<label class="radio" for="inputregex" id="radioinputregex" style="margin-left:10px;">
			<input type="radio" {{ "checked" if session['rwoption']["inputtype"] == "regex" }} name="inputtype" value="regex" id="inputregex" data-toggle="radio" />Regular Expression(s)
			<i class="fa fa-question-circle lexos-tooltip-trigger" data-toggle="tooltip" data-html="true" data-placement="right" data-container="body" title="Regular Expressions (RegEx) can be used as the input." style=""></i>
		</label>
		</fieldset>
	</div>
</div>

<!-- Row 2 -->
<div clas="row">
	<!-- Window Unit Selection -->
	<div class="col-sm-4">
		<fieldset class="rwanalysisradiosdiv">
			<legend>4. Define Window</legend>
			<label for="rollingwindowsize" style="padding-bottom: 6px">Size of Rolling Window:
				<input type="number" min="1" name="rollingwindowsize" id="rollingwindowsize" value="{{ session['rwoption']['rollingwindowsize'] }}">
				<i class="fa fa-question-circle lexos-tooltip-trigger" data-toggle="tooltip" data-html="true" data-placement="right" data-container="body" title="The number of characters, tokens, or lines to increment for each window." style=""></i>
			</label>
			<label class="radio" for="windowletter" id="radiowindowletter">
				<input type="radio" checked name="windowtype" value="letter" id="windowletter" data-toggle="radio">Count by characters
			</label>
			<label class="radio" for="windowword" id="radiowindowword">
				<input type="radio" {{ "checked" if session['rwoption']["windowtype"] == "word" }} name="windowtype" value="word" id="windowword" data-toggle="radio" />Count by words (tokens)
			</label>
			<label class="radio" for="windowline" id="radiowindowline">
				<input type="radio" {{ "checked" if session['rwoption']["windowtype"] == "line" }} name="windowtype" value="line" id="windowline" data-toggle="radio" />Count by lines
			</label>
			<label class="milestoneCheckbox">
				Document has Milestones<input type="checkbox" class="milestoneCheckbox" name="rollinghasmilestone" id="rollinghasmilestone" {{ "checked" if session['rwoption']['rollinghasmilestone']}} style="text-align: left;" onclick="updateMSopt()">
				<i class="fa fa-question-circle lexos-tooltip-trigger" data-toggle="tooltip" data-html="true" data-placement="right" data-container="body" title="Search the file for all instances of a specified string and plot a vertical dividing line at those location." style=""></i>
			</label>
			<br/>
			<span class="rollingmilestoneopt" id="rollingmilestoneopt" name="rollingmilestoneopt" ><strong>Milestone Delimeter:</strong>
				<input type="text" name="rollingmilestonetype" id="rollingmilestonetype" value="{{ session['rwoption']['rollingmilestonetype'] }}" style="width: 150px;">
			</span>
		</fieldset>
	</div>

	<!-- Display Options -->
	<div class="col-sm-4">
		<fieldset class="rwanalysisradiosdiv">
			<legend>5. Choose Display Options</legend>
			<label>Hide individual points<input type="checkbox" name="hideDots" id="hideDots" {{ 'checked' if session['rwoption']['hideDots'] or not rwadatagenerated }}></label>
			<br/>
			<label>Black and White only<input type="checkbox" name="BWoutput" id="BWoutput" {{ 'checked' if session['rwoption']['BWoutput'] }}></label>
		</fieldset>
	</div>

	<!-- Add the Get Graph Button-->
	<div class="col-sm-4">
		<fieldset class="rwanalysisradiosdiv">
			<legend>6. Get Graph</legend>
			<input type="submit" id="getgraph"  class="bttn bttn-action" name="rollinganalyze" value="Get Graph" style="width:158px;margin-bottom:20px;"/>
			<!-- If data has been generated, add the download buttons -->
			{% if rwadatagenerated %}
				<br>
				<label>Download:<i class="fa fa-question-circle lexos-tooltip-trigger" data-toggle="tooltip" data-html="true" data-placement="right" data-container="body" title="Different browsers and operating systems behave differently. If the download buttons do not work for you, we recommend using your computer's screen shot functionality." style="padding-left:5px;"></i></label>
				<br>
                <input type="submit" class="bttn bttn-action" id="generateRWmatrix" name="get-RW-plot" value="CSV Matrix" style="width:158px;margin-bottom:6px;"/>
                <!--<input type="submit" class="bttn bttn-action" id="generateRWmatrix" name="get-RW-data" value="CSV Matrix" style="width:158px;margin-bottom:6px;"/>
			    <input type="button" class="bttn bttn-action save-png" id="save-png1" value="PNG" style="width:158px;margin-bottom:6px;"/> -->
			    <!--<input  type="submit" class="bttn bttn-action" id="save" name="get-RW-pdf" value="PDF/PNG" style="width:158px;margin-bottom:6px;display:none;"/> -->

				<div class="btn bttn bttn-action download-svg-chrome" href="#" style="width:158px;margin-bottom:6px;">SVG (Chrome)</div>

				<a class="btn bttn bttn-action download-svg-other" href="#" target="_blank" style="width:158px;margin-bottom:6px;">SVG (Other Browsers)</a>
			{% endif %}
        </fieldset>
	</div>
</div>
{% endblock %}

{% block results %}
<!-- Draw the graph div if there is data -->
{% if rwadatagenerated %}
<a name="graph-anchor" id="graph-anchor"></a><a class="to-top" style="padding-left:60px;padding-top:70px;"><i class="to-top fa fa-arrow-circle-up fa-2x" data-toggle="tooltip" data-container="body" data-trigger="hover focus" data-html="true" data-placement="right" title="Back to Top"></i></a>
<div id="rwagraphlabel">{{graphTitle}}</div>
<div id="rwagraphdiv" name=" {{ rwadatagenerated }} " class="hidden">{{ rwadatagenerated }}</div>
<div style="margin-left:60px;margin-top:-20px;">
	<label><a class="to-top" style="margin-right: 40px;"><i class="fa fa-arrow-circle-up fa-2x" data-toggle="tooltip" data-container="body" data-trigger="hover focus" data-html="true" data-placement="bottom" title="Back to Top"></i></a>Download:<i class="fa fa-question-circle lexos-tooltip-trigger" data-toggle="tooltip" data-html="true" data-placement="right" data-container="body" title="Different browsers and operating systems behave differently. If the download buttons do not work for you, we recommend using your computer's screen shot functionality." style="padding-left:5px;padding-right:5px"></i></label>
	<input type="submit" class="bttn bttn-action" id="generateRWmatrix" name="get-RW-plot" value="CSV Matrix"/>
	<!--<input type="submit" class="bttn bttn-action" id="generateRWmatrix" name="get-RW-data" value="CSV Matrix"/> -->
    <!--<input type="button" class="bttn bttn-action save-png" id="save-png2" value="PNG"/> -->
    <!--<input type= "submit" class="bttn bttn-action"  name="get-RW-pdf" id="save" value="PDF/PNG" style="display:none;"/> -->
	<div class="btn bttn bttn-action download-svg-chrome" href="#" style="margin-top:-2px;">SVG (Chrome)</div>
	<a class="btn bttn bttn-action download-svg-other" href="#" target="_blank" style="margin-top:-2px;">SVG (Other Browsers)</a>
</div>

<div id="rwagraphdive" class="infobox">
	<p></p>
</div>

<!-- Create the SVG canvas if segments are selected -->
{% if words == "" %}
	<h4 id="nosegments">Please select the segments for the graph.</h4>
{% else %}
	<!-- Canvg Used for Save to PNG -->
	<script type="text/javascript" src="{{ url_for('static', filename='js/canvg/rgbcolor.js') }}?ver={{version}}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/canvg/StackBlur.js') }}?ver={{version}}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/canvg/canvg.min.js') }}?ver={{version}}"></script>
	<canvas id="svg-canvas" style="display:none;"></canvas>
	<img id="svg-img" style="display:none;"/>
{% endif %}

{% endif %}
 <script>
	var dataset = {{ JSONObj|safe or {} }};
    var numActiveDocs = {{ numActiveDocs }};
</script>
{% endblock %}


