{% extends "helpers/base.html" %}


<!-- Head -->
{% block head %}

    <!-- Lexos dependencies -->
    <script type="text/javascript" src="/static/js/helpers/document-previews.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/helpers/document-previews.css"/>
    <script type="text/javascript" src="/static/js/helpers/popup.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/helpers/popup.css"/>

    <!-- Page JS and CSS -->
    <script type="text/javascript" src="/static/js/scrub.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/scrub.css"/>
{% endblock %}


<!-- Content -->
{% block content %}

    <!-- Left column -->
    <div id="left-column">

        <!-- Scrubbing options -->
        <div id="scrubbing-options-section" class="section">

            <div class="section-top">
                <h3 class="title">Scrubbing Options</h3><h3 id="scrubbing-options-tooltip-button" class="lexos-tooltip-button">[?]</h3>
            </div>

            <div class="section-body vertical-splitter">
                <div>
                    <label class="checkbox-label"><input name="lowercasebox" type="checkbox" checked><span>Make Lowercase</span></label><br>
                    <label class="checkbox-label"><input name="digitsbox" type="checkbox" checked><span>Remove Digits</span></label><br>
                    <label class="checkbox-label"><input name="spacesbox"type="checkbox"><span>Remove Spaces</span></label><br>
                    <label class="checkbox-label"><input name="tabsbox" type="checkbox"><span>Remove Tabs</span></label><br>
                    <label class="checkbox-label"><input name="newlinesbox" type="checkbox"><span>Remove Newlines</span></label>
                </div>
                <div>
                    <label class="checkbox-label"><input name="tagbox" type="checkbox"><span>Scrub Tags</span></label>
                    <h3 id="scrub-tags-settings-button" class="selectable">[Options]</h3><br>
                    <label class="checkbox-label"><input id="punctuation-checkbox" name="punctuationbox" type="checkbox" checked><span>Remove Punctuation</span></label><br>
                    <div id="punctuation-options">
                        <label class="checkbox-label"><input name="hyphensbox" type="checkbox"><span>Keep Hyphens</span></label><br>
                        <label class="checkbox-label"><input name="aposbox" type="checkbox"><span>Keep Apostrophes</span></label><br>
                        <label class="checkbox-label"><input name="ampersandbox" type="checkbox"><span>Keep Ampersands</span></label>
                    </div>
                </div>
            </div>
        </div>

        <!-- Lemmas -->
        <div id="lemmas-section" class="section">

            <h3 class="section-top title">Lemmas</h3>

            <div class="borderless-section-body">
                <label class="textarea-label"><textarea name="manuallemmas" spellcheck="false" placeholder="Enter lemmas here."></textarea></label>
            </div>
        </div>

        <!-- Consolidations -->
        <div id="consolidations-section" class="section">

            <h3 class="section-top title">Consolidations</h3>

            <div class="borderless-section-body">
                <label class="textarea-label"><textarea name="manualconsolidations" spellcheck="false" placeholder="Enter consolidations here."></textarea></label>
            </div>
        </div>
    </div>

    <!-- Middle column -->
    <div id="middle-column">

        <!-- Stop words and keep words -->
        <div id="stop-words-section" class="section">

            <h3 class="section-top title">Stop Words and Keep Words</h3>

            <div class="borderless-section-body">

                <div class="options-section">
                    <label class="circle-label"><input type="radio" name="sw_option" value="off" checked><span>None</span></label>
                    <label class="circle-label"><input type="radio" name="sw_option" value="stop"><span>Stop</span></label>
                    <label class="circle-label"><input type="radio" name="sw_option" value="keep"><span>Keep</span></label>
                </div>

                <label class="textarea-label"><textarea name="manualstopwords" spellcheck="false" placeholder="Enter stop words and keep words here."></textarea></label>
            </div>
        </div>

        <!-- Special characters -->
        <div id="special-characters-section" class="section">

            <h3 class="section-top title">Special Characters</h3>

            <div class="borderless-section-body">

                <div class="vertical-splitter">
                    <div class="options-section">
                        <label class="circle-label"><input type="radio" name="entityrules" value="default" checked><span>None</span></label><br>
                        <label class="circle-label"><input type="radio" name="entityrules" value="early-english-html"><span>Early English HTML</span></label><br>
                        <label class="circle-label"><input type="radio" name="entityrules" value="doe-sgml"><span>Old English SGML</span></label>
                    </div>
                    <div class="options-section">
                        <label class="circle-label"><input type="radio" name="entityrules" value="MUFI-3"><span>MUFI 3</span></label><br>
                        <label class="circle-label"><input type="radio" name="entityrules" value="MUFI-4"><span>MUFI 4</span></label>
                    </div>
                </div>

                <label class="textarea-label"><textarea name="manualspecialchars" spellcheck="false" placeholder="Enter special characters here."></textarea></label>
            </div>
        </div>
    </div>

    <!-- Document previews -->
    <div id="document-previews-section" class="section">

        <div class="section-top vertical-splitter">

            <h3 class="title">Document Previews</h3>

            <div class="right-justified">
                <h3 id="preview-button" class="disabled button">Preview</h3>
                <h3 id="apply-button" class="disabled button">Apply</h3>
                <a id="download-button" class="disabled button" href="scrub/download">Download</a>
            </div>
        </div>

        <div id="previews"></div>
    </div>

{% endblock %}
