{% extends "helpers/base.html" %}


<!-- Head -->
{% block head %}

    <!-- Lexos dependencies -->
    <script type="text/javascript" src="/static/js/helpers/document-previews.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/helpers/document-previews.css"/>
    <script type="text/javascript" src="/static/js/helpers/popup.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/helpers/popup.css"/>

    <!-- Page JS and CSS -->
    <script type="text/javascript" src="/static/js/scrub.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/scrub.css"/>
{% endblock %}


<!-- Content -->
{% block content %}

    <!-- Left column -->
    <div id="left-column" class="column">

        <!-- Scrubbing options -->
        <div id="scrubbing-options-section" class="section">

            <h3 class="section-top title">Scrubbing Options</h3>

            <div class="section-body vertical-splitter">

                <!-- Left section -->
                <div>
                    <label class="checkbox-label"><input name="lowercasebox" type="checkbox" checked="checked"><span class="checkmark"></span><span>Make Lowercase</span></label><br>
                    <label class="checkbox-label"><input name="digitsbox" type="checkbox" checked="checked"><span class="checkmark"></span><span>Remove Digits</span></label><br>
                    <label class="checkbox-label"><input name="spacesbox"type="checkbox"><span class="checkmark"></span><span>Remove Spaces</span></label><br>
                    <label class="checkbox-label"><input name="tabsbox" type="checkbox"><span class="checkmark"></span><span>Remove Tabs</span></label><br>
                    <label class="checkbox-label"><input name="newlinesbox" type="checkbox"><span class="checkmark"></span><span>Remove Newlines</span></label>
                </div>

                <!-- Right section -->
                <div>
                    <label class="checkbox-label"><input name="tagbox" type="checkbox"><span class="checkmark"></span><span>Scrub Tags</span></label>
                    <h3 id="scrub-tags-settings-button" class="button">Options</h3>
                    <h3 id="scrub-tags-tooltip-button" class="button">?</h3><br>

                    <label class="checkbox-label"><input id="punctuation-checkbox" name="punctuationbox" type="checkbox" checked="checked"><span class="checkmark"></span><span>Remove Punctuation</span></label><br>

                    <div id="punctuation-options">
                        <label class="checkbox-label"><input name="hyphensbox" type="checkbox"><span class="checkmark"></span><span>Keep Hyphens</span></label>
                        <h3 id="keep-hyphens-tooltip-button" class="button">?</h3><br>

                        <label class="checkbox-label"><input name="aposbox" type="checkbox"><span class="checkmark"></span><span>Keep Apostrophes</span></label>
                        <h3 id="keep-apostrophes-tooltip-button" class="button">?</h3><br>

                        <label class="checkbox-label"><input name="ampersandbox" type="checkbox"><span class="checkmark"></span><span>Keep Ampersands</span></label>
                        <h3 id="keep-ampersands-tooltip-button" class="button">?</h3>
                    </div>
                </div>
            </div>
        </div>

        <!-- Lemmas -->
        <div id="lemmas-section" class="scrub-section">

            <div class="vertical-splitter scrub-section-top">
                <h3 class="title">Lemmas</h3>

                <div class="right-justified">
                    <h3 id="lemmas-upload-button" class="button">Upload</h3>
                    <h3 id="lemmas-tooltip-button" class="button">?</h3>
                </div>

                <h3 id="lemmas-upload-text" class="hidden upload-text"></h3>
            </div>

            <div class="scrub-section-body">
                <label class="textarea-label"><textarea name="manuallemmas" spellcheck="false" placeholder="Enter lemmas here."></textarea></label>
            </div>
        </div>

        <!-- Consolidations -->
        <div id="consolidations-section" class="scrub-section">

            <div class="vertical-splitter scrub-section-top">
                <h3 class="title">Consolidations</h3>

                <div class="right-justified">
                    <h3 id="consolidations-upload-button" class="button">Upload</h3>
                    <h3 id="consolidations-tooltip-button" class="button">?</h3>
                </div>

                <h3 id="consolidations-upload-text" class="hidden upload-text"></h3>
            </div>

            <div class="scrub-section-body">
                <label class="textarea-label"><textarea name="manualconsolidations" spellcheck="false" placeholder="Enter consolidations here."></textarea></label>
            </div>
        </div>
    </div>

    <!-- Middle column -->
    <div id="middle-column" class="column">

        <!-- Stop and keep words -->
        <div id="stop-words-section" class="scrub-section">

            <div class="vertical-splitter scrub-section-top">

                <h3 class="title">Stop/Keep Words</h3>

                <div class="right-justified">
                    <h3 id="stop-words-upload-button" class="button">Upload</h3>
                    <h3 id="stop-words-tooltip-button" class="button">?</h3>
                </div>

                <h3 id="stop-words-upload-text" class="hidden upload-text"></h3>

                <div id="stop-words-options" class="options-section">
                    <label class="circle-label"><input type="radio" name="sw_option" value="off" checked="checked"><span class="radiomark"></span><span>None</span></label>
                    <label class="circle-label"><input type="radio" name="sw_option" value="stop"><span class="radiomark"></span><span>Stop</span></label>
                    <label class="circle-label"><input type="radio" name="sw_option" value="keep"><span class="radiomark"></span><span>Keep</span></label>
                </div>
            </div>

            <div class="scrub-section-body">
                <label class="textarea-label"><textarea name="manualstopwords" spellcheck="false" placeholder="Enter stop words and keep words here."></textarea></label>
            </div>
        </div>

        <!-- Special characters -->
        <div id="special-characters-section" class="scrub-section">

            <div class="vertical-splitter scrub-section-top">
                <h3 class="title">Special Characters</h3>

                <div class="right-justified">
                    <h3 id="special-characters-upload-button" class="button">Upload</h3>
                    <h3 id="special-characters-tooltip-button" class="button">?</h3>
                </div>

                <h3 id="special-characters-upload-text" class="hidden upload-text"></h3>

                <div id="special-characters-options" class="vertical-splitter">
                    <div class="options-section">
                        <label class="circle-label"><input type="radio" name="entityrules" value="default" checked="checked"><span class="radiomark"></span><span>None</span></label><br>
                        <label class="circle-label"><input type="radio" name="entityrules" value="early-english-html"><span class="radiomark"></span><span>Early English HTML</span></label><br>
                        <label class="circle-label"><input type="radio" name="entityrules" value="doe-sgml"><span class="radiomark"></span><span>Old English SGML</span></label>
                    </div>
                    <div class="options-section">
                        <label class="circle-label"><input type="radio" name="entityrules" value="MUFI-3"><span class="radiomark"></span><span>MUFI 3</span></label><br>
                        <label class="circle-label"><input type="radio" name="entityrules" value="MUFI-4"><span class="radiomark"></span><span>MUFI 4</span></label>
                    </div>
                </div>
            </div>

            <div class="scrub-section-body">
                <label class="textarea-label"><textarea name="manualspecialchars" spellcheck="false" placeholder="Enter special characters here."></textarea></label>
            </div>
        </div>
    </div>

    <!-- Document previews -->
    <div id="document-previews-section" class="column section">

        <div class="section-top vertical-splitter">

            <h3 class="title">Previews</h3>

            <div class="right-justified">
                <h3 id="preview-button" class="disabled button">Preview</h3>
                <h3 id="apply-button" class="disabled button">Apply</h3>
                <a id="download-button" class="disabled button" href="scrub/download">Download</a>
            </div>
        </div>

        <div id="previews"></div>
    </div>

    <!-- Hidden elements -->
    <input id="stop-words-file-input" name="swfileselect[]" type="file" class="hidden">
    <input id="lemmas-file-input" name="lemfileselect[]" type="file" class="hidden">
    <input id="consolidations-file-input" name="consfileselect[]" type="file" class="hidden">
    <input id="special-characters-file-input" name="scfileselect[]" type="file" class="hidden">


{% endblock %}
