{% extends "base.html" %}
{% set active_page = "scrub" %}

<!-- Head -->
{% block head %}
    <!-- Page JS and CSS -->
    <script type="text/javascript" src="{{ url_for("static", filename="js/scrub.js") }}?ver={{ version }}"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/scrub.css"/>
{% endblock %}

<!-- Title -->
{% block title %}Scrubber{% endblock %}

<!-- Content -->
{% block content %}

    <!-- Left column -->
    <div id="left-column">

        <!-- Scrubbing options -->
        <div id="scrubbing-options" class="section">
            <h3 class="title">Scrubbing Options</h3>
            <div class="options-grid">
                <div class="options-section">
                    <label class="circle-label"><input type="checkbox" id="punctuationbox" checked><span>Remove Punctuation</span></label><br>
                    <label class="circle-label"><input type="checkbox" id="digitsbox" checked><span>Remove Digits</span></label><br>
                    <label class="circle-label"><input type="checkbox" id="spacesbox"><span>Remove Spaces</span></label><br>
                    <label class="circle-label"><input type="checkbox" id="tabsbox"><span>Remove Tabs</span></label><br>
                    <label class="circle-label"><input type="checkbox" id="newlinesbox"><span>Remove Line Breaks</span></label>
                </div>
                <div id="scrubbing-options-right-options-section" class="options-section">
                    <label class="circle-label"><input type="checkbox" id="lowercasebox" checked><span>Make Lowercase</span></label><br>
                    <label class="circle-label"><input type="checkbox" id="hyphensbox"><span>Keep Hyphens</span></label><br>
                    <label class="circle-label"><input type="checkbox" id="aposbox"><span>Keep Apostrophes</span></label><br>
                    <label class="circle-label"><input type="checkbox" id="ampersandbox"><span>Keep Ampersands</span></label><br>
                    <label class="circle-label"><input type="checkbox" id="tagbox"><span>Scrub Tags</span></label>
                </div>
            </div>
        </div>

        <!-- Lemmas -->
        <div id="lemmas" class="section">
            <h3 class="title">Lemmas</h3>
            <textarea id="lemmas-text-area" spellcheck="false"  placeholder="Enter lemmas here."></textarea>
        </div>

        <!-- Consolidations -->
        <div id="consolidations" class="section">
            <h3 class="title">Consolidations</h3>
            <textarea id="consolidations-text-area" spellcheck="false" placeholder="Enter consolidations here."></textarea>
        </div>
    </div>

    <!-- Middle column -->
    <div id="middle-column">

        <!-- Stop words and keep words -->
        <div id="stop-words-and-keep-words" class="section">
            <h3 class="title">Stop Words & Keep Words</h3>
            <fieldset class="options-section">
                <label class="circle-label"><input type="radio" name="sw_option" value="off" checked><span>None</span></label>
                <label class="circle-label"><input type="radio" name="sw_option" value="stop"><span>Stop</span></label>
                <label class="circle-label"><input type="radio" name="sw_option" value="keep"><span>Keep</span></label>
            </fieldset>
            <textarea id="stop-words-and-keep-words-text-area" spellcheck="false" placeholder="Enter stop words and keep words here."></textarea>
        </div>

        <!-- Special characters -->
        <div id="special-characters" class="section">
            <h3 class="title">Special Characters</h3>
            <fieldset>
                <div class="options-grid">
                        <div class="options-section">
                            <label class="circle-label"><input type="radio" name="entityrules" value="default" checked><span>None</span></label><br>
                            <label class="circle-label"><input type="radio" name="entityrules" value="early-english-html"><span>Early English HTML</span></label><br>
                            <label class="circle-label"><input type="radio" name="entityrules" value="doe-sgml"><span>Old English SGML</span></label>
                        </div>
                        <div id="special-characters-right-options-section" class="options-section">
                            <label class="circle-label"><input type="radio" name="entityrules" value="MUFI-3"><span>MUFI 3</span></label><br>
                            <label class="circle-label"><input type="radio" name="entityrules" value="MUFI-4"><span>MUFI 4</span></label>
                        </div>
                </div>
            </fieldset>
            <textarea id="special-characters-text-area" spellcheck="false" placeholder="Enter special characters here."></textarea>
        </div>
    </div>

    <!-- Document previews -->
    <div id="document-previews" class="section">
        <div id="document-previews-top">
            <h3 class="title">Document Previews</h3>
            <div id="document-previews-buttons">
                <h3 class="selectable">Preview</h3>
                <h3 class="selectable">Apply</h3>
                <h3 class="selectable">Download</h3>
            </div>
        </div>
        <div id="previews"></div>
    </div>
{% endblock %}
