{% extends "base_analyze.html" %}
{% set active_page = 'similarity' %}

{% block head %}
    <script type="text/javascript"
            src="{{ url_for('static', filename='js/scripts_similarity.js') }}?ver={{ version }}"></script>

    <!-- Latest compiled and minified DataTables CSS -->
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/u/bs/jszip-2.5.0,pdfmake-0.1.18,dt-1.10.12,b-1.2.1,b-html5-1.2.1,b-print-1.2.1,fc-3.2.2,fh-3.1.2,se-1.2.0/datatables.min.css"/>

    <!-- Latest compiled and minified DataTables JS -->
    <script type="text/javascript"
            src="https://cdn.datatables.net/u/bs/jszip-2.5.0,pdfmake-0.1.18,dt-1.10.12,b-1.2.1,b-html5-1.2.1,b-print-1.2.1,fc-3.2.2,fh-3.1.2,se-1.2.0/datatables.min.js"></script>

{% endblock %}

{% block title %}Similarity Query{% endblock %}

{% block options %}
    <input type="hidden" id="num_active_files" value="{{ labels|len }}"
           style="visibility: hidden;"/>
    <input type="hidden" id="uploadname"
           value="{{ request.form['uploadname'] }}"/>

    <fieldset id="similarityoptions">
        <legend>Select Comparison Document:
            <i style="font-size:18px;padding-left:4px;"
               class="fa fa-question-circle lexos-popover-trigger"
               data-toggle="popover" data-html="true" data-placement="right"
               data-container="body"
               title="Select one document to be the external comparison. All other documents shown below will be used to make the model and will be ranked in order of most to least similar to the comparison document in your results. For more info click <a href='http://scalar.usc.edu/works/lexos/similarity-query?path=the-analyze-tab' target='_blank'>here.</a>"></i>
        </legend>
    </fieldset>

    <div id="similarityFileselect"
         style="overflow:auto; width: 400px; height: 180px; float: left;">
        {% for fileID, label in labels.items() %}
            <label style="width: 90%; margin: auto; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{ label }}
                <input type="radio"
                       class="minifilepreview" {{ 'checked' if fileID == session['similarities']['uploadname'] or loop.first }}
                       name="uploadname" id="{{ fileID }}_selector"
                       value="{{ fileID }}">
            </label><br>
        {%- endfor %}
        {% if labels|len == 0 %}
            <span id="no-labels">No Documents are Selected</span>
        {%- endif %}
    </div>
{% endblock %}

{% block results %}
    <div style="margin-top: 20px">
        <input type="button" class="bttn bttn-action" id="get-sims"
               name="gen-sims" value="Get Similarity Rankings"/>
    </div>

    <div id="similaritiesResults"
         style="width: 100%; float:left; margin-top:30px;margin-right:300px">
        <fieldset>
            <legend>Similarity Rankings:<i
                    class="fa fa-question-circle lexos-tooltip-trigger"
                    data-toggle="tooltip" data-html="true"
                    data-placement="right"
                    data-container="body"
                    title="The rankings are determined by 'distance between documents' where small distances (near zero) represent documents that are 'similar' and unlike documents have distances closer to one."
                    style="font-size:18px;padding-left:4px;"></i>
            </legend>
        </fieldset>
        <div id="simTable"></div>
    </div>
{% endblock %}

{% block submit %}
{% endblock %}
