{% extends "helpers/analyze-template.html" %}


<!-- Head -->
{% block page_head %}

    <!-- Lexos dependencies -->
    <script type="text/javascript" src="static/js/helpers/popup.js"></script>
    <link rel="stylesheet" type="text/css" href="static/css/helpers/popup.css"/>

    <!-- Page JS and CSS -->
    <script type="text/javascript" src="static/js/similarity-query.js"></script>
    <link rel="stylesheet" type="text/css" href="static/css/similarity-query.css"/>
{% endblock %}


<!-- Options -->
{% block options %}

    <!-- Comparison document -->
    <div id="comparison-document-section" class="section">
        <div class="vertical-splitter section-top">
            <h3 class="title">Comparison Document</h3>
            <h3 id="select-button" class="right-justified disabled button">Select</h3>
        </div>
        <div id="comparison-document-section-body" class="section-body"></div>
    </div>
{% endblock %}


<!-- Results -->
{% block results %}
    <div class="section">
        <div class="vertical-splitter section-top">
            <h3 class="title">Similarity Query</h3>
            <!--h3 id="generate-button" class="disabled right-justified button">Generate</h3-->
            <div class="right-justified">
                <h3 id="generate-button" class="disabled button">Generate</h3>
                <h3 id="download-button" class="disabled button">CSV</h3>
                <h3 id="download-button" class="disabled button">PDF</h3>
            </div>
        </div>

        <div id="table" class="borderless-section-body"></div>
    </div>
{% endblock %}


<!-- Hidden elements -->
{% block hidden_elements %}
    <input id="comparison-document-input" name="uploadname" value="" type="hidden">
{% endblock %}

