{% extends "helpers/base.html" %}


<!-- Head -->
{% block head %}

    <!-- Plotly -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <!-- Lexos dependencies -->
    <script type="text/javascript" src="static/js/helpers/analyze-template.js"></script>
    <link rel="stylesheet" type="text/css" href="static/css/helpers/analyze-template.css"/>
    <script type="text/javascript" src="static/js/helpers/graph.js"></script>
    <link rel="stylesheet" type="text/css" href="static/css/helpers/graph.css"/>
    <script type="text/javascript" src="static/js/helpers/popup.js"></script>
    <link rel="stylesheet" type="text/css" href="static/css/helpers/popup.css"/>
    <script type="text/javascript" src="static/js/helpers/table.js"></script>
    <link rel="stylesheet" type="text/css" href="static/css/helpers/table.css"/>

    <!-- Page JS and CSS -->
    <script type="text/javascript" src="static/js/statistics.js"></script>
    <link rel="stylesheet" type="text/css" href="static/css/statistics.css"/>
{% endblock %}


<!-- Content -->
{% block content %}

    <!-- Top section -->
    <div id="top-section">

        <!-- Options -->
        <div id="left-column">

            <!-- Generate -->
            <div class="section">
                <span id="generate-button" class="disabled important-button">Generate</span>
            </div>

            <!-- Tokenize -->
            <div id="tokenize-section" class="section">

                <div class="vertical-splitter section-top">
                    <h3 class="title">Tokenize</h3>
                    <span id="tokenize-tooltip-button" class="right-justified tooltip-button">?</span>
                </div>

                <div class="section-body">
                    <label><input name="tokenType" value="word" type="radio" checked><span></span>By Tokens</label><br>
                    <label><input name="tokenType" value="char" type="radio"><span></span>By Characters</label><br>

                    <h3>Grams</h3>
                    <label><input id="grams-input" name="tokenSize" value="1" type="text" spellcheck="false" autocomplete="off"></label>
                </div>
            </div>

            <!-- Cull -->
            <div id="cull-section" class="section">

                <div class="vertical-splitter section-top">
                    <h3 class="title">Cull</h3>
                    <span id="cull-tooltip-button" class="right-justified tooltip-button">?</span>
                </div>

                <div class="section-body">

                    <label>
                        <input id="most-frequent-words-checkbox" name="mfwcheckbox" type="checkbox">
                        <span></span>
                        Use the top
                        <input id="most-frequent-words-input" name="mfwnumber" value="100" type="text" spellcheck="false" autocomplete="off">
                        terms
                    </label>

                    <span id="most-frequent-words-tooltip-button" class="tooltip-button">?</span><br>

                    <label>
                        <input id="minimum-occurrences-checkbox" name="cullcheckbox" type="checkbox">
                        <span></span>
                        Must be in
                        <input id="minimum-occurrences-input" name="cullnumber" value="1" type="text" spellcheck="false" autocomplete="off">
                        documents
                    </label>

                    <span id="minimum-occurrences-tooltip-button" class="tooltip-button">?</span>
                </div>
            </div>
        </div>

        <!-- Document sizes -->
        <div id="graph-section" class="section">
            <div id="graph-section-top" class="vertical-splitter section-top">

                <h3 class="title">Document Sizes</h3>

                <div class="right-justified">
                    <span id="png-button" class="disabled button">PNG</span>
                    <span id="svg-button" class="disabled button">SVG</span>
                </div>
            </div>
            <div id="graph-container" class="section-body"></div>
        </div>

        <!-- Corpus information section -->
        <div id="right-column">

            <!-- Corpus statistics -->
            <div id="corpus-statistics-section" class="section">
                <h3 class="section-top title">Corpus Statistics</h3>
                <div id="corpus-statistics" class="section-body"></div>
            </div>

            <!-- Standard error test -->
            <div id="standard-error-test-section" class="section">
                <h3 class="section-top title">Standard Error Test</h3>
                <div id="standard-error-test"  class="section-body"></div>
            </div>

            <!-- Interquartile range test -->
            <div id="interquartile-range-test-section" class="section">
                <h3 class="section-top title">Interquartile Range Test</h3>
                <div id="interquartile-range-test"  class="section-body"></div>
            </div>
        </div>
    </div>

    <!-- Document statistics -->
    <div id="documents-section" class="section">

        <div id="table-top" class="section-top">

            <!-- Title -->
            <h3 class="title">Document Statistics</h3>

            <!-- Sort direction -->
            <div class="table-top-radio-option">
                <h3>Order: </h3>
                <label><input name="sort-ascending" value="true" type="radio" checked><span></span>Ascending</label>
                <label><input name="sort-ascending" value="false" type="radio"><span></span>Descending</label>
            </div>

            <!-- Download -->
            <a id="download-button" class="right-justified disabled button">Download</a>
        </div>

        <div id="table" class="borderless-section-body"></div>
    </div>

    <!-- Hidden elements -->
    <input name="csvdelimiter" value="comma" type="hidden">
    <input name="norm" value="l2" type="hidden">
    <input name="normalizeType" value="raw" type="hidden">
    <input id="active-file-ids" name="active_file_ids" type="hidden">
    <div id="document-names-section"></div>
    <input name="sort-column" value="0" type="hidden">

{% endblock %}
