{% extends "helpers/analyze-template.html" %}


<!-- Head -->
{% block page_head %}

    <!-- Page JS and CSS -->
    <script type="text/javascript" src="static/js/tokenize.js"></script>
    <link rel="stylesheet" type="text/css" href="static/css/tokenize.css"/>
{% endblock %}


<!-- Options -->
{% block options %}

    <!-- Orientation -->
    <div id="orientation-section" class="section">
        <div class="vertical-splitter section-top">
            <h3 class="title">Orientation</h3>
            <span id="orientation-tooltip-button" class="right-justified tooltip-button">?</span>
        </div>

        <div class="section-body">
            <label><input name="orientation" type="radio" value="file_col" checked><span></span>Documents as Columns, Terms as Rows</label><br>
            <label><input name="orientation" type="radio" value="file_row"><span></span>Documents as Rows, Terms as Columns</label>
        </div>
    </div>
{% endblock %}


<!-- Results -->
{% block results %}

    <!-- Table -->
    <div id="table" class="section">

        <!-- Table top -->
        <div id="table-top" class="section-top">

            <!-- Search -->
            <div id="#search-input">
                <h3>Search: </h3>
                <label><input id="search-input" name="search-term" type="text" spellcheck="false" autocomplete="off"></label>
            </div>

            <!-- Rows per page -->
            <div class="table-top-radio-option">
                <h3>Rows:</h3>
                <label><input name="length" value="10" type="radio" checked><span></span>10</label>
                <label><input name="length" value="50" type="radio"><span></span>50</label>
                <label><input name="length" value="100" type="radio"><span></span>100</label>
            </div>

            <!-- Sort direction -->
            <div class="table-top-radio-option">
                <h3>Order:</h3>
                <label><input name="sort-ascending" value="true" type="radio" checked><span></span>Ascending</label>
                <label><input name="sort-ascending" value="false" type="radio"><span></span>Descending</label>
            </div>

            <!-- Download -->
            <div class="right-justified">
                <span id="generate-button" class="important-button important-button">Generate</span>
                <span id="download-button" class="disabled button">Download</span>
            </div>
        </div>

        <!-- Table data -->
        <div id="table-data"></div>

        <!-- Table bottom -->
        <div id="table-bottom">
            <div>
                <h3>Page</h3><input id="page-number" name="page-number" type="text" spellcheck="false" autocomplete="off" value="1"></label>
                <h3>of </h3>
                <h3 id="page-count">1</h3>
            </div>
            <div id="navigation-buttons">
                <span id="previous-button" class="button">Previous</span>
                <span id="next-button" class="button">Next</span>
            </div>
        </div>
    </div>
{% endblock %}
