{% extends "base_analyze.html" %}
{% set active_page = 'tokenizer' %}

{% block head %}
    <!-- Latest compiled and minified DataTables CSS and JS -->
    {% if config['LOCAL_MODE'] == True %}
        <link rel="stylesheet" type="text/css"
              href="{{ url_for('static', filename='node_modules/datatables.net-bs/css/dataTables.bootstrap.css') }}?ver={{ version }}"/>
        <link rel="stylesheet" type="text/css"
              href="{{ url_for('static', filename='node_modules/datatables.net-select-bs/css/select.bootstrap.css') }}?ver={{ version }}"/>
        <script type="text/javascript"
                src="{{ url_for('static', filename='node_modules/datatables.net/js/jquery.dataTables.js') }}?ver={{ version }}"></script>
        <script type="text/javascript"
                src="{{ url_for('static', filename='node_modules/datatables.net-select/js/dataTables.select.js') }}?ver={{ version }}"></script>
        <script type="text/javascript"
                src="{{ url_for('static', filename='node_modules/datatables.net-bs/js/dataTables.bootstrap.js') }}?ver={{ version }}"></script>
    {% else %}
        <link rel="stylesheet" type="text/css"
              href="https://cdn.datatables.net/u/bs/jszip-2.5.0,pdfmake-0.1.18,dt-1.10.12,b-1.2.1,b-html5-1.2.1,b-print-1.2.1,fc-3.2.2,fh-3.1.2,se-1.2.0/datatables.min.css"/>
        <script type="text/javascript"
                src="https://cdn.datatables.net/u/bs/jszip-2.5.0,pdfmake-0.1.18,dt-1.10.12,b-1.2.1,b-html5-1.2.1,b-print-1.2.1,fc-3.2.2,fh-3.1.2,se-1.2.0/datatables.min.js"></script>
        <script type="text/javascript"
                src="{{ url_for('static', filename='node_modules/datatables.net-bs/js/dataTables.bootstrap.js') }}?ver={{ version }}"></script>
    {% endif %}
    <script type="text/javascript"
            src="{{ url_for('static', filename='js/scripts_tokenizer.js') }}?ver={{ version }}"></script>

    <script type="text/javascript" charset="utf8"
            src="{{ url_for('static', filename='js/natural.js') }}?ver={{ version }}"></script>

    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/responsive/2.2.1/css/responsive.bootstrap.min.css">
    <script type="text/javascript"
            src="https://cdn.datatables.net/responsive/2.2.1/js/dataTables.responsive.min.js"></script>
{% endblock %}

{% block title %}Tokenizer{% endblock %}

{% block options %}
    <div class="row col-md-12">
        <input type="hidden" id="num_active_files"
               value="{{ labels|len }}"/>
    </div>
    <div class="row col-md-12 col-lg-12">
        <fieldset class="csvoptions" id="csvorientdiv">
            <legend>Data Orientation:</legend>
            <label class="radio label-csvorientation"
                   for="csvorientation-filecolumn">
                <input class="pivot" type="radio" name="csvorientation"
                       id="csvorientation-filecolumn"
                       value="filecolumn" {{ "checked" if session['csvoptions']['csvorientation'] == "filecolumn" }} />
                Documents as Columns, Terms as Rows
            </label>
            <label class="radio label-csvorientation"
                   for="csvorientation-filerow">
                <input class="pivot" type="radio" name="csvorientation"
                       id="csvorientation-filerow"
                       value="filerow" {{ "checked" if session['csvoptions']['csvorientation'] == "filerow" }} />
                Documents as Rows, Terms as Columns
            </label>
        </fieldset>
    </div>
{% endblock %}

{% block results %}
    <div class="row col-lg-12 col-md-12">
        <input type="button" class="bttn bttn-action" id="get-tokenize"
               name="gen-tokenize" value="Get tokenize table"/>
    </div>

    <div id="tokenizeResult" style="width: 100%; margin-top:20px;">
        <div id="tokenizeTable" class="row col-lg-12 col-md-12" style="width: 100%"></div>
    </div>
{% endblock %}
