{% extends "base.html" %}
{% set active_page = "tokenize" %}
{% block title %}Tokenizer{% endblock %}

<!-- Head -->
{% block head %}
    <!-- Page JS and CSS -->
    <script type="text/javascript" src="static/js/tokenize.js"></script>
    <link rel="stylesheet" type="text/css" href="static/css/tokenize.css"/>
{% endblock %}


<!-- Content -->
{% block content %}

    <!-- Options -->
    <div id="options-section">

        <!-- Orientation -->
        <div id="orientation-section" class="section">
            <h3 class="title">Orientation (Applied On Download)</h3>
            <label class="circle-label"><input name="csvorientation" type="radio" value="filecolumn" checked><span>Documents as Columns, Terms as Rows</span></label><br>
            <label class="circle-label"><input name="csvorientation" type="radio" value="filerow"><span>Documents as Rows, Terms as Columns</span></label>
        </div>

        <!-- Tokenize -->
        <div id="tokenize-section" class="section">
            <h3 class="title">Tokenize</h3>
            <label class="circle-label"><input name="tokenType" type="radio" checked><span>By Tokens</span></label><br>
            <label class="circle-label"><input name="tokenType" type="radio"><span>By Characters</span></label><br>
            <h3>Grams</h3><label><input name="tokenSize" value="1" type="text" spellcheck="false" autocomplete="off"></label>
        </div>

        <!-- Normalize -->
        <div id="normalize-section" class="section">
            <h3 class="title">Normalize</h3>
            <label class="circle-label"><input name="normalizeType" value="freq" type="radio" checked><span>Proportional</span></label><br>
            <label class="circle-label"><input name="normalizeType" value="raw" type="radio"><span>Raw</span></label><br>
            <label class="circle-label"><input name="normalizeType" value="tfidf" type="radio"><span>TF-IDF</span></label>
        </div>

        <!-- Cull -->
        <div id="cull-section" class="section">
            <h3 class="title">Cull</h3>
            <label class="checkbox-label"><input name="mfwcheckbox" type="checkbox"><span>Use the top<input name="mfwnumber" value="100" type="text" spellcheck="false" autocomplete="off">terms</span></label>
            <label class="checkbox-label"><input name="cullcheckbox" type="checkbox"><span>Must be in<input name="cullnumber" value="1" type="text" spellcheck="false" autocomplete="off">documents</span></label>
        </div>
    </div>


    <!-- Table -->
    <div id="table">

        <!-- Table top -->
        <div id="table-top">

            <!-- Generate -->
            <h3 id="generate-button" class="selectable">Generate</h3>

            <!-- Rows per page -->
            <div id="rows-per-page-option">
                <h3>Rows Per Page</h3>
                <label class="circle-label"><input name="rows-per-page" value="50" type="radio" checked><span>50</span></label>
                <label class="circle-label"><input name="rows-per-page" value="100" type="radio"><span>100</span></label>
                <label class="circle-label"><input name="rows-per-page" value="300" type="radio"><span>300</span></label>
            </div>

            <!-- Search -->
            <div id="search-option">
                <h3>Search</h3><label><input id="search-input" name="search-term" type="text" spellcheck="false" autocomplete="off"></label>
            </div>

            <!-- Download -->
            <a id="download-button" href="tokenize/download">Download</a>
        </div>

        <!-- Table data -->
        <div id="table-data">
            <div id="table-head"></div>
            <div id="table-body"></div>
        </div>

        <!-- Table bottom -->
        <div id="table-bottom">
            <div>
                <h3>Page</h3><label><input id="page-number" name="page-number" type="text" spellcheck="false" autocomplete="off" value="1"></label><h3>of</h3>
                <h3 id="page-count">1</h3>
            </div>
            <div id="navigation-buttons">
                <h3 id="previous-button" class="selectable">Previous</h3>
                <h3 id="next-button" class="selectable">Next</h3>
                <h3>|</h3>
                <h3 id="first-button" class="selectable">First</h3>
                <h3 id="last-button" class="selectable">Last</h3>
            </div>
        </div>
    </div>

    <!-- Hidden elements -->
    <input name="csvdelimiter" value="comma" type="hidden">
    <input name="norm" value="l2" type="hidden">

{% endblock %}
