{% extends "base_analyze.html" %}
{% set active_page = 'tokenizer' %}

{% block head %}
 <!-- Latest compiled and minified DataTables CSS and JS -->
{% if config['LOCAL_MODE'] == True %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='node_modules/datatables.net-bs/css/dataTables.bootstrap.css') }}?ver={{version}}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='node_modules/datatables.net-select-bs/css/select.bootstrap.css') }}?ver={{version}}"/>
    <script type="text/javascript" src="{{ url_for('static', filename='node_modules/datatables.net/js/jquery.dataTables.js') }}?ver={{version}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='node_modules/datatables.net-select/js/dataTables.select.js') }}?ver={{version}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='node_modules/datatables.net-bs/js/dataTables.bootstrap.js') }}?ver={{version}}"></script>
{% else %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/u/bs/jszip-2.5.0,pdfmake-0.1.18,dt-1.10.12,b-1.2.1,b-html5-1.2.1,b-print-1.2.1,fc-3.2.2,fh-3.1.2,se-1.2.0/datatables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/u/bs/jszip-2.5.0,pdfmake-0.1.18,dt-1.10.12,b-1.2.1,b-html5-1.2.1,b-print-1.2.1,fc-3.2.2,fh-3.1.2,se-1.2.0/datatables.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='node_modules/datatables.net-bs/js/dataTables.bootstrap.js') }}?ver={{version}}"></script>
{% endif %}

<script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='js/natural.js') }}?ver={{version}}"></script>

<!-- This fixes the fixed column overlap issue. It should eventually be removed in favour of an updated FixedColumn extension -->
<script type="text/javascript" src="https://nightly.datatables.net/fixedcolumns/js/dataTables.fixedColumns.min.js"></script>

<style type="text/css">
    .dev-disabled {color: gray;}
    .dataTables_paginate { width: 550px !important; }
    .dataTables_processing { z-index: 300000; width: 70px !important; }
    .to-right { text-align: right; float: right !important; margin: 4px auto;}
    .orange {color: orange;}
    .yellow {color: yellow;}
    tfoot th {text-align: left !important;}
</style>

<script>
$(document).ready(function() {

    // Handle the column visibility menu actions
    $(document).on('click', 'a.toggle-vis', function(e) {
        e.preventDefault();

        // Get the column API object
        let column = $("#example").DataTable().column($(this).attr('data-column'));

        // Toggle the visibility
        column.visible(!column.visible());
    });

    // Handle the column visibility menu checkboxes
    let options = [];
    $(document).on('click', '#visibility-menu > li > a', function(event) {
       let $target = $(event.currentTarget),
           val = $target.attr('data-value'),
           $inp = $target.find('input'),
           idx;
       if ((idx = options.indexOf(val)) > -1) {
          options.splice(idx, 1);
          setTimeout(function() {$inp.prop('checked', true)}, 0);
       } else {
          options.push(val);
          setTimeout(function() {$inp.prop('checked', false)}, 0);
       }
       $(event.target).blur();
       return false;
    });

    //Decode a URL-encoded HTML string
    function decode_html_string(encoded_html_string) {
        let temporary = document.createElement('textarea');
        temporary.innerHTML = encoded_html_string;
        return temporary.value;
    }

    // Convert the form data into a JSON object
	function form_to_json() {
		let form = {};
        $.each($("form").serializeArray(), function (i, field) {
            form[field.name] = field.value || "";
        });
        return form;
	}

    // Variables
    let numActiveDocs = {{ numActiveDocs }};
    let orientation = "{{ orientation }}";
    let firstCell = (orientation == "filecolumn") ? "Terms" : "Documents";
    let searchDelay = null;
    let dtm_table_html = decode_html_string("{{ dtm_table_html }}");

    // Redraw the table on "Regenerate Table" button clicks
    $("#regenerateTable").click(function(){});

    // DTM Table configuration options
    let dtm_table_configuration = {
        "destroy": true,
        "processing": true,
        "serverSide": true,
        "scrollY": 370,
        "scrollX": "100%",
        "scrollCollapse": true,
        "fixedHeader": { "headerOffset": 10 },
        "searching": { "regex": true },
        "searchDelay": searchDelay,
        "ordering": true,
        "order": [0, 'asc'],
        "columnDefs": [{ type: 'natural', targets: "_all" }],
        "paging": true,
        "pagingType": "full_numbers",
        "pageLength": 10,
        "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
        "language": {
            //Processing indicator
            "processing": '<span class="fa fa-spinner fa-3x fa-spin" style="color:#00b2ff;"></span>',
                lengthMenu: "Display _MENU_ terms per page",
                info: "Showing _START_ to _END_ of _TOTAL_ "+firstCell.toLowerCase(),
                zeroRecords: "The document-term matrix is empty.",
        },
        "dom": "<'row'<'col-sm-4'><'col-sm-4'><'col-sm-4 to-right'B>>" +
            "<'row'<'col-sm-6'l><'col-sm-6'f>>" +
            "<'row'<'col-sm-12'tr>>" +
            "<'row'<'col-sm-5'i><'col-sm-7'p>>",
        "buttons": [
            //"Download CSV" button
            {
                extend: 'csvHtml5',
                text: 'Download CSV',
                className: 'btn btn-primary bttn-action',
                action: function (e, dt, node, config) {
                    $('#csvdelimiter-tab').prop('checked',false);
                    $('#csvdelimiter-comma').prop('checked',true);
                    $("#csvdownload").click();
                }
            },

            //"Download TSV" button
            {
                extend: 'csvHtml5',
                text: 'Download TSV',
                className: 'btn btn-success',
                action: function (e, dt, node, config) {
                    $('#csvdelimiter-comma').prop('checked',false);
                    $('#csvdelimiter-tab').prop('checked',true);
                    $("#csvdownload").click();
                }
            }
        ],
        "ajax": {
            "type": "POST",
            "url": "/tokenizer/update-datatable",
            "data": function (arguments) {
                return {"datatable-request": JSON.stringify(arguments)};
            }
        }
    }

    // Draw the initial DTM table
    $("#dtm-table").html(dtm_table_html);
    let dtm_table = $("#dtm-table .dataframe");
    dtm_table.addClass("display table table-bordered table-striped "+
      "table-condensed table-hover");
    dtm_table.css({width: "100%"});
    dtm_table.DataTable(dtm_table_configuration);

}); //End document.ready()
</script>
{% endblock %}

{% block title %}Tokenizer{% endblock %}

{% block options %}
<input type="hidden" id="tempLabelsOn" value="{{ tempLabelsOn or False }}" />
<div class="row">
    <div class="col-md-12">
        <input type="hidden" id="num_active_files" value="{{ labels|len }}" />
        <legend>Document-Term Matrix (DTM) Options <a class="btn bttn bttn-video" href="https://www.youtube.com/watch?v=KuYGiDJdrMQ&index=5&list=PLEoAaCvaZOMMZD7x3SaQztPJxtpijv_gD" target="_blank" data-toggle="tooltip" data-trigger="hover" data-placement="right" title="Show video" style="margin: -10px 5px;"><i class="fa fa-video-camera fa-lg "></i></a></legend>
    </div>
</div>
<div class="row">
    <div class="col-md-11">
        <fieldset class="csvoptions" id="csvorientdiv">
            <legend>Data Orientation:</legend>
            <label class="radio label-csvorientation" for="csvorientation-filecolumn">
                <input class="pivot" type="radio" name="csvorientation" id="csvorientation-filecolumn" value="filecolumn" {{ "checked" if session['csvoptions']['csvorientation'] == "filecolumn" }} />
                Documents as Columns, Terms as Rows
            </label>
            <label class="radio label-csvorientation" for="csvorientation-filerow">
                <input class="pivot" type="radio" name="csvorientation" id="csvorientation-filerow" value="filerow" {{ "checked" if session['csvoptions']['csvorientation'] == "filerow" }} />
                Documents as Rows, Terms as Columns
            </label>
        </fieldset>
    </div>
    <div class="col-md-1" style="display:none;">
        <fieldset class="csvoptions" id="csvdelimdiv">
            <legend>Delimiter Format: <i class="fa fa-question-circle lexos-popover-trigger" data-trigger="hover" data-html="true" data-toggle="tooltip" data-placement="right" data-container="body" title="I need some new text." style="margin-left:8px;cursor:pointer;font-size:18px;"></i></legend>
            <label class="radio label-csvdelimiter" for="csvdelimiter-comma">
                <input type="radio" name="csvdelimiter" id="csvdelimiter-comma" value="comma" {{ "checked" if session['csvoptions']['csvdelimiter'] == "comma" }} />
                Use Comma
            </label>
            <label class="radio label-csvdelimiter" for="csvdelimiter-tab">
                <input type="radio" name="csvdelimiter" id="csvdelimiter-tab" value="tab" {{ "checked" if session['csvoptions']['csvdelimiter'] == "tab" }} />
                Use Tab
            </label>
        </fieldset>
    </div>
</div>
<div class="row" style="margin-top:10px;margin-bottom:10px;">
    <div class="col-md-12" style="padding-top:10px;">
        <a role="button" class="btn btn-primary bttn-action regenerate" id="regenerateTable">Regenerate Table</a>
        <div class="btn-group" data-trigger="hover" data-html="true" data-toggle="tooltip" data-placement="right" data-container="body" title="Show/Hide Columns">
          <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-eye fa-lg"></i><span class="fa fa-caret-down" title="Show/Hide Columns" style="margin-left:5px;"></span></a>
          <ul id="visibility-menu" class="dropdown-menu"></ul>
        </div>
        <input style="display:none;" type="submit" class="bttn bttn-exit bttndownload" id="csvdownload" name="get-csv" value="Download Matrix"/>
    </div>
</div>
{% endblock %}

{% block results %}
<!-- DTM Table -->
<div id="dtm-table"></div>
{% endblock %}
