{% extends "base_analyze.html" %}
{% set active_page = 'tokenizer' %}

{% block head %}
    <script type="text/javascript" charset="utf8"
            src="{{ url_for('static', filename='js/natural.js') }}?ver={{ version }}"></script>

    <script type="text/javascript"
            src="{{ url_for('static', filename='js/scripts_tokenizer.js') }}?ver={{ version }}"></script>

    <!-- Latest compiled and minimized DataTables CSS -->
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/v/bs/jszip-2.5.0/pdfmake-0.1.32/dt-1.10.16/b-1.5.1/b-colvis-1.5.1/b-html5-1.5.1/b-print-1.5.1/fc-3.2.4/fh-3.1.3/r-2.2.1/datatables.min.css"/>
    <!-- Latest compiled and minimized DataTables JS -->
    <script type="text/javascript"
            src="https://cdn.datatables.net/v/bs/jszip-2.5.0/pdfmake-0.1.32/dt-1.10.16/b-1.5.1/b-colvis-1.5.1/b-html5-1.5.1/b-print-1.5.1/fc-3.2.4/fh-3.1.3/r-2.2.1/datatables.min.js"></script>
    <!-- Datable plug in to truncate the columns. -->
    <script type="text/javascript"
            src="https://cdn.datatables.net/plug-ins/1.10.16/dataRender/ellipsis.js"></script>
{% endblock %}

{% block title %}Tokenizer{% endblock %}

{% block options %}
    <div class="row col-md-12 col-lg-12">
        <input type="hidden" id="num_active_files" value="{{ labels|len }}"/>
        <fieldset class="tokenizeOption" id="tokenizeDiv">
            <legend>Data Orientation:</legend>
            <label>
                <input class="pivot" type="radio" name="tableOrientation"
                       id="table-orientation-column"
                       value="fileColumn" {{ "checked" if session['tokenizerOption']['tableOrientation'] == "fileColumn" }} />
                Documents as Columns, Terms/Characters as Rows
            </label>
            <label>
                <input class="pivot" type="radio" name="tableOrientation"
                       id="table-orientation-row"
                       value="fileRow" {{ "checked" if session['tokenizerOption']['tableOrientation'] == "fileRow" }} />
                Documents as Rows, Terms/Characters as Columns
            </label>
        </fieldset>
        <fieldset>
            <legend style="padding-top: 20px">
                Make new Document-Term Matrix:
            </legend>
            <input type="button" class="btn btn-success col-md-5 col-lg-5"
                   id="get-tokenizer" value="Show matrix"/>
            <input class="btn btn-primary col-lg-offset-1 col-md-offset-1 col-md-5 col-lg-5"
                   type="submit" id="download-tokenizer"
                   value="Download matrix"/>
        </fieldset>
    </div>

    <!-- Click this button will trigger if continue download. -->
    <button id="decision-button" type="button" class="btn btn-primary"
            data-toggle="modal" data-target="#decide-modal"
            style="display: none">
    </button>

    <!-- This part define the model that was used above. -->
    <div class="modal fade" id="decide-modal" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title">Continue?</h2>
                </div>
                <div class="modal-body">
                    The Document-Term Matrix has more than 50,000 items of data.
                    It will take a while for your browser to render it and
                    possibly the browser will freeze. We recommend that you
                    download this matrix and view it with a local application,
                    e.g., Excel.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning"
                            id="choose-continue" data-dismiss="modal">
                        Continue
                    </button>
                    <button type="button" class="btn btn-primary"
                            id="choose-download" data-dismiss="modal">
                        Download as CSV file
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block results %}
    <div id="tokenizerResult" style="margin-top:50px;">
        <div id="tokenizerMatrix"></div>
    </div>
{% endblock %}
