{% extends "helpers/analyze-template.html" %}

{% block title %}Top Words{% endblock %}

<!-- Head -->
{% block page_head %}

    <!-- Page Lexos dependencies -->
    <script type="text/javascript" src="static/js/helpers/table.js"></script>
    <link rel="stylesheet" type="text/css" href="static/css/helpers/table.css"/>

    <!-- Page JS and CSS -->
    <script type="text/javascript" src="static/js/top-words.js"></script>
    <link rel="stylesheet" type="text/css" href="static/css/top-words.css"/>
{% endblock %}


<!-- Options -->
{% block options %}

    <!-- Comparison method -->
    <div id="comparison-method-section" class="section">
        <div class="vertical-splitter section-top">
            <div>
                <h3 class="title">Comparison Method</h3>
            </div>
            <span id="comparison-method-tooltip-button" class="right-justified tooltip-button">?</span>
        </div>
        <div class="section-body">
            <label><input name="testInput" value="allToPara" type="radio" checked><span class></span>Each document to the corpus</label>
            <span id="document-corpus-tooltip-button" class="tooltip-button">?</span><br>
            <label><input name="testInput" value="classToPara" type="radio"><span></span>Each document to other classes</label>
            <span id="document-class-tooltip-button" class="tooltip-button">?</span><br>
            <label><input name="testInput" value="classToClass" type="radio"><span></span>Each class to other classes</label>
            <span id="class-class-tooltip-button" class="tooltip-button">?</span>
        </div>
    </div>
{% endblock %}


<!-- Results -->
{% block results %}
    <div id="class-divisions-section" class="section">
        <div class="vertical-splitter section-top">
            <h3 class="title">Class Divisions</h3>
            <span id="class-division-tooltip-button" class="right-justified tooltip-button">?</span>
        </div>

        <div id="class-divisions-body" class="section-body"></div>
    </div>

    <div id="top-words-section" class="section">

        <div class="vertical-splitter section-top">
            <h3 class="title">Top Words</h3>
            <div id="top-words-buttons" class="right-justified">
                <span id="generate-button" class="disabled important-button">Generate</span>
                <span id="download-button" class="disabled button">Download</span>
                <span id="download-tooltip-button" class="tooltip-button">?</span>
            </div>
        </div>

        <div id="top-words-body" class="section-body"></div>
    </div>
{% endblock %}
