{% extends "base_analyze.html" %}
{% set active_page = 'topword' %}

{% block head %}
    <script type="module"
            src="{{ url_for('static', filename='js/scripts_topword.js') }}?ver={{ version }}"></script>
    <meta id="num-active-classes" data-number="{{ classDivisionMap.shape[0] }}">
{% endblock %}

{% block title %}Topwords{% endblock %}

{% block options %}
    <div class="row col-lg-12 col-md-12">
        <fieldset>
            <legend>
                Comparison Methods
                <i class="fa fa-question-circle lexos-popover-trigger"
                   data-trigger="hover" data-html="true" data-toggle="popover"
                   data-placement="right" data-container="body"
                   data-content="By default, topwords compares individual documents
                                 to the entire set of active documents. If you wish
                                 to compare individual documents to classes of
                                 documents or to compare classes of documents
                                 to other classes, go to the <a href={{ url_for("manage.manage") }}>Manage</a>
                                 tool to edit class labels."></i>
            </legend>
        </fieldset>
        <label for="allToPara">
            <input type="radio" name="testInput" id="allToPara"
                   value="allToPara" {{ "checked" if session['topwordoption']['testInput'] == 'allToPara' }}>
            Compare each document to the whole corpus
            <i class="fa fa-question-circle lexos-tooltip-trigger"
               data-trigger="hover" data-html="true" data-toggle="tooltip"
               data-placement="right" data-container="body"
               title="Compare the proportion of each term in individual documents
                      to their proportions in the whole collection. Example: Find
                      topwords for one chapter compared to the entire book."></i>
        </label>
        <label for="classToPara">
            <input type="radio" name="testInput" id="classToPara"
                   value="classToPara" {{ "checked" if session['topwordoption']['testInput'] == 'classToPara' }}>
            Compare each document to other class(es)
            <i class="fa fa-question-circle lexos-tooltip-trigger"
               data-trigger="hover" data-html="true" data-toggle="tooltip"
               data-placement="right" data-container="body"
               title="Compare the proportion of each term in a document within
                      one class to their proportions in another class as a whole. Example:
                      With two books (two classes), find topwords in any
                      chapter (document) from one of the books compared to the
                      entire other book (class)."></i>
        </label>
        <label for="classToClass">
            <input type="radio" name="testInput" id="classToClass"
                   value="classToClass" {{ "checked" if session['topwordoption']['testInput'] == 'classToClass' }}>
            Compare each class to other class(es)
            <i class="fa fa-question-circle lexos-tooltip-trigger"
               data-trigger="hover" data-html="true" data-toggle="tooltip"
               data-placement="right" data-container="body"
               title="Compare the proportion of each term in one class to
                      their proportions in another class. Example: Find topwords between two
                      books (classes)."></i>
        </label>
    </div>
{% endblock %}

{% block results %}
    <input type="button" class="btn btn-primary" id="get-topwords"
           value="Get Topwords"/>
    <input type="submit" class="btn btn-success" id="download-topwords"
           value="Download Topwords"/>
     <i class="fa fa-question-circle lexos-tooltip-trigger"
                   data-trigger="hover" data-html="true" data-toggle="tooltip"
                   data-placement="right" data-container="body"
                   title="Get Topwords only displays the top 30 result. Please download it to see the full result."></i>
    <!-- This div sets the class division. -->
    <div class="row col-md-12 col-lg-12"
         style="padding-top: 20px">
        <!-- Header of the class division. -->
        <fieldset>
            <legend>
                Class Divisions
                <i class="fa fa-question-circle lexos-tooltip-trigger"
                   data-trigger="hover" data-html="true" data-toggle="tooltip"
                   data-placement="right" data-container="body"
                   title="This indicates assigned classes and the documents
                          contained in each class."></i>
            </legend>
            <p id="classInfo">No classes have been assigned or all active documents belong to
                a single class. If you wish to compare documents of different
                classes, you must first assign them class labels on the
                <a href={{ url_for('manage.manage') }}>manage screen</a>
            </p>
        </fieldset>
        <!-- The class divisions. -->
        {% for class_name in classDivisionMap.index %}
            <div class="row col-lg-4 col-md-4">
                <div class="row col-lg-12 col-md-12">
                    <table class="class-division-table table table-bordered table-hover table-striped">
                        <thead>
                        <tr>
                            <th class="success">{{ class_name }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for file_id in classDivisionMap.columns %}
                            {% if classDivisionMap[file_id][class_name] %}
                                <tr>
                                    <td class="td-top">{{ labels[file_id]|truncate(35, True) }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endfor %}
    </div>
    <!--this is for the title above the individual table's title-->
    <fieldset class="row col-lg-12 col-md-12">
        <legend id="topword-title">
        </legend>
    </fieldset>

    <div class="row col-lg-12 col-md-12" id="topword-result"></div>

{% endblock %}

{% block submit %}
{% endblock %}
