{% extends "base_analyze.html" %}
{% set active_page = 'topword' %}

{% block head %}
    <script type="text/javascript"
            src="{{ url_for('static', filename='js/scripts_topword.js') }}?ver={{ version }}"></script>
{% endblock %}
{% block title %}Topwords{% endblock %}

{% block options %}
    <input type="hidden" id="num_active_files" value="{{ labels|len }}"/>
    <input type="hidden" id="num_active_classes"
           value="{{ classDivisionMap.shape[0] }}">
    <div class="row col-lg-12 col-md-12">
        <fieldset>
            <legend>
                Comparison Methods
                <i class="fa fa-question-circle lexos-popover-trigger"
                   data-trigger="hover" data-html="true" data-toggle="popover"
                   data-placement="right" data-container="body"
                   data-content="By default, Topwords compares individual documents
                                 to the entire set of active documents. If you wish
                                 to compare individual documents to classes of
                                 documents or to compare classes of documents
                                 to other classes, go to the <a href={{ url_for("manage.manage") }}>Manage</a>
                                 tool to edit class labels."></i>
            </legend>
        </fieldset>
        <label for="allToPara">
            <input type="radio" name="testInput" id="allToPara"
                   value="allToPara" {{ "checked" if session['topwordoption']['testInput'] == 'allToPara' }}>
            Compare each document to the whole corpus
            <i class="fa fa-question-circle lexos-tooltip-trigger"
               data-trigger="hover" data-html="true" data-toggle="tooltip"
               data-placement="right" data-container="body"
               title="Compares the proportion of each term in individual
                      documents to their proportions in the whole collection.
                      Example: Find topwords for one chapter compared to the entire book."></i>
        </label>
        <label for="classToPara">
            <input type="radio" name="testInput" id="classToPara"
                   value="classToPara" {{ "checked" if session['topwordoption']['testInput'] == 'classToPara' }}>
            Compare each document to other class(es)
            <i class="fa fa-question-circle lexos-tooltip-trigger"
               data-trigger="hover" data-html="true" data-toggle="tooltip"
               data-placement="right" data-container="body"
               title="Comparing the proportion of each term in a document in
                      one class to that in another class as a whole. Example:
                      With two books (two classes), find topwords in every
                      chapter (document) from one of the books compared to the
                      entire other book (class)."></i>
        </label>
        <label for="classToClass">
            <input type="radio" name="testInput" id="classToClass"
                   value="classToClass" {{ "checked" if session['topwordoption']['testInput'] == 'classToClass' }}>
            Compare each class to other class(es)
            <i class="fa fa-question-circle lexos-tooltip-trigger"
               data-trigger="hover" data-html="true" data-toggle="tooltip"
               data-placement="right" data-container="body"
               title="Comparing the proportion of each term in one class to
                      that in another class. Example: Find topwords between two
                      books (classes)."></i>
        </label>
    </div>
{% endblock %}

{% block results %}
    <input type="button" class="btn btn-primary" id="get-topwords"
           value="Get Topwords"/>
    <input type="submit" class="btn btn-success" id="download-topwords"
           value="Download Topwords"/>

    <!-- This div sets the class division. -->
    <div class="row col-md-12 col-lg-12" id="class-division"
         style="padding-top: 20px">
        <!-- Header of the class division. -->
        <fieldset>
            <legend>
                Class Divisions
            </legend>
        </fieldset>
        <!-- The class divisions. -->
        {% for class_name in classDivisionMap.index %}
            <div class="row col-lg-4 col-md-4">
                <table class="table table-bordered table-hover table-striped">
                    <thead>
                    <tr>
                        <th class="info">{{ class_name }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for file_id in classDivisionMap.columns %}
                        {% if classDivisionMap[file_id][class_name] %}
                            <tr>
                                <td>{{ labels[file_id] }}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endfor %}
    </div>

    <div class="row col-lg-12 col-md-12" id="topword-result"></div>

{% endblock %}

{% block submit %}
{% endblock %}
