{% extends "helpers/base.html" %}

{% block title %}Upload{% endblock %}

<!-- Head -->
{% block head %}

    <!-- Page JS and CSS -->
    <script type="text/javascript" src="static/js/upload.js"></script>
    <link rel="stylesheet" type="text/css" href="static/css/upload.css"/>
{% endblock %}

<!-- Main content -->
{% block content %}

    <div id="top-section">

        <!-- Upload section -->
        <div id="upload-section" class="section">

            <h3 class="section-top title">Upload</h3>
                <span id="guide-button" data-step="1" data-intro="Hello, Welcome to Lexos!">What is this?</span>

            <div class="borderless-section-body">
                <span id="browse-button">Browse...</span>

                <div id="drag-and-drop-section">
                    <h3>Drag Files Here</h3>
                </div>
            </div>
        </div>

        <!-- Scrape section -->
        <div id="scrape-section" class="section">

             <div class="vertical-splitter section-top">
                <h3 class="title">Scrape</h3>
                <span id="scrape-button" class="right-justified button">Scrape</span>
            </div>

            <div class="borderless-section-body">
                <textarea id="scrape-input" spellcheck="false" placeholder="Enter URLs to scrape here."></textarea>
            </div>
        </div>
    </div>

    <!-- Upload list -->
    <div id="upload-list" class="section">

        <h3 class="section-top title">Upload List</h3>

        <div class="section-body">
            <div id="no-uploads-text" class="centerer"><h3>No Uploads</h3></div>
            <div id="upload-previews-grid"></div>
        </div>
    </div>

    <!-- Hidden elements -->
    <input type="file" id="file-select-input" style="display:none" multiple/>
{% endblock %}
