{% extends "base.html" %}
{% set active_page = 'upload' %}

<!-- Head -->
{% block head %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/upload.js') }}?ver={{version}}"></script>
    <link rel="stylesheet" type="text/css" media="all" href="{{ url_for('static', filename='css/upload.css') }}?ver={{ version }}"/>
{% endblock %}

<!-- Title -->
{% block title %}Loader{% endblock %}

<!-- Main content -->
{% block content %}
    <!-- Upload information -->
    <div id="upload-information">
        <!-- Upload status -->
        <div>
            <h3>Status: </h3><h3 id="upload-status">Ready</h3><h3>.</h3>
        </div>

        <!-- Upload requirements -->
        <h3 id="upload-requirements">
            Maximum file size: {{ MAX_FILE_SIZE_INT }} {{ MAX_FILE_SIZE_UNITS}}B.
            Supported formats: .txt, .html, .xml, .sgml, and .lexos.
        </h3>
    </div>

    <!-- Upload section -->
    <div id="upload-section">
        <!-- Browse button -->
        <div id="browse-button">
            <h3>Browse...</h3>
        </div>

        <!-- Drag and drop section -->
        <div id="drag-and-drop-section">
            <h3>Drag Files Here</h3>
        </div>
    </div>

    <!-- Previews -->
    <div id="upload-list-container">
        <h3>Uploads: </h3><h3 id="upload-list">None</h3><h3>.</h3>
    </div>

    <!-- Hidden file input -->
    <input type="file" id="file-select-input" style="display:none" multiple/>

{% endblock %}
