{% extends "base.html" %}
{% set active_page = 'upload' %}

<!-- Head -->
{% block head %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/upload.js') }}?ver={{version}}"></script>
    <link rel="stylesheet" type="text/css" media="all" href="{{ url_for('static', filename='css/upload.css') }}?ver={{ version }}"/>
{% endblock %}

<!-- Title -->
{% block title %}Loader{% endblock %}

<!-- Main content -->
{% block content %}
     <!-- About section -->
    <div class="about-section">
        <h3 class="title">About</h3>
        <h3>
            Lexos is developed by the
            <a class="underline" href="https://wheatoncollege.edu/academics/special-projects-initiatives/lexomics/" target="_blank">Lexomics Research Group</a>
            at
            <a class="underline" href="https://wheatoncollege.edu" target="_blank">Wheaton College</a>.
            It is used for transforming, analyzing, and visualizing texts.
            Lexos is designed for use primarily with small-to-medium-sized
            text collections, including texts written in ancient languages
            and languages that do not use the Latin alphabet. Lexos
            was created as an entry-level platform for Humanities scholars and
            students new to computational techniques, but is sophisticated
            enough for advanced research. The Lexos help manual can be accessed
            by clicking the "Show Help" button at the bottom left of the
            window. The help panel can be accessed from any page and will
            display information on how to use the page it was opened on.
        </h3>
    </div>

    <!-- Upload section -->
    <div id="upload-section">

        <!-- Title -->
        <h3 class="title">Upload</h3>

        <!-- Help -->
        <h3>
            Upload the files you want to work with by clicking the "Browse..."
            button or by dragging files into the "Drag Files Here" section.
            The maximum file size is 250 MB and the supported formats are:
            .txt, .html, .xml, .sgml, and .lexos.
        </h3>

        <!-- Browse button -->
        <div id="browse-button">
            <h3>Browse...</h3>
        </div>

        <!-- Drag and drop section -->
        <div id="drag-and-drop-section">
            <h3>Drag Files Here</h3>
        </div>
    </div>

    <!-- Upload list -->
    <div id="upload-list">

        <!-- Title -->
        <h3 class="title">Upload List</h3>

        <!-- Uploads -->
        <div id="upload-previews"></div>
    </div>

    <!-- Hidden file input -->
    <input type="file" id="file-select-input" style="display:none" multiple/>

{% endblock %}
