{% extends "helpers/base.html" %}


<!-- Head -->
{% block head %}

    <!-- d3.js -->
    <script type="text/javascript" src="static/node_modules/d3/d3.min.js"></script>

    <!-- d3-cloud.js -->
    <script type="text/javascript" src="static/node_modules/d3-cloud/build/d3.layout.cloud.js"></script>

    <!-- Page JS and CSS -->
    <script type="text/javascript" src="static/js/word-cloud.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/word-cloud.css"/>

{% endblock %}


<!-- Content -->
{% block content %}

    <!-- Word cloud -->
    <div id="word-cloud-container"></div>
{% endblock %}
