{% extends "helpers/visualize-template.html" %}


<!-- Head -->
{% block page_head %}

    <!-- d3-cloud.js -->
    <script type="text/javascript" src="static/node_modules/d3-cloud/build/d3.layout.cloud.js"></script>

    <!-- Page JS and CSS -->
    <script type="text/javascript" src="static/js/word-cloud.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/word-cloud.css"/>
{% endblock %}


<!-- Title -->
{% block graph_title %}Word Cloud{% endblock %}


<!-- Graph -->
{% block graph %}

    <!-- Word cloud -->
    <div id="word-cloud-container" class="section-body"></div>
{% endblock %}
