#vis text:hover { opacity: .7 !important; }
#presets a { border-left: solid #666 1px; padding: 0 10px; }
#presets a.first { border-left: none; }
#keyword { width: 300px; }
#fetcher { width: 500px; }
#keyword, #go { font-size: 1.5em; }
#text { width: 100%; height: 100px; }
p.copy { font-size: small; }
hr { border: none; border-bottom: solid #ccc 1px; }
a.active { text-decoration: none; color: #000; font-weight: bold; cursor: text; }
#angles line, #angles path, #angles circle { stroke: #666; }
#angles text { fill: #333; }
#angles path.drag { fill: #666; cursor: move; }
#angles { text-align: center; margin: 0 auto; width: 350px; }
#angles input, #max { width: 42px; }
label {display: inline;}
#status { font-size: 18px; color: red; position:absolute; top: 450px; left: 320px; padding: 6px; border: 1px solid red; background: #FFFFFF;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
  -webkit-transition: 0.25s;
     -moz-transition: 0.25s;
       -o-transition: 0.25s;
          transition: 0.25s;
  -webkit-backface-visibility: hidden;
}

/* Code styles from Mike Bostock's excellent tutorials,
 * http://bost.ocks.org/mike */

pre, code { font-family: "Menlo", monospace; }

.html .value,
.javascript .string,
.javascript .regexp {
  color: #756bb1;
}

.html .tag,
.css .tag,
.javascript .keyword {
  color: #3182bd;
}

.comment {
  color: #636363;
}

.html .doctype,
.javascript .number {
  color: #31a354;
}

.html .attribute,
.css .attribute,
.javascript .class,
.javascript .special {
  color: #e6550d;
}