div { /*useful for debugging*/
  /*border: 1px dotted gray;*/
}

fieldset {
  /*border: 2px dashed gray;*/
}

label {
  cursor: default;
}

input[type=text] {
  margin-top: auto;
  margin-bottom: auto;
}

.optuploadbtns {
  margin-right: auto;
  margin-left: auto;
  background: #aaaaaa;
}

.optionbttn {
  border: none;
  background: #1abc9c;
  cursor: pointer;
  color: #ffffff;
  width: 125px;
  padding: 9px 12px 10px;
  font-size: 14.996px;
  line-height: 22px;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  -webkit-backface-visibility: hidden;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-right: auto;
  margin-left: auto;
}

#splittinglabel {
  cursor: default;
}

#dragndrop {
  float: left;
  width: 935px;
  font-size: 16.996px; /* 17px */
  line-height: 60px;
  color: #ffffff;
  text-decoration: none;
  text-shadow: none;
  text-align: center; 
  opacity: 0.6;
  background-color: #3498db;

  border: dashed;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  -webkit-backface-visibility: hidden;

}

#dragndrop.hover {
  opacity: 0.9;
  color: #ffffff;
  box-shadow: 4px 4px #888888;
}

.spacebuffer {
  margin-top: 25px;
  margin-bottom: 25px;
}