/* ================== OVERALL STYLING ============================ */

fieldset {
  /*border: 2px dashed gray;*/
} /*useful for debugging*/

div { 
  position: relative;
  /*border: 1px dotted gray;*/
} /*useful for debugging*/

label {
  cursor: default;
}

h6 {
  margin-bottom: 0px;
  padding-bottom: 5px;
  line-height: 1em;
}

input[type="text"] {
  padding: 0px;
}

.hidden {
  display: none;
}

.transparent {
  opacity: 0;
}

.newline {
  clear: both;
  display: block;
}

.leftfloat {
  float: left;
}

.rightfloat {
  float: right;
}

.spacer {
  height: 20px;
}

form#reset {
  float: right;
}

.hiddenfileselect {
  display: none;
}

.inlineblock {
  display: inline-block;
}

.inline {
  display: inline;
}

.bttn {
  opacity: 0.95;
  border: none;
  position: relative;
  cursor: pointer;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  text-shadow: none;

  background-color: #000000;
  padding: 10px;
  font-size: 14px;
  line-height: 1em;
  min-width: 75px;

  -webkit-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
  -webkit-transition: 0.25s;
     -moz-transition: 0.25s;
       -o-transition: 0.25s;
          transition: 0.25s;
  -webkit-backface-visibility: hidden;
}
.bttn:hover {
  opacity: 0.8;
}
.bttn:active {
  opacity: 1.0;
}

.bttn.bttn-action {
  background-color: #008F38;
}

.bttn.bttn-apply {
  background-color: #00B824;
}

.bttn.bttn-exit {
  background-color: #003066;
  float: right;
}

.bttn.bttn-minor {
  background-color: #BBBBBB;
}

.bttnfilelabels:before,
.tooltip {
  background: #888888;
  /*border-radius: 4px;*/
  color: #FFFFFF;
  display: block;
  opacity: 0;
  pointer-events: none;
  position: absolute;

  -webkit-transform: translateY(10px);
     -moz-transform: translateY(10px);
      -ms-transform: translateY(10px);
       -o-transform: translateY(10px);
          transform: translateY(10px);
  -webkit-transition: all .25s ease-out;
     -moz-transition: all .25s ease-out;
      -ms-transition: all .25s ease-out;
       -o-transition: all .25s ease-out;
          transition: all .25s ease-out;
  -webkit-box-shadow: 2px 2px 6px #222222;
     -moz-box-shadow: 2px 2px 6px #222222;
      -ms-box-shadow: 2px 2px 6px #222222;
       -o-box-shadow: 2px 2px 6px #222222;
          box-shadow: 2px 2px 6px #222222;
}

.bttnfilelabels:hover:before,
div:hover + .tooltip {
  opacity: 0.9;
  -webkit-transform: translateY(0px);
     -moz-transform: translateY(0px);
      -ms-transform: translateY(0px);
       -o-transform: translateY(0px);
          transform: translateY(0px);
}

.questionmark {
  content: url('glyphicons_194_circle_question_mark.png');
  opacity: 0.5;
  position: absolute;
}



/* ================== BASE STYLING =============================== */

.headerprefix {
  float: left;
}

.container {
  width: 940px;
  margin-bottom: 75px;
  padding: 0px;
}

.bttn#bttn-restart {
  background-color: #66CCFF;
  padding: 12px 15px;
  font-size: 14px;
  margin-top: 8px;
  margin-right: 8px;
}

#navbardiv {
  clear: both;
  display: block;
  width: 100%;
}

.navigationlist {
  display: block;
  height: 25px;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.navigationlist li {
  display: inline;
  text-align: center;
}

.navigationlist a {
  opacity: 0.95;
  color: #FFFFFF;
  border: none;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  cursor: pointer;
  display: inline-block;
  float: left;
  width: 19.7%;
  line-height: 25px;
  margin: 0px 1px;
  background-color: #BBBBBB;
  font-size: 14px;

  -webkit-border-radius: 0px;
          border-radius: 0px;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
  -webkit-transition: 0.25s;
     -moz-transition: 0.25s;
       -o-transition: 0.25s;
          transition: 0.25s;
  -webkit-backface-visibility: hidden;  
}
.navigationlist a:hover {
  color: #FFFFFF;
}

#analysislist {
  margin-top: 2px;
  display: block;
}

#analysislist a {
  float: right;
}

#nav1:hover {
  background-color: #0042C2;
}
#nav2:hover {
  background-color: #0070A3;
}
#nav3:hover {
  background-color: #008D90;
}
#nav4:hover {
  background-color: #00A481;
}
#nav5:hover {
  background-color: #00B575;
}
#nav101:hover {
  background-color: #00B575;
}
#nav102:hover {
  background-color: #00B575;
}
#nav103:hover {
  background-color: #00B575;
}
#nav104:hover {
  background-color: #00B575;
}
#nav105:hover {
  background-color: #00B575;
}
#nav1.current {
  background-color: #0042C2;
}
#nav2.current {
  background-color: #0070A3;
}
#nav3.current {
  background-color: #008D90;
}
#nav4.current {
  background-color: #00A481;
}
#nav5.current {
  background-color: #00B575;
}
#nav101.current {
  background-color: #00B575;
}
#nav102.current {
  background-color: #00B575;
}
#nav103.current {
  background-color: #00B575;
}
#nav104.current {
  background-color: #00B575;
}
#nav105.current {
  background-color: #00B575;
}

#basesubmitdiv {
  clear: both;
  float: left;
  display: block;
  width: 100%;
  margin: 20px 0px;
}


/* ================== UPLOAD STYLING ============================= */

#fileselect { /*Can't do with class - .click() seems to remove class attribute?*/
  display: none;
}

.bttn.bttn-action#uploadbrowse {
  float: left;
  width: 75px;
  height: 40px;
  line-height: 40px;
  font-size: 15px;
}

#dragndrop {
  margin-left: 125px;
  line-height: 125px;
  font-size: 16.996px; /* 17px */
  color: #3498db;
  text-decoration: none;
  text-shadow: none;
  text-align: center;
  opacity: 0.6;

  border: dashed;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
  -webkit-transition: 0.25s;
     -moz-transition: 0.25s;
       -o-transition: 0.25s;
          transition: 0.25s;
  -webkit-backface-visibility: hidden;

}

#dragndrop.hover {
  border: dashed;
  opacity: .8;
  box-shadow: 4px 4px 2px #1A4C6E inset;
}

.uploadedfilespreivewwrapper {
  display: inline-block;
  width: 49%;
}

.uploadedfilespreivew {
  display: block;
  /*width: 45%;*/
  height: 125px;
  overflow: hidden;
  border: 1px dashed gray;
  border-radius: 4px;
}

/* ================== MANAGE STYLING ============================= */

.filepreview {
  display: block;
  clear: none;
  float: left;
  font-size: 14px;
  color: gray;
  margin: 10px;
  padding: 5px;
  min-height: 10.5em;
  max-height: 10.5em;
  width: 275px;
  overflow: hidden;
  box-shadow: 0px -5px 10px 0px #888888 inset;
  border: 1px solid gray;
  border-radius: 4px;
  cursor: pointer;
}

.filepreview.enabled {
  background-color: #C8FFC8;
  color: black;
}

.textblock {
  display: block;
}

/* ================== SCRUB STYLING ============================== */

#normalscrubbingoptions {
  float:left; 
  width:325px;
}

#tagsradiodiv {
  float: left;
}

#tagsradio {
  margin-top: 7px;
}

#aposhyph {
  margin-left: 7px;
}

#additionalscrubbingoptions {
  float: right;
  width: 595px;
}

.bttn.optionbttn {
  line-height: 22px;
  font-size: 14.996px;
  background-color: #1abc9c;
  width: 125px;
  margin: 3px 10px;
  padding: 9px 12px;
}

textarea.manualinput {
  font-size: 14px;
  line-height: 14px;
  margin-top: 2px;
  margin-bottom: 6px;
  height:50px;
  width:350px;
  max-width:350px;
  margin-left:12px;
}

.bttn.uploadbttn {
  line-height: 15px;
  font-size: 15px;
  background-color: #1abc9c;
  width: 80px;
  padding: 3px 6px;
}

.bttnfilelabels {
  cursor: pointer;
  text-align: center;
  color: #00B226;
}

.bttnfilelabels:before {
  content: "Click to no longer use stored version.";
  display: inline-block;
  width: 250px;
  left: -275px;
  background-color: #000000;
}

#entityrules {
  margin-top:2px; 
  margin-left:29px;
}

#specialchartext {
  margin-left: 210px;
  margin-bottom: 15px;
}

#previewreload {
  clear: both;
  float: left;
  padding: 2px 5px;
  margin-top: 10px;
}

.questionmark.scrub.large {
  left: 27%;
  top: 7px;
  -webkit-transform: scale(.75, .75);
     -moz-transform: scale(.75, .75);
      -ms-transform: scale(.75, .75);
       -o-transform: scale(.75, .75);
          transform: scale(.75, .75);
}

.questionmark.scrub.small {
  left: 360px;
  top: 1px;
  -webkit-transform: scale(.5, .5);
     -moz-transform: scale(.5, .5);
       -o-transform: scale(.5, .5);
          transform: scale(.5, .5);
}

.tooltip.scrub.general {
  width: 225px;
  left: 32%;
  top: 0px;
  padding: 4px;
}

.tooltip.scrub.format {
  width: 290px;
  left: 0px;
  top: 0px;
  padding: 4px;
}

.questionmark.small.specchars {
  top: 74px;
}

#ruleslink {
  margin-left: 10px;
}

/* ================== CUT STYLING ================================ */

#cutrenamingdiv {
  display: block;
  float: left;
  margin-left: 70px;
}

.cuttinginput {
  display: block;
  clear: right;
  float: right;
  margin-right: 10px;
}

.cuttingoptionswrapper {
  float: left;
}

.cutsetnaming {
  clear: both;
  width: 300px;
}

#cuttingmodediv {
  font-size: 20px;
  display: block;
  float: right;
  /*border: 1px dotted red;*/
  margin-top: 75px;
  margin-right: 125px;
}

.individualpreviewlegend {
  color: inherit;
}

.sizeradio,
.numberradio {
  display: inline;
}

.sizeradio {
  margin-right: 10px;
}

.questionmark.cut {
  right: -22px;
  top: -2px;
  -webkit-transform: scale(.55, .55);
     -moz-transform: scale(.55, .55);
       -o-transform: scale(.55, .55);
          transform: scale(.55, .55);
}

.tooltip.cut {
  top: 2px;
  right: -230px;
  width: 200px;
  padding: 2px 2px;
}

.cuttingdiv {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 5px;
}

.textinput {
  display: inline-block;
  margin-top: 0px;
  margin-left: 5px;
}

.cuttextinput {
  width: 100px;
}

.lastpropinput {
  width: 60px;
}

.indivcutbuttons {
  background-color: #999999;
  width: 150px;
  padding: 2px 4px;
  display: inline-block;
}

/* ================== ANALYSIS STYLING =========================== */

.navbaroption.analysisbar {
  margin-top: 10px;
  float: right;
}

.analysisoptions {
  padding: 50px;
}

/* ================== CSVGENERATOR STYLING ======================= */

#csvoptiondiv {
  float: left;
}

#csvlabeldiv {
  display: block;
  float: right;
  width: 400px;
  margin-right: 20px;
}

#labeledittingcsv {
  display: block;
  float: right;
  width: 200px;
  margin-bottom: 10px; 
}

#modifylabelscsv {
  clear: right;
  float: right;
  display: none;
}


/* ================== DENDROGRAM STYLING ========================= */

#dendrooptionsbox {
  display: inline-block;
}

#dendrocreateoptions {
  float: left;
}

#dendrodisplayoptions {
  float: left;
  margin-left: 75px;
}

#getdendro {
  color: #FFFFFF;
  padding: 10px 10px;
  line-height: 15px;
  background-color: #3498db;
  border: none;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
  -webkit-transition: 0.25s;
     -moz-transition: 0.25s;
       -o-transition: 0.25s;
          transition: 0.25s;
  -webkit-backface-visibility: hidden;
}

#dendrodownload {
  margin-left: 10px;
}

.bttndownload {
  float: right;
}

#labeleditting {
  display: block;
  width: 200px;
  margin-top: 15px;
  margin-bottom: 10px; 
}

#modifylabels {
  display: none;
}

/* ================== RWANALYSIS STYLING ==================== */

#rollingselectiondiv {
  display: block;
  float: right;
  height: 40px;
  text-align: center;
}

#rollingselection {
  width: 300px;
}

.minifilemanage {
  display: inline-block;
  width: 100%;
}

.minifilepreview {
  display: block;
  float: left;
  height: 20px;
  width: 22%;
  margin: 10px;
  color: gray;
  border: 1px solid gray;
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0px -2px 5px 0px #888888 inset;
}

.minifilepreview.enabled {
  background-color: #C8FFC8;
  color: black;
}

.rwanalysisoptiondiv {
  display: block;
  width: 100%;
  min-height: 100px;
  margin: 10px 0px;
}

#rollingwindowsize {
  width: 100px;
}

#prettydatafileselect {
  line-height: 35px;
  height: 35px;
  width: 200px;
}

#rollinginputlabel {
  display: inline-block;
}

.rollinginput {
  width: 100px;
  display: inline-block;
}

.rollinginput.hidden {
  display: none;
}

#ratioformatting {
  display: block;
  width: 500px;
}

.rwanalysisradiosdiv {
  display: inline-block;
  padding: 10px;
  vertical-align: top;
}

/* ================== VIZ STYLING =========================== */

#svgid {
  margin: 0;
  padding: 0;
  position: absolute;
  /*top: -80px;*/
  /*border: 1px solid #000;*/
  /*z-index: 1;*/
}

#getviz {
  /*z-index: 100000;*/
  margin-left: 15px;
}