fieldset {
  /*border: 2px dashed gray;*/
}

div { /*useful for debugging*/
  position: relative;
  /*border: 1px dotted gray;*/
}

.newline {
  clear: both;
}

form#reset {
  float: right;
}

.hiddenfileselect {
  display: none;
}

#fileselect { /*Can't do with class - .click() seems to remove class attribute?*/
  display: none;
}

label {
  cursor: default;
}

#prettyfileselect {
  float: left;
  border: none;
  background-color: #3498db;
  margin: 25px 45px;
  cursor: pointer;
  color: #ffffff;
  width: 75px;
  padding: 9px 12px 10px;
  font-size: 14.996px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  text-shadow: none;

  -webkit-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
  -webkit-transition: 0.25s;
     -moz-transition: 0.25s;
       -o-transition: 0.25s;
          transition: 0.25s;
  -webkit-backface-visibility: hidden;
}

#prettyfileselect:hover {
  color: #ffffff;
  background-color: #5dade2;
}

#prettyfileselect:active {
  background-color: #2c81ba;
}

#dragndrop {
  float: right;
  margin-right: 130px;
  margin-bottom: 20px;
  font-size: 16.996px; /* 17px */
  line-height: 120px;
  color: #3498db;
  text-decoration: none;
  text-shadow: none;
  text-align: center; 
  opacity: 0.6;
  width: 60%;

  border: dashed;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
  -webkit-transition: 0.25s;
     -moz-transition: 0.25s;
       -o-transition: 0.25s;
          transition: 0.25s;
  -webkit-backface-visibility: hidden;

}

#dragndrop.hover {
  border: dashed;
  opacity: .8;
  box-shadow: 4px 4px 2px #1A4C6E inset;
}

.filepreview {
  line-height: 1.1em;
  background-color: #E0FFFF;
  border: 1px dashed #AAFFFF;
  border-radius: 6px;
  overflow: auto;
  height: auto;
  max-height: 20em;
  margin-bottom: 1em;
}

textarea {
  font-size: 14px;
  line-height: 14px;
  margin-top: 2px;
  margin-bottom: 6px;
  height:50px;
  width:350px;
  max-width:350px;
  margin-left:28px;
}

.bttnfilelabels {
  cursor: pointer;
}

.optionbttn {
  border: none;
  background-color: #1abc9c;
  margin: 2px auto;
  position: relative;
  right: 80px;
  cursor: pointer;
  color: #ffffff;
  width: 125px;
  padding: 9px 12px 10px;
  font-size: 14.996px;
  line-height: 22px;
  text-align: center;
  text-decoration: none;
  text-shadow: none;

  -webkit-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
  -webkit-transition: 0.25s;
     -moz-transition: 0.25s;
       -o-transition: 0.25s;
          transition: 0.25s;
  -webkit-backface-visibility: hidden;
}

.optionbttn:hover {
  background-color: #48c9b0;
}

.optionbttn:active {
  background-color: #16a085;
}

#splittinglabel {
  cursor: default;
}

#stopwordinput {
  position: relative;
}

div + .scrubtooltip {
  background: #000000;
  overflow: hidden;
  border-radius: 4px;
  color: #fff;
  display: block;
  opacity: 0;
  pointer-events: none;
  position: absolute;

  -webkit-transform: translateY(10px);
     -moz-transform: translateY(10px);
      -ms-transform: translateY(10px);
       -o-transform: translateY(10px);
          transform: translateY(10px);
  -webkit-transition: all .25s ease-out;
     -moz-transition: all .25s ease-out;
      -ms-transition: all .25s ease-out;
       -o-transition: all .25s ease-out;
          transition: all .25s ease-out;
  -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
     -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
      -ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
       -o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
          box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
}

div + .scrubtooltip.general {
  width: 190px;
  left: 55%;
  top: 0px;
  padding: 4px;
}

div + .scrubtooltip.format {
  width: 290px;
  left: 0px;
  top: 0px;
  padding: 4px;
}


div + .cuttooltip {
  background: #1abc9c;
  overflow: hidden;
  border-radius: 4px;
  color: #fff;
  display: block;
  opacity: 0;
  width: 190px;
  padding: 4px;
  pointer-events: none;
  position: absolute;

  top: 0px;
  left: 50%;
  -webkit-transform: translateY(10px);
     -moz-transform: translateY(10px);
      -ms-transform: translateY(10px);
       -o-transform: translateY(10px);
          transform: translateY(10px);
  -webkit-transition: all .25s ease-out;
     -moz-transition: all .25s ease-out;
      -ms-transition: all .25s ease-out;
       -o-transition: all .25s ease-out;
          transition: all .25s ease-out;
  -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
     -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
      -ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
       -o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
          box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
}


div:hover + .scrubtooltip,
div:hover + .cuttooltip {
  opacity: 0.4;
  -webkit-transform: translateY(0px);
     -moz-transform: translateY(0px);
      -ms-transform: translateY(0px);
       -o-transform: translateY(0px);
          transform: translateY(0px);
}

.questionmark {
  /*display: inline-block;*/
  content: url('glyphicons_194_circle_question_mark.png');
  opacity: 0.5;
  position: absolute;
}

.questionmark.large {
  left: 50%;
  top: 7px;
  -webkit-transform: scale(.75, .75);
     -moz-transform: scale(.75, .75);
      -ms-transform: scale(.75, .75);
       -o-transform: scale(.75, .75);
          transform: scale(.75, .75);
}

.questionmark.small {
  left: 350px;
  top: 1px;
  -webkit-transform: scale(.5, .5);
     -moz-transform: scale(.5, .5);
       -o-transform: scale(.5, .5);
          transform: scale(.5, .5);
}

.questionmark.small.specchars {
  top: 59px;
}