/* Main */
#main-section {
    min-width: 115rem;
}


/* Form */
form {
    grid-template-rows: min-content 1fr;
    min-height: 60rem;
}


/* Options */
#options-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1.3fr;
    grid-gap: 2rem;
}


/* Document names */
#document-names-section {
    display: none;
}


/* Results top */
.results-top {
    display: grid;
    height: 3rem;
    margin: 1rem;
    grid-template-columns: 1fr 1fr;
}

.results-top-right {
    justify-self: right;
}
