/*Fonts*/
h1 {
    font-family: "Quicksand", sans-serif;
    font-weight: 300;
    font-size: 4rem;
    margin: 0;
}

h3, a {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    margin: 0;
    display: inline;
}

b {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
}

/*Main Elements*/
* {
    user-select: none;
}

html {
    height: 99.9%;
}

body {
    position: relative;
    height: 100%;
    min-width: 90rem;
    min-height: 60rem;
}

main {
    display: grid;
    justify-items: center;
    align-items: center;
    height: calc(100% - 15rem);
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/*Template classes*/
.selectable:hover {
    color: #FF0000;
    cursor: pointer;
}

.red {
    color: #FF0000;
}

/*Navbar*/
nav {
    z-index: 3;
    position: absolute;
    width: 100%;
    overflow: visible;
    height: 7rem;
    border-bottom: 1px solid #000000;
    background-color: #FFFFFF;
}

#navbar-spacer {
    height: 7rem;
}

#navbar-left {
    position: absolute;
    display: inline-block;
    top: 1rem;
    left: 1.5rem;
}

#navbar-right {
    position: absolute;
    display: inline-block;
    top: 2.3rem;
    right: 2rem;
}

#navbar-right > a,
#navbar-right > h3 {
    margin: 1rem;
}

/*Navbar dropdown menus*/
.navbar-menu {
    z-index: 1;
    position: absolute;
    top: 4.55rem;
    display: inline-grid;
    padding: 1rem;
    border: 1px #000000 solid;
    border-top: none;
    background-color: #FFFFFF;
}

/*Links*/
a {
    color: #000000;
}

a, a:hover, a:focus {
    text-decoration: none;
}

a:hover {
    color: #FF0000;
}

/*Footer*/
footer {
    border-top: 1px solid #000000;
    height: 4rem;
}

#footer-left,
#footer-right
{
    position: absolute;
}

#footer-left {
    margin-top: 1rem;
    left: 2rem;
}

#footer-right {
    margin-top: .7rem;
    right: 2rem;
}

/*Help section*/
#help-section {
    position: fixed;
    top: 0;
    left: 0;
    width: 40rem;
    height: 100%;
    padding: 2rem;
    overflow-y: scroll;
}
