/* Fonts */
h1 {
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    font-size: 4rem;
    margin: 0;
    color: #505050;
}

h3, a, ul, textarea, input[type="text"], span {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
    margin: 0;
    display: inline;
    line-height: 2.2rem;
    outline: none;
    color: #505050;
    transition: color .2s;
}

b {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 1.6rem;
    color: #505050;
}


/* Main Elements */
* {
    user-select: none;
    -moz-user-select: none;
}

::selection {
    color: #FFFFFF;
    background-color: #47BCFF;
}

html {
    height: 99.9%;
}

body {
    display: grid;
    grid-auto-rows: min-content calc((100vh - (100vh - 100%)) - 11rem) min-content;
    height: 100%;
    position: relative;
    background-color: #E3E3E3;
}

#main-grid {
    display: grid;
    height: 100%
}

#main-section {
    overflow: auto;
    min-width: 90rem;
}

form {
    display: grid;
    grid-gap: 2rem;
    padding: 2rem;
    width: 100%;
    height: 100%;
    min-height: 50rem;
}


/* Template classes */
.selectable:hover {
    color: #47BCFF;
    cursor: pointer;
}

.highlight {
    color: #47BCFF;
}

.centerer {
    display: grid;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.disabled {
    opacity: .5;
    pointer-events: none;
}

.invisible {
    opacity: 0;
}

.section,
.borderless-section {
    background-color: #FFFFFF;
    overflow: hidden;
}

.section {
    padding: 1rem;
}

.section .title {
    margin-bottom: 1rem;
    height: 3rem;
}

.borderless-section > .title {
    margin: 1rem;
    height: 3rem;
}

.button {
    display: inline-grid;
    align-content: center;
    justify-content: center;
    width: max-content;
    height: 3rem;
    padding: 1rem 1.5rem 1rem 1.5rem;
    border-radius: 3rem;
    box-shadow: inset #F3F3F3 0 0 0 2px;
    background-color: #F3F3F3;
    cursor: pointer;
    transition: color .2s, box-shadow .2s, background-color .2s;
}

.button:hover {
    color: #47BCFF;
    background-color: #EAF5FF;
    box-shadow: inset #47BCFF 0 0 0 2px;
}

.button:hover > h3 {
    color: inherit;
}


/* Navbar */
#navbar {
    z-index: 3;
    display: grid;
    grid-template-columns: 20% 80%;
    width: 100%;
    min-width: 90rem;
    height: 7rem;
    background-color: #FFFFFF;
}

#navbar-left {
    margin-top: 1rem;
    margin-left: 1.5rem;
}

#navbar-right {
    justify-self: right;
    margin-top: 2.3rem;
    margin-right: 2rem;
}

#navbar-right > a,
#navbar-right > h3 {
    margin: 1rem;
}


/* Navbar dropdown menus */
.navbar-menu {
    position: absolute;
    top: 7rem;
    transform: translate(-2rem, 0);
    display: inline-grid;
    row-gap: 1rem;
    padding: 1rem;
    white-space: nowrap;
    background-color: #FFFFFF;
    border: 2rem solid #E3E3E3;
    border-top: none;
}


/* Links */
a, a:hover, a:focus {
    text-decoration: none;
}

a:hover {
    color: #47BCFF;
}

.underline {
    box-shadow: inset 0 -2px 0 #505050;
    transition: box-shadow .2s, color .2s;
}

.underline:hover {
    box-shadow: inset 0 -2px 0 #47BCFF;
}


/* Footer */
footer {
    display: grid;
    grid-template-columns: 70% 30%;
    align-content: center;
    height: 4rem;
    background-color: #FFFFFF;
}

#left-footer {
    margin-left: 2rem;
}

#right-footer {
    margin-right: 2rem;
    justify-self: right;
}


/* Help section */
#help-section {
    display: block;
    width: 40rem;
    height: calc(100vh - 11rem);
    padding-bottom: 2rem;
    overflow-y: auto;
}

.help-section-title {
    display: block;
    margin-top: 2rem;
    padding: 2rem;
    color: #47BCFF;
    background-color: #FFFFFF;
}

.help-section-paragraph,
.help-section-list {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
}

.help-section-paragraph {
    display: block;
    background-color: #FFFFFF;
}

.help-section-list {
    background-color: #FFFFFF;
    display: block;
}

.help-section-list > li {
    padding-bottom: 1rem;
}

.help-section-list > li:last-child {
    padding-bottom: 0;
}


/* Popups */
#popup-container {
    z-index: 6;
    display: grid;
    align-content: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-width: 90rem;
    background-color: rgba(0, 0, 0, .5);
    opacity: 0;
    transition: opacity .2s;
}

#popup {
    display: grid;
    align-content: center;
    justify-content: center;
    grid-template-rows: 2rem 1fr;
    grid-template-columns: minmax(0, 1fr);
    row-gap: 1rem;
    padding: 1.5rem 2rem 2rem 2rem;
    margin: 2rem;
    min-height: 15rem;
    min-width: 40rem;
    text-align: center;
    word-wrap: break-word;
    background-color: #FFFFFF;
}

#popup-close-button {
    justify-self: right;
}

#popup-content {
    max-height: calc(100vh - 11rem);
    overflow-y: auto;
}


/* Title */
.title {
    display: block;
    color: #47BCFF;
}


/* Options */
.options-section {
    display: inline-block;
}


/* Text input */
input[type="text"] {
    height: 3rem;
    width: 6rem;
    padding-left: 1.3rem;
    padding-right: 1.3rem;
    margin: 0 1rem .4rem 1rem;
    border-radius: 3rem;
    outline: none;
    background-color: #FFFFFF;
    border: none;
    box-shadow: inset #E3E3E3 0 0 0 2px;
    transition: color .2s, box-shadow .2s, background-color .2s;
}

input[type="text"]:focus {
    color: #47BCFF;
    background-color: #EAF5FF;
    box-shadow: inset #47BCFF 0 0 0 2px;
}

span > input[type="text"] {
    color: inherit;
}


/* Textarea */
textarea {
    width: 100%;
    height: 100%;
    padding: 1rem;
    background-color: #F3F3F3;
    resize: none;
    border: none;
}

.textarea-label {
    width: 100%;
    height: calc(100% - 4rem);
}


/* Radio button */
.radio {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: #FFFFFF;
    border: 2px solid #D3D3D3;
    cursor: pointer;
    transition: background-color .2s;
}


/* Checkbox */
.checkbox {
    width: 2rem;
    height: 2rem;
    background-color: #FFFFFF;
    border: 2px solid #D3D3D3;
    cursor: pointer;
    transition: border-color .2s;
}


/* Label */
label {
    display: inline-block;
    cursor: pointer;
    margin-bottom: .5rem;
}

.checkbox-label > span:before,
.circle-label > span:before{
    content: "";
    display: inline-block;
    position: relative;
    top: .4rem;
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
    background-color: #FFFFFF;
    border: 2px solid #D3D3D3;
    transition: background-color .2s, border-color .2s;
}

input[type=checkbox],
input[type=radio] {
    display: none;
}

.checkbox-label :checked + span,
.circle-label :checked + span {
    color: #47BCFF;
}

.checkbox-label :checked + span:before,
.circle-label :checked + span:before {
    background-color: #EAF5FF;
    border-color: #47BCFF;
}

.circle-label > span:before {
    border-radius: 50%;
}


/* Dropdown selection */
select {
    border: none;
}


/* Plotly */
.plotly-notifier {
    display: none;
}

