/* Top section */
#top-section {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-gap: 2rem;
}


/* Formula */
#formula-body {
    display: grid;
    grid-template-rows: 1fr 1fr 2fr;
    grid-gap: 1rem;
}

#formula-buttons {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr .333fr 1.333fr;
    grid-gap: 1rem;
}

#number-pad,
#operations-pad {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 1rem;
}

#number-pad {
    grid-template-columns: repeat(3, 1fr);
}

#operations-pad {
    grid-template-columns: repeat(4, 1fr);
}

#formula-buttons h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% - .2rem);
    height: calc(100% - .2rem);
    background-color: #F3F3F3;
    border: .2rem solid #F3F3F3;
    transition: color .2s, background-color .2s, border-color .2s;
}

#formula-buttons h3:hover {
    color: #47BCFF;
    background-color: #EAF5FF;
    border-color: #47BCFF;
}
