#calculator_wrapper {
    width:400px;
    text-align:center;
}
#display {
    width:380px;
    height:40px;
    font-size:18px;
    color:black;
    margin:4px;
    border:2px solid #999;
    background-color:#FFFFFF;
}
.calc_button {
    width:40px;
    height:40px;
    margin:1px;
    padding:0;
    transition: all ease-in-out 500ms;
}
.calc_button:hover{
    background-color: rgba(200,252,219 ,0.2);
    transition: all ease-in-out 500ms;
}

.number {
    font-size:16px;
    font-weight:bold;
}

.opps {
    font-size:18px;
}

.bold {
    font-weight:bold;
}
.delete {
    color: #969696;
    float: right;
    padding-right: 50px;
}
.delete:hover {
    color: red;
}
a:hover {
    text-decoration: none;
    color: white;
    opacity: 0.7;
}
#analyze_button {
    width: 100px;
}
#upload_files {
    margin-top: 0px;
    margin-left: 0px;
    width:100px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#table table, #table .dataTables_scrollHeadInner, #corpus_counts table,
#corpus_counts .dataTables_scrollHeadInner, files_raw_counts_tables table,
#files_raw_counts_tables .dataTables_scrollHeadInner, .file{
    margin: auto;
}
