/* Main section */
#main-section {
    min-width: 130rem;
}

/* Form */
form {
    grid-template-rows: 50rem repeat(3, minmax(39.5rem, auto));
    min-height: calc(100% - 4rem);
    height: auto;
}


/* Top section */
#top-section {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-gap: 2rem;
}


/* Dictionaries */
.dictionaries-wrapper {
    overflow: auto;
}

.dictionaries h3 {
    display: flex;
    word-break: break-word;
    min-height: 3rem;
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: #F3F3F3;
}

.dictionaries h3:last-child {
    margin-bottom: 0;
}


/* Formula */
#formula-body {
    display: grid;
    grid-template-rows: 10rem 1fr;
    grid-gap: 1rem;
}

#formula-buttons {
    display: grid;
    height: 100%;
    min-height: 0;
    grid-template-columns: 1fr .66fr 1.1fr;
    grid-gap: 1rem;
}

#number-pad,
#operations-pad {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 1rem;
}

#number-pad {
    grid-template-columns: repeat(3, 1fr);
}

#operations-pad {
    grid-template-columns: repeat(2, 1fr);
}

#formula-buttons h3:not(.centerer) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% - .2rem);
    height: calc(100% - .2rem);
    background-color: #F3F3F3;
    border: .2rem solid #E3E3E3;
    transition: color .2s, background-color .2s, border-color .2s;
}

#formula-buttons h3:not(.centerer):hover {
    color: #47BCFF;
    background-color: #EAF5FF;
    border-color: #47BCFF;
}


/* Results */
#overview-body,
#corpus-body {
    height: 39.5rem;
}

#document-tables-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(39.5rem, 1fr));
    grid-gap: 1rem;
}

#document-tables-grid .lexos-table {
    max-height: 38.4rem;
    min-height: 25rem;
}

.lexos-table-head,
.lexos-table-row {
    grid-template-columns: 1fr 1fr 1fr;
}
