/* Main */
#main-section {
    min-width: 120rem;
}


/* Popup */
#popup-content div {
    justify-self: left;
}

#popup-content h3 {
    margin-top: 1rem;
}


/* Dendrogram */
.results-top {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.results-top-right {
    justify-self: right;
}

#dendrogram {
    width: calc(100% - 2rem);
    height: 60.9rem;
    overflow: hidden;
    margin: 0 1rem 1rem 1rem;
}
