/* Document previews section */
#document-previews-section {
    min-height: 50rem;
    min-width: 45rem;
}

#document-previews-section > h3 {
    position: relative;
    display: inline-block;
}

#document-previews-top {
    display: grid;
    align-items: center;
    grid-template-columns: 42% 58%;
}

#document-previews-buttons {
    justify-self: right;
    margin-right: 1rem;
}

#document-previews-buttons > h3 {
    margin-right: 2rem;
}


/* Previews */
#previews {
    height: calc(100% - 4rem);
    overflow: scroll;
}

#previews .centerer {
    height: 100%;
}

.preview {
    overflow-wrap: break-word;
    background-color: #F3F3F3;
    margin-bottom: 1rem;
    padding: 1rem;
}

.preview:last-child {
    margin-bottom: 0;
}

.preview-name {
    display: block;
    color: #47BCFF;
    margin-bottom: 1rem;
}
