/* Main section */
#main-section {
    min-width: 125rem;
}


/* Form */
form {
    grid-template-rows: 19rem auto;
}


/* Options section */
#options-section {
    grid-template-columns: 1fr 1.8fr 1fr 1fr 1.8fr;
}

#advanced-options-section > label {
    margin-right: 2rem;
}

#advanced-options-section input {
    margin-bottom: .5rem;
    width: 10rem;
}

/* K-means */
#k-means {
    width: calc(100% - 2rem);
    height: 56rem;
    overflow: hidden;
    margin: 0 1rem 1rem 1rem;
}
