/* Form */
form {
    opacity: 0;
    transition: opacity .5s;
}


/* Top section */
#top-section {
    display: grid;
    grid-template-columns: 80% 20%;
    margin-bottom: 2rem;
}

#download-button {
    justify-self: right;
}


/* Table */
#manage-table-head,
#manage-table-body {
    display: grid;
    row-gap: 1rem;
    width: 100%;
}

#manage-table-head {
    grid-template-columns: 7% 20% 13% 20% 40%;
    height: 5rem;
    margin-bottom: 1rem;
    background-color: #FFFFFF;
}

.manage-table-head-cell {
    display: grid;
    align-content: center;
    padding: 1rem;
    color: #FF6000;
}

.manage-table-row {
    display: grid;
    grid-template-columns: 7% 20% 13% 20% 40%;
    width: 100%;
    height: 10rem;
    background-color: #F3F3F3;
    transition: border-color .2s;
}

.manage-table-cell {
    height: 10rem;
    padding: 1rem;
    word-wrap: break-word;
    overflow: hidden;
    color: #505050;
}

.circle {
    margin-left: 1rem;
    align-self: center;
}

.selected-row > .circle {
    background-color: #FF6000;
}

/* Context Menu */
#context-menu {
    z-index: 1;
    position: absolute;
    display: grid;
    row-gap: 1rem;
    top: 0;
    left: 0;
    width: 18rem;
    padding: 1rem;
    background-color: #E3E3E3;
    opacity: 0;
    transition: opacity .2s;
    pointer-events: none;
}


/* Selection box */
#selection-box {
    position: absolute;
    pointer-events: none;
    transition: opacity .2s;
}
