/* Multicloud */
#multicloud {
    display: grid;
    grid-template-columns: repeat(auto-fit, 46rem);
    grid-gap: 2rem;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
}


/* Word cloud */
.word-cloud-wrapper {
    width: 46rem;
    height: 50rem;
    background-color: #F3F3F3;
    overflow: hidden;
}

.word-cloud-wrapper .title {
    display: block;
    height: 4rem;
    padding: 1rem;
    overflow: hidden;
    white-space: nowrap;
}

.word-cloud {
    height: calc(100% - 4rem);
}
