/* Main section */
#main-section {
    min-width: 120rem;
}


/* Form */
form {
    grid-template-rows: min-content 1fr;
}


/* Settings */
#settings-section {
    display: grid;
    grid-template-columns: .7fr 1fr .6fr 1fr;
    grid-gap: 2rem;
}

.section input[type=text]{
    margin-bottom: 1rem;
}


/* Text inputs */
#search-input-grid {
    display: grid;
    grid-auto-flow: column;
}

#search-input-grid input {
    width: calc(100% - 1rem);
}

#search-terms-input-denominator {
    display: none;
}

#window-section input[type=text] {
    width: 11rem;
    margin-left: 0;
}

#display-section input[type=text] {
    margin-bottom: 0;
    margin-right: 0;
    width: calc(100% - 12rem);
}


/* Display options */
#display-section .section-body > .checkbox-label {
    width: calc(100% - 6rem);
}
