/* Main section */
#main-section {
    min-width: 140rem;
}


/* Form */
form {
    display: grid;
    grid-template-columns: 1fr .9fr 1.1fr;
    grid-gap: 2rem;
    height: calc(100vh - 15rem);
    min-height: 60rem;
    overflow: hidden;
}


/* Columns */
#left-column,
#middle-column {
    display: grid;
    row-gap: 2rem;
}

#left-column {
    grid-template-rows: 22rem auto auto;
}

#middle-column {
    grid-template-rows: auto auto;
}


/* General */
.options-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.textarea-label {
    width: 100%;
    height: calc(100% - 4rem);
}

textarea {
    width: 100%;
    height: 100%;
    min-width: 40rem;
    min-height: 10rem;
}

.options-section {
    margin-left: 1rem;
}


/* Scrubbing options */
#scrubbing-options-section > .options-grid {
    height: calc(100% - 4rem);
}

#scrubbing-options-section > .options-section {
    margin-left: 0;
}

#scrubbing-options-section .checkbox-label {
    padding-bottom: .5rem;
}


/* Stop words and keep words */
#stop-words-section > .options-section {
    height: 4rem;
}

#stop-words-section .circle-label {
    margin-right: 3rem;
}

#stop-words-section > .textarea-label {
    height: calc(100% - 8rem);
}


/* Special characters */
#special-characters-section .options-grid {
    height: 10rem;
}

#special-characters-section .circle-label {
    margin-bottom: .5rem;
}

#special-characters-section .textarea-label {
    height: calc(100% - 14rem);
}


/* Tags popup */
#popup-container {
    min-width: 140rem;
}

#popup {
    min-width: 120rem;
    grid-template-rows: 2rem 4rem auto 3rem;
    row-gap: 0;
}

#tag-table-head {
    display: grid;
    grid-template-columns: 15% 55% 30%;
    padding: 1rem;
    background-color: #FFFFFF;
}

#tag-table-head h3 {
    color: #47BCFF;
}

.tag-table-row {
    display: grid;
    grid-template-columns: 15% 55% 30%;
    align-items: center;
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: #F3F3F3;
}

.tag-table-row label {
    margin-right: 3rem;
}

.tag-table-row label:last-child {
    margin-right: 0;
}

.tag-table-row > input {
    justify-self: center;
}

#popup-save-button {
    width: 4rem;
    justify-self: right;
    margin-top: 1rem;
}

#no-tags-text {
    margin-bottom: 3rem;
}
