/* Main section */
#main-section,
#popup-container {
    min-width: 140rem;
}


/* Form */
form {
    grid-template-columns: 1.3fr 1fr 1.3fr;
    min-height: 60rem;
}


/* Columns */
#left-column,
#middle-column {
    display: grid;
    row-gap: 2rem;
}

#left-column {
    grid-template-rows: 24rem 1fr 1fr;
}

#middle-column {
    grid-template-rows: 1fr 1fr;
}


/* General */
.scrub-section {
    display: grid;
    grid-template-rows: min-content 1fr;
    background-color: #FFFFFF;
}

.scrub-section-top {
    margin: 1rem;
    grid-gap: 1rem;
}

.upload-text,
#stop-words-options,
#special-characters-options {
    grid-column: span 2;
    word-break: break-all;
}


/* Scrubbing options */
#punctuation-options {
    transition: opacity .2s;
}


/* Stop/keep words */
#stop-words-section .circle-label {
    margin-right: 3rem;
}


/* Special characters */
.options-section label {
    margin-top: .2rem;
    margin-bottom: 1rem;
}


/* Tags popup */
#popup {
    max-width: 104rem;
}

#popup-content {
    overflow-y: hidden;
}

#tag-table-head,
.tag-table-row {
    display: grid;
    grid-template-columns: 15% 58% 27%;
    padding: 1rem;
}

#tag-table-head {
    padding-top: 0;
}

#tag-table-head h3 {
    color: #47BCFF;
}

#tag-table-body {
    width: 100rem;
    max-height: calc(100% - 3rem);
    overflow-y: overlay;
}

.tag-table-row {
    align-items: center;
    margin-bottom: 1rem;
    background-color: #F3F3F3;
}

.tag-table-row:last-child {
    margin-bottom: 0;
}

.tag-table-row label {
    margin-right: 3rem;
}

.tag-table-row label:last-child {
    margin-right: 0;
}

.tag-table-row > input {
    width: 25rem;
    margin: 0;
}
