/* Normalize */
#normalize-section {
    display: none;
}


/* Options section */
#options-section {
    grid-template-columns: 1fr 1fr 1.5fr;
}

#comparison-document-text {
    word-break: break-all;
}
