/* Main section */
#main-section {
    min-width: 120rem;
}


/* Form */
form {
    grid-template-rows: 45rem 1fr;
    min-height: 70rem;
}


/* Top section */
#top-section {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 30rem auto 30rem;
    grid-template-rows: 45rem auto 45rem;
}

#left-column {
    display: grid;
    grid-template-rows: min-content 1fr 1fr;
    grid-gap: 2rem;
}

#right-column {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 2rem;
}

#standard-error-test{
    overflow-y: auto;
}

#interquartile-range-test{
    overflow-y:auto;
}

#generate-button {
    margin: 1rem;
}


/* Table */
#table {
    height: calc(100% - 5rem);
}

#table-head,
.table-row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

#table-head {
    height: 3rem;
}

.table-head-cell,
.table-cell {
    overflow: hidden;
    overflow-wrap: break-word;
}

.table-head-cell {
    padding-left: 1rem;
    padding-right: 1rem;
    color: #47BCFF;
}

#table-body {
    height: calc(100% - 3rem);
    overflow-y: overlay;
}

.table-row {
    min-height: 4rem;
    margin-bottom: 1rem;
    background-color: #F3F3F3;
}

.table-row:last-child {
    margin-bottom: 0;
}

.table-cell {
    padding: 1rem;
}


/* Hidden elements */
#document-names-section {
    display: none;
}
