/*@import url("https://fonts.googleapis.com/css?family=Lato:400,700,700italic,900,400italic,300&subset=latin,latin-ext");
*/
/*/
  Lato font.
*/
/* Lato (normal, regular) */
@font-face {
  font-family: Lato;
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizeLegibility;
  src: url("../node_modules/lato-font/fonts/lato-normal/lato-normal.woff2") format("woff2"), url("../node_modules/lato-font/fonts/lato-normal/lato-normal.woff") format("woff");
}
/* Lato (normal, italic) */
@font-face {
  font-family: Lato;
  font-weight: 400;
  font-style: italic;
  text-rendering: optimizeLegibility;
  src: url("../node_modules/lato-font/fonts/lato-normal-italic/lato-normal-italic.woff2") format("woff2"), url("../node_modules/lato-font/fonts/lato-normal-italic/lato-normal-italic.woff") format("woff");
}
/* Lato (bold, regular) */
@font-face {
  font-family: Lato;
  font-weight: 700;
  font-style: normal;
  text-rendering: optimizeLegibility;
  src: url("../node_modules/lato-font/fonts/lato-bold/lato-bold.woff2") format("woff2"), url("../node_modules/lato-font/fonts/lato-bold/lato-bold.woff") format("woff");
}
/* Lato (bold, italic) */
@font-face {
  font-family: Lato;
  font-weight: 700;
  font-style: italic;
  text-rendering: optimizeLegibility;
  src: url("../node_modules/lato-font/fonts/lato-bold-italic/lato-bold-italic.woff2") format("woff2"), url("../node_modules/lato-font/fonts/lato-bold-italic/lato-bold-italic.woff") format("woff");
}
/* Lato (black, regular) */
@font-face {
  font-family: Lato;
  font-weight: 900;
  font-style: normal;
  text-rendering: optimizeLegibility;
  src: url("../node_modules/lato-font/fonts/lato-black/lato-black.woff2") format("woff2"), url("../node_modules/lato-font/fonts/lato-black/lato-black.woff") format("woff");
}

/* ================== ELEMENT STYLING ============================ */
body {
  font-family: "LatoLatin", sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

header {
  padding-bottom: 20px;
}

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 15px;
  font-size: 21px;
  line-height: 40px;
  color: #333;
  border: 0;
  border-bottom: 1px solid #BBB;
  margin-right: 5%;
}

label {
  display: block;
  margin-bottom: 5px;
}

label, input, button, select,
textarea {
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
}

ul, ol {
  padding: 0;
  list-style: none;

}

h1 {
  margin: 10px 0;
  font-size: 32px;
  font-weight: 900;
}

h1 small {
  font-size: 24.5px;
  font-weight: normal;
  line-height: 1;
  color: #999;
}

a {
  color: #08C;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #005580;
  text-decoration: underline;
}

select {
  width: 220px;
  background-color: #FFF;
  border: 2px solid #BDC3C7;
  height: 30px;
  -webkit-transition: border .25s linear, color .25s linear;
  -moz-transition:    border .25s linear, color .25s linear;
  -o-transition:      border .25s linear, color .25s linear;
  transition:         border .25s linear, color .25s linear;
}

textarea,
input[type="text"],
input[type="password"],
input[type="number"],
input[type="email"],
input[type="search"],
.uneditable-input {
  display: inline-block;
  margin-bottom: 10px;
  line-height: 20px;
  border: 2px solid #bdc3c7;
  color: #34495e;
  font-size: 14px;
  padding: 8px 5px;
  height: 21px;
  text-indent: 6px;
  vertical-align: middle;
  -webkit-border-radius: 6px;
  /*-moz-border-radius:    6px;*/
  border-radius:         6px;
  -webkit-box-shadow: none;
  /*-moz-box-shadow:    none;*/
  box-shadow:         none;
  -webkit-transition: border .25s linear;
  -moz-transition:    border .25s linear;
  -o-transition:      border .25s linear;
  transition:         border .25s linear;
}

textarea.placeholder,
input[type="text"].placeholder,
input[type="password"].placeholder,
input[type="number"].placeholder,
input[type="email"].placeholder,
input[type="search"].placeholder,
.uneditable-input.placeholder {
  color: #b2bcc5;
}

select:focus,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="search"]:focus,
.uneditable-input:focus {
  outline: none;
  outline: thin dotted \9;
  /* IE6-9 */
  border-color: #1abc9c;
}

select:invalid,
textarea:invalid,
input[type="text"]:invalid,
input[type="password"]:invalid,
input[type="number"]:invalid,
input[type="email"]:invalid,
input[type="search"]:invalid,
.uneditable-input:invalid {
  border-color: #E74C3C;
  background-color: rgba(255, 0, 0, 0.01);
}

input[type="text"],
input[type="number"] {
  margin: 0;
  padding: 0;
}

input[type="file"] {
  display: none;
}

/* ================== SITEWIDE STYLING =========================== */

.hidden {
  display: none;
}

.transparent {
  opacity: 0;
}

.col-sm-5{
  width: 800px !important;
}

.col-sm-7{
  width: 300px !important;
  float: right !important;
}

.dataTables_paginate{
  width: 400px !important;
  float: right;
}

.dataTables_info{
  width:400px !important;
}

/* Clearfix hack - remember to apply this class to parents of any floated elements */
.cf:before,
.cf:after {
  content: ' ';
  display: table;
}
.cf:after {
  clear: both;
}

.bttn {
  opacity: 0.9;
  border: none;
  position: relative;
  cursor: pointer;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  font-family: inherit;
  /*background-color: #000000;*/
  padding: 10px;
  font-size: 14px;
  line-height: 1em;
  border-radius: 6px;
  box-shadow: none;
  transition: 0.25s;
}

.bttn:hover {
  opacity: 0.7;
}

.bttn:active {
  opacity: 1.0;
}

.bttn:focus {
  outline: none;
}

.bttn.bttn-action {
  background-color: #2ecc71;
}

.bttn.bttn-apply {
  background-color: #27ae60;
}

.bttn.bttn-exit {
  background-color: #003066;
}

.bttn.bttn-minor {
  background-color: #BBBBBB;
}

.bttn.bttn-video {
  background-color: #2ecc71;
  padding: 5px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}

.submiterrors {
  display: none;
  color: red;
  position: fixed;
  font-size: 20px;
  left: 460px;
  top: 90px;
}

#no-active-error {
  display: block;
  width: 100%;
  font-size: 20px;

  text-align: center;
  color: red;
}


/*!* ================== d3 STYLING ================================= *!*/

.line {
  fill: none;
  stroke-width: 1.5px;
}

.line2 {
  fill: none;
  stroke: black;
  stroke-width: 1.5px;
}

.axis path{
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.axis line {
  fill: none;
  stroke: black;
  stroke-width: 1;
  opacity: 0.2;
  shape-rendering: crispEdges;
}

.yaxis2 {
  display: none;
}

.plot {
  fill: gray;
  opacity: .1;
}

/*.dot {
  fill: red;
}*/

.label {
  font: helvetica;
  font-weight: bold;
  font-size: 14px;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

/* ================== BASE STYLING =============================== */

#titlelink {
  text-decoration: none;
  text-transform: none;
  color: #34495E;
}

#titleprefix {
  color: gray;
}

#bttn-restart, #bttn-downloadworkspace, #bttn-cog {
  /*float: right;*/
  background-color: #08f;
  padding: 12px 18px;
  margin-top: 20px;
  margin-right: 2px;
  color: #FFFFFF;
  text-decoration: none;
  text-shadow: none;
  height: 10%;
}

#bttn-restart {
  color: white;
  background-color:#34495E;
}

/*This is modifying the btn-primary colors*/
.btn-restart {
  color: white !important;
  background-color:#34495E !important;
}
.btn-restart:hover, .btn-restart:focus {
  color: #34495E !important;
  opacity: 0.9 !important;
  background-color: #fcf8e3 !important; /*#003066*/
  border-color: #34495E; /*set the color you want here*/
}

#navbardiv {
  clear: both;
  width: 100%;
}

#navbarlist {
  width: 100%;
  margin: 0;
  padding: 0;
}

.inputWrapper{
  display: none !important;
}

.progress-div{
  height: 60px;
  margin-left: 10px;
}

.sublist, .nestedSublist {
  display: block;
  position: absolute;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  z-index: 2;
  -webkit-transition: padding-top 0.20s ease,
                      opacity    0.20s ease;
  -moz-transition:    padding-top 0.20s ease,
                      opacity    0.20s ease;
  -o-transition:      padding-top 0.20s ease,
                      opacity    0.20s ease;
  transition:         padding-top 0.20s ease,
                      opacity    0.20s ease;
}

.sublist li, .nestedSublist li {
  display: block;
}

.sublist li a, .nestedSublist li a {
  display: block;
  width: 100%;
  opacity: 0.97;
  background-color: #1A77B7;
  color: #FFFFFF;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  line-height: 30px;
  padding: 5px 0px;
  margin-bottom: 1px;
  cursor: pointer;
  -webkit-transition: background-color 0.25s ease;
  -moz-transition:    background-color 0.25s ease;
  -o-transition:      background-color 0.25s ease;
  transition:         background-color 0.25s ease;
}

.sublist {
  left:0;
  padding-bottom: 25px;
  padding-top: 21px;
}

.nestedSublist {
  left: 80%;
  visibility: visible;
}

.nestedSublist li a {
  background-color: #08d;
  height: 29px;
}

#clustering-submenu {
  bottom: 108px;
}

li.headernavitem:hover ul.sublist {
  padding-top: 5px;
  opacity: 1;
  visibility: visible;
}

.headernavitem.selected,
.sublist li a.selected {
  background-color: #074178;
}

#navbarlist .sublist li a:hover {
  opacity: 0.99;
  background-color: #34495E; /*#155F92;*/
}

#error-message {
  position: fixed;
  color: red;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.95);
  z-index: 4;
  display: none;
}

header {
  padding-bottom: 0px;
}

main {
  padding-bottom: 80px;
}

footer {
  border-top: 1px solid #AAAAAA;
  height: 50px;
  padding: 10px 0;
  font-size: 14px;
  color: gray;
  background-color: rgba(255, 255, 255, 0.95);
  position: relative;
}

#content-wrapper {
  position: relative;
}

#aboutus {
  font-size: 14.5px;
  float: left;
}
#twitter{
  font-size: 14.5px;
  float: right;
  float: justify;
}

#license {
  clear: left;
  float: left;
}

/* ================== BOOTSTRAP BANNER STYLING ============================= */
#banner { background-color: white;}

/* ================== BOOTSTRAP NAVBAR STYLING ============================= */
#topnavbar.affix {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Override default Bootstrap styles with Lexos styles */
.navbar-lexos {
  background-color:#0068AF;
  color:#ffffff;
  border-radius: 6px;
}
.navbar-lexos .navbar-nav > li > a {
    color:#fff;
}
.navbar-lexos .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #08f; /*#34495E;*/ /*#1A77B7;*/
    border-color: #08f;;
    /* Default is transparent, but #1A77B7; is colour of the dropdowns in old Lexos */
}
.navbar-lexos .navbar-brand {
    color:#808080;
}

/* SmartMenu's caret rotation doesn't seem to work, so override default orientation. */
.caret-right {
    border-left: 4px solid; margin-left: 24px;
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
}

/* ================== BOOTSTRAP AFFIX STYLING FOR SCRUB ==================== */
#preview-panel {margin-top:15px;width:100%;}
#preview-col {margin-right:0px;padding-right:0px;}
#preview-body {overflow:auto;max-height:400px;}
#actions {position:absolute;top:625px;}
.actions-scrub {left:54%;}
.actions-cut {left:58%;}

/* ================== COLLAPSABLE DIV STYLING ==================== */

.has-chevron {
  cursor: pointer;
}
.rotate {
  color: gray;
  margin-left: 5px;
  -webkit-transition: all 0.25s ease;
  -moz-transition:    all 0.25s ease;
  -o-transition:      all 0.25s ease;
  transition:         all 0.25s ease;
}

.rotate:hover {
    color: #34495E;
}

.rotate.down {
  -webkit-transform: rotate(90deg);
  -moz-transform:    rotate(90deg);
  -o-transform:      rotate(90deg);
  transform:         rotate(90deg);
}
/* Old */
.has-expansion .icon-arrow-right {
  margin-left: 5px;
}

.has-expansion .icon-arrow-right:before {
  -webkit-transition: all 0.25s ease;
  -moz-transition:    all 0.25s ease;
  -o-transition:      all 0.25s ease;
  transition:         all 0.25s ease;
}

.has-expansion .icon-arrow-right:hover {
  color: #34495E;
  cursor: pointer;
}

.expansion {
  display: none;
}

.expansion.showing {
  display: block;
}

.icon-arrow-right.showing:before {
  -webkit-transform: rotate(90deg);
  -moz-transform:    rotate(90deg);
  -o-transform:      rotate(90deg);
  transform:         rotate(90deg);
}

/* ================== MANAGE STYLING ============================= */

#manage-options {
  margin-bottom: 40px;
}

#manage-previews {
  margin-bottom: 40px;
}

/* ================== UPLOAD STYLING ============================ */
#filfeselect { /* Can't do with class */
  display: none;
}
.file-spec {
  font-size:14px;
  line-height: 6px;
  margin-top: 2px;
  color: #999;
}
#uploadbrowse {
  float: left;
  width: 175px;
  padding: 20px;
  line-height: 15px;
  font-size: 15px;
  margin: 10px 20px 5px 10px;
  background-color: #2ecc71;
}

#uploadbrowse span {
  margin-left:5px;
}

#dragndrop {
  width: 100%;
  line-height: 125px;
  font-size: 17px;
  color: #3498db;
  text-align: center;
  opacity: 0.6;
  border: 3px dashed;
  border-radius: 6px;
  transition: 0.25s;
}

#dragndrop.hover {
  opacity: .8;
  box-shadow: 0px 0px 4px #1A4C6E inset;
}

.uploadedfilespreivewwrapper {
  float: left;
  margin-top: 1%;
  width: calc(100% / 2 - 20px);
  padding: 10px 4px;
  border: 1px solid #999;
  border-radius: 3px;
  margin-right: 10px;
  text-align: center;
}

.previewtitle {
  font-size: 20px;
  margin-bottom: 5px;
}

.uploaded-file-preview {
  display: block;
  width: 97%;
  height: 125px;
  overflow: hidden;
  border: 1px solid #D8D8D8;
  box-shadow: 0px 0px 5px #D8D8D8;
  border-radius: 4px;
  padding: 5px 5px;
  white-space: pre;
}

.file-name{
  text-align: center;
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 5px;
  font-size: 21px;
  line-height: 30px;
  color: #666666 ;
  border: 0;
  margin-right: 5%;
}
.file-information {
  color: #666666;
  text-align: center;
}

#progress {
  width: 175px;
  margin-top: 10px;
  margin-right: 25px;
  border: 2px solid #074178;
  border-radius: 20px;
  text-align: center;
  z-index: 3;
  font-size: 12px;
  color: #074178;
  height: 20px;
  padding-right: 3px;
  padding-left: 3px;
  opacity: 0.7;
}

.whiteness{
  color: white !important;
  text-decoration: underline red !important;
}

#progress-bar {
  background-color: #08C;
  width: 0px;
  height: 23px;
  margin-top: -29.5px;
  margin-left: -1px;
  z-index: 1;
  border-radius: 20px;
}

/* ================== SELECT STYLING ============================= */

#delete, #disableall, #selectall {
  float: right;
  margin-right: 5px;
}

#disableall, #selectall {
  margin-right: 5px;
}

#delete {
  opacity: 0.9;
  background-color: #BBBBBB;
  -webkit-transition: all 0.2s ease;
  -moz-transition:    all 0.2s ease;
  -o-transition:      all 0.2s ease;
  transition:         all 0.2s ease;
}

#delete:hover {
  opacity: 1;
  background-color: #E74C3C;
}

#selectall {
  background-color: #00B824;
}

#taginput {
  padding-right: 3px;
  float: right;
}

input[type="text"]#tagfield {
  height: 30px;
  width: 150px;

  font-size: 14px;

  -webkit-transition: width 0.4s ease;
  -moz-transition:    width 0.4s ease;
  -o-transition:      width 0.4s ease;
  transition:         width 0.4s ease;
}

input[type="text"]#tagfield:focus {
  width: 180px;
}

#tagsubmit {
  width: 75px;
  background-color: #1ABC9C;
}

.select-preview-wrapper {
  float: left;

  width: 275px;

  margin: 10px;
}

.select-preview-wrapper.enabled .select-preview-text {
  background-color: #C8FFC8;
  color: #000000;
}

.select-preview-filename {
  float: left;
  font-weight: bold;
  font-size: 17px;
  width: calc(80% - 4px - 5px);
  white-space: nowrap;
  text-overflow: ellipsis;
  border: 2px solid rgba(255, 255, 255, 0.0); /* Placeholder for border */
  overflow: hidden;
  -webkit-border-radius: 6px;
  -moz-border-radius:    6px;
  border-radius:         6px;
  -webkit-transition: border .25s linear;
  -moz-transition:    border .25s linear;
  -o-transition:      border .25s linear;
  transition:         border .25s linear;
}

.select-preview-filename:hover,
.select-preview-filename:focus {
  width: calc(80% - 4px - 5px);
  text-overflow: inherit;
  outline: 0;
  border: 2px solid #bdc3c7;
}

.select-preview-filename:focus {
  border-color: #1abc9c;
}

.select-preview-label {
  float: right;
  color: #ffffff;
  border-radius: 2px;
  background-color: #1abc9c;
  box-shadow: 0px 2px 0px #16a085;
  max-width: calc(20% - 4px);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.select-preview-text {
  clear: both;
  float: left;
  margin-top: 7px;
  white-space: pre;
  height: 150px;
  width: 100%;
  overflow: hidden;
  font-size: 14px;
  color: gray;
  box-shadow: 0px 0px 5px #D8D8D8;
  border: 1px solid #d8d8d8;
  border-radius: 3px;
  cursor: pointer;
}

#delete-confirm-wrapper, #longwait-confirm-wrapper {
  height: 200px;
  width: 400px;
  position: fixed;
  z-index: 2;
  background-color: #ecf0f1;
  border: 1px solid #95a5a6;
  box-shadow: 0px 0px 10px #D8D8D8;
  border-radius: 5px;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition:    opacity 0.25s ease;
  -o-transition:      opacity 0.25s ease;
  transition:         opacity 0.25s ease;
  visibility: hidden;
  opacity: 0;
}

#delete-confirm-wrapper.showing ,#longwait-confirm-wrapper.showing {
  visibility: visible;
  opacity: 1;
}

#delete-explanation, #longwait-explanation {
  text-align: center;
  font-size: 30px;
  line-height: 55px;
}

#confirmation-bttn-wrapper {
  position: absolute;
  bottom: 10px;
}

.confirmation-bttn {
  width: 160px;
  margin-left: 27px;
  outline: none;
}

#confirm-delete-bttn, #confirm-longwait-bttn {
  background-color: #e74c3c;
}

tr {
  cursor: pointer;
}

tr.ui-selected {
  background-color: #C8FFC8 !important;
  color: #000000 !important;
}

.select-bttn {
  margin-bottom: 6%;
}

/*** Bootstrap Additions ***/
/* Question Mark Icons */
.fa {
  cursor: pointer;
}

/* Bootstrap Tooltip Styling */
.tooltip-inner {
  text-align: left !important;
  text-align: start !important;
}

.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-top-color: #fff;
  border-width: 5px 5px 0;
  box-shadow: 2px 2px 6px #222;
}

.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-left-color: #fff;
  border-width: 5px 0 5px 5px;
}

.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-right-color: #fff;
  border-width: 5px 5px 5px 0;
}

.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-bottom-color: #fff;
  border-width: 0 5px 5px;
}

/* Style Bootstrap tooltips like popovers */
.tooltip .tooltip-inner {
  background: white;
  color: black;
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  padding: 9px 10px 9px 16px;
  line-height: 1.65em;
}

.tooltip.right .tooltip-arrow {
  margin-top: -15px;
  border-right-color: #999;
  border-right-color: rgba(0, 0, 0, .25);
  border-width: 15px 15px 15px 0;
}

.tooltip.right .tooltip-arrow:after {
  content: " ";
  position: absolute;
  z-index: -1;
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid white;
  top: -15px;
  left: -3px;
}

/* Styles for delete selected button */
.btn-delete-selected {
  color: #FFFFFF;
  opacity: 0.9;
  background-color: #BBBBBB;
  -webkit-transition: all 0.2s ease;
  -moz-transition:    all 0.2s ease;
  -o-transition:      all 0.2s ease;
  transition:         all 0.2s ease;
}

.btn-delete-selected:hover,
.btn-delete-selected:focus,
.btn-delete-selected:active,
.btn-delete-selected.active {
  color: #FFFFFF;
  opacity: 1;
  background-color: #E74C3C;
}

.btn-delete-selected.disabled:hover,
.btn-delete-selected.disabled:focus,
.btn-delete-selected.disabled:active,
.btn-delete-selected.disabled.active,
.btn-delete-selected[disabled]:hover,
.btn-delete-selected[disabled]:focus,
.btn-delete-selected[disabled]:active,
.btn-delete-selected[disabled].active,
fieldset[disabled] .btn-delete-selected:hover,
fieldset[disabled] .btn-delete-selected:focus,
fieldset[disabled] .btn-delete-selected:active,
fieldset[disabled] .btn-delete-selected.active {
  color: #FFFFFF;
  opacity: 0.9;
  background-color: #BBBBBB;
  -webkit-transition: all 0.2s ease;
  -moz-transition:    all 0.2s ease;
  -o-transition:      all 0.2s ease;
  transition:         all 0.2s ease;
}

/* Tooltip Trigger Styles */
.lexos-tooltip-trigger {
  color: #999;
  font-size: 14px;
  margin-right:10px;
  cursor:pointer;
}
.lexos-tooltip-trigger:hover{
  color:#3fd1ac;
}

/* Popover Styles */
.popover-inner {
  color: #000;
}

.lexos-popover-trigger {
  color: #999;
  font-size: 14px;
  margin-right:10px;
  cursor:pointer;
}

/** Bootstrap 3 - Disabled dropdown links
http://blog.craigsworks.com/bootstrap-3-disabled-dropdown-links/ **/

/* Mimic cursor style from native .dropdown-menu > .disabled > a{} styles,
since `pointer-events: none` kills the cursor state, too.  */
.popover.fade.right.in .arrow {
  top: 43% !important;
}

.dropdown-menu > .disabled {
 cursor: not-allowed;
}

.dropdown-menu > .disabled > a {
 pointer-events: none;
}

/* Make the preview modal scrollable */
#preview .modal-dialog {
    overflow-y: initial !important
}
#preview .modal-body{
    height: 500px;
    overflow-y: auto;
}

/* Context Menu Styles */
#context-menu { cursor: pointer; }
.context-glyph { margin-right: 4px; }

/* DataTables Styles */
.dataTables_filter {
  float: right !important;
}

/* Keeps column width constant */
#doc-name span {word-wrap: break-word !important}
tr.selected {
  background-color: #C8FFC8 !important;
  color: #000000 !important;
}

/* Style column headers */
th {text-align:center; vertical-align: middle !important;}

/* Keeps the search form height from being set to less than text size */
input[type="search"]{
    height: 32px !important;
}

/* ================== PREPARE STYLING ============================ */

.tokenize-div {
  float: left;
}

#tokenize-options {
  padding-right: 0px;
}

#tokenize-size-input {
  float: left;
  padding-right: 2px;
  margin-left: -1px;
}

#tokenize-size-input input {
  width: 30px;
}

#prepare-wrapper {
  position: relative;
  padding-bottom: 100px;
}

#prepare-options {
  float: left;
  width: 50%;
}

#prepare-options.fixed {
  position: fixed;
  top: 0;
}

#prepare-previews {
  width: 50%;
  height: 100%;
  float: right;
  margin-bottom: 20px;
}

#prepare-previews-context {
    overflow-x:hidden;
    overflow-y:auto;
}

#prepare-submit {
  clear: both;
  float: left;
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-transition: box-shadow 0.25s ease;
  -moz-transition:    box-shadow 0.25s ease;
  -o-transition:      box-shadow 0.25s ease;
  transition:         box-shadow 0.25s ease;
}

#prepare-submit.fixed {
  position: fixed;
  width: 940px;
  box-shadow: 0px -6px 7px 0px rgba(50, 50, 50, 0.25);
}

.filecontents { /* Used in scrub and cut */
  clear: left;
  float: left;
  white-space: pre-wrap; /* Used to show the newlines in the text */
  /* Wrap long strings -- we may have to add these classes dynamically when
     because they may break the effects of white-space: pre-wrap. */
  word-break: break-all;
  white-space: normal;
  height: auto;
  display: block;
  margin-top: 10px;
}

.Junicode { font-family: Junicode, "Lato", sans-serif; }

.icon-info.fileinfo {
  left: -20px;
}

/* ================== SCRUB STYLING ============================== */

#normalscrubbingoptions {
  /*float: left;*/
}

#mainscruboptions {
  /*float: left;*/
}

#whitespace {
  margin-left:20px;
}

#aposhyph {
  float: left;
  margin-left: 10px;
}

#tagsradiodiv {
  float: left;
  margin-top: 20px;
}

#tagsradio {
  margin-top: 7px;
}

#additionalscrubbingoptions {
  clear: left;
  float: left;
}

.optuploadbuttondiv {
  display: inline-block;
}

textarea.manualinput {
  font-size: 14px;
  line-height: 14px;
  margin-top: 2px;
  margin-bottom: 6px;
  height: 3em;
  width: 350px;
  max-width: 300px;
  min-width: 300px;
  min-height: 1em;
  margin-left:0px;
}

.bttn.upload-bttn {
  line-height: 15px;
  font-size: 15px;
  background-color: #1abc9c;
  width: 80px;
  padding: 3px 6px;
}

.bttnfilelabels {
  cursor: pointer;
  text-align: right;
  color: #00B226;
  margin-top:5px;
}

#entityrules {
  margin-top: 2px;
  margin-left: 29px;
}

#specialchartext {
  clear: both;
  margin-left: 210px;
  margin-bottom: 15px;
}

#ruleslink {
  margin-left: 20px;
}

.bttnfilelabels {
  cursor: pointer;
  color: #00B226;
}

#swfileselectbttnlabel, #lemfileselectbttnlabel, #consfileselectbttnlabel, #scfileselectbttnlabel {
  margin-left: 25px;
}

.advanced-option {
  clear: left;
  float: left;
}

.icon-help.scrub {
  left: -20px;
  top: 0;
}

.icon-help#keep-apos {
  top: 0px;
  right: -5px;
}

.icon-help.tiny.scrub-additional {
  left: 310px;
  top: 7px;
}

.icon-help.tiny.scrub-additional#sc-tooltip {
  top: 70px;
}

/* ================== CUT STYLING ================================ */
.cuttingoptionswrapper {
  float: left;
  width: 100%;
}

.ind {
  padding-left: 10px;
  width: 95%;
}

.cuttingoptionsfieldset, .filecontents {
  float: left;
  width: 100%;
}

#cutrenamingdiv {
  width: 284px;
  display: block;
  float: left;
}

.cutting-radio {
  clear: left;
}

.cutting-radio label {
  display: inline-block;
  width: 165px;
}

.cutting-radio-token label {
  display: inline-block;
  width: 165px;
}

.cutting-input {
  clear: both;
  float: right;
  margin-right: 10px;
  margin-bottom: 5px;
}

.cutting-input.transparent {
  opacity: 0.2;
}

#cuttingmodediv {
  font-size: 20px;
  clear: left;
  float: left;
  margin-top: 25px;
}

#supercuttingmodemessage {
  font-size: 14px;
  color: green;
}

.individualpreviewwrapper {
  position: relative;
}

.individualpreviewlegend {
  color: inherit;
}

.sizeradio,
.numberradio {
  display: inline;
}

.cut-text-input {
  width: 100px;
}

.lastprop-input {
  width: 60px;
}

.indivcutbuttons {
  background-color: #999999;
  width: 150px;
  padding: 2px 4px;
  display: inline-block;
}

.individualcuttingoptionstitle {
  width: 100%;
}

.filechunk {
  clear: both;
  margin-bottom: 20px;
  padding-left: 5px;
  border-left: 1px solid gray;
}

.filechunklabel {
  border-bottom: 1px solid gray;
  margin: 2px;
  font-weight: 700;
}

.icon-help.cut {
  right: -5px;
  top: 0;
}

.cut-label-options {
  float: left;
}

.cut-label {
  color: #34495E;
}

/* ================== VISUALIZE STYLING ========================== */

.viz-tips {
  display: block;
  position: absolute;
  margin-left: 1%;
}

#visualize-submit {
  margin: 5px 0 0 0;

}

.d3tooltip {
    position: absolute;
    width: auto;
    height: auto;
    pointer-events: none;
    font-size: 35px;
    font-weight: bold;
    font-family: "Lato", sans-serif;
    background-color: rgba(247,247,247, 0.5);
    color: #000;
}

.rwtooltip {
    position: absolute;
    width: auto;
    height: auto;
    pointer-events: none;
    font-size: 20px;
    font-weight: bold;
    font-family: "Lato", sans-serif;
    background-color: rgba(247,247,247, 0.8);
    color: #000;
}
#copyright_tag{
  margin-left:15px;
}
/* ================== RWANALYSIS STYLING ==================== */
.rwanalysisradiosdiv {
}

.rollinginput {
  width: 100%;
}

#rollingwindowsize {
  width: 75px;
}

#rwagraphheader {
  display: block;
  width: 100%;
  text-align: center;
}

#rwagraphlabel {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 1.5em;
  margin-top: 20px;
}

.icon-help.rolling-window {
  padding-left: 5px;
}

#generateRWmatrix {
  display: inline-block;
}

#svg-Chrome {
  display: inline-block;
}

#svg-Other {
  display: inline-block;
}

/* ================== VIZ STYLING =========================== */

#svgid {
  margin: 0;
  padding: 0;
  position: absolute;
}

#getviz {
  margin-left: 0;
}

.vizoptions {
  float: left;
  margin-right: 15px;
}

#minlength {
  width: 50px;
}

#graphsize {
  width: 70px;
}

#exspecto-bullae {
  background-color: #c8ebf0;
  opacity: 0.3;
  height: 75px;
  width:300px;
  position:absolute;
  left: 50%;
  top: 50%;
  margin-left: -50px;
  margin-top: -15px;
  font-size: 400%;
  text-align: center;
}

/* ================== WORDCLOUD STYLING ===================== */

#maxwords {
  width: 60px;
}

#segmentlist {
  width: 300px;
  margin-right: 10px;
}

#nosegments {
  font-weight: bold;
  color: red;
  text-align: center;
}

#rightsideoptions {
  float: right;
  text-align: right;
}

#leftsideoptions {
  float: left;
}

#angle-count {
  width: 30px;
}

#angle-from {
  width: 50px;
}

#angle-to {
  width: 50px;
}

#vis text:hover {
  opacity: .7 !important;
}

#presets a {
  border-left: solid #666 1px;
  padding: 0 10px;
}

#presets a.first {
  border-left: none;
}

#keyword {
  width: 300px;
}

#fetcher {
  width: 500px;
}

#keyword, #go {
  font-size: 1.5em;
}

#text {
  width: 100%;
  height: 100px;
}

p.copy {
  font-size: small;
}

hr {
  border: none;
  border-bottom: solid #ccc 1px;
}

a.active {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  cursor: pointer;
}

#angles line, #angles path, #angles circle {
  stroke: #666;
}

#angles text {
  fill: #333;
}

#angles path.drag {
  fill: #666;
  cursor: move;
}

#angles {
  text-align: center;
  margin: 0 auto;
  width: 350px;
}

#angles input {
  width: 42px;
}

#wordcloudoptionswrapper label {
  display: inline;
}

#status {
  font-size: 24px;
  color: red;
  position:absolute;
  top: 450px;
  left: 320px;
  padding: 6px;
  border: 1px solid red;
  background: #FFFFFF;
  transition: 0.25s;
  z-index: 50000;
}

#wordcloudcopyright {
  float: right;
}

/* ================== MULTICLOUD STYLING ==================== */

.multicloud-options {
  float: left;
  width: 330px;
}

#multicloud-upload-tooltip {
  text-align: left;
  top: 0px;
  right: -5px;
}

#sortable {
  list-style-type: none;
  margin: 0 0 3px 2px;
  padding: 0;
  width: 920px;
}

#sortable li {
  margin: 2px 1px 2px 1px;
  padding: 1px;
  float: left;
  width: 300px;
  height: 380px;
  -webkit-border-radius: 5px;
  -moz-border-radius:    5px;
  -o-border-radius:      5px;
  border-radius:         5px;
}

.ui-sortable-placeholder {
  border: 1px dotted black;
  visibility: visible !important;
  height: 380px !important;
}

.ui-sortable-placeholder * {
  visibility: hidden;
}

.toggle-options {
  background-color: #2ECC71;
  width: 60%;
  height: 16px;
  padding-left: 10%;
  cursor: pointer;
}

.multicloud-toggle {
  width: 250px;
}

.invisible-radios {
  visibility: hidden;
}

/* ================== ANALYZE STYLING ============================ */


#analyze-advanced {
  box-shadow: 0px 0px 10px 0px #888;
}

#temp-label-div {
  float: left;
  padding-bottom: 20px;
  top: 100px;
}

#modifylabels span#no-labels {
  display: block;
  width: 90%;
  text-align: center;
  padding-bottom: 40px;
}

#analyze-normalize-TFIDF {
  left:190px;
}

#culling-options{
  width: 200px;
}

#tfidfNorm {
  list-style-type: none;
}

.explanation {
  font-size: 14px;
}

.btn:hover {
  cursor: pointer;
}

.silhouettescoreresults {
  float:left;
}

/* ================== TOKENIZER STYLING ======================= */

#csvoptiondiv {
  float: left;
}

.csvoptions legend {
  font-size: 18px;
}

/* ================== STATS STYLING =========================== */
/* Resolve the transparent box plot issue. */
#box-plot .plot {
  opacity: 1 !important;
}

#entire-corpus {
    font-size: 15px;
    line-height: 20px;
    width: 400px;
    float:left;
    margin-top:35px;
    margin-bottom:25px;
}

/* ========================= DENDROGRAM STYLING ========================= */
select#orientation {
  width: 140px;
}

.dendrogram-options{
  float: left;
}

.dendrogram-options label {
  clear: both;
  float: left;
  line-height: 34px;
}

#dendrogram-result {
  width: max-content;
  width: -moz-max-content;
  margin-right: auto;
  margin-left: auto;
}

#dendrogram-result .plot {
  opacity: 1;
}


/* ================== K MEANS STYLING ==================== */

.silhouette-options,
.kmeans-options {
  float: left;
}

.silhouette-options,
.kmeans-options label{
  clear: both;
  float: left;
  line-height: 34px;
}

#kmeanscreateoptions {
  margin-bottom: 20px;
  width: 400px;
}

#kmeansresultsLeft {
  border: 1px solid #BBB;
  border-radius: 6px;
  border-spacing: 10px;
  max-height:600px;
  float:left;
  overflow:auto;
  width: 27%;
  margin-top: 10px;
  padding: 10px 4px 4px 4px;
}

#kmeansresultsRight {
  margin-left: 27%;
  height: 500px;
  overflow: hidden;
}

.imageLinkBtn {
  width: 27%;
  margin: -20px auto 10px auto;
}

#basicTable {
  border: none;
  width: 100%;
  margin: 0 auto 4px auto;
  font-size: 13px;
}

#basicTable tr.white-header {
  background-color: white;
}

#basicTable th {
  padding: 9px;
  text-align: center;
  vertical-align: top;
}

#basicTable td {
  padding: 8px;
  text-align: center;
}

#kmeansimage {
  max-width: 100%;
  max-height:100%;
  margin-top:-30px;
}

#nclusters {
  width: 110px;
}

#max_iter {
  width: 110px;
}

#initMethod {
  width: 110px;
}

#vizMethod {
  width: 110px;
}

.icon-help#kValueTooltip,
#KMeans-maxIter-tooltip,
#KMeans-initailize-tip,
#KMeans-n_init-tooltip,
#KMeans-viz-tip,
#KMeans-tolerance-tooltip {
  position: relative;
  float: right;
  padding-left: 5px;
}

#advancedKMeansOptions {
  margin-bottom: 30px;
}

#n_init {
  width: 110px;
}

#tolerance {
  width: 120px;
}

/* ================== SIMILARITY QUERY STYLING ==================== */

#similarityminifile {
  width: 40%;
  height: 300px;
  max-height: 300px;
  margin-top: 5%;
}

#similarityoptions {
  width: 430px;
}

.minifilemanagesims {
  display: inline-block;
  width: 120%;
}

.minifilepreviewsims {
  float: left;
  height: 20px;
  width: calc(100% / 4 - 20px);
  margin: 8px;
  padding: 2px;
  color: gray;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  box-shadow: 0px 0px 5px #D8D8D8;
  border: 1px solid #d8d8d8;
  border-radius: 3px;
  background-color: #C8FFC8;
  text-align: center;
}

.minifilepreviewsims.enabled {
  background-color: white;
  color: black;
}

#uniquetokenstip {
  display: inline-block;
  padding-left: 10px;
}

#selectedDocument {
  font-size: 17px;
  text-align: right;
  margin-right: 8px;
}

#simstable{
  overflow: auto;
  max-width: 100%;
  max-height:300px;
  text-align: center;
}

/* ================== TOPWORD STYLING ==================== */

#words-options {
}

#test-input-options {
}

.topwordTableDiv {
  float: left;
  margin-left: 2.5%;
  margin-right: 2.5%;
  text-align: center;
  width: 45%;
  margin-top: 10px;
}

.topwordResultDiv {
  float: left;
  min-width: 100%;
  position: relative;
  margin-bottom: 5%;
}

.topwordFile {
  line-height: 70%;
}

.topwordResultTableTitle {
  border-bottom: 1px solid #bbb;
  font-size: 1.2em;
  margin-bottom: 2%;
  margin-top: 1%;
}

.topwordFileTable {
  height: 81px;
  overflow-y: auto;
}

.topwordResultTable {
  margin-left: auto;
  margin-right: auto;
}

.topwordResultTableBody {
  height: 200px;
}

.topwordResultTableHead {
  text-align: center;
}

.topwordResultLegend {
  margin-top: 40px;
}

/*====================== bootstrap table =========================*/
.header-fixed {
    width: 100%
}

.header-fixed > thead,
.header-fixed > tbody,
.header-fixed > thead > tr,
.header-fixed > tbody > tr,
.header-fixed > thead > tr > th,
.header-fixed > tbody > tr > td {
    display: block;
}

.header-fixed > tbody > tr:after,
.header-fixed > thead > tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

.header-fixed > tbody {
    overflow-y: auto;
    height: 150px;
}

.header-fixed > tbody > tr > td,
.header-fixed > thead > tr > th {
    width: 50%;
    float: left;
    text-align:center;
}

.table {
    margin-bottom: 20px;
    max-width: 100%;
    width: 100%;
}

table {
    background-color: transparent;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.table > caption + thead > tr:first-child > td, .table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > td, .table > thead:first-child > tr:first-child > th {
    border-top: 0 none;
}
.table > thead > tr > th {
    border-bottom: 2px solid #ddd;
    vertical-align: bottom;
}
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    border-top: 1px solid #ddd;
    line-height: 1.42857;
    padding: 8px;
    vertical-align: top;
}

.table-striped > tbody > tr:nth-of-type(2n+1) {
    background-color: #f9f9f9;
}

/* ================== EXTERNAL TOOLS STYLING ================ */

.extooldiv {
  margin: 15px;
}

.bttn.exlink {
  background-color: #008F38;
  color: #FFFFFF;
}

.externallink {
  margin: 15px;
  padding: 10px;
  padding-left: 20px;
}

.externalsummary {
  margin: 15px;
  padding-left: 10px;
}

#smaller {
  font-size: .8em;
}

/* ================== IN THE MARGINS STYLING =============================== */
.slideout-menu {
  padding: 5px;
  height: 99%;
  overflow: auto;
}
#panel-content {
  color: #fff;
  padding-bottom: 15px;
}
.ui-dialog .ui-dialog-title .ui-icon {
  float: left;
  margin: 4px;
}
/*needed*/

.node:hover {
    opacity: .80;
}

/*================== CUSTOMIZE BOOTSTRAP ELEMENT STYLING ========================= */
.multiselect-container {
  max-height: 200px;
  overflow: scroll;
}

/* ================== LOADING SPINNER STYLING ============================ */
#status, #panel-status, #dialog-status {
  width: 34px;
  height: 34px;
  margin: auto;
  margin-top: 300px; /* In case the screen scrolls */
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  border: none;
  display: none;
}
#status img, #panel-status img, #dialog-status img {
  width: 32px;
  height: 32px;
}
#status-prepare, #status-analyze, #status-visualize {
  font-size: 18px;
  width: 66px;
  height: 66px;
  margin: auto;
  margin-top: 300px;
  position: fixed;
  top: 0; left: 0; bottom: 0; right: 0;
  border: none;
  visibility: hidden;
  transition: 0.25s;
  z-index: 10000px;
  background:rgba( 255, 255, 255, .4 )
              50% 50% ;
}
#status-prepare img, #status-analyze img, #status-visualize img {
  width: 64px;
  height: 64px;
  z-index: 10000px;
}
.dendroImage {
  width: auto;
  height: 120vh;
  clear:both;
}
.dendroPNG {
  display:block;
  margin: auto;
  max-width:100%;
  max-height:100%;
}
