/* Main section */
#main-section {
    min-width: 120rem;
}


/* Form */
form {
    display: grid;
    grid-template-rows: 15rem minmax(60rem, auto);
    grid-gap: 2rem;
    height: calc(100vh - 15rem);
}



/* Options section */
#options-section {
    display: grid;
    grid-template-columns: 1.9fr .9fr 1fr 1.5fr;
    grid-gap: 2rem;
}


/* Table top */
#table-top {
    display: grid;
    grid-template-columns: 1fr 3fr 3fr 1fr;
    height: 5rem;
    padding: 1rem;
}

#table-top h3,
#table-top a {
    margin-top: .25rem;
}

#rows-per-page-option > h3,
#rows-per-page-option > label {
    margin-right: 1rem;
}

#rows-per-page-option,
#search-option {
    justify-self: center;
}

#table-top input[type=text] {
    width: 20rem;
}

#download-button {
    justify-self: right;
}


/* Table */
#table {
    background-color: #FFFFFF;
    min-width: 0;
}

#table #no-data-text-container {
    margin-top: 4rem;
    height: calc(100% - 4rem);
}

#table-data {
    height: calc(100% - 10rem);
    display: grid;
    grid-template-rows: max-content auto;
    overflow-x: scroll;
    overflow-y: hidden;
    opacity: 0;
}


/* Table head */
#table-head,
.tokenize-row {
    grid-auto-columns: minmax(20rem, 1fr);
    grid-auto-flow: column;
}

#table-head {
    display: grid;
    grid-template-rows: 1fr;
}

#table-head .tokenize-cell {
    color: #47BCFF;
    background-color: #FFFFFF;
}


/* Table body */
#table-body {
    direction: rtl;
    overflow-x: visible;
    overflow-y: scroll;
}

.tokenize-row {
    direction: ltr;
    display: grid;
    margin-bottom: 1rem;
}

.tokenize-row:last-child {
    margin-bottom: 0;
}

.tokenize-cell {
    padding: 1rem;
    min-height: 4rem;
    background-color: #F3F3F3;
    overflow: hidden;
    overflow-wrap: break-word;
}


/* Table bottom */
#table-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 5rem;
    padding: 1rem;
}

#navigation-buttons {
    align-self: center;
    justify-self: right;
}

#navigation-buttons > h3 {
    margin-left: 2rem;
}
