/* Main section */
#main-section {
    min-width: 120rem;
}


/* Form */
form {
    grid-template-rows: 15.5rem 1fr;
}


/* Options section */
#options-section {
    grid-template-columns: 1.9fr .9fr 1fr 1.5fr;
}


/* Table */
#table-data {
    height: calc(100% - 10rem);
}


/* Table top */
#table-top {
    display: grid;
    grid-template-columns: .9fr 1fr 1.1fr .8fr;
    height: 3rem;
    margin: 1rem;
}

.table-top-radio-option {
    justify-self: center;
}

.table-top-radio-option > h3,
.table-top-radio-option > label {
    margin-right: 1rem;
}

#search-input {
    width: 20rem;
}

#table-top-buttons {
    justify-self: right;
}

#generate-button {
    margin-right: .5rem;
}


/* Table data */
#table-data-grid {
    height: 100%;
    display: grid;
    grid-template-rows: max-content auto;
    overflow-x: auto;
    overflow-y: hidden;
}


/* Table head */
#table-head,
.table-row {
    grid-auto-columns: minmax(20rem, 1fr);
    grid-auto-flow: column;
}

#table-head {
    display: grid;
    grid-template-rows: 1fr;
}

#table-head .table-cell {
    color: #47BCFF;
    background-color: #FFFFFF;
}

#table-head .table-cell.selected-cell {
    background-color: #EAF5FF;
}


/* Table body */
#table-body {
    overflow-x: visible;
    overflow-y: overlay;
}

.table-row {
    display: grid;
    margin-bottom: 1rem;
}

.table-row:last-child {
    margin-bottom: 0;
}

.table-cell {
    padding: 1rem;
    min-height: 4rem;
    overflow: hidden;
    overflow-wrap: break-word;
    background-color: #F3F3F3;
}


/* Table bottom */
#table-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 3rem;
    margin: 1rem;
}

#navigation-buttons {
    justify-self: right;
}

#navigation-buttons > h3 {
    margin-left: .5rem;
}
