/* Navbar */
#navbar-upload {
    color: #FF0000;
}


/* Upload information */
#upload-information {
    display: grid;
    grid-template-columns: 25% 75%;
    margin-bottom: 1rem;
}

#upload-requirements {
    justify-self: right;
}


/* Browse button and drag and drop section */
#browse-button,
#drag-and-drop-section {
    display: inline-grid;
    justify-items: center;
    align-items: center;
    margin: 0;
    height: 30rem;
    background-color: #FFFFFF;
}


/* Upload section */
#upload-section {
    display: grid;
    grid-template-columns: 30% auto;
    column-gap: 2rem;
}

#browse-button {
    transition: background-color .2s;
}

#browse-button:hover {
    color: #FFFFFF;
    background-color: #FF6000;
}

#browse-button > h3 {
    color: inherit;
}

#drag-and-drop-section {
    transition: background-color .2s;
}

#drag-and-drop-section > h3 {
    color: inherit;
}


/* Upload list */
#upload-list-container {
    overflow: hidden;
    overflow-wrap: break-spaces;
    margin-top: 1rem;
    max-width: 100%;
}
