/* Form */
form {
    grid-template-rows: min-content 1fr 1fr;
    min-height: 75rem;
}


/* Upload section */
#browse-button,
#drag-and-drop-section {
    display: grid;
    justify-items: center;
    align-items: center;
    color: #505050;
}

#browse-button {
    width: 20rem;
    height: 6rem;
    margin: 1rem;
    border-radius: 3rem;
    background-color: #F3F3F3;
    border: .2rem solid #D3D3D3;
    transition: background-color .2s, border-color .2s;
}

#browse-button:hover {
    color: #47BCFF;
    background-color: #EAF5FF;
    border: .2rem solid #47BCFF;
}

#drag-and-drop-section {
    height: calc(100% - 7rem);
    background-color: #F3F3F3;
    border: .2rem dashed #D3D3D3;
    transition: background-color .2s, border-color .2s;
}

#browse-button > h3,
#drag-and-drop-section  > h3 {
    color: inherit;
}


/* Upload list */
#upload-previews {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-gap: 1rem;
    height: 100%;
    overflow-y: auto;
}

.upload-preview {
    display: grid;
    align-content: center;
    justify-content: center;
    min-height: 8rem;
    padding: 1rem;
    background-color: #F3F3F3;
}

.upload-preview > h3 {
    min-width: 0;
    word-break: break-all;
}
