/* Word cloud */
#word-cloud-container {
    display: grid;
    align-content: center;
    justify-content: center;
}

div.tooltip {
    position: absolute;
    text-align: center;
    padding: 2px;
    font: 12px sans-serif;
    background: lightgrey;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}
