{% extends "base.html" %}
{% block title %}analyzer{% endblock %}
{% block field %}
<legend>Analysis</legend>
<form id="analysis" action="" method="POST" enctype="multipart/form-data">
<table>
<tr>
<td>
<label for="linkage">Linkage Method: </label>
<select name="linkage">
  <option value="average" {% if request.form['linkage'] == 'average' %} selected {% endif %}>Average</option>
  <option value="single" {% if request.form['linkage'] == 'single' %} selected {% endif %}>Single</option>
  <option value="complete" {% if request.form['linkage'] == 'complete' %} selected {% endif %}>Complete</option>
  <option value="weighted" {% if request.form['linkage'] == 'weighted' %} selected {% endif %}>Weighted</option>
</select>
</td>
<td>
<label for="metric">Distance Metric: </label>
<select name="metric">
  <option value="euclidean" {% if request.form['metric'] == 'euclidean' %} selected {% endif %}>Euclidean</option>
  <option value="minkowski" {% if request.form['metric'] == 'minkowski' %} selected {% endif %}>Minkowski</option>
  <option value="cityblock" {% if request.form['metric'] == 'cityblock' %} selected {% endif %}>Manhattan</option>
  <option value="seuclidean" {% if request.form['metric'] == 'seuclidean' %} selected {% endif %}>Standardized Euclidean</option>
  <option value="sqeuclidean" {% if request.form['metric'] == 'sqeuclidean' %} selected {% endif %}>Squared Euclidean</option>
  <option value="cosine" {% if request.form['metric'] == 'cosine' %} selected {% endif %}>Cosine</option>
  <option value="correlation" {% if request.form['metric'] == 'correlation' %} selected {% endif %}>Correlation</option>
  <option value="hamming" {% if request.form['metric'] == 'hamming' %} selected {% endif %}>Hamming</option>
</select>
</td>
</tr>
<tr>

<td>
<label for="orientation">Dendrogram Orientation: </label>
<select name="orientation">
  <option value="top" {% if request.form['orientation'] == 'top' %} selected {% endif %}>Top</option>
  <option value="bottom" {% if request.form['orientation'] == 'bottom' %} selected {% endif %}>Bottom</option>
  <option value="left" {% if request.form['orientation'] == 'left' %} selected {% endif %}>Left</option>
  <option value="right" {% if request.form['orientation'] == 'right' %} selected {% endif %}>Right</option>
</select>  

</td>
<td>
<label for="pruning">Leaves to Display (default is all): </label>
<input type="text" size="4" name="pruning" value={{request.form["pruning"]}}><br>
</td>
</tr>

</table>
</table>
{% endblock %}

{% block content%}
{% if session['denpath'] %}
<img src={{url_for('image')}}>
{% endif %}
{% endblock %}


{% block submit %}
<input type="submit" value="Get Dendrogram"/>
{% if session['denpath'] %}
<input class="btn btn-inverse" type="submit" name="download" value="Download Dendrogram" style="float:right"/>
{% endif %}
{% endblock %}