{% extends "base.html" %}

{% block head %}
<script type="text/javascript" src="{{ url_for('static', filename='scripts_analysis.js') }}"></script>
{% endblock %}

{% block title %}analyzer{% endblock %}

{% block navbar %}
<form id="analysis" action="" method="POST" enctype="multipart/form-data">

<div class="navbaroption enabled" id="analysisnavbar1">Upload</div>
<input class="hidden" type="submit" name="uploadnav"/>
<div class="navbaroption enabled" id="analysisnavbar2">Manage</div>
<input class="hidden" type="submit" name="managenav"/>
<div class="navbaroption enabled" id="analysisnavbar3">Scrub</div>
<input class="hidden" type="submit" name="scrubnav"/>
<div class="navbaroption enabled" id="analysisnavbar4">Cut</div>
<input class="hidden" type="submit" name="cutnav"/>
<div class="navbaroption" id="analysisnavbar5">Analyze</div>
<!-- <input class="hidden" type="submit" name="analyzenav"/> -->
<div class="navbaroption analysisbar enabled" id="analysisnavbarA">CSV-Generator</div>
<input class="hidden" type="submit" name="csvgeneratornav"/>
<div class="navbaroption enabled analysisbar" id="analysisnavbarB">Dendrogram</div>
<input class="hidden" type="submit" name="dendrogramnav"/>
<div class="navbaroption enabled analysisbar" id="analysisnavbarC">Rolling Analysis</div>
<input class="hidden" type="submit" name="rollinganalysisnav"/>
{% endblock %}


{% block field %}
<input type="submit" class="analysisoptions" name="dendrogram" value="Go to Dendrograms!"/>
{% endblock %}



{% block content %}
{% endblock %}


{% block submit %}
{% endblock %}