<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>Lexos</title>

	{%- set version = 2 %}

	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
	<script type="text/javascript" src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/scripts_icons.js') }}?ver={{version}}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/scripts_base.js') }}?ver={{version}}"></script>

	<link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css"/>
	<link rel="stylesheet" type="text/css" media="all" href="{{ url_for('static', filename='css/iconfonts.css') }}?ver={{version}}"/>
	<link rel="stylesheet" type="text/css" media="all" href="{{ url_for('static', filename='css/style.css') }}?ver={{version}}"/>
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}?ver={{version}}"/>

	{% block section_head %}{% endblock %}
	{% block head %}{% endblock %}
</head>

<body>
	<input type="hidden" name="current_id" value="{{ session['id'] }}"/>
	<input type="hidden" name="current_version" value="{{ version }}"/>
	<div class="container cf">
		<header class="cf">
			<h1 id="header-title">
				<a href="{{url_for('base')}}" id="titlelink"><span id="titleprefix">lexo</span> &#123;{% block title %}{% endblock %}&#125;</a>
				<small>An Integrated Lexomics Workflow</small>
			</h1>
			<a class="bttn" id="bttn-restart" href="{{ url_for('reset') }}">Reset</a>

			<div id="navbardiv" class="cf">
				{%- set navBar = [
					("Manage", [
						(url_for("upload"), "upload", "Upload"),
						(url_for("select"), "select", "Select")
					]),

					("Prepare", [
						(url_for("scrub"), "scrub", "Scrub"),
						(url_for("cut"), "cut", "Cut")
					]),

					("Visualize", [
						(url_for("rollingwindow"), "rollingwindow", "RollingWindow Graph"),
						(url_for("wordcloud"), "wordcloud", "Word Cloud"),
						(url_for("multicloud"), "multicloud", "MultiCloud"),
						(url_for("viz"), "viz", "BubbleViz")
					]),

					("Analyze", [
						(url_for("csvgenerator"), "csvgenerator", "CSV-Generator"),
						(url_for("clustering"), "clustering", "Clustering"),
						(url_for("similarity"), "similarity", "Similarity Query"),
						(url_for("extension"), "extension", "External Tools")
						
					])
				] %}
				{% set active_page = active_page|default('base') -%}

				<ul id="navbarlist">

				{%- for displayName, subList in navBar %}
					<li class="headernavitem"> {{ displayName|e }}
						<ul class="sublist">
						{%- for href, id, caption in subList %}
							<li><a class="{{'selected' if id == active_page}}" href="{{ href }}">{{ caption }}</a></li>
						{%- endfor %}
						</ul>
					</li>
				{% endfor %}
				</ul>
			</div>
			<span id="error-message"></span>
		</header>

		<form method="POST" enctype="multipart/form-data">

			<div id="content-wrapper" class="cf">{% block content %}{% endblock %}</div>

		</form>

		<footer>
			<span id="aboutus">
				<a href="http://lexos.wheatoncollege.edu/" target="_blank">Lexos</a>
				© 2014
				<a href="http://lexomics.wheatoncollege.edu" target="_blank">Lexomics Research Group</a>
				 · 
				<a href="http://wheatoncollege.edu/" target="_blank">Wheaton College</a>
				(Norton, MA)
			</span>
			<span id="license">
				This site is licensed under the <a href="http://opensource.org/licenses/MIT">MIT License</a>.
			</span>
		</footer>

	</div>
	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-42990457-1']);
		_gaq.push(['_trackPageview']);

		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	</script>
</body>
</html>