{% extends "base.html" %}

{% block section_head %}
<script type="text/javascript" src="{{ url_for('static', filename='js/scripts_prepare.js') }}?ver={{version}}"></script>
{% endblock %}

{% block content %}
	<div id="status-prepare"><img src="{{ url_for('static', filename='images/loading_icon.svg') }}?ver={{version}}" alt="Loading..."></div>
	<div class="row container">
		<div class="col-md-6">
			<div id="prepare-optionss">{% block options %}{% endblock %}</div>
		</div>

		<div class="col-md-6">
			<div id="prepare-previewss">
				<legend>Previews of Segments</legend>
				<div id="prepare-previews-contextt">
				{% block previews %}{% endblock %}
				{% if (previews|len) == 0 %}
					<span id="no-active-error">No Documents are Selected</span>
				{% endif %}
				</div>
			</div>
		</div>
	</div>

	<div id="prepare-submit" class="container">{% block submit %}{% endblock %}</div>

{% endblock %}
