{% extends "base.html" %}

{% block section_head %}
<script type="text/javascript" src="{{ url_for('static', filename='js/scripts_analyze.js') }}?ver={{version}}"></script>
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.0/css/bootstrap2-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.0/js/bootstrap2-toggle.min.js"></script>
{% endblock %}

{% block content %}
	<div id="analyze-options" class="cf">{% block options %}{% endblock %}</div>
	<div id="analyze-advanced" class="cf" >
		<fieldset class="analyze-advanced-options" id="tokenize-options">
			<legend id="tokenize-title">Tokenize</legend>
			<div class="tokenize-div" id="tokenize-input">
				<span id="tokenize-size-input">
					<input type="number" name="tokenSize" id="tokenSize" min="1" max="5" step="1" value="{{ request.form['tokenSize'] or '1' }}" />
					-gram
				</span>
			</div>
			<div class="tokenize-div" id="tokenize-radios">
				<label>
					by Words
					<input type="radio" name="tokenType" id="tokenByWords" value="word" checked/>
				</label>
				<label>
					by Characters
					<input type="radio" name="tokenType" value="char" {{ 'checked' if request.form['tokenType'] == 'char' }}/>
				</label>
				<div id="inWordsOnly">
				<label>
					Only within words
					<input type="checkbox" name="inWordsOnly"/>
				</label>
				</div>
			</div>
		</fieldset>
		<fieldset class="analyze-advanced-options" id="normalize-options">
			<legend id="normalize-title">Normalize</legend>

			<div class="normalize-div" id="normalize-radios">
				<label>
					Proportional Counts
				<input type="radio" id="normalizeTypeFreq" name="normalizeType" value="freq" checked/>
				</label>
				<label>
					Raw Counts
					<input type="radio" id="normalizeTypeRaw" name="normalizeType" value="raw" {{ 'checked' if request.form['normalizeType'] == 'raw' }}/>
				</label>

				<label>
					Weighted Counts (TF/IDF)
					<input type="radio"  id="normalizeTypeTFIDF" name="normalizeType" value="tfidf" {{ 'checked' if request.form['normalizeType'] == 'tfidf' }}/>
					<span class="icon-help tooltip scrub medium" id="analyze-normalize-TFIDF" data-tooltip="Default values: base: e (natural log); Choose the distance metric according to which each file vector is normalized."></span>
					<span id="tfidfspan">
					<ul id="tfidfNorm">
						<li><label>Euclidean Distance<input type="radio" name="norm" value="l2" checked/></label></li>
						<li><label>Manhattan Distance<input type="radio" name="norm" value="l1" {{ 'checked' if request.form['norm'] == 'l1' }}/></label></li>
						<li><label>Norm: None<input type="radio" name="norm" value="None" {{ 'checked' if request.form['norm'] == 'none' }}/></label></li>
					</ul>
					</span>
				</label>
			</div>
		</fieldset>

		<fieldset class="analyze-advanced-options" id="culling-options" >
			<legend class="has-expansion" id="culling-title">Culling Options <span class="icon-arrow-right"></span></legend>
			<div class="culling-div expansion cf" id="cullingoptsdiv">
				<label>Most Frequent Words&nbsp;&nbsp;<span class="icon-help tooltip medium" id="analyze-mfw-tooltip" data-tooltip="Choose how many words are included in the document term matrix from the entire corpus, starting with the most frequent."></span>
					<input type="checkbox" id="MFW" name="mfwcheckbox" {{ 'checked' if request.form['mfwcheckbox'] == 'on' }}/>
				</label>

				<span id="mfwnumber-input">
				<label>Use top <input type="number" name="mfwnumber" id="mfwnumber" style="width:60px;" min="1" step="1" value="{{ request.form['mfwnumber'] or '1' }}" /> MFWs</label>
				</span>

				<label>Culling&nbsp;&nbsp;<span class="icon-help tooltip medium" id="analyze-cull-tooltip" data-tooltip="Remove any words that do not apear in at least X of the current active chunks."></span>
					<input type="checkbox" id="culling" name="cullcheckbox" {{ 'checked' if request.form['cullcheckbox'] == 'on' }}/>
				</label>
				
				<span id="cullnumber-input">
				<label>Must be in <input type="number" name="cullnumber" id="cullnumber" style="width:45px;" min="1" max="{{ labels|length if labels|length > 0 else 1 }}" step="1" value="{{ request.form['cullnumber'] or labels|length }}" /> chunks</label>
				</span>

				<label>Grey Words<input type="checkbox" id="greyword" name="greyword"{{ 'checked' if request.form['greyword'] == 'on' }}/>
				<span data-tooltip="Check this box when the file size(word count) are significantly different from others. &#10; This option will disable(remove) the word with low frequency."
					  id="uniquetokenstip" class="icon-help tooltip medium"></span>
				</label>
			</div>
		</fieldset>

		<fieldset class="analyze-advanced-options" id="temp-label-div">
			<legend class="has-expansion">Assign Temp. Labels<span class="icon-arrow-right" id="show-labels"></span></legend>
			<div class="expansion cf" id="modifylabels" style="overflow-y: scroll;">
			{% for fileID, label in labels.items() %}
				<label for="{{fileID}}">{{fileID}}: 
					<input type="text" class="filenames" name="file_{{fileID}}" id="{{fileID}}" value="{{ request.form['file_'+(fileID|str)] or label }}" style="max-width: 170px">
				</label>
			{%- endfor %}
			{% if labels|len == 0 %}
				<span id="no-labels">No files are active</span>
			{%- endif %}
			</div>
		</fieldset>

		<!-- <fieldset id="dtm-div" class="analyze-advanced-options">
			<legend class="dtm-title">Document Term Matrix (DTM)</legend>
			<div class="bttn toggle-dtm">
				<label class="toggle btn-default"></label>
				<div id="toggle-division-bar"></div>
				<input class="dtm-option" type="radio" name="dtmOption" id="oldDTM" value="oldDTM"/>
				<input class="dtm-option" type="radio" name="dtmOption" id="newDTM" value="newDTM"/>
			</div>
		</fieldset> -->
	</div>
	<div id="analyze-submit" class="cf">{% block submit %}{% endblock %}</div>
	<div id="analyze-results" class="cf">{% block results %}{% endblock %}</div>
{% endblock %}
