{% extends "base.html" %}

{% block section_head %}
<script type="text/javascript" src="{{ url_for('static', filename='js/scripts_prepare.js') }}?ver={{version}}"></script>
{% endblock %}

{% block content %}
	<div id="prepare-options" class="cf">{% block options %}{% endblock %}</div>
	<div id="prepare-previews" class="cf">
		{% block previews %}{% endblock %}

		{% if (previews|len) == 0 %}
			<span id="no-active-error">No files are active</span>
		{% endif %}
	</div>
	<div id="prepare-submit" class="cf">{% block submit %}{% endblock %}</div>
{% endblock %}