{% extends "base.html" %}

{% block section_head %}
<script type="text/javascript" src="{{ url_for('static', filename='js/scripts_analyze.js') }}?ver={{version}}"></script>
{% endblock %}

{% block content %}
	<div id="analyze-options" class="cf">{% block options %}{% endblock %}</div>
	<div id="analyze-advanced" class="cf">
		<div class="tokenize-div" id="tokenize-input">
			<span id="tokenize-title">Tokenize</span>
			<span id="tokenize-size-input">
				<input type="number" name="tokenSize" min="1" max="5" step="1" value="{{ request.form['tokenSize'] }}"/>
				-gram
			</span>
		</div>
		<div class="tokenize-div" id="tokenize-radios">
			<label>
				by Words
				<input type="radio" name="tokenType" />
			</label>
			<label>
				by Characters
				<input type="radio" name="tokenType" />
			</label>
		</div>
	</div>
	<div id="analyze-submit" class="cf">{% block submit %}{% endblock %}</div>
	<div id="analyze-results" class="cf">{% block results %}{% endblock %}</div>
{% endblock %}