{% extends "base.html" %}

{% block head %}
<script type="text/javascript" src="{{ url_for('static', filename='scripts_chunk.js') }}"></script>
{% endblock %}

{% block title %}cutter{% endblock %}
{% block field %}
<legend>Overall Cutting Options</legend>
<form id="cut" action="" method="POST" enctype="multipart/form-data" onsubmit="return nochunksize();">

<label>Split by:</label>
<input type="radio" id="sizeradio" name="radio" value="size" checked>Chunk Size</input>
<input type="radio" id="numberradio" name="radio" value="number">Number of Chunks</input>

<p>
    <label>Chunk Size:</label>
    <input id="chunksize" name="chunksize" type="text" size="12"/> (# of words per chunk)
</p>

<p>
    <label>Number of Chunks:</label>
    <input id="chunknumber" name="chunknumber" type="text" size="12" disabled/>
</p>

<p>
    <label>Overlap:</label>
    <input name="overlap" type="text" size="12" value="0"/> (# of words overlapping at chunk boundaries)
</p>

<p>
    <label>Last Proportion:</label>
    <input {{ '' if (session['cuttingOptionsLegend']['chunkbutton'] == 'chunksize') else 'disabled' }} name="lastprop" 
    id="lastprop" 
    type="text" 
    size="3" 
    value="{{ '50' if session['cuttingOptionsLegend']['chunkbutton'] == 'chunksize' else '' }}" />% (The proportion of chunksize the last chunk can be)
</p>

{% endblock %}

{% block submit %}
<input type="submit" value="Cut Files"/>
{% if session['chunked'] %}
<input type="submit" name="dendro" value="Proceed to Analysis"/>
{% endif %}
{% endblock %}

{% block content %}

{% for filename, file in preview.items() | sort %}
<table>
<tr>
<td>
    <input class="indivchunkbuttons" style="padding: 5px 7px" id="indivchunkbutton" type="button" value="Chunk&#13;&#10;Individually" />
</td>
<td>
    <fieldset>
    <legend>{{filename}} Preview</legend>
    {% if session['chunked'] %}
        {% for index, chunkpreview in file.items() %}
            {% if loop.index==6 and index > 5 %}
                <p></p>
            {% endif %}

            <fieldset>
            <legend>Chunk {{index+1}}</legend>
            {{chunkpreview}}
            </fieldset>

        {%- endfor %}

    {% else %}
        {{file}}
    {% endif %}
    </fieldset>
</td>
</tr>
<tr>
<td colspan="2">
    <fieldset style="display:none" value="derp">
    <legend>{{filename}} Cutting Options</legend>

        <label>Split by:</label>
        <input type="radio" id="sizeradio" name="radio{{ session['fileIDs'].index(filename) }}" value="size" checked>Chunk Size</input>
        <input type="radio" id="numberradio" name="radio{{ session['fileIDs'].index(filename) }}" value="number">Number of Chunks</input>
        <br>

        <label>Chunk Size:</label>
        <input id="chunksize" name="chunksize{{ session['fileIDs'].index(filename) }}" type="text" size="12"/> (# of words per chunk)
        <br>

        <label>Number of Chunks:</label>
        <input id="chunknumber" name="chunknumber{{ session['fileIDs'].index(filename) }}" type="text" size="12" disabled/>
        <br>

        <label>Overlap:</label>
        <input name="overlap{{ session['fileIDs'].index(filename) }}" type="text" size="12" value="0"/> (# of words overlapping at chunk boundaries)
        <br>

        <label>Last Proportion:</label>
        <input {{ '' if (session['cuttingOptionsLegend']['chunkbutton'] == 'chunksize') else 'disabled' }} 
        name="lastprop{{ session['fileIDs'].index(filename) }}" 
        id="lastprop" 
        type="text" 
        size="3" 
        value="{{ '50' if session['cuttingOptionsLegend']['chunkbutton'] == 'chunksize' else '' }}" />% (The proportion of chunksize the last chunk can be)

    </fieldset>
</td>
</tr>
</table>
{%- endfor %}
{% endblock %}