<!-- For the template file -->
{% if session['dengenerated'] %}
<div class="btn-group dropup" style="display:inline-block;margin-left:10px;">
  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Download <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li><a href="#" id="download-pdf" class="download">PDF</a></li>
    <li><a href="#" id="download-png" class="download">PNG</a></li>
    <li><a href="#" id="download-svg" class="download">SVG</a></li>
    <li><a href="#" id="download-newick" class="download">Newick</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="#" id="get-info" onclick="alert('This content needs to be added to ITM');">About these formats</a></li>
  </ul>
</div>
{% endif %}

<!-- Functions for scripts_dendrogram.js -->

$(document).ready( function(){
	{% if session['dengenerated'] %}
		var randomNumber = Math.floor(Math.random()*(1000-0+1)+0);
		img_url = "{{ url_for('clusterOutput') }}?ver="+randomNumber;
		$("#dendroImg").attr("src", img_url);
		$("#modal-image").attr("src", img_url);
		$("#dendroImg").show();
	{% endif %}

	$("#getdendro").click(function(e) {
	  e.preventDefault();
		// Do Ajax
        $.ajax({
            type: "POST",
            url: "/hc/cluster",
            data: $('form').serialize(),
            beforeSend: function(){
                //alert('Sending...');
            },
            success: function(response) {
				var randomNumber = Math.floor(Math.random()*(100-0+1)+0);
            	img_url = "{{ url_for('clusterOutput') }}?ver="+randomNumber;
            	$("#dendroImg").attr("src", img_url);
				$("#modal-image").attr("src", img_url);
				json = $.parseJSON(response);
				$("#score").text(json["score"]);
            	$("#dendroImg").show();
            	$("#status-analyze").hide();
                console.log(response);
            },
            error: function(jqXHR, textStatus, errorThrown){
                console.log("Error: " + errorThrown);
            }
		});
	});

	$(".download").click(function(e) {
	  e.preventDefault();
	  action = "/hc/" + $(this).attr("id");
	  $('form').attr('action', action);
	  $('form').submit();
	});
});

<!-- Functions for lexos.py -->
@app.route("/cluster/download-pdf", methods=["GET", "POST"])
def dendroDownloadPDF():
    fileManager = managers.utility.loadFileManager()
    utility.generateDendrogram(fileManager)
    attachmentname = "den_" + request.form['title'] + ".pdf" if request.form['title'] != '' else 'dendrogram.pdf'
    session_manager.cacheAnalysisOption()
    session_manager.cacheHierarchyOption()
    file = pathjoin(session_manager.session_folder(), constants.RESULTS_FOLDER + "dendrogram.pdf")
    return send_file(file, mimetype='application/pdf', attachment_filename=attachmentname, as_attachment=True)
 
@app.route("/cluster/download-png", methods=["GET", "POST"])
def dendroDownloadPNG():
    fileManager = managers.utility.loadFileManager()
    utility.generateDendrogram(fileManager)
    attachmentname = "den_" + request.form['title'] + ".png" if request.form['title'] != '' else 'dendrogram.png'
    session_manager.cacheAnalysisOption()
    session_manager.cacheHierarchyOption()
    file = pathjoin(session_manager.session_folder(), constants.RESULTS_FOLDER + "dendrogram.png")
    return send_file(file, mimetype='image/png', attachment_filename=attachmentname, as_attachment=True)

@app.route("/cluster/download-svg", methods=["GET", "POST"])
def dendroDownloadSVG():
    fileManager = managers.utility.loadFileManager()
    utility.generateDendrogram(fileManager)
    attachmentname = "den_" + request.form['title'] + ".svg" if request.form['title'] != '' else 'dendrogram.svg'
    session_manager.cacheAnalysisOption()
    session_manager.cacheHierarchyOption()
    file = pathjoin(session_manager.session_folder(), constants.RESULTS_FOLDER + "dendrogram.png")
    return send_file(file, mimetype='image/svg+xml', attachment_filename=attachmentname, as_attachment=True)

@app.route("/cluster/download-newick", methods=["GET", "POST"])
def dendroDownloadNewick():
    fileManager = managers.utility.loadFileManager()
    utility.generateDendrogram(fileManager)
    attachmentname = "newick_" + request.form['title'] + ".txt" if request.form['title'] != '' else 'newick.txt'
    session_manager.cacheAnalysisOption()
    session_manager.cacheHierarchyOption()
    file = pathjoin(session_manager.session_folder(), constants.RESULTS_FOLDER + "newick.txt")
    return send_file(file, mimetype='text/plain', attachment_filename=attachmentname, as_attachment=True)
