{% extends "base_analyze.html" %}
{% set active_page = 'cluster' %}

{% block head %}
<script type="text/javascript" src="{{ url_for('static', filename='js/scripts_dendrogram.js') }}?ver={{version}}"></script>
<script type="text/javascript">
	var pdfPageNumber = {{ pdfPageNumber|default(0) }}

	var inconsistentMax = {{ inconsistentMax|default(0)}};
	var maxclustMax = {{ maxclustMax|default(0) }};
	var distanceMax = {{ distanceMax|default(0) }};
	var distanceMin = {{ distanceMin|default(0) }};
	var monocritMax = {{ monocritMax|default(0) }};
	var monocritMin = {{ monocritMin|default(0) }};
</script>
<script>
$(document).ready( function () {
	  // Handle the return to top links
	  $('.to-top').click(function(){
	      $("html, body").animate({ scrollTop: 0 }, 800);
	      return false;
	  });
});
</script>
<style type="text/css"></style>
{% endblock %}

{% block title %}analyzer{% endblock %}


{% block options %}
<input type="hidden" id="num_active_files" value="{{ numActiveDocs }}" />

<fieldset>
	<legend>Dendrogram Options</legend>
	<div class="dendrogram-options cf" id="dendrocreateoptions">

		<label for="metric">Distance Metric:
			<select name="metric" id="metric">
				<option value="euclidean" {{ 'selected' if session['hierarchyoption']['metric'] == 'euclidean' }}>Euclidean</option>
				<option value="minkowski" {{ 'selected' if session['hierarchyoption']['metric'] == 'minkowski' }}>Minkowski</option>
				<option value="cityblock" {{ 'selected' if session['hierarchyoption']['metric'] == 'cityblock' }}>Manhattan</option>
				<option value="seuclidean" {{ 'selected' if session['hierarchyoption']['metric'] == 'seuclidean' }}>Standardized Euclidean</option>
				<option value="sqeuclidean" {{ 'selected' if session['hierarchyoption']['metric'] == 'sqeuclidean' }}>Squared Euclidean</option>
				<option value="cosine" {{ 'selected' if session['hierarchyoption']['metric'] == 'cosine' }}>Cosine</option>
				<option value="correlation" {{ 'selected' if session['hierarchyoption']['metric'] == 'correlation' }}>Correlation</option>
				<option value="hamming" {{ 'selected' if session['hierarchyoption']['metric'] == 'hamming' }}>Hamming</option>
				<option value="chebyshev" {{ 'selected' if session['hierarchyoption']['metric'] == 'chebyshev' }}>Chebyshev</option>
				<option value="jaccard" {{ 'selected' if session['hierarchyoption']['metric'] == 'jaccard' }}>Jaccard</option>
				<option value="canberra" {{ 'selected' if session['hierarchyoption']['metric'] == 'canberra' }}>Canberra</option>
				<option value="braycurtis" {{ 'selected' if session['hierarchyoption']['metric'] == 'braycurtis' }}>Braycurtis</option>
			</select>
            <i class="fa fa-question-circle lexos-tooltip-trigger" data-toggle="popover" data-html="true" data-placement="right" data-container="body" data-content="Different methods for measuring the distance (difference) between documents. See <a href='http://scalar.usc.edu/works/lexos/choosing-a-distance-metric' target='_blank'>Choosing a distance metric</a>." style="padding-left:4px;font-size:18px;"></i>
		</label>

		<label for="linkage">Linkage Method:
			<select name="linkage" id="linkage">
				<option value="average" {{ 'selected' if session['hierarchyoption']['linkage'] == 'average' }}>Average</option>
				<option value="single" {{ 'selected' if session['hierarchyoption']['linkage'] == 'single' }}>Single</option>
				<option value="complete" {{ 'selected' if session['hierarchyoption']['linkage'] == 'complete' }}>Complete</option>
				<!-- <option value="ward" {{ 'selected' if session['hierarchyoption']['linkage'] == 'ward' }}>Ward</option> -->
				<option value="weighted" {{ 'selected' if session['hierarchyoption']['linkage'] == 'weighted' }}>Weighted</option>
			</select>
            <i class="fa fa-question-circle lexos-tooltip-trigger" data-toggle="tooltip" data-html="true" data-placement="right" data-container="body" title="Linkage is the method used to determine when documents should be joined into clusters." style="padding-left:4px;font-size:18px;"></i>
		</label>
		
		<label for="title">Dendrogram Title:
			<input type="text" name="title" id="title" value="{{ session['hierarchyoption']['title'] }}" />
		</label>

		<label for="orientation">Dendrogram Orientation:
			<select name="orientation" id="orientation">
				<option value="top" {{ 'selected' if session['hierarchyoption']['orientation'] == 'top' }}>Vertical</option>
				<option value="left" {{ 'selected' if session['hierarchyoption']['orientation'] == 'left' }}>Horizontal</option>
			</select>
		</label>
		
		<label for="pruning">Number of Leaves:
			<input name="pruning" id="pruning" min="2" max="{{ numActiveDocs }}" step="1" style="width:55px;" value="{{ session['hierarchyoption']['pruning'] or numActiveDocs}}" type="number">
		</label>

		<label>Show Branch Height in Dendrogram
			<i class="fa fa-question-circle lexos-tooltip-trigger" data-toggle="tooltip" data-html="true" data-placement="right" data-container="body" title="Based on the chosen distance metric, shows the y-axis value indicating the distance where two leaves or branches are joined." style=""></i>
            <input type="checkbox" name="augmented" {{ 'checked' if session['hierarchyoption']['augmented'] }}/>
		</label>

		<label style="margin-top:-15px"> Show Legends in Dendrogram
			<input type="checkbox" name="dendroLegends" {{ 'checked' if session['hierarchyoption']['dendroLegends'] }} />
		</label>
	</div>
</fieldset>
<fieldset style="display:none;">
	<legend class="has-chevron">Silhouette Score Options
		<i class="fa fa-question-circle lexos-tooltip-trigger" data-toggle="tooltip" data-html="true" data-placement="right" data-container="body" title="A silhouette score is a measure of fit for your clusters. It gives a general indication of how well individual objects lie within their cluster. A score of 1 indicates tight, distinct clusters. Values near 0 indicate overlapping clusters. Negative values generally indicate that a sample has been assigned to the wrong cluster, as a different cluster is more similar." style=""></i>
		<span class="fa fa-chevron-right rotate " data-target="#silhouetteScorePanel" aria-expanded="false" aria-controls="silhouetteScorePanel"></span>
	</legend>
	<div class="collapse" id="silhouettescoreopts" style="margin-bottom:10px;">
		<div style="" aria-expanded="true" class="collapse in" id="silhouetteScorePanel">
			<label for="criterion">Criterion:
				<select name="criterion" id="criterion">
					<option value="maxclust" {{ 'selected' if session['hierarchyoption']['criterion'] == 'maxclust' }}>Maxclust</option>
					<option value="inconsistent" {{ 'selected' if session['hierarchyoption']['criterion'] == 'inconsistent' }}>Inconsistent</option>
					<option value="distance" {{ 'selected' if session['hierarchyoption']['criterion'] == 'distance' }}>Distance</option>	
					<option value="monocrit" {{ 'selected' if session['hierarchyoption']['criterion'] == 'monocrit' }}>Monocrit</option>
				</select>
			</label>
			
			<label for="threshold">Threshold (t):
				<input type="number" name="threshold" placeholder="{{thresholdOps[session['hierarchyoption']['criterion']]}}" id="threshold" value="{{ session['hierarchyoption']['threshold'] }}" step="any" />
			</label>
			<br>
		</div>
	</div>
</fieldset>
<a name="graph-anchor" id="graph-anchor"></a>
{% endblock %}


{% block results %}
<div class="row">
	<div class="col-md-6">
			<input class="bttn bttn-action" id="getdendro" name="getdendro" type="button" value="Get Dendrogram" style=""/>
			<!-- Deactivated
			<input class="bttn bttn-action generated {{ 'hidden' if session['degenerated'] != True }} sscore" id="sscore" type="button" value="Silhouette Score" data-toggle="popover" data-placement="right" data-html="true" data-container="body" title="<b>Silhouette Score</b>" data-content="<p><b>Score:</b> <span id='scoreSpan'>{{session['score']}}</span><br><b>Criterion:</b> <span id='criterionSpan'>{{session['criterion']}}</span><br><b>Threshold:</b> <span id='thresholdSpan'>{{session['threshold']}}</span></p><p>If a score is not displayed, click the Get Dendrogram button.</p>">
			-->
	</div>		
	<div class="col-md-6" style="text-align:right;">
		    <label id="downloadButtons" class="generated {{ 'hidden' if session['degenerated'] != True }}"> Download: </label>
			<div class="btn-group generated {{ 'hidden' if session['degenerated'] != True }} role="group" aria-label="...">
			  <input role="button" id="dendrodownload" class="btn btn-primary" type="submit" name="dendroPDF_download" value="PDF">
			  <input role="button" id="dendroPNGdownload" class="btn btn-success" type="submit" name="dendroPNG_download" value="PNG">
			  <input role="button" id="dendroSVGdownload" class="btn btn-primary" type="submit" name="dendroSVG_download" value="SVG">
			  <input role="button" id="dendroNewickdownload" class="btn btn-success" type="submit" name="dendroNewick_download" value="Newick">
			</div>
			<span class="generated {{ 'hidden' if session['degenerated'] != True }}"><br>Click the image to open it in a new tab.</span>		    
	</div>
</div>
    <div class="row generated {{ 'hidden' if session['degenerated'] != True }}">
	    <div class="col-md-12" style="">
	    	<a class="to-top"><i class="to-top fa fa-arrow-circle-up fa-2x" data-toggle="tooltip" data-container="body" data-trigger="hover focus" data-html="true" data-placement="right" title="Back to Top"></i></a>
	    </div>
	</div>
    <div class="row generated {{ 'hidden' if session['degenerated'] != True }}">
    	<div class="col-md-12">
		    <div style="width:800px;margin:0 auto;" class="dendroImage" name="{{ degenerated }}">{{ degenerated }}
		    {% set dendro_url = url_for('dendrogramimage')~"?"~range(10000)|random -%}
		    {% if session['degenerated'] == True %}
		        <img src="{{ dendro_url }}" class="dendroPNG" id='pdf' style="border: 0px solid black;cursor:pointer;" onclick="window.open('{{ dendro_url }}', 'Dendrogram');">
		    {% else %}
		        <img class="dendroPNG" id='pdf' style="border: 0px solid black;cursor:pointer;" onclick="window.open('{{ dendro_url }}', 'Dendrogram');">
		    {% endif %}
		    </div>
	    </div>
    </div>
	<div class="row generated {{ 'hidden' if session['degenerated'] != True }}">
		<div class="col-md-12">
			<a class="to-top" style="margin-right:10px;"><i class="to-top fa fa-arrow-circle-up fa-2x" data-toggle="tooltip" data-container="body" data-trigger="hover focus" data-html="true" data-placement="right" title="Back to Top"></i></a>
		</div>
	</div>

{% endblock %}

{% block submit %}

{% endblock %}