{% extends "base.html" %}
{% set active_page = 'clustering' %}

{% block head %}
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.multiselect.min.js') }}?ver={{version}}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.multiselect.css') }}?ver={{version}}">
{% endblock %}

{% block title %}analyzer{% endblock %}


{% block content %}

<div id="clusteringoptions">

<legend id="clusteringtitle">Clustering Analysis</legend>

<a href="/hierarchy" class="clusterlink"><div class="clusterselect" id="hierarchyselect">
	<legend id="hierarchytitle"> Hierarchical Clustering</legend>
		<div class="clusterselecttext">Perform hierarchical clustering analysis on your files. Will produce a silhouette score and a visual dendrogram.</div>
</div></a>

<a href="/kmeans" class="clusterlink"><div class="clusterselect" id="kmeansselect">
	<legend id="kmeanstitle"> K-Means Clustering </legend>
		<div class="clusterselecttext">Perform k-means clustering analysis on your files. Will produce a silhouette score and a table of k-mean labels.</div>
</div></a>

<div id="clusternote">Both methods of cluster analysis allow for some level of customizability. For simplicity's sake, the default options are optimized for the casual user. If you do not understand a parameter, we recommend using the default. --Or something along these lines?
</div>

</div>

{% endblock %}
