{% extends "base_analyze.html" %}
{% set active_page = 'csvgenerator' %}

{% block head %}
<script type="text/javascript" src="{{ url_for('static', filename='js/scripts_csvgenerator.js') }}?ver={{version}}"></script>
{% endblock %}

{% block title %}analyzer{% endblock %}


{% block options %}
<legend>Frequency Matrix Options</legend>
<div id="csvoptiondiv">
	<fieldset class="csvoptions" id="csvtypediv">
		<legend>Data Values Format:</legend>
		<label class="radio label-csvdata" for="csvdata-count">
			<input type="radio" name="csvdata" id="csvdata-count" value="count" {{ "checked" if session['csvoptions']['csvdata'] == "count" }} data-toggle="radio">
			Frequency Count
		</label>
		<label class="radio label-csvdata" for="csvdata-freq">
			<input type="radio" name="csvdata" id="csvdata-freq" value="freq" {{ "checked" if session['csvoptions']['csvdata'] == "freq" }} data-toggle="radio">
			Frequency Proportion
		</label>
	</fieldset>
	<fieldset class="csvoptions" id="csvorientdiv">
		<legend>Data Orientation Format:</legend>
		<label class="radio label-csvorientation" for="csvorientation-filecolumn">
			<input type="radio" name="csvorientation" id="csvorientation-filecolumn" value="filecolumn" {{ "checked" if session['csvoptions']['csvorientation'] == "filecolumn" }} data-toggle="radio">
			Files as Columns, Words as Rows
		</label>
		<label class="radio label-csvorientation" for="csvorientation-filerow">
			<input type="radio" name="csvorientation" id="csvorientation-filerow" value="filerow" {{ "checked" if session['csvoptions']['csvorientation'] == "filerow" }} data-toggle="radio">
			Files as Rows, Words as Columns
		</label>
	</fieldset>
	<fieldset class="csvoptions" id="csvdelimdiv">
		<legend>Delimiter Format:</legend>
		<label class="radio label-csvdelimiter" for="csvdelimiter-comma">
			<input type="radio" name="csvdelimiter" id="csvdelimiter-comma" value="comma" {{ "checked" if session['csvoptions']['csvdelimiter'] == "comma" }} data-toggle="radio">
			Use Comma (",")
		</label>
		<label class="radio label-csvdelimiter" for="csvdelimiter-tab">
			<input type="radio" name="csvdelimiter" id="csvdelimiter-tab" value="tab" {{ "checked" if session['csvoptions']['csvdelimiter'] == "tab" }} data-toggle="radio">
			Use Tab ("	") (a.k.a. \t)
		</label>
	</fieldset>
</div>
<div id="csvlabeldiv">
	<div class= "bttn bttn-minor labeleditting">Edit Labels</div>	
	<div id="modifylabels">
	{% for fileID, label in labels.items() %}
		<label for="{{fileID}}">{{fileID}}: 
			<input type="text" class="filenames" name="file_{{fileID}}" id="{{fileID}}" value="{{label}}">
		</label>
	{%- endfor %}
	</div>
</div>
{% endblock %}

{% block tokenize %}
<div></div>
{% endblock %}


{% block result %}{% endblock %}

{% block submit %}
<input type="submit" class="bttn bttn-action" id="csvdownload" name="get-csv" value="Generate and Download Matrix"/>
<span class="submiterrors" id="csvsubmiterrormessage1">No active files.</span>
{% endblock %}




