{% extends "base.html" %}
{% set active_page = 'csvgenerator' %}
{% set is_analysis = True %}

{% block head %}
<script type="text/javascript" src="{{ url_for('static', filename='scripts_csvgenerator.js') }}"></script>
{% endblock %}

{% block title %}analyzer{% endblock %}

{% block formstart %}
<form id="csvgenerator" action="" method="POST" enctype="multipart/form-data">
{% endblock %}


{% block field %}
<legend>Frequency Matrix Options</legend>
<label class="checkbox" for="csvtype">
	<input type="checkbox" name="csvtype" id="csvtype" {{ "checked" if request.form['csvtype'] }} data-toggle="checkbox">
	Use Word Counts Instead of Relative Frequency
</label>
<label class="checkbox" for="csvorientation">
	<input type="checkbox" name="csvorientation" id="csvorientation" {{ "checked" if request.form['csvorientation'] }} data-toggle="checkbox">
	Words as Rows Instead of Columns
</label>
<label class="checkbox" for="usetabdelimiter">
	<input type="checkbox" name="usetabdelimiter" id="usetabdelimiter" {{ "checked" if request.form['usetabdelimiter'] }} data-toggle="checkbox">
	Use Tabs Instead of Commas as Delimiter
</label>

<div class= "bttn bttn-minor" id="labeleditting">Edit Labels</div>	
<div id="modifylabels">
{% for filename, labelname in labels.items() %}
	<label for="{{filename}}">{{filename}}: 
		<input type="text" name="{{filename}}" id="{{filename}}" value="{{labelname}}">
	</label>
{%- endfor %}
</div>
{% endblock %}



{% block content %}
{% endblock %}


{% block submit %}
<input type="submit" class="bttn bttn-action" id="csvdownload" name="get-csv" value="Generate and Download Matrix"/>
{% endblock %}