{% extends "base.html" %}
{% set active_page = 'csvgenerator' %}
{% set is_analysis = True %}

{% block head %}
<script type="text/javascript" src="{{ url_for('static', filename='scripts_csvgenerator.js') }}"></script>
{% endblock %}

{% block title %}analyzer{% endblock %}

{% block formstart %}
<form id="csvgenerator" action="" method="POST" enctype="multipart/form-data">
{% endblock %}


{% block field %}
<legend>Frequency Matrix Options</legend>
<label class="checkbox" for="csvorientation">
	<input type="checkbox" name="csvorientation" id="csvorientation" {{ "checked" if request.form['csvorientation'] }} data-toggle="checkbox">
	Words As Rows Instead Of Columns
</label>
<label class="checkbox" for="usetabdelimiter">
	<input type="checkbox" name="usetabdelimiter" id="usetabdelimiter" {{ "checked" if request.form['usetabdelimiter'] }} data-toggle="checkbox">
	Use Tabs Instead Of Commas As Delimiter
</label>
{% endblock %}



{% block content %}
{% endblock %}


{% block submit %}
<input type="submit" class="bttn bttn-action" id="csvdownload" name="get-csv" value="Generate and Download Matrix"/>
{% endblock %}