{% extends "base.html" %}

{% block head %}
<script type="text/javascript" src="{{ url_for('static', filename='scripts_cut.js') }}"></script>
{% endblock %}


{% block navbar %}
<form id="cut" action="" method="POST" enctype="multipart/form-data">

<div class="navbaroption enabled" id="cutnavbar1">Upload</div>
<input class="hidden" type="submit" name="uploadnav"/>
<div class="navbaroption enabled" id="cutnavbar2">Manage</div>
<input class="hidden" type="submit" name="managenav"/>
<div class="navbaroption enabled" id="cutnavbar3">Scrub</div>
<input class="hidden" type="submit" name="scrubnav"/>
<div class="navbaroption" id="cutnavbar4">Cut</div>
<!-- <input class="hidden" type="submit" name="cutnav"/> -->
<div class="navbaroption enabled" id="cutnavbar5">Analyze</div>
<input class="hidden" type="submit" name="analyzenav"/>
{% endblock %}


{% block title %}cutter{% endblock %}
{% block field %}
<legend>Default Cutting Options</legend>

<div class="cuttingoptionswrapper">
  <div>
    <label class="radio sizeradio" id="sizeradio">
      <input type="radio" name="radio" value="size" {{ "checked" if session['cuttingoptions']['overall']['cuttingType'] == 'Size' }} data-toggle="radio">
      Segment Size
    </label>
    <label class="radio numberradio" id="numberradio">
      <input type="radio" name="radio" value="number" {{ "checked" if session['cuttingoptions']['overall']['cuttingType'] == 'Number' }} data-toggle="radio">
      Number of Segments
    </label>
  </div>


  <div class="cuttingdiv">
		<div id="cuttingsize">
			<label class="cuttingoptionslabel inline">{{ 'Segment Size' if session['cuttingoptions']['overall']['cuttingType'] == 'Size' else 'Number of Segments'}}:</label>
			<input class="textinput cuttingValue cuttextinput" 
			name="cuttingValue" 
			id="overallcutvalue"
			type="text" 
			value="{{ session['cuttingoptions']['overall']['cuttingValue'] }}"/>
			<div class="questionmark cut"></div>
			<div class="tooltip cut">Value to segment text by (e.g. number of segments per text or number of words per segment).</div>
		</div>
		<div>
			<label class="inline">Overlap:</label>
			<input class="textinput cuttextinput"
			name="overlap" 
			type="text" 
			value="{{ session['cuttingoptions']['overall']['overlap'] }}"/>
			<div class="questionmark cut"></div>
			<div class="tooltip cut">Number of words to overlap at segment boundaries.</div>
		</div>
		<div class="lastpropdiv {{ 'transparent' if session['cuttingoptions']['overall']['cuttingType'] == 'Number' else '' }}">
			<label class="inline">Last Proportion Threshold:</label>
			<div class="questionmark cut"></div>
			<div class="tooltip cut">Minimum proportion of the given size that the last segment can be.</div>
			<input {{ "disabled" if session['cuttingoptions']['overall']['cuttingType'] == 'Number' else "" }}
			class="textinput lastpropinput"
			name="lastprop"
			id="lastprop"
			type="text"
			value="{{ session['cuttingoptions']['overall']['lastProp'] }}"/>
		</div>
	</div>
</div>
{% endblock %}




{% block submit %}
<input class="bttn bttn-action" type="submit" id="cutaction" value="Preview Cuts" name="preview"/>
<input class="bttn bttn-apply" type="submit" id="cutapply" value="Apply Cuts" name="apply"/>
<input class="bttn bttn-exit" type="submit" id="downloadchunks" name="downloadchunks" value="Download Segmented Files"/>
{% endblock %}




{% block content %}
{% for filename, file in preview.items() %}
<div class="individualpreviewwrapper {{ 'greyedout' if file|type == dict()|type and not session['segmented'] }}">

<legend class="individualpreviewlegend">{{filename}} Preview &nbsp;
<div class="bttn indivcutbuttons">Individual Options</div>
</legend>

<div class="cuttingoptionswrapper {{ 'hidden' if not filename in session['cuttingoptions'] }}">

	<div>
		<label class="radio sizeradio">
			<input type="radio" name="radio{{ masterList.index(filename) }}" value="size" checked data-toggle="radio">
			Segment Size
		</label>
		<label class="radio numberradio">
			<input type="radio" name="radio{{ masterList.index(filename) }}" value="number" {{ "checked" if filename in session['cuttingoptions'] and session['cuttingoptions'][filename]['cuttingType'] == 'Number' }} data-toggle="radio">
			Number of Segments
		</label>
	</div>
	<div class="cuttingdiv individcut">
		<div>
			<label class="cuttingoptionslabel inline">{{ 'Number of Segments' if filename in session['cuttingoptions'] and session['cuttingoptions'][filename]['cuttingType'] == 'Number' else 'Segment Size'}}:</label>
			<input class="textinput cuttingValue cuttextinput" 
			name="cuttingValue{{ masterList.index(filename) }}" 
			type="text" 
			value="{{ session['cuttingoptions'][filename]['cuttingValue'] if filename in session['cuttingoptions'] else '' }}"/>
		</div>
		<div>
			<label class="inline">Overlap:</label>
			<input class="textinput cuttextinput"
			name="overlap{{ masterList.index(filename) }}" 
			type="text" 
			value="{{ session['cuttingoptions'][filename]['overlap'] if filename in session['cuttingoptions'] else '0' }}"/>
		</div>
		<div class="lastpropdiv {{ 'transparent' if filename in session['cuttingoptions'] and session['cuttingoptions'][filename]['cuttingType'] == 'Number' else '0' }}">
			<label class="inline">Last Proportion Threshold:</label>
			<input {{ "disabled" if filename in session['cuttingoptions'] and session['cuttingoptions'][filename]['cuttingType'] == 'Number' else "" }}
			class="textinput lastpropinput"
			name="lastprop{{ masterList.index(filename) }}"
			id="lastprop"
			type="text"
			value="{{ session['cuttingoptions'][filename]['lastProp'] if filename in session['cuttingoptions'] else '50%' }}"/>
		</div>
	</div>
</div>

<div class="newline">
{% if file|type != dict()|type %}
	{{file}}
{% else %}
{% for index, cutpreview in file.items() %}
	{% if loop.index==6 and index > 5 %}
		<br>
	{% endif %}

	<fieldset>
	<legend class="individualpreviewlegend">Segment {{index+1}}</legend>
	{{cutpreview}}
	</fieldset>

{% endfor %}
{% endif %}
</div>

</div>

{% endfor %}
{% endblock %}