{% extends "base_analyze.html" %}
{% set active_page = 'dendrogram' %}

{% block head %}
<script type="text/javascript" src="{{ url_for('static', filename='js/scripts_dendrogram.js') }}?ver={{version}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/scripts_analyze.js') }}?ver={{version}}"></script>
{% endblock %}

{% block title %}analyzer{% endblock %}


{% block options %}
<input type="hidden" id="num_active_files" value="{{ labels|len }}" />

<fieldset>
	<legend>Dendrogram Options</legend>
	<div class="dendrogram-options cf" id="dendrocreateoptions">

		<label for="metric">Distance Metric:
			<select name="metric" id="metric">
				<option value="euclidean" {{ 'selected' if request.form['metric'] == 'euclidean' }}>Euclidean</option>
				<option value="minkowski" {{ 'selected' if request.form['metric'] == 'minkowski' }}>Minkowski</option>
				<option value="cityblock" {{ 'selected' if request.form['metric'] == 'cityblock' }}>Manhattan</option>
				<option value="seuclidean" {{ 'selected' if request.form['metric'] == 'seuclidean' }}>Standardized Euclidean</option>
				<option value="sqeuclidean" {{ 'selected' if request.form['metric'] == 'sqeuclidean' }}>Squared Euclidean</option>
				<option value="cosine" {{ 'selected' if request.form['metric'] == 'cosine' }}>Cosine</option>
				<option value="correlation" {{ 'selected' if request.form['metric'] == 'correlation' }}>Correlation</option>
				<option value="hamming" {{ 'selected' if request.form['metric'] == 'hamming' }}>Hamming</option>
			</select>
		</label>


		<label for="linkage">Linkage Method:
			<select name="linkage" id="linkage">
				<option value="average" {{ 'selected' if request.form['linkage'] == 'average' }}>Average</option>
				<option value="single" {{ 'selected' if request.form['linkage'] == 'single' }}>Single</option>
				<option value="complete" {{ 'selected' if request.form['linkage'] == 'complete' }}>Complete</option>
				<option value="weighted" {{ 'selected' if request.form['linkage'] == 'weighted' }}>Weighted</option>
			</select>
		</label>

		<label for="matrixData">Data Values Format:
			<select name="matrixData" id="matrixData">
				<option value="freq" {{ 'selected' if request.form['matrixData'] == 'freq' }}>Frequency Proportion</option>
				<option value="count" {{ 'selected' if request.form['matrixData'] == 'count' }}>Frequency Count</option>
			</select>
		</label>
	</div>
	<div class="dendrogram-options cf" id="dendrodisplayoptions">
		<label for="title">Dendrogram Title:
			<input type="text" name="title" id="title" value="{{ request.form['title'] }}">
		</label>

		<label for="orientation">Dendrogram Orientation:
			<select name="orientation" id="orientation">
				<option value="top" {{ 'selected' if request.form['orientation'] == 'top' }}>Vertical</option>
				<option value="left" {{ 'selected' if request.form['orientation'] == 'left' }}>Horizontal</option>
			</select>
		</label>
		
		<label for="pruning">Leaves to Display (blank: show all):
			<input type="text" name="pruning" id="pruning" value="{{ request.form['pruning'] }}">
		</label>
	</div>

	<div id="dendro-labels">
		<div class= "bttn bttn-minor labeleditting">Edit Labels</div>
		<div id="modifylabels">
		{% for fileID, label in labels.items() %}
			<label for="{{fileID}}">{{fileID}}: 
				<input type="text" name="file_{{fileID}}" id="{{fileID}}" value="{{ request.form['file_'+(fileID|str)] or label }}">
			</label>
		{%- endfor %}
		</div>
	</div>
</fieldset>

{% endblock %}


{% block results %}


{% if session['dengenerated'] %}
<img src={{url_for('dendrogramimage')}}>
{% endif %}

{% endblock %}


{% block submit %}
<input class="bttn bttn-action" id="getdendro" name="getdendro" type="submit" value="Get Dendrogram"/>
<span class="submiterrors" id="densubmiterrormessage1">A dendrogram requires at least 2 active files to be created.</span>

{% if session['dengenerated'] %}
<input id="dendrodownload" class="bttn bttn-exit bttndownload" type="submit" name="dendro_download" value="Download Dendrogram"/>
{% endif %}

{% endblock %}
