{% extends "base.html" %}
{% set active_page = 'extension' %}
{% set is_analysis = True %}

{% block head %}
<script type="text/javascript" src="{{ url_for('static', filename='scripts_extension.js') }}"></script>
{% endblock %}

{% block title %}extender{% endblock %}

{% block formstart %}
 <form action="http://cs.wheatoncollege.edu/topWords" method="post" target="_blank">
 {% endblock %}

{% block field %}

<legend>TopWords</legend>
<p>Generate additional statistical reports such as Kruskal-Wallis and Absolute-Distance.</p>
<b>Required: </b> A TSV formatted frequency matrix with words as rows.
{% endblock %}


{% block content %}
{% endblock %}


{% block submit %}
<input type="hidden" name="submitted" value="true" />
<!-- <input type="hidden" name="tsv" value="{{ tsv }}" /> -->
<input type="submit" class="bttn bttn-action" name="launch" value="Launch TopWords" />
</form>
{% endblock %}