{% extends "base.html" %}
{% set active_page = 'extension' %}
{% set is_analysis = True %}

{% block head %}
<script type="text/javascript" src="{{ url_for('static', filename='js/scripts_extension.js') }}"></script>
{% endblock %}

{% block title %}extender{% endblock %}

{% block formstart %}
 {% endblock %}

{% block field %}
<div class="extooldiv">
	<legend>topWords <span id="smaller">(in progress)</span></legend>
</div>
<div class="externalsummary">
	<p>Generates cluster analyses with additional statistical reports such as Kruskal-Wallis and Absolute-Distance. Reports on the words most influential when forming clades in a dendrogram.</p>
	<b>Required: </b> A TSV formatted frequency matrix with words as rows previously saved to your Desktop.
</div>
<div class="externallink">
	<a class="bttn exlink" name="topwords" href="http://cs.wheatoncollege.edu/topWords" target="_blank" />Launch topwords</a>
</div>
<div class="extooldiv">
	<legend>diviText</legend>
</div>
<div class="externalsummary">
	<p>Cuts files using an advanced visual interface.</p>
	<b>Required: </b> A scrubbed text file previously saved to your Desktop.
</div>
<div class="externallink">
	<a class="bttn exlink" name="divitext" href="http://cs.wheatoncollege.edu/divitext" target="_blank" />Launch diviText</a>
</div>
{% endblock %}

{% block content %}
{% endblock %}

{% block submit %}
{% endblock %}