{% extends "base_analyze.html" %}
{% set active_page = 'hierarchy' %}

{% block head %}
<script type="text/javascript" src="{{ url_for('static', filename='js/scripts_dendrogram.js') }}?ver={{version}}"></script>
<script type="text/javascript">
	var matrixExist = {{ matrixExist|default(1) }};
	var pdfPageNumber = {{ pdfPageNumber|default(0) }}

	var inconsistentMax = {{ inconsistentMax|default(0)}};
	var maxclustMax = {{ maxclustMax|default(0) }};
	var distanceMax = {{ distanceMax|default(0) }};
	var distanceMin = {{ distanceMin|default(0) }};
	var monocritMax = {{ monocritMax|default(0) }};
	var monocritMin = {{ monocritMin|default(0) }};
</script>
{% endblock %}

{% block title %}analyzer{% endblock %}


{% block options %}
<input type="hidden" id="num_active_files" value="{{ labels|len }}" />

<fieldset>
	<legend>Dendrogram Options</legend>
	<div class="dendrogram-options cf" id="dendrocreateoptions">

		<label for="metric">Distance Metric:
			<select name="metric" id="metric">
				<option value="euclidean" {{ 'selected' if session['hierarchyoption']['metric'] == 'euclidean' }}>Euclidean</option>
				<option value="minkowski" {{ 'selected' if session['hierarchyoption']['metric'] == 'minkowski' }}>Minkowski</option>
				<option value="cityblock" {{ 'selected' if session['hierarchyoption']['metric'] == 'cityblock' }}>Manhattan</option>
				<option value="seuclidean" {{ 'selected' if session['hierarchyoption']['metric'] == 'seuclidean' }}>Standardized Euclidean</option>
				<option value="sqeuclidean" {{ 'selected' if session['hierarchyoption']['metric'] == 'sqeuclidean' }}>Squared Euclidean</option>
				<option value="cosine" {{ 'selected' if session['hierarchyoption']['metric'] == 'cosine' }}>Cosine</option>
				<option value="correlation" {{ 'selected' if session['hierarchyoption']['metric'] == 'correlation' }}>Correlation</option>
				<option value="hamming" {{ 'selected' if session['hierarchyoption']['metric'] == 'hamming' }}>Hamming</option>
				<option value="chebychev" {{ 'selected' if session['hierarchyoption']['metric'] == 'chebychev' }}>Chebychev</option>
				<option value="jaccard" {{ 'selected' if session['hierarchyoption']['metric'] == 'jaccard' }}>Jaccard</option>
				<option value="canberra" {{ 'selected' if session['hierarchyoption']['metric'] == 'canberra' }}>Canberra</option>
				<option value="braycurtis" {{ 'selected' if session['hierarchyoption']['metric'] == 'braycurtis' }}>Braycurtis</option>
			</select>
		</label>


		<label for="linkage">Linkage Method:
			<select name="linkage" id="linkage">
				<option value="average" {{ 'selected' if session['hierarchyoption']['linkage'] == 'average' }}>Average</option>
				<option value="single" {{ 'selected' if session['hierarchyoption']['linkage'] == 'single' }}>Single</option>
				<option value="complete" {{ 'selected' if session['hierarchyoption']['linkage'] == 'complete' }}>Complete</option>
				<option value="weighted" {{ 'selected' if session['hierarchyoption']['linkage'] == 'weighted' }}>Weighted</option>
			</select>
		</label>
		
		<label for="title">Dendrogram Title:
			<input type="text" name="title" id="title" value="{{ session['hierarchyoption']['title'] }}">
		</label>

		<label for="orientation">Dendrogram Orientation:
			<select name="orientation" id="orientation">
				<option value="top" {{ 'selected' if session['hierarchyoption']['orientation'] == 'top' }}>Vertical</option>
				<option value="left" {{ 'selected' if session['hierarchyoption']['orientation'] == 'left' }}>Horizontal</option>
			</select>
		</label>
		
		<label for="pruning">Number of Leaves:
			<input type="text" name="pruning" id="pruning" placeholder="Default is # of chunks" value="{{ session['hierarchyoption']['pruning'] }}">
		</label>

		<label> Show Branch Height in Dendrogram
			<span class="icon-help tooltip medium" id="annotationTip" data-tooltip="Turn it off to hide the branch height in dendrogram."></span>
			<input type="checkbox" name="augmented" {{ 'checked' if session['hierarchyoption']['augmented'] }}/>
		</label>

		<label style="margin-top:-15px"> Show Legends in Dendrogram
			<input type="checkbox" name="dendroLegends" {{ 'checked' if session['hierarchyoption']['dendroLegends'] }}/>
		</label>

	</div>
</fieldset>

<fieldset>
	<legend class="has-expansion">Silhouette Score Options <span class="icon-arrow-right {{ 'showing' if session['hierarchyoption']['criterion'] != 'inconsistent' or session['hierarchyoption']['threshold'] != ''}}"></span></legend>
	
	<div class="silhouette-options expansion" id="silhouetteOptions" style="display: {{ 'block' if session['hierarchyoption']['criterion'] != 'inconsistent' or session['hierarchyoption']['threshold'] != ''}}">

		<label for="criterion">Criterion:
			<select name="criterion" id="criterion">
				<option value="inconsistent" {{ 'selected' if session['hierarchyoption']['criterion'] == 'inconsistent' }}>Inconsistent</option>
				<option value="maxclust" {{ 'selected' if session['hierarchyoption']['criterion'] == 'maxclust' }}>Maxclust</option>
				<option value="distance" {{ 'selected' if session['hierarchyoption']['criterion'] == 'distance' }}>Distance</option>	
				<option value="monocrit" {{ 'selected' if session['hierarchyoption']['criterion'] == 'monocrit' }}>Monocrit</option>
			</select>
		</label>
		
		<label for="threshold">Threshold (t):
			<input type="number" name="threshold" placeholder="{{thresholdOps[session['hierarchyoption']['criterion']]}}" id="threshold" value="{{ session['hierarchyoption']['threshold'] }}" step="any">
		</label>
		<br>
	</div>
</fieldset>

{% endblock %}


{% block results %}



{% if session['dengenerated'] %}
<div>
<iframe src={{url_for('dendrogramimage')}}?{{ range(10000)|random }} id='pdf' width=106% style="border: 0px solid black;"></iframe>
</div>
{% endif %}
<div class="silhouettescoreresults">
	<legend>Silhouette Score:&nbsp;&nbsp;{{score}}&nbsp;&nbsp;&nbsp;(Criterion:&nbsp;&nbsp;{{session['hierarchyoption']['criterion']}}&nbsp;&nbsp;|&nbsp;&nbsp;Threshold:&nbsp;&nbsp;{{threshold}})</legend>
	<p>A silhouette score is a measure of fit for your clusters. It gives a general indication of how well individual objects lie within their cluster. A score of 1 indicates tight, distinct clusters. Values near 0 indicate overlapping clusters. Negative values generally indicate that a sample has been assigned to the wrong cluster, as a different cluster is more similar.</p>
</div>
{% endblock %}


{% block submit %}

<input class="bttn bttn-action" id="getdendro" name="getdendro" type="submit" value="Get Dendrogram"/>
{% if session['dengenerated'] %}
<input id="dendrodownload" class="bttn bttn-exit bttndownload" type="submit" name="dendro_download" value="Download Dendrogram"/>
{% endif %}

<span class="submiterrors" id="densubmiterrormessage1">A dendrogram requires at least 2 active documents to be created.</span>
<span class="submiterrors" id="densubmiterrormessage2">Invalid Threshold.</span>
<span class="submiterrors" id="densubmiterrormessage3">Invalid number of leaves.</span>


{% endblock %}