{% extends "base_analyze.html" %}
{% set active_page = 'hierarchy' %}

{% block head %}
<script type="text/javascript" src="{{ url_for('static', filename='js/scripts_dendrogram.js') }}?ver={{version}}"></script>
<script type="text/javascript">
	var inconsistentMax = {{ inconsistentMax }};
	var maxclustMax = {{maxclustMax}};
	var distanceMax = {{distanceMax}};
	var distanceMin = {{distanceMin}};
	var monocritMax = {{monocritMax}};
	var monocritMin = {{monocritMin}};
</script>
{% endblock %}

{% block title %}analyzer{% endblock %}


{% block options %}
<div class="clusterMenu currentCluster" >Hierarchical Clustering</div>
<a href="/kmeans" class="clusterlink"><div class="clusterMenu">Go to K-Means Clustering </div></a>

<input type="hidden" id="num_active_files" value="{{ labels|len }}" />

<fieldset>
	<legend>Dendrogram Options</legend>
	<div class="dendrogram-options cf" id="dendrocreateoptions">

		<label for="metric">Distance Metric:
			<select name="metric" id="metric">
				<option value="euclidean" {{ 'selected' if request.form['metric'] == 'euclidean' }}>Euclidean</option>
				<option value="minkowski" {{ 'selected' if request.form['metric'] == 'minkowski' }}>Minkowski</option>
				<option value="cityblock" {{ 'selected' if request.form['metric'] == 'cityblock' }}>Manhattan</option>
				<option value="seuclidean" {{ 'selected' if request.form['metric'] == 'seuclidean' }}>Standardized Euclidean</option>
				<option value="sqeuclidean" {{ 'selected' if request.form['metric'] == 'sqeuclidean' }}>Squared Euclidean</option>
				<option value="cosine" {{ 'selected' if request.form['metric'] == 'cosine' }}>Cosine</option>
				<option value="correlation" {{ 'selected' if request.form['metric'] == 'correlation' }}>Correlation</option>
				<option value="hamming" {{ 'selected' if request.form['metric'] == 'hamming' }}>Hamming</option>
				<option value="chebychev" {{ 'selected' if request.form['metric'] == 'chebychev' }}>Chebychev</option>
				<option value="jaccard" {{ 'selected' if request.form['metric'] == 'jaccard' }}>Jaccard</option>
				<option value="canberra" {{ 'selected' if request.form['metric'] == 'canberra' }}>Canberra</option>
				<option value="braycurtis" {{ 'selected' if request.form['metric'] == 'braycurtis' }}>Braycurtis</option>
			</select>
		</label>


		<label for="linkage">Linkage Method:
			<select name="linkage" id="linkage">
				<option value="average" {{ 'selected' if request.form['linkage'] == 'average' }}>Average</option>
				<option value="single" {{ 'selected' if request.form['linkage'] == 'single' }}>Single</option>
				<option value="complete" {{ 'selected' if request.form['linkage'] == 'complete' }}>Complete</option>
				<option value="weighted" {{ 'selected' if request.form['linkage'] == 'weighted' }}>Weighted</option>
			</select>
		</label>
		
		<label for="title">Dendrogram Title:
			<input type="text" name="title" id="title" value="{{ request.form['title'] }}">
		</label>

		<label for="orientation">Dendrogram Orientation:
			<select name="orientation" id="orientation">
				<option value="top" {{ 'selected' if request.form['orientation'] == 'top' }}>Vertical</option>
				<option value="left" {{ 'selected' if request.form['orientation'] == 'left' }}>Horizontal</option>
			</select>
		</label>
		
		<label for="pruning">Number of Leaves:
			<input type="text" name="pruning" id="pruning" placeholder="Default is number of chunks" value="{{ request.form['pruning'] }}">
		</label>

		<label> Annotated Dendrogram
			<input type="checkbox" name="augmented" checked/>
			<span class="icon-help tooltip medium" id="annotationTip" data-tooltip="Turn it off to hide the branch height in dendrogram."></span>
		</label>
	</div>
</fieldset>

<fieldset>
	<legend class="has-expansion">Silhouette Score Options <span class="icon-arrow-right"></span></legend>
	
	<div class="silhouette-options expansion" id="silhouetteOptions" >

		<label for="criterion">Criterion:
			<select name="criterion" id="criterion">
				<option value="inconsistent" {{ 'selected' if request.form['criterion'] == 'inconsistent' }}>Inconsistent</option>
				<option value="maxclust" {{ 'selected' if request.form['criterion'] == 'maxclust' }}>Maxclust</option>
				<option value="distance" {{ 'selected' if request.form['criterion'] == 'distance' }}>Distance</option>	
				<option value="monocrit" {{ 'selected' if request.form['criterion'] == 'monocrit' }}>Monocrit</option>
			</select>
		</label>
		
		<label for="threshold">Threshold (t):
			<input type="number" name="threshold" placeholder="Default is the max value" id="threshold" value="{{ request.form['threshold'] }}">
			<p><input type="submit" name="refreshThreshold" id="refreshThreshold" value="Refresh t:"/></p>
			<div class="thresholdHelp" id="tValue"><p>Inconsistent: 0 ≤ <strong>t</strong> ≤ {{inconsistentMax}}</p><p>Maxclust (integer): 2 ≤ <strong>t</strong> ≤ {{maxclustMax}} </p><p>Distance: {{distanceMin}} ≤ <strong>t</strong> ≤ {{distanceMax}}</p><p>Monicrit: {{monocritMin}} ≤ <strong>t</strong> ≤ {{monocritMax}}</p></div>
		</label>
	</div>
</fieldset>

{% endblock %}


{% block results %}
<div class="silhouettescoreresults">
	<legend>Silhouette Score:&nbsp;&nbsp;{{score}}&nbsp;&nbsp;&nbsp;(Criterion:&nbsp;&nbsp;{{request.form['criterion']}}&nbsp;&nbsp;|&nbsp;&nbsp;Threshold:&nbsp;&nbsp;{{threshold}})</legend>
	A silhouette score is a measure of fit for your clusters. It gives a general indication of how well individual objects lie within their cluster. The best possible value is 1 and the worst value is -1. Values near 0 indicate overlapping clusters. Negative values generally indicate that a sample has been assigned to the wrong cluster, as a different cluster is more similar.
</div>

<div>
&nbsp;
{% if session['dengenerated'] %}
<iframe src={{url_for('dendrogramimage')}}?{{ range(10000)|random }} id='pdf' width=106% style="border: 2px solid black;"></iframe>
</div>
{% endif %}
<p id="pdfPageNumber" style="color:white">{{pdfPageNumber}}</p>
{% endblock %}


{% block submit %}
<input class="bttn bttn-action" id="getdendro" name="getdendro" type="submit" value="Get Dendrogram"/>
<span class="submiterrors" id="densubmiterrormessage1">A dendrogram requires at least 2 active files to be created.</span>
<span class="submiterrors" id="densubmiterrormessage2">Invalid Threshold.</span>
<span class="submiterrors" id="densubmiterrormessage3">Invalid number of leaves.</span>

{% if session['dengenerated'] %}
<input id="dendrodownload" class="bttn bttn-exit bttndownload" type="submit" name="dendro_download" value="Download Dendrogram"/>
{% endif %}

{% endblock %}