{% extends "base.html" %}
{% block field %}
<legend>Bulk File Upload</legend>

<form id="upload" action="" method="POST" enctype="multipart/form-data">

<input type="hidden" id="MAX_FILE_SIZE" name="MAX_FILE_SIZE" value="1000000" />
<div>
	<label for="fileselect">Files to upload:</label>
	<input type="file" id="fileselect" name="fileselect[]" multiple="multiple" />
	<div id="filedrag">Or drop files here</div>
</div>
<p><input type="submit" value="Upload Files"/></p>
{% endblock %}

{% block content %}
<div id="progress"></div>

<div id="messages"></div>
</form>
<script type="text/javascript" src="{{
  url_for('static', filename='filedrag.js') }}"></script>

</div>
{% endblock %}