{% extends "base_analyze.html" %}
{% set active_page = 'kmeans' %}

{% block head %}
<script type="text/javascript" src="{{ url_for('static', filename='js/scripts_kmeans.js') }}?ver={{version}}"></script>
<script type="text/javascript">

	var dataset 	    = {{ kmeansIndex }};
	var fileNameStr     = "{{ fileNameStr.decode("utf-8", "replace") }}";
	var tablelabels     = fileNameStr.split("#");
	var totalFileNumber = {{ fileNumber }};
	var defaultK 		= {{ defaultK }};
	var KValue 			= {{ KValue }};

</script>
{% endblock %}

{% block title %}analyzer{% endblock %}


{% block options %}
<div class="clusterMenu currentCluster">K-Means Clustering </div>
<a href="/hierarchy" class="clusterlink"><div class="clusterMenu">Go to Hierarchical Clustering</div></a>

<input type="hidden" id="num_active_files" value="{{ labels|len }}" />

<fieldset>
	<legend>K-Means Options</legend>
	<div class="kmeans-options cf" id="kmeanscreateoptions">

		<label for="n_clusters">K Value:
			<span class="icon-help tooltip small" id="kValueTooltip" data-tooltip="Namely the number of clusters, or the number of centroids. K value should be always less or equal to the number of active files."></span>
			<input type="number" name="nclusters" id="nclusters" min="1" step="1" max="{{fileNumber}}" placeholder="Default is {{ defaultK }}" value="{{ request.form['nclusters'] }}">
			<!-- <input type="number" name="nclusters" id="nclusters" placeholder="Default: half the number of active files" value="{{ request.form['nclusters'] }}"> -->

		</label>


		<label for="max_iter">Maximum Number of Iterations: 
			<span class="icon-help tooltip small" id="KMeans-maxIter-tooltip" data-tooltip="Maximum number of iterations of the k-means algorithm for a single run."></span>
			<input type="number" name="max_iter" id="max_iter" min="1" step="1" placeholder="Default is 100" value="{{ request.form['max_iter'] }}">
		</label>

		<label for="init">Method of Initialization:
			<span class="icon-help tooltip small" id="KMeans-initailize-tip" data-tooltip="‘k-means++’ : selects initial cluster centers for k-mean clustering in a smart way to speed up convergence; ‘random’: choose k observations (rows) at random from data for the initial centroids."></span>
			<select name="init" id="initMethod">
				<option value="k-means++" {{ 'selected' if request.form['init'] == 'k-means++' }}>k-means++</option>
				<option value="random" {{ 'selected' if request.form['init'] == 'random' }}>random</option>
			</select>
		</label>

	</div>
</fieldset>


<fieldset>
	<legend class="has-expansion">Advanced K-Means Options <span class="icon-arrow-right"></span></legend>
	<div class="kmeans-options expansion" id="advancedKMeansOptions">

		<label for="n_init">Number of Iterations with Different Centroids:
			<span class="icon-help tooltip small" id="KMeans-n_init-tooltip" data-tooltip="Number of time the k-means algorithm will be run with different centroid seeds. The final results will be the best output of n_init consecutive runs in terms of inertia."></span>
			<input type="number" name="n_init" id="n_init" placeholder="Default is 1" min="1" max="10" step="1" value="{{ request.form['n_init'] }}">
		</label>
		
		<label for="tolerance">Relative Tolerance:
			<span class="icon-help tooltip small" id="KMeans-tolerance-tooltip" data-tooltip="Decimal, relative tolerance w.r.t. inertia to declare convergence."></span>
			<input type="number" name="tolerance" placeholder="Default is 1e-4" id="tolerance" step=".0001" value="{{ request.form['tolerance'] }}">
		</label>

	</div>
</fieldset>


<fieldset>
	<legend class="has-expansion">Silhouette Score Options <span class="icon-arrow-right showing"></span></legend>
	<div class="silhouette-options expansion" id="silhouetteOptions" style="display: block;">

		<label for="KMeans_metric">Distance Metric:
			<select name="KMeans_metric" id="KMeans_metric">
				<option value="euclidean" {{ 'selected' if request.form['KMeans_metric'] == 'euclidean' }}>Euclidean</option>
				<option value="minkowski" {{ 'selected' if request.form['KMeans_metric'] == 'minkowski' }}>Minkowski</option>
				<option value="cityblock" {{ 'selected' if request.form['KMeans_metric'] == 'cityblock' }}>Manhattan</option>
				<option value="seuclidean" {{ 'selected' if request.form['KMeans_metric'] == 'seuclidean' }}>Standardized Euclidean</option>
				<option value="sqeuclidean" {{ 'selected' if request.form['KMeans_metric'] == 'sqeuclidean' }}>Squared Euclidean</option>
				<option value="cosine" {{ 'selected' if request.form['KMeans_metric'] == 'cosine' }}>Cosine</option>
				<option value="correlation" {{ 'selected' if request.form['KMeans_metric'] == 'correlation' }}>Correlation</option>
				<option value="hamming" {{ 'selected' if request.form['KMeans_metric'] == 'hamming' }}>Hamming</option>
				<option value="chebychev" {{ 'selected' if request.form['KMeans_metric'] == 'chebychev' }}>Chebychev</option>
				<option value="jaccard" {{ 'selected' if request.form['KMeans_metric'] == 'jaccard' }}>Jaccard</option>
				<option value="canberra" {{ 'selected' if request.form['KMeans_metric'] == 'canberra' }}>Canberra</option>
				<option value="braycurtis" {{ 'selected' if request.form['KMeans_metric'] == 'braycurtis' }}>Braycurtis</option>
			</select>
		</label>


	</div>
</fieldset>

{% endblock %}


{% block results %}
{% if session['kmeansdatagenerated'] %}
<div id="kmeansresultscheck">{{ session['kmeansdatagenerated'] }}</div>

<div id="kmeansresults">

<div id="silhouettescoreresults">
	<legend>Silhouette Score: {{silhouettescore}}</legend>
	A silhouette score is a measure of fit for your clusters. It gives a general indication of how well individual objects lie within their cluster. The best possible value is 1 and the worst value is -1. Values near 0 indicate overlapping clusters. Negative values generally indicate that a sample has been assigned to the wrong cluster, as a different cluster is more similar.
</div>

<div id="kmeanstable">
	<legend>K-Means</legend>
	<div id="ktable"></div>
</div>

</div>
{% endif %}
{% endblock %}


{% block submit %}
<input class="bttn bttn-action" name="getkmeans" type="submit" value="Get K-Means"/>
<p>

{% endblock %}