{% extends "base_analyze.html" %}
{% set active_page = 'kmeans' %}

{% block head %}
<script type="text/javascript" src="{{ url_for('static', filename='js/d3.v3.min.js') }}?ver={{version}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/scripts_kmeans.js') }}?ver={{version}}"></script>
<script type="text/javascript">
	var dataset 	    = {{ kmeansIndex }};
	var fileNameStr     = "{{ fileNameStr.decode("utf-8", "replace") }}";
	var tablelabels     = fileNameStr.split("#");
	var totalFileNumber = {{ fileNumber }};
	var defaultK 		= {{ defaultK }};
	var KValue 			= {{ KValue }};

	var colorChartStr   = "{{ colorChartStr.decode("utf-8", "replace") }};"
	var colorChart      = colorChartStr.split("#");
</script>
{% endblock %}

{% block title %}analyzer{% endblock %}


{% block options %}
<input type="hidden" id="num_active_files" value="{{ labels|len }}" />

<fieldset>
	<legend>K-Means Options</legend>
	<div class="kmeans-options cf" id="kmeanscreateoptions">

		<label for="n_clusters">K Value:
			<input type="number" name="nclusters" id="nclusters" min="1" step="1" max="{{fileNumber}}" placeholder="Default is {{ defaultK }}" value="{{ session['kmeanoption']['nclusters'] }}" />
		<i class="fa fa-question-circle hasKmeansTooltip" style="margin-right:8px;cursor:pointer;color:#A8A8A8;font-size: 14px;"></i><span class="hidden">The number of clusters or the number of centroids. The K-value should be always less or equal to the number of active documents.</span>

		</label>

		<label for="viz">Method of Visualization:
			<select name="viz" id="vizMethod">
				<option value="Voronoi" {{ 'selected' if session['kmeanoption']['viz'] == 'Voronoi' }}>Voronoi</option>
				<option value="PCA" {{ 'selected' if session['kmeanoption']['viz'] == 'PCA' }}>PCA</option>
			</select>
			<i class="fa fa-question-circle hasKmeansTooltip" style="margin-right:8px;cursor:pointer;color:#A8A8A8;font-size: 14px;"></i><span class="hidden">Choose either a <a href="https://en.wikipedia.org/wiki/Principal_component_analysis" target="_blank">Principal Component Analysis (PCA)</a> graph of xy coordinates with document points colored to reflect document clusters or a <a href="https://en.wikipedia.org/wiki/Voronoi_diagram" target="_blank">Voronoi diagram</a> with polygons drawn around them to represent document clusters.</span>
		</label>
	</div>
</fieldset>


<fieldset>
	<legend class="has-expansion">Advanced K-Means Options <span class="icon-arrow-right {{'showing' if session['kmeanoption']['n_init'] != '' or session['kmeanoption']['tolerance'] != ''}}"></span></legend>
	<div class="kmeans-options expansion" id="advancedKMeansOptions" style="display: {{ 'block' if session['kmeanoption']['n_init'] != '' or session['kmeanoption']['tolerance'] != ''}}">

		<label for="max_iter">Maximum Number of Iterations:
			<input type="number" name="max_iter" id="max_iter" min="1" step="1" placeholder="Default is 300" value="{{ session['kmeanoption']['max_iter'] }}" />
			<i class="fa fa-question-circle hasKmeansTooltip" style="margin-right:8px;cursor:pointer;color:#A8A8A8;font-size: 12px;"></i><span class="hidden">Maximum number of iterations of the k-means algorithm for a single run.</span>
		</label>

		<label for="init">Method of Initialization:
			<select name="init" id="initMethod">
				<option value="k-means++" {{ 'selected' if session['kmeanoption']['init'] == 'k-means++' }}>k-means++</option>
				<option value="random" {{ 'selected' if session['kmeanoption']['init'] == 'random' }}>random</option>
			</select>
			<i class="fa fa-question-circle hasKmeansTooltip" style="margin-right:8px;cursor:pointer;color:#A8A8A8;font-size: 12px;"></i><span class="hidden">'k-means++' selects initial cluster centers for k-means clustering in a smart way to speed up convergence. The 'random' chooses k observations (rows) at random from data for the initial centroids.</span>
		</label>

		<label for="n_init">Number of Iterations with Different Centroids:
			<input type="number" name="n_init" id="n_init" placeholder="Default is 300" min="1" step="1" value="{{ session['kmeanoption']['n_init'] }}" />
			<i class="fa fa-question-circle hasKmeansTooltip" style="margin-right:8px;cursor:pointer;color:#A8A8A8;font-size: 12px;"></i><span class="hidden">The number of time the k-means algorithm will be run with different centroid seeds. The final results will be the best output of n_init consecutive runs in terms of inertia.</span>
		</label>
		
		<label for="tolerance">Relative Tolerance:
			<input type="number" name="tolerance" placeholder="Default is 1e-4" id="tolerance" step=".0001" value="{{ session['kmeanoption']['tolerance'] }}" />
			<i class="fa fa-question-circle hasKmeansTooltip" style="margin-right:8px;cursor:pointer;color:#A8A8A8;font-size: 12px;"></i><span class="hidden">Decimal, relative tolerance with respect to inertia to declare convergence.</span>
		</label>

	</div>
</fieldset>


<fieldset>
	<legend class="has-expansion">Silhouette Score Options <span class="icon-arrow-right {{'showing' if session['kmeanoption']['KMeans_metric'] != ''}}"></span></legend>
	<div class="silhouette-options expansion" id="silhouetteOptions" style="display: {{'block' if session['kmeanoption']['KMeans_metric'] != ''}};">

		<label for="KMeans_metric">Distance Metric:
			<select name="KMeans_metric" id="KMeans_metric">
				<option value="euclidean" {{ 'selected' if session['kmeanoption']['KMeans_metric'] == 'euclidean' }}>Euclidean</option>
				<option value="minkowski" {{ 'selected' if session['kmeanoption']['KMeans_metric'] == 'minkowski' }}>Minkowski</option>
				<option value="cityblock" {{ 'selected' if session['kmeanoption']['KMeans_metric'] == 'cityblock' }}>Manhattan</option>
				<option value="seuclidean" {{ 'selected' if session['kmeanoption']['KMeans_metric'] == 'seuclidean' }}>Standardized Euclidean</option>
				<option value="sqeuclidean" {{ 'selected' if session['kmeanoption']['KMeans_metric'] == 'sqeuclidean' }}>Squared Euclidean</option>
				<option value="cosine" {{ 'selected' if session['kmeanoption']['KMeans_metric'] == 'cosine' }}>Cosine</option>
				<option value="correlation" {{ 'selected' if session['kmeanoption']['KMeans_metric'] == 'correlation' }}>Correlation</option>
				<option value="hamming" {{ 'selected' if session['kmeanoption']['KMeans_metric'] == 'hamming' }}>Hamming</option>
				<option value="chebychev" {{ 'selected' if session['kmeanoption']['KMeans_metric'] == 'chebychev' }}>Chebychev</option>
				<option value="jaccard" {{ 'selected' if session['kmeanoption']['KMeans_metric'] == 'jaccard' }}>Jaccard</option>
				<option value="canberra" {{ 'selected' if session['kmeanoption']['KMeans_metric'] == 'canberra' }}>Canberra</option>
				<option value="braycurtis" {{ 'selected' if session['kmeanoption']['KMeans_metric'] == 'braycurtis' }}>Braycurtis</option>
			</select>
		</label>


	</div>
</fieldset>

{% endblock %}


{% block results %}
{% if kmeansdatagenerated %}
<div id="kmeansresultscheck">{{ kmeansdatagenerated }}</div>

<style>
/* Duplicates css in stylesheet because 
   Chrome ignores the stylesheet for 
   some reason. */
#kmeansresultsLeft{
  border:1px solid #BBB;border-radius:6px;
  border-spacing:10px;max-height:600px;float:left;
  overflow:auto;width:27%;margin-top:10px;padding: 10px 4px 4px 4px;}
#kmeansresultsRight {margin-left:27%;height:500px;overflow:hidden;}
.imageLinkBtn{width:27%;margin:-20px auto 10px auto;}
#kmeansimage {max-width:100%;max-height:100%;margin-top:-30px;}
#basicTable {border:none;width:100%;margin:0 auto 4px auto;
font-size:13px;}
#basicTable tr.white-header{backgroundColor: white;}
#basicTable th{padding:9px;text-align:center;vertical-align:top;}
#basicTable td{padding:8px;text-align:center;}
</style>

<div>
	<div id="kmeansresults">
		<legend>K-Means</legend>
		<div id="kmeansresultsLeft">
			<table id="basicTable">
				<tr class="white-header">
					<th>Cluster Number</th>
					<th>Document Name</th>
				</tr>
			</table>
		</div>
		<div id="kmeansresultsRight">
			{% if request.form['viz']=='PCA' %}
			<img id="kmeansimage" src="{{url_for('kmeansimage')}}?{{ range(10000)|random }}"/>
			<div class="imageLinkBtn">
				<a href="#" class="imageLink" target="_blank"></a>
			</div>
			
			{% elif request.form['viz']=='Voronoi' %}
			
			<!-- Likely a better place for this, but it works for now -->

			<style>
			#centroids {
			  display: none;
			  pointer-events: none;
			}

			#points {
			  fill: #F00;
			  pointer-events: none;
			}
			</style>

			<div id="voronoiResults" style="height:430px;width:573.333px;float:right;padding-top:12px !important;">
			<script src="http://d3js.org/d3.v3.min.js"></script>
			<script>

			//1. Draw svg using as much room as needed
			//		a)Plot centroids and call D3 Voronoi, hide those pooints, and plot al the points on top of it
			//2. Scale the svg up or down to 573.33 x 430 px  

			var max= {{maxVal}};
			//This width and height is the size of the canvas before scaling
			var width=0
			//Arbitrarily set to 300.  Will be scaled to 3/4 the width
			var height = 300;
			//Want a height to width ratio of 4 to 3
			var ratio = 4/3;

			//Set draw width and text size based on highest coordinate
			if (max <=250){
			  width=300;
			  var textSize= "3px";
			}
			else if (max >250 && max <=375){
			  width=400;
			  var textSize= "6px";
			}
			else if (max >375 && max <=523.333){
			  width=573.333;
			  var textSize= "8px";
			}
			else{
				width=max+50;
				var textSize= "11px";
			}
			
			if(Math.abs((height*ratio)-width)>.000001){
			    height=width/ratio;
			}
			else{
			    width=height*ratio
			}

			//Make the svg take up the whole div it gets drawn in
			var width2 = "100%",
			    height2 = "100%";
			
			//The width and height of the div we are appending to
			var desiredWidth= 573.333;
			var desiredHeight= 430;

			//Starts with a dummy point set off the screen to get rid of yellow mouse tracking action
			var vertices = {{ finalCentroidsList|default(0) }};

			var otherPoints= {{ finalPointsList|default(0) }};
			
			//ColorsString is essentially a list but delimited with #. Done cause of how jinja jandles list of strings
			var colorsString="{{ colorChartStr.decode("utf-8", "replace") }}";
			var colors = colorsString.split('#');

			//The folowing block of code turns the screwy list of dicts jinja returns into a proper list of dicts
			var tempTextData= "{{ textData }}" //Cast as a string to do a replace on the html coded ' 
			var textDataString=tempTextData.replace(/&#39;/g, "'"); //Replace the html code for ' jinja puts in with an actual ' 
			var textDataOneList= eval("[" + textDataString + "]"); //Cast as a list
			var textData = [];
			textData = textData.concat.apply(textData, textDataOneList);//Flatten from list of list of lists length 1 to a list of lists
			//End converting to proper list of dicts
			
			//Find the points that are also centroids
			var copyIndexes=[];
			var copy;
			for (var j=1;j<vertices.length;j++){
			    for (var k=0;k<otherPoints.length;k++){
			        if (vertices[j][0]== otherPoints[k][0] && vertices[j][1]== otherPoints[k][1]){
			          copyIndexes.push(j);
			        }       
			    }
			 }

			//Split here because it is behaving weird when done in selectAll
			var splitOtherPoints= otherPoints.splice(0,otherPoints.length);

			//Set viewbox to scale up to /down to 573.33 by 430 and start at (75,75)
			var viewboxStr="75 75 ";
			var space= ' ';
			var viewboxWidth= ((width/desiredWidth)*width).toString();
			var viewboxLength= ((height/500)*height).toString();

			viewboxStr=viewboxStr.concat(viewboxWidth,space,viewboxLength);

			//Set clip extent start at 75,75 as the lowest possible coord is 100,100 
			var voronoi = d3.geom.voronoi()
			    .clipExtent([[75, 75], [width, height]]);

			var svg = d3.select("#voronoiResults").append("svg")
			    .attr("width", width2)
			    .attr("height", height2)
			    .attr("viewBox", viewboxStr)
			    .attr("preserveAspectRatio","xMinYMin");

			var path = svg.append("g").selectAll("path");
			
			//Add centroids 
			svg.selectAll("circle")
			    .data(vertices.slice(1))
			  .enter().append("circle")
			    .attr("transform", function(d) { return "translate(" + d + ")"; })
			    .attr("r", function(d,i){return ((copyIndexes.indexOf(i+1)!=-1) ? 1.5: 3.0);}) //If the centroid is the only point in the cell make it the same size as a point
			    .attr("id", function(d,i){return ((copyIndexes.indexOf(i+1)!=-1) ? 'points':'centroids');});
			    //.style('display', function(d,i){return ((copyIndexes.indexOf(i+1)!=-1) ? 'inline':'none');})
			    //.style('fill', function(d,i){return ((copyIndexes.indexOf(i+1)!=-1) ? '#F00':'#000');}); //If the centroid is the only point in the cell style it as a point 

			//Add other points
			svg.selectAll("circle")
			    .data(splitOtherPoints,function(d){return d;})
			  .enter().append("circle")
			    .attr("transform", function(d) { return "translate(" + d + ")"; })
			    .attr("r", 1.5)
			    .attr("id", "points")
			    //.style('fill','#F00');

			svg.selectAll("text")
			    .data(textData)
			  .enter().append("text")
			    .attr("x", function(d) { return d.x; })
			    .attr("y", function(d) { return d.y; })
			    .text(function (d) { return d.title; })
			    .attr("font-family", "sans-serif")
			    .attr("font-size", function(){return textSize;});
			   
			redraw();

			function redraw() {
			  path = path
			      .data(voronoi(vertices), polygon);

			  path.exit().remove();

			  path.enter().append("path")
			       .style("fill",function(d,i){return colors[i-1]})//i-1 because i starts at 1 here 
			       .style("opacity",0.8)
			       .attr("d", polygon);

			  path.order();
			}

			function polygon(d) {
			  return "M" + d.join("L") + "Z";
			}
			</script>
			</div>
			{% endif %}
		</div>
	</div>
</div>
{% endif %}
<br>
<div class="silhouettescoreresults" style="clear:both;">
	<legend>Silhouette Score: {{silhouettescore}}</legend>
	<p>A silhouette score is a measure of fit for your clusters. It gives a general indication of how well individual objects lie within their cluster. A score of 1 indicates tight, distinct clusters. Values near 0 indicate overlapping clusters. Negative values generally indicate that a sample has been assigned to the wrong cluster, as a different cluster is more similar.</p>
</div>

{% endblock %}


{% block submit %}
<input class="bttn bttn-action kmeans" id="getkmeans" name="getkmeans" type="submit" value="Get K-Means"/>
{% endblock %}