{% extends "base.html" %}
{% set active_page = 'manage' %}

{% block head %}
<script type="text/javascript" src="{{ url_for('static', filename='scripts_manage.js') }}"></script>
{% endblock %}

{% block title %}manager{% endblock %}

{% block formstart %}
<form id="manage" action="" method="POST" enctype="multipart/form-data" onsubmit="return haveactivefiles()">
{% endblock %}

{% block field %}

<legend>Choose Files to Alter and Analyze</legend>
<div id="uploadpreviewdiv">


{% for filename, file in preview.items() | sort %}
<div class="filepreview {{ 'enabled' if filename in active }}" id="{{filename}}">
	<!-- <input type="hidden" class="filestatus" name="{{filename}}" {{ 'disabled' if not filename in active }}/> -->
	<h6>{{filename}}:</h6>
	<div class="textblock">
		{{file}}
	</div>
</div>
{%- endfor %}

</div>
{% endblock %}


{% block content %}
{% endblock %}


{% block submit %}
{% endblock %}
