{% extends "base.html" %}
{% set active_page = 'manage' %}

{% block head %}
<script type="text/javascript" src="{{ url_for('static', filename='scripts_manage.js') }}"></script>
{% endblock %}

{% block title %}manager{% endblock %}

{% block formstart %}
<form id="manage" action="" method="POST" enctype="multipart/form-data" onsubmit="return haveactivefiles()">
{% endblock %}

{% block field %}

<legend>Choose Files to Alter and Analyze
	<select id="setenabling">
		<option value="dummy"> - Choose FileSet to Toggle - </option>
		{% for set in sets | sort %}
			<option value="{{set}}">{{set}}</option>
		{% endfor %}
	</select>
	<div class="bttn bttn-minor" id="disableall">Disable All</div>
</legend>
<div id="uploadpreviewdiv">


{% for filename, file in preview.items() | sort %}
<div class="filepreview {{ 'enabled' if filename in active }}" id="{{filename}}">
	<h6>{{filename}}:</h6>
	<div class="textblock">
		{{file}}
	</div>
</div>
{%- endfor %}

</div>
{% endblock %}


{% block content %}
{% endblock %}


{% block submit %}
{% endblock %}
