{% extends "base_manage.html" %}
{% set active_page = 'select' %}


{% block head %}


<!-- Lexos Scripts -->
    <!-- Javascript Table Libraries -->
    <!-- StupidTable: http://joequery.github.io/Stupid-Table-Plugin/ -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/manage/stupidtable.min.js') }}?ver={{version}}"></script>
    <!-- Selection Functions: http://aleckravets.github.io/jquery.selectable-list/ -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/manage/jquery.selectable-list.js') }}?ver={{version}}"></script>
    <!-- Paging: https://github.com/mz0lee/paging -->
    <!-- Use the non-minified version which has a few Lexos modifications -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/manage/paging.js') }}?ver={{version}}"></script>
    <!-- Filter: https://github.com/hail2u/jquery.table-filter -->
    <!-- Use the non-minified version which has a few Lexos modifications -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/manage/jquery.table-filter.js') }}?ver={{version}}"></script>

    <!-- Bootstrap styling is assumed by JQuery Selectable-List. Eventually we can swap it out for something else. -->
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet"/>


<!-- Page-specific style must eventually be moved to main style sheet. -->
<style type="text/css">
/* Collapse unused previews and options divs */
#content-wrapper {
    padding-bottom: 20px;
}
#prepare-previews-context {
    height: 1px;
}
#manage-previews, #manage-options {
    margin-bottom: 1px;
}

/* Manage Styles */
    .dataTableContainer {
        max-height: 400px;
        overflow:auto;
    }

    table {
        border: collapse;
    }

    .table-striped tbody tr.selected td {
        background: #C8FFC8;
    }

    tr {
        cursor: pointer;
    }

    tbody td { 
        height: 50px;
    }

    /* Paging */
    .paging-nav {
        text-align: right;
        padding-top: 2px;
    }
    .paging-nav a{
        margin: auto 1px;
        text-decoration: none;
        display: inline-block;
        padding: 3px 21px;
        background: /*#91b9e6;*/ #2ECC71;
        color: white;
        border-radius: 3px;
    }
    .paging-nav .selected-page{
        background: #187ed5;
        font-weight: bold;
    }
    .paging-nav, #tableData {
        width: 400px;
        margin: 10px 20px 0 auto;
        margin-top: 10px;
    }
  
    #tableData {
        margin-top: 100px;
        border-spacing: 0;
        border: 1px dotted #ccc;
    }
    #tableData th {
        background: #e5f0fb;
        text-align: left;
        border-bottom: 2px solid #91b9e6;
    }
    #tableData td {
        padding: 3px 10px;
        border-bottom: 1px dotted #ccd;
    }   

    /* Filter */
    .formTableFilter {
        float: left;
        margin-bottom: 5px;
    }

    .formTableFilter label {
        font-weight: bold;
        float: left;
        margin-right: 4px;
        padding-top: 4px;
    }

    .formTableFilter input {
        border: 1px solod #999999;
        width: 12em;
    }
</style>
{% endblock %}


{% block title %}selecter{% endblock %}


{% block options %}
<legend class="has-tooltip">Select Documents to Alter/Analyze 
    <span style="margin-left:8px;cursor:pointer;" id="select-tip"><i class="fa fa-question-circle hasTooltip" style="color:#A8A8A8;font-size: 18px;"></i><span class="hidden">Select individual rows by clicking them, or use Shift + mouse click for multiple selection.</span></span>
    
</legend>

<div class="select-bttn">
    <div class="bttn bttn-minor" id="delete">Delete Selected</div>
    <div class="bttn bttn-minor" id="disableall">Deselect All</div>
    <div class="bttn bttn-minor" id="selectall">Select All</div>
</div>

<div style="clear: both;"></div>
<!-- Additional material can be added inside <legend> -->
<div id="delete-confirm-wrapper">
    <div id="delete-explanation">Are you sure you want to delete the selected documents?</div>
    <div id="confirmation-bttn-wrapper">
        <button type="button" class="bttn bttn-minor confirmation-bttn" id="confirm-delete-bttn">Confirm</button>
        <button type="button" class="bttn bttn-minor confirmation-bttn" id="cancel-bttn">Cancel</button>
    </div>
</div>

<!-- experimental document manager -->
<div class="dataTableContainer" style="padding: 4px;border-top:1px solid #ccc;border-bottom:1px solid #ccc;border-left:1px solid #ccc;">
<table id="docmanager" class="table table-striped">
    <thead>
      <tr>
        <!-- Select All Check Box -->
        <td width="4%"><input type="checkbox" id="checkall" title="Select all"/></td>
        <!-- Use data-sort to make column sortable. string-ins means case insensitive -->
        <th width="15%" data-sort="string-ins"><span>Document Name</span></th>
        <th width="15%" data-sort="string-ins"><span>Class Label</span></th>
        <th width="20%" data-sort="string-ins"><span>Original Source</span></th>
        <th width="46%" data-sort="string-ins"><span>Excerpt</span></th>
      </tr>
    </thead>
    <tbody>
        {% for row in rows %}
        <tr id="{{ row['id'] }}" class="{{ row['state'] }}" title="{{ row['id'] }}">
            <td>
                {% if row['state'] == "selected" %}
                    <input class="chkbox" type="checkbox" name="checkBox[]" checked />
                {% else %}
                    <input class="chkbox" type="checkbox" name="checkBox[]" />
                {% endif %}
            </td>
            <td><span>{{ row["label"] }}</span></td>
            <td>{{ row["class"] }}</td>
            <td>{{ row["source"] }}</td>
            <td>{{ row["preview"]|truncate(155,True,'...') }}</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
    </div>
<script type="text/javascript">
$(function(){
    // Initiate sortable table
    $("#docmanager").stupidtable();

    // Initiate the filter
  $("#docmanager").addTableFilter({
        labelText: "Search: ",
        size:      48
    });

  // Initiate the paging with a limit of 25 rows per page
  var limit = 25;
  $('#docmanager').paging({limit:limit});

  // Initiate selection functions
  $("#docmanager").selectableList();
  // Count the total number of rows in the table
  var table_rows = 0;
  $("#docmanager tbody tr").each(function() {
    table_rows++;
  });
            
    // Build the initial selected array
    var selected = [];
    $("#docmanager tbody tr").each(function () {
        if ($(this).hasClass("selected")) {
            selected.push($(this).attr("id"));            
        }
    });
    console.log(selected);

  // On click of Select All Button
  $("#selectall").click(function() {
    $("#docmanager tbody tr").each(function () {
        $(this).addClass("selected");
        $checkBox = $(this).find('.chkbox');
        $checkBox.prop('checked', true);
        selected.push($(this).attr("id"));
        console.log("Selected all, Selected: "+selected)
    });
  });

  // On click of Deselect All Button
  $("#disableall").click(function() {
    $("#docmanager tbody tr").each(function () {
        $(this).removeClass("selected");
        $checkBox = $(this).find('.chkbox');
        $checkBox.prop('checked', false);
        selected = [];
        console.log("Deselected all, Selected: "+selected)
    });
  });

  // On click of Deselect All Button
  $("#disableall").click(function() {
    var deleted = [];
    $("#docmanager tbody tr").each(function () {
        // Check if $(this).attr("id") is in selected. If so:
            $(this).remove();
            selected.splice($.inArray($(this).attr("id"), selected),1);
            deleted.push($(this).attr("id"));
        console.log("Deleted: "+deleted+", Selected: "+selected)
    });
  });

  // On click of checkall
  $("#checkall").click(function() {
    // If some or none of the rows are checked, select all
    if (selected.length > 0 && selected.length < table_rows) {
        $("#docmanager tbody tr").each(function () {
            selected.push($(this).attr("id"));
            console.log("Selected all, Selected: "+selected)
        });
    }
    // Otherwise deselect all
    else {
        $("#docmanager tbody tr").each(function () {
            selected = [];
            console.log("Deselected all, Selected: "+selected)
        });
    }
  });
     
  // Click handling
  var prev = null;
  $("#docmanager tbody tr").click(function(e) {
    // Begin shift-click behaviour
    var start = $(this).index();
    if (e.shiftKey) {
        var end = start; // Set the index of the current row as the end
        // If the end does not match the previous index, we have a range
        if (prev != end) {
            var range = []; // Initialise a range array
            // Add all the row ids to the range array
            for (var i = prev+1; i <= end+1; i++) {
                range.push($("tr").eq(i).attr("id"));
            }
        }
        // If a range is being deselected
        if ($("tr").eq(start).hasClass("selected")) {
            selected = $(selected).not(range).get(); // Return the selected array without the IDs in the range array
            selected = $.unique(selected.sort()).sort();
            console.log("Removed rows: "+range+", Remaining Rows: "+selected);
        }
        // If a range is being selected
        else {
            $.merge(selected, range); // Merge the selected and range arrays
            selected = $.unique(selected.sort()).sort();
            console.log("Added rows: "+range+", Selected: "+selected);
        }
    }
    // Handle a single click to deselect
    else if ($(this).hasClass('selected')) {
        selected.splice($.inArray($(this).attr("id"), selected),1); // Remove the row ID from the selected array
        selected = $.unique(selected.sort()).sort();
        console.log("Removed row: "+$(this).attr("id")+", Selected: "+selected);
    }
    // Handle a single click to select
    else {
        selected.push($(this).attr("id")); // Add the row ID to the selected array
        selected = $.unique(selected.sort()).sort();
        console.log("Added row: "+$(this).attr("id").toString()+", Selected: "+selected);
    }
    // Set the previous click to the current one
    prev = start;
  }); // End Click Handling

}); // End document ready
</script> 
{% endblock %}