{% extends "base_visualize.html" %}
{% set active_page = 'multicloud' %}

{% block head %}
<!-- Bootstrap Switch CSS -->
<link href="{{ url_for('static', filename='lib/bootstrap-switch/bootstrap-switch.min.css') }}?ver={{version}}" rel="stylesheet">

<script type="text/javascript" src="{{ url_for('static', filename='lib/d3.layout.cloud.js') }}?ver={{version}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/scripts_multicloud.js') }}?ver={{version}}"></script>
<script src="{{ url_for('static', filename='lib/bootstrap-switch/bootstrap-switch.min.js') }}?ver={{version}}"></script>

<script>
	$(document).ready( function () {
		$("#getviz").click(function(e) {
			state = $("[name='options-toggle']").bootstrapSwitch('state');
			// If topic clouds has been selected
			if (state == false) {
				// If no MALLET file has been uploaded
				if ($('#optuploadname').val() == '') {
			        $('#error-modal-message').html("Please upload a MALLET file before applying this feature.");
			        $('#error-modal').modal(); 
				}
				else {
					$("form").submit();					
				}
			}
			else {
				$("form").submit();
			}
		});  
	});

</script>
{% endblock %}

{% block title %}visualizer{% endblock %}

{% block options %}
<div class="row">
	<div class="col-md-12">
		<legend style="min-width:200px;">Multicloud Options</legend>
	</div>
</div>

<div class="row">
	<div class="col-md-6">
		<div>
		<input id="analysisType" type="hidden" name="analysistype" value="{{"userfiles" if session['multicloudoptions']['analysistype'] == 'userfiles' }}"/>
		<input type="checkbox" name="options-toggle" data-size="large" data-on-color="success" data-off-color="primary" data-on-text="Document Clouds" data-off-text="Topic Clouds" data-handle-width="150" data-label-width="10" class="bootstrap-switch-large" {{"checked" if session['multicloudoptions']['analysistype'] == 'userfiles' }}/> <i class="fa fa-question-circle lexos-popover-trigger" data-trigger="hover" data-html="true" data-toggle="popover" data-placement="right" data-container="body" title="" data-content="Document clouds are word clouds based on the documents you select from your uploaded documents. Topic clouds are word clouds generate clouds from the .txt output from <a href='http://mallet.cs.umass.edu/' target='_blank'>MALLET</a>. You may use either the output of the &quot;--words-topic-counts-file&quot; command or the unzipped file produced by the &quot;--output_state&quot; command." style="margin-left:8px;cursor:pointer;font-size:18px;" title=""></i>
		</div>
		<fieldset class="multicloud-options" id="multicloud-selection" class="cf">
			<legend>Select Document(s)</legend>
			{% if labels|len > 0 %}
	    		<label style="position: relative; top: -8px; width: 200px;"><input type="checkbox" id="allCheckBoxSelector">Toggle All</label>
			{%- endif %}
			<div id="vizoptionscontainer" name="segmentlist" style="overflow:auto; width: 300px; float: left; max-height: 125px; min-height: 2em; position: relative; top: -8px">
			<div id="vizcreateoptions">
				{% for fileID, label in labels.items() %}
					<div class="forCheckBox">
					<label>{{label}} 
						<input type="checkbox" name="segmentlist" class="minifilepreview" {{ 'checked' if fileID|unicode in session['cloudoption']['segmentlist']}} id="{{fileID}}_selector" value="{{fileID}}">
					</label>
				</div>
				{%- endfor %}
				{% if labels|len == 0 %}
					<span id="no-labels">No Documents are Selected</span>
				{%- endif %}
			</div>
			</div>
		</fieldset>

		<fieldset class="multicloud-options" id="multicloud-upload" class="cf">
			<legend>Upload a MALLET Topic File</legend>
			<div style="position: relative; left: 25px;">
			<label class="icon-checkbox checked" id="convertTopicsbox" for="convertTopics">
				<input name="convertTopics" id="convertTopics" type="checkbox">
				Convert Topics to Documents
				<span class="icon-help tooltip small" id="multicloud-convertTopics-tooltip" data-tooltip="If you check this box, your Mallet-generated topics will be loaded as documents into the Lexos file manager. Each topic file will contain copies of the terms equivalent to the counts in your Mallet data (e.g. 'the the' if the topic contains two instances of the word 'the'). Topic files can be analyzed like any other document, although some operations like cutting may not make sense for unordered data." style="margin-left:5px;"></span>
			</label>
			</div>
			<div class="bttn upload-bttn" id="multiclouduploadbttn" style="position: relative; left: 25px;">
				Upload File
				<span class="icon-help tooltip small" id="multicloud-upload-tooltip" data-tooltip="Generate clouds from the .txt output of the Mallet. Use either the output of the  &quot;--words-topic-counts-file&quot; command or the unzipped file produced by the &quot;--output_state&quot; command."></span>
			</div>
			<input type="file" class="multicloud-upload inputWrapper" id="optuploadname" name="optuploadname"/>
	                
		</fieldset>
	</div>
</div>
{% endblock %}


{% block results %}

<div id="multicloud-container"></div>

{% endblock %}


{% block submit %}
<br>
<input class="bttn bttn-action" id="getviz" type="submit" value="Get Graphs"/>

<p></p>

<span class="viz-tips" id="tips">*Large numbers of clouds can take a while to render.</span>

<script>
	$("[name='options-toggle']").bootstrapSwitch();
	$('input[name="options-toggle"]').on('switchChange.bootstrapSwitch', function(event, state) {
  		//console.log(this); // DOM element
  		if (state == false) { // Topic clouds
  			$("#analysisType").val("topicfiles");
			$("#multicloud-selection").hide();
			$("#multicloud-upload").show();
  		}
  		else { // Document clouds
  			$("#analysisType").val("userfiles");
			$("#multicloud-selection").show();
			$("#multicloud-upload").hide();
  		}
	});
</script>
 <script>
	var dataset = {{ JSONObj|safe or {} }};
    var numActiveDocs = {{ numActiveDocs }};
</script>
{% endblock %}