{% extends "base_visualize.html" %}
{% set active_page = 'multicloud' %}

{% block head %}
<script type="text/javascript" src="{{ url_for('static', filename='js/d3.layout.cloud.js') }}?ver={{version}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.multiselect.min.js') }}?ver={{version}}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/scripts_multicloud.js') }}?ver={{version}}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.multiselect.css') }}?ver={{version}}">

<script>
  var dataset = {{ JSONObj|safe or [] }};
</script>
{% endblock %}

{% block title %}analyzer{% endblock %}


{% block options %}
{% if loading=='loading' %}<div id="exspecto-nubes">Loading...</div>{% endif %}
<legend>Multicloud Options</legend>
<div id="multicloudoptionsbox">
	<div id="multicloudcreateoptions">
		
		<div style="float: left; margin-right: 20px;">
      <select id="segmentlist" name="segmentlist" multiple="multiple" style="width: 300px;">
        {% for fileID, fileLabel in labels.items() %}
        <option value="{{ fileID }}" {{ 'selected' if fileID|unicode in request.form.getlist('segmentlist') }}>{{ fileLabel }}</option>
        {% endfor %}
      </select>
			<p id="tips">Large numbers of clouds can take a while to render.</p>
		</div>
	</div>
</div>
{% endblock %}


{% block results %}
<div id="multicloud-container"></div>
{% endblock %}


{% block submit %}
<input class="bttn bttn-action" id="getviz" type="submit" value="Get Graphs"/>
{% endblock %}