{% extends "base.html" %}

{% block head %}
<script type="text/javascript" src="{{ url_for('static', filename='scripts_rollinganalysis.js') }}"></script>
{% endblock %}

{% block title %}analyzer{% endblock %}

{% block navbar %}
<form id="analysis" action="" method="POST" enctype="multipart/form-data">

<div class="navbaroption enabled" id="rollinganalysisnavbar1">Upload</div>
<input class="hidden" type="submit" name="uploadnav"/>
<div class="navbaroption enabled" id="rollinganalysisnavbar2">Manage</div>
<input class="hidden" type="submit" name="managenav"/>
<div class="navbaroption enabled" id="rollinganalysisnavbar3">Scrub</div>
<input class="hidden" type="submit" name="scrubnav"/>
<div class="navbaroption enabled" id="rollinganalysisnavbar4">Cut</div>
<input class="hidden" type="submit" name="cutnav"/>
<div class="navbaroption enabled" id="rollinganalysisnavbar5">Analyze</div>
<input class="hidden" type="submit" name="analyzenav"/>
<div class="navbaroption enabled analysisbar" id="rollinganalysisnavbarA">CSV-Generator</div>
<input class="hidden" type="submit" name="csvgeneratornav"/>
<div class="navbaroption enabled analysisbar" id="rollinganalysisnavbarB">Dendrogram</div>
<input class="hidden" type="submit" name="dendrogramnav"/>
<div class="navbaroption analysisbar" id="rollinganalysisnavbarC">Rolling Analysis</div>
<!-- <input class="hidden" type="submit" name="rollinganalysisnav"/> -->
{% endblock %}


{% block field %}
<input type="hidden" name="filetorollinganalyze" value="" id="filetorollinganalyze"/>
<div id="rollingselectiondiv">
<select name="rollingselection" id="rollingselection">
	<option id="averageraw" value="averageraw">Rolling Average of Word (in text)</option>
	<option id="averagedata" value="averagedata">Rolling Average (from processed data)</option>
	<option id="ratio" value="ratio">Rolling Ratio (default: eth to thorn)</option>
</select>
</div>
<div class="rollinganalysisoptiondiv" id="rollingaveragedata">
	<input type="file" class="hidden" name="datafileselect" id="datafileselect"/>
	<div class="bttn bttn-action" id="prettydatafileselect">Give me the data file!</div>
</div>

<div class="rollinganalysisoptiondiv" id="rollingaverageraw">
	<div id="minifilemanage">
		{% for filename, filepath in paths.items() %}
			<div class="minifilepreview {{ 'enabled' if filepath == request.form['filetorollinganalyze'] }}" id="{{filepath}}">
				{{filename}}
			</div>
		{% endfor %}
	</div>
	<label for="rollingsearchword">Word:
		<input type="text" name="rollingsearchword" id="rollingsearchword" value="{{ request.form['rollingsearchword'] }}">
	</label>
	<label for="rollingwindowsize">Window Size:
		<input type="text" name="rollingwindowsize" id="rollingwindowsize" value="{{ request.form['rollingwindowsize'] }}">
	</label>
</div>

<div class="rollinganalysisoptiondiv" id="rollingratio">
	<div id="minifilemanage">
		{% for filename, filepath in paths.items() %}
			<div class="minifilepreview" id="{{filepath}}">
				{{filename}}
			</div>
		{% endfor %}
	</div>
	Ratio Words:
	<input type="text" name="rollingsearchratio1" id="rollingsearchratio1" value="{{ request.form['rollingsearchratio1'] if request.form['rollingsearchratio1'] else 'ð' }}">
	<input type="text" name="rollingsearchratio2" id="rollingsearchratio2" value="{{ request.form['rollingsearchratio1'] if request.form['rollingsearchratio1'] else 'þ' }}">
	<label for="rollingwindowsize">Window Size:
		<input type="text" name="rollingwindowsize" id="rollingwindowsize">
	</label>
</div>
{% endblock %}



{% block content %}
{% if session['rollanafilepath'] %}
<img src={{url_for('rollinganalysisimage')}}>
{% endif %}
{% endblock %}


{% block submit %}
<input type="submit" class="bttn bttn-action" name="rollinganalyze"/>
{% endblock %}