{% extends "base_analyze.html" %}
{% set active_page = 'rwanalysis' %}

{% block head %}
<!-- javascript that formats options and graph -->
<script type="text/javascript" src="{{ url_for('static', filename='js/scripts_rwanalysis.js') }}"></script> 

<script type="text/javascript">
	var dataArray = eval({{data}});
	var xAxisLabel = "{{xAxisLabel}}";
	var yAxisLabel = "{{yAxisLabel}}";

</script>
{% endblock %}

{% block title %}analyzer{% endblock %} 


{% block options %}
<legend>Rolling Window Options</legend>

<input type="hidden" name="filetorollinganalyze" value="{{ request.form['filetorollinganalyze'] }}" id="filetorollinganalyze"/>

<div class="minifilemanage">
	{% for fileID, fileLabel in labels.items() %}
		<div class="minifilepreview {{ 'enabled' if fileID|unicode == request.form['filetorollinganalyze'] }}" id="{{fileID}}">
			{{fileLabel}}
		</div>
	{% endfor %}
</div>

<div class="rwanalysisradiosdiv">
<label class="radio has-tooltip" for="rollingaverage" id="radioaverage">
	<input type="radio" checked name="analysistype" value="average" id="rollingaverage" data-toggle="radio" />
	<span>Rolling Average</span>
	<span class="icon-help tooltip rolling-window small" data-tooltip="number of times the letter/word/string appears in the window divided by the size of the window"></span>
</label>
<label class="radio has-tooltip" for="rollingratio" id="radioratio">
	<input type="radio" {{ "checked" if request.form["analysistype"] == "ratio" }} name="analysistype" value="ratio" id="rollingratio" data-toggle="radio"/>
	<span>Rolling Ratio</span>
	<span class="icon-help tooltip rolling-window small" data-tooltip="number of times the first letter/word/string appears divided by the sum of the first letter/word/string and the second"></span>
</label>
</div>


<div class="rwanalysisradiosdiv">
<label class="radio" for="inputletter" id="radioinputletter">
	<input type="radio" checked name="inputtype" value="letter" id="inputletter" data-toggle="radio"/>of Letter(s)
</label>
<label class="radio" for="inputword" id="radioinputword">
	<input type="radio" {{ "checked" if request.form["inputtype"] == "word" }} name="inputtype" value="word" id="inputword" data-toggle="radio" />of Word(s)
</label>
<label class="radio" for="inputstring" id="radioinputstring">
	<input type="radio" {{ "checked" if request.form["inputtype"] == "string" }} name="inputtype" value="string" id="inputstring" data-toggle="radio" />of String(s)
</div>


<div class="rwanalysisradiosdiv">
<label class="radio" for="windowletter" id="radiowindowletter">
	<input type="radio" checked name="windowtype" value="letter" id="windowletter" data-toggle="radio">in window of Letters
</label>
<span class="submiterrors" id="rwasubmiterrormessage3">Cannot use a window of letters when analyzing a word!</span>
<label class="radio" for="windowword" id="radiowindowword">
	<input type="radio" {{ "checked" if request.form["windowtype"] == "word" }} name="windowtype" value="word" id="windowword" data-toggle="radio" />in window of Words
</label>
<label class="radio" for="windowline" id="radiowindowline">
	<input type="radio" {{ "checked" if request.form["windowtype"] == "line" }} name="windowtype" value="line" id="windowline" data-toggle="radio" />in window of Lines
</div>


<div class="rwanalysisoptiondiv" id="rollingaverageraw">
	<label id="rollinginputlabel">Key Word/Letter/String:</label>
	<input type="text" class="rollinginput" name="rollingsearchword" id="rollingsearchword" value="{{ request.form['rollingsearchword'] }}">
	<div class="rollingsearchwordoptdiv {{ 'inline' if request.form['analysistype'] == 'ratio' else 'hidden' }}"> /
		<input type="text" class="rollinginput" name="rollingsearchwordopt" id="rollingsearchwordopt" value="{{ request.form['rollingsearchwordopt'] }}">
	</div>
	<label for="rollingwindowsize">Size of Rolling Window:
		<input type="number" name="rollingwindowsize" id="rollingwindowsize" value="{{ request.form['rollingwindowsize'] }}">
	</label>
</div>

{% endblock %}


{% block results %}  
<div id="rwagraphheader">Mouse Wheel to Zoom, Click'n'Drag to Pan</div>
<div id="rwagraphlabel">{{graphTitle}}</div>
<div id="rwagraphdiv" class="hidden">{{ session['rwadatagenerated'] }}</div> 
{% endblock %}


{% block submit %}
<input type="submit" class="bttn bttn-action" name="rollinganalyze" value="Get Graph"/>

<span class="submiterrors" id="rwasubmiterrormessage2">No file selected from actives.</span>
<span class="submiterrors" id="rwasubmiterrormessage1">Empty fields.</span>
{% endblock %}