{% extends "base.html" %}

{% block head %}
<script type="text/javascript" src="{{ url_for('static', filename='scripts_rwanalysis.js') }}"></script>
{% endblock %}

{% block title %}analyzer{% endblock %}

{% block formstart %}
<form id="rwanalysis" action="" method="POST" enctype="multipart/form-data">
{% endblock %}

{% block navbar %}
<div class="navbaroption enabled" id="rwanalysisnavbar1">Upload</div>
<input class="hidden" type="submit" name="uploadnav"/>
<div class="navbaroption enabled" id="rwanalysisnavbar2">Manage</div>
<input class="hidden" type="submit" name="managenav"/>
<div class="navbaroption enabled" id="rwanalysisnavbar3">Scrub</div>
<input class="hidden" type="submit" name="scrubnav"/>
<div class="navbaroption enabled" id="rwanalysisnavbar4">Cut</div>
<input class="hidden" type="submit" name="cutnav"/>
<div class="navbaroption enabled" id="rwanalysisnavbar5">Analyze</div>
<input class="hidden" type="submit" name="analyzenav"/>
<div class="navbaroption enabled analysisbar" id="rwanalysisnavbarA">CSV-Generator</div>
<input class="hidden" type="submit" name="csvgeneratornav"/>
<div class="navbaroption enabled analysisbar" id="rwanalysisnavbarB">Dendrogram</div>
<input class="hidden" type="submit" name="dendrogramnav"/>
<div class="navbaroption analysisbar" id="rwanalysisnavbarC">Rolling Window Analysis</div>
<!-- <input class="hidden" type="submit" name="rwanalysisnav"/> -->
{% endblock %}


{% block field %}
<legend>Window and Word Options</legend>

<input type="hidden" name="filetorollinganalyze" value="{{ request.form['filetorollinganalyze'] }}" id="filetorollinganalyze"/>
<div id="rollingselectiondiv">
<select name="rollingselection" id="rollingselection">
	<option id="averageraw" value="averageraw">Rolling Average of Word (in text)</option>
	<option id="averagedata" value="averagedata">Rolling Average (from processed data)</option>
	<option id="ratio" value="ratio">Rolling Ratio (default: eth to thorn)</option>
</select>
</div>


<div class="minifilemanage">
	{% for filename, filepath in paths.items() %}
		<div class="minifilepreview{{ ' enabled' if filepath == request.form['filetorollinganalyze'] }}" id="{{filepath}}">
			{{filename}}
		</div>
	{% endfor %}
</div>


<div class="rwanalysisoptiondiv" id="rollingaveragedata">
	<input type="file" class="hidden" name="datafileselect" id="datafileselect"/>
	<div class="bttn bttn-action" id="prettydatafileselect">Give me the data file!</div>
</div>


<div class="rwanalysisoptiondiv" id="rollingaverageraw">
	<label for="rollingsearchword">Word:
		<input type="text" name="rollingsearchword" id="rollingsearchword" value="{{ request.form['rollingsearchword'] }}">
	</label>
	<label for="rollingwindowsize">Window Size:
		<input type="text" name="rollingwindowsize" id="rollingwindowsize" value="{{ request.form['rollingwindowsize'] }}">
	</label>
	<label for="rollinggraphwidth">Graph Width:Height Ratio Percentage:
		<input type="text" name="rollinggraphwidth" id="rollinggraphwidth" value="{{ request.form['rollinggraphwidth'] if request.form['rollinggraphwidth'] else '100%' }}">
	</label>
</div>


<div class="rwanalysisoptiondiv" id="rollingratio">
	Ratio Words:
	<input type="text" name="rollingsearchratio1" id="rollingsearchratio1" value="{{ request.form['rollingsearchratio1'] if request.form['rollingsearchratio1'] else 'ð' }}">
	<input type="text" name="rollingsearchratio2" id="rollingsearchratio2" value="{{ request.form['rollingsearchratio1'] if request.form['rollingsearchratio1'] else 'þ' }}">
	<label for="rollingwindowsize">Window Size:
		<input type="text" name="rollingwindowsize" id="rollingwindowsize">
	</label>
</div>
{% endblock %}



{% block content %}
{% if session['rollanafilepath'] %}
<div id="rollinggraphdiv">
	<img src="{{url_for('rwanalysisimage')}}" id="rollinggraphpng">
	<img src="http://fakeimg.pl/2500x500/aaaaaa/" id="blahblahblerg" width="2500" height="500">
</div>
{% endif %}
{% endblock %}


{% block submit %}
<input type="submit" class="bttn bttn-action" name="rollinganalyze"/>
{% endblock %}