{% extends "base.html" %}

{% block head %}
<script type="text/javascript" src="{{ url_for('static', filename='scripts_scrub.js') }}"></script>
{% endblock %}

{% block title %}scrubber{% endblock %}
{% block field %}

<fieldset style="float:left; width:325px">
<legend>Scrubbing Options</legend>
<form id="scrub" action="" method="POST" enctype="multipart/form-data">

<input type="hidden" id="usecacheswfileselect" name="usecacheswfileselect" value="" {{ 'disabled' if session['opt_uploads']['swfileselect[]'] == '' else '' }}/>
<input type="hidden" id="usecachelemfileselect" name="usecachelemfileselect" value="" {{ 'disabled' if session['opt_uploads']['lemfileselect[]'] == '' else '' }}/>
<input type="hidden" id="usecacheconsfileselect" name="usecacheconsfileselect" value="" {{ 'disabled' if session['opt_uploads']['consfileselect[]'] == '' else '' }}/>
<input type="hidden" id="usecachescfileselect" name="usecachescfileselect" value="" {{ 'disabled' if session['opt_uploads']['scfileselect[]'] == '' else '' }}/>

<div>
	<div style="float:left; margin-right:5px">
		<label class="checkbox" id="punctbox">
		    <input type="checkbox" name="punctuationbox" {{"checked" if request.form['punctuationbox'] else ""}} data-toggle="checkbox">
		    Remove Punctuation
		</label>
		<label class="checkbox" for="lowercasebox">
	        <input type="checkbox" name="lowercasebox" {{"checked" if request.form['lowercasebox'] else ""}} data-toggle="checkbox">
	        Make Lowercase
	    </label>
    	<label class="checkbox" for="digitsbox">
            <input type="checkbox" name="digitsbox" {{"checked" if request.form['digitsbox'] else ""}} data-toggle="checkbox">
            Remove Digits
        </label>
    </div>
    <div style="float:left; {{ '' if request.form['punctuationbox'] else 'display:none' }}" id="aposhyph">
		<label class="checkbox" for="aposbox">
            <input type="checkbox" name="aposbox" {{"checked" if request.form['aposbox'] else ""}} data-toggle="checkbox">
            Keep Apostrophes
        </label>
		<label class="checkbox" for="hyphensbox">
            <input type="checkbox" name="hyphensbox"  {{"checked" if request.form['hyphensbox'] else ""}} data-toggle="checkbox">
            Keep Hyphens
        </label>
    </div>
</div>

<div style="display: {{ '' if session['hastags'] else 'none' }}; float:left">
	<label>Your text(s) contain tags. Would you like to:
		<label class="radio" style="margin-top: 7px">
			<input type="radio" name="tags" value="keep" {{"checked" if session['keeptags'] == True else ""}} data-toggle="radio"/>&nbsp;&nbsp;&nbsp;Keep Words Between Tags
		</label>
		<label class="radio">
			<input type="radio" name="tags" value="discard" {{"checked" if session['keeptags'] == False else ""}} data-toggle="radio" />&nbsp;&nbsp;&nbsp;Discard Words Between Tags
		</label>
	</label>
</div>
</fieldset>

<fieldset style="float:right; width:63%">
<legend>Optional Uploads</legend>

<div style="margin-left:auto; margin-right:auto">
	<div>
		<input type="file" class="hiddenfileselect" id="swfileselect" name="swfileselect[]" />
		<div class= "optionbttn" id="stopwords">Stopwords</div>
		<div class="questionmark large"></div>
		<div class="scrubtooltip general">Click to specify stopwords (words to be removed)</div>

		<div id="stopwordinput" style="{{ 'display:none' if session['opt_uploads']['swfileselect[]'] == '' and not request.form['manualstopwords'] else '' }}">
			<textarea name="manualstopwords" placeholder="Enter stopwords..." >{{ request.form['manualstopwords'] }}</textarea>
			<div class="questionmark small"></div>
  		<div class="scrubtooltip format">Click to specify special character handling</div>
			/
			<div style="display:inline-block">
				<div class="bttnfilelabels" id="swfileselectbttnlabel" style="text-align:center; color:#00B226">
					{{ session['opt_uploads']['swfileselect[]'] + '(using cached)' if session['opt_uploads']['swfileselect[]'] != '' }} 
				</div>
				<div class="btn btn-primary" id="prettystopwordsupload" style="text-align:center; padding: 2px 4px">Upload File</div>
			</div>
		</div>
	</div>

	<div>
		<input type="file" class="hiddenfileselect" id="lemfileselect" name="lemfileselect[]"/>
		<div class= "optionbttn" id="lemmas">Lemmas</div>
		<div class="questionmark large"></div>
  	<div class="scrubtooltip general">Click to specify lemmas&nbsp;&nbsp; (word replacements)</div>

		<div id="lemmainput" style="{{ 'display:none' if session['opt_uploads']['lemfileselect[]'] == '' and not request.form['manuallemmas'] else '' }}">
			<textarea name="manuallemmas" placeholder="Enter lemmas..." >{{ request.form['manuallemmas'] }}</textarea>
			<div class="questionmark small"></div>
  		<div class="scrubtooltip format">Click to specify special character handling</div>
			/
			<div style="display:inline-block">
				<div class="bttnfilelabels" id="lemfileselectbttnlabel" style="text-align:center; color:#00B226">
					{{ session['opt_uploads']['lemfileselect[]'] + '(using cached)' if session['opt_uploads']['lemfileselect[]'] != '' }}
				</div>
				<div class="btn btn-primary" id="prettylemmasupload" style="text-align:center; padding: 2px 4px">Upload File</div>
			</div>
		</div>
	</div>

	<div>
		<input type="file" class="hiddenfileselect" id="consfileselect" name="consfileselect[]"/>
		<div class= "optionbttn" id="consolidations">Consolidations</div> 
		<div class="questionmark large"></div>
  	<div class="scrubtooltip general">Click to specify consolidations (character replacements)</div>

		<div id="consolidationsinput" style="{{ 'display:none' if session['opt_uploads']['consfileselect[]'] == '' and not request.form['manualconsolidations'] else '' }}">
			<textarea name="manualconsolidations" placeholder="Enter consolidations..." >{{ request.form['manualconsolidations'] }}</textarea>
			<div class="questionmark small"></div>
  		<div class="scrubtooltip format">Click to specify special character handling</div>
			/
			<div style="display:inline-block">
				<div class="bttnfilelabels" id="consfileselectbttnlabel" style="text-align:center; color:#00B226">
					{{ session['opt_uploads']['consfileselect[]'] + '(using cached)' if session['opt_uploads']['consfileselect[]'] != '' }}
				</div>
				<div class="btn btn-primary" id="prettyconsolidationsupload" style="text-align:center; padding: 2px 4px">Upload File</div>
			</div>
		</div>
	</div>

	<div>
		<input type="file" class="hiddenfileselect" id="scfileselect" name="scfileselect[]"/>
		<div class= "optionbttn" id="specialchars">Special Characters</div> 
		<div class="questionmark large"></div>
  	<div class="scrubtooltip general">Click to specify special character handling</div>

		<div id="specialcharsinput" style="{{ 'display:none' if session['opt_uploads']['scfileselect[]'] == '' and not request.form['manualspecialchars'] else '' }}">
			<select id="entityrules" name="entityrules" style="margin-top:2px; margin-left:29px">
				<option value="default" {{ 'selected' if request.form['entityrules'] == 'default'}}>Default</option>
				<option value="doe-sgml" {{ 'selected' if request.form['entityrules'] == 'doe-sgml'}}>Dictionary of Old English SGML</option>
				<option value="early-english-html"  {{ 'selected' if request.form['entityrules'] == 'early-english-html' }}>Early English HTML</option>
			</select>
			<a href={{ url_for('static', filename='pre_defined_rules.html') }} target="_blank">View Pre-Defined Rule Sets</a>
			<div style="clear:both; margin-left:210px"><strong>or</strong></div>
			<textarea name="manualspecialchars" placeholder="Enter special characters...">{{ request.form['manualspecialchars'] }}</textarea>
			<div class="questionmark small specchars"></div>
  		<div class="scrubtooltip format">Click to specify special character handling</div>
			/
			<div style="display:inline-block">
				<div class="bttnfilelabels" id="scfileselectbttnlabel" style="text-align:center; color:#00B226">
					{{ session['opt_uploads']['scfileselect[]'] + '(using cached)' if session['opt_uploads']['scfileselect[]'] != '' }}
				</div>
				<div class="btn btn-primary" id="prettyspecialcharsupload" style="text-align:center; padding: 2px 4px">Upload File</div>
			</div>
		</div>
	</div>
</div>







</fieldset>
{% endblock %}


{% block submit %}
<div style="height:20px"></div>
<input class="btn btn-info" type="submit" id="scrubsubmit" value="Preview Scrubbing"/>
{% if session['scrubbed'] %}
<input class="btn btn-success" type="submit" name="cut" value="Proceed to Cutting"/>
<input class="btn btn-inverse" type="submit" name="download" value="Download Scrubbed Files" style="float:right"/>
<input class="btn" type="submit" name="previewreload" value="Reload Previews" style="clear:both; float:left; padding:2px 5px; margin-top:10px"/>
{% endif %}
{% endblock %}



{% block content %}
{% for filename, file in preview.items() %}
<fieldset>
<legend>{{filename}} Preview</legend>
{{file}}{{"\u2026"}}
</fieldset>
{%- endfor %}

{% endblock %}
