{% extends "base.html" %}

{% block head %}
<script type="text/javascript" src="{{ url_for('static', filename='scripts_scrub.js') }}"></script>
{% endblock %}

{% block title %}scrubber{% endblock %}
{% block field %}

<fieldset>

<legend>Scrubbing Options</legend>
<form id="scrub" action="" method="POST" enctype="multipart/form-data">
<table>
<tr>
	<td>
		<input type="checkbox" id="punctbox" name="punctuationbox" {{"checked" if session['punctuationbox'] else ""}}/>
		<label for="punctbox" value="yes">Remove Punctuation</label>
	</td>
	<td id="apos" style="display:{{ '' if session['punctuationbox'] else 'none'}}">
		<input type="checkbox" name="aposbox" {{"checked" if session['aposbox'] else ""}}/> 
		<label for="apos">Keep Apostrophes</label>
	</td>
</tr>

<tr>
	<td>
		<input type="checkbox" name="lowercasebox" {{"checked" if session['lowercasebox'] else ""}}/>
		<label>Make Lowercase</label>
	</td>
	<td id="hyph" style="display:{{ '' if session['punctuationbox'] else 'none'}}">
		<input type="checkbox" name="hyphensbox"  {{"checked" if session['hyphensbox'] else ""}}/> 
		<label for="hyph">Keep Hyphens</label>
	</td>
</tr>

<tr>
	<td>
	<input type="checkbox" name="digitsbox" {{"checked" if session['digitsbox'] else ""}}/> 
	<label>Remove Digits</label>
	</td>
	<td>
	</td>
</tr>
</table>

<br>

<table>
<tr class="taghandler" style="display:{{ 'inline' if session['hastags'] else 'none' }}">
	<td>Your text(s) contain tags. Would you like to:<br>
	<input type="radio" name="tags" value="keep" {{"checked" if session['tags'] == "keep" else ""}} />&nbsp;&nbsp;&nbsp;Keep Words Between Tags<br>
	<input type="radio" name="tags" value="discard" {{"checked" if session['tags'] == "discard" else ""}}  />&nbsp;&nbsp;&nbsp;Discard Words Between Tags
	</td>
</tr>
</table>

</fieldset>


<fieldset>
<legend>Optional Uploads 
	<button type="button" id="alloptuploadstoggle">Toggle All</button>
</legend>
<table style="width:100%">

<tr>
	<td>
		<a id="stopwords" href="#" onclick="return false;">Load Stopword List</a> <img valign="bottom" src="{{ url_for('static', filename='question_mark.png') }}" alt="Question Mark" title="Click the link to upload a stopword list (a text file with each stopword separated by a space or a comma)." />
	</td>
	<td>
		<a id="lemmas" href="#" onclick="return false;">Load Lemma List</a> 
		<img valign="bottom" 
		src="{{ url_for('static', filename='question_mark.png') }}" 
		alt="Question Mark" 
		title="Click the link to upload a lemma list. Each lemma set should should have its own separate line. Word types associated with each lemma should take the form of a comma-separated list following the lemma (e.g. 'sing, sang, sung' for the lemma 'sing')." />
	</td>
</tr>

<tr>
	<td style="width:50%">
		<div style="display:none" id="box-stopwords">

<!-- 			<input type="checkbox" id="stopwordorderbox2" name="stopwordorderbox2"/> Apply stopwords before cutting 
				<img valign="bottom" 
				src="{{ url_for('static', filename='question_mark.png') }}" 
				alt="Question Mark" 
				title="**This function is not yet active** Stopwords are normally deleted after cutting so that the boundaries will match those of an unfiltered text. If you wish to filter stopwords <em>before</em> cutting has taken place (which will cause inconsistent decreases in the size of your slices), check this box."/>
			<br> -->
			<input type="file" id="swfileselect" name="swfileselect[]" />

		</div>
	</td>
	<td style="width:50%">

		<div style="display:none" id="box-lemmas">	
		<input type="file" id="lemmafileselect" name="lemmafileselect[]" />

		</div>
	</td>
</tr>

<tr>
	<td>
		<a id="consolidations" href="#" onclick="return false;">Load Consolidations List</a> 
		<img valign="bottom" 
		src="{{ url_for('static', filename='question_mark.png') }}" 
		alt="Question Mark" 
		title="Click the link to upload a consolidations list. Each line should contain a comma-separated list containing character pattern followed by a the values to replace with the pattern (e.g. 'a, aa, bb' will replace the latter two forms with the first)." />
	</td>
	<td>
		<a id="specialchars" href="#" onclick="return false;">Special Characters Handling</a> 
		<img valign="bottom" 
		src="{{ url_for('static', filename='question_mark.png') }}" 
		alt="Question Mark" 
		title="Click the link to upload a list of rules for handling special character entities." />
	</td>
</tr>

<tr>
	<td style="width:50%">
		<div style="display:none" id="box-consolidations">
			<input type="file" id="consolidationsfileselect" name="consolidationsfileselect[]" />

		</div>
	</td>
	<td style="width:50%">
		<div style="display:none" id="box-specialchars">
			<input type="file" id="specialcharsfileselect" name="specialcharsfileselect[]" />
			<p>Or use a default rule set below:</p>

			<strong>Use Pre-Defined Rule Set</strong>
				<img src="{{ url_for('static', filename='question_mark.png') }}" 
				alt="Question Mark"
				valign="bottom"
				title="Currently, the DOE entities <i>&amp;ae;</i>, <i>&amp;d;</i>, <i>&amp;t;</i>, and <i>&amp;#0541;</i> are converted to <i>&aelig;</i>, <i>&eth;</i>, <i>&thorn;</i>, and <i>&#0541;</i> by default (though <i>&#0541;</i> is technically not a DOE entity). The dropdown makes this an option. Early English HTML does the same for HTML entities (e.g. <i>&amp;thorn;</i>), and other entities like <i>&amp;+#383;</i> = <i>ſ</i> could be added to include Early Modern English." />
			<select id="entityrules" name="entityrules">
				<option value="default">Default</option>
				<option value="doe-sgml">Dictionary of Old English SGML</option>
				<option value="early-english-html">Early English HTML</option>
			</select>
			<!-- <p><a href="pre-defined-rules.html" target="_blank">View Pre-Defined Rule Sets</a></p> -->

		</div>
	</td>
</tr>

</table>
</fieldset>
{% endblock %}


{% block content %}
{% for filename, file in preview.items() %}
<fieldset>
<legend>{{filename}} Preview</legend>
{{file}}
</fieldset>
{%- endfor %}

{% endblock %}


{% block submit %}
<input type="submit" id="scrubsubmit" value="Scrub Files"/>
{% if session['scrubbed'] %}
<input type="submit" name="cut" value="Proceed to Cutting"/>
<input type="submit" name="download" value="Download Scrubbed Files"/>
{% endif %}
{% endblock %}