{% extends "base_manage.html" %}
{% set active_page = 'select' %}


{% block head %}
<script type="text/javascript" src="{{ url_for('static', filename='js/scripts_select.js') }}"></script>
{% endblock %}


{% block title %}selecter{% endblock %}


{% block management %}
<fieldset class="newline" id="selectfield">
<legend>Choose Files to Alter/Analyze
<!-- 	<select id="setenabling">
		<option value="dummy"> - Choose FileSet to Toggle - </option>
		{% for set in sets | natsort %}
			<option value="{{set}}">{{set}}</option>
		{% endfor %}
	</select> -->
	<div class="bttn bttn-minor" id="delete">Delete Selected</div>
	<div class="bttn bttn-minor" id="disableall">Deselect All</div>
	<div class="bttn bttn-minor" id="selectall">Select All</div>
</legend>
<div id="uploadpreviewdiv">

<!-- insert tag input here -->
<div class="taginput">
	<input type="text" class="tagfield" placeholder="Enter a Tag"></input>
	<button type="button" class="bttn bttn-minor" id="tagsubmit">Apply Tag</button>
</div>

{% for (fileID, filename, file) in activeFiles %}
<div class="filepreview enabled" id="{{fileID}}">
	<h6>{{filename}}:</h6>
	<div class="textblock">
		{{file}}
	</div>
</div>
{%- endfor %}

{% for (fileID, filename, file) in inactiveFiles %}
<div class="filepreview" id="{{fileID}}">
	<h6>{{filename}}:</h6>
	<div class="textblock">
		{{file}}
	</div>
</div>
{%- endfor %}

</div>

</fieldset>

{% endblock %}