{% extends "base_analyze.html" %}
{% set active_page = 'similarity' %}

{% block head %}
<script type="text/javascript" src="{{ url_for('static', filename='js/scripts_similarity.js') }}?ver={{version}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/tidy-table.min.js') }}?ver={{version}}"></script>

<link rel="stylesheet" href="{{ url_for('static', filename='css/tidy-table.min.css') }}?ver={{version}}">

<script>
	var docsListScore = "{{ docsListScore.decode("utf-8", "replace") }}";
	docsListScore = docsListScore.split("***");
	var docsListName = "{{ docsListName.decode("utf-8", "replace") }}";
	docsListName = docsListName.split("***");

	var documentLabels = {{ encodedLabels|tojson|safe }};
</script>
{% endblock %}

{% block title %}analyzer{% endblock %}


{% block options %}

<input type="hidden" id="num_active_files" value="{{ labels|len }}" style="visibility: hidden;" />

<fieldset id="similarityoptions">

<legend>Select Comparison Document:</legend>

<div class="explanation">Select one document to be the external comparison. All other documents shown below will be used to make the model, and will be ranked in order of most to least similar to the comparison document in your results.<p> </div>

	<input type="hidden" value="{{ request.form['uploadname'] }}" id="uploadname"/>
	<div id="similarityFileselect" style="overflow:auto; width: 400px; height: 125px; float: left;">
		{% for fileID, label in labels.items() %}
			<label>{{label}} 
				<input type="radio" class="minifilepreview" {{ 'checked' if fileID|unicode == session['similarities']['uploadname'] or loop.first }} name="uploadname" id="{{fileID}}_selector" value="{{fileID}}">
			</label>
		{%- endfor %}
		{% if labels|len == 0 %}
			<span id="no-labels">No Documents are Selected</span>
		{%- endif %}
	</div>

</fieldset>
<fieldset id="similarityoptionscheck" style="margin-top: 30px; float:left; margin-right: -430px;">

	<label class="icon-checkbox">Remove words that only appear once (hapax legomena)
		<input type="checkbox" name="simsuniquetokens" {{'checked' if session['similarities']['simsuniquetokens'] }}>
			<i class="fa fa-question-circle hasTooltip" style="margin-right:8px;cursor:pointer;color:#A8A8A8;font-size: 14px;"></i><span class="hidden">This option will remove words that only appear once in the set of active documents.</span>
	<fieldset" id="similarityoptionscheck" style="margin-top:-130px; float:right; margin-right: -430px;">
	</span>
	</label>
</fieldset>
{% endblock %}


{% block results %}
<div class="similaritiesresults" style="width: 100%; float:left; margin-top:30px;margin-right:300px">

	<legend>Similarity Rankings:</legend>
	<div class="explanation">The module used to produce this ranking employs Latent Semantic Analysis to generate unique vectors for each document. The cosine angle between your comparison document's vector and the vector of each document of your corpus is calculated, and these values are then compared. Cosine similarity measures can be between (0, 1), and the higher the value, the closer the comparison document's vector is to that document's vector as opposed to the other documents' vectors.</div>

	<br><br>
	
{% if (similaritiesgenerated) and docsListScore != 'Error'%}

	<div id="selectedDocument">

	</div>
	<div id="simstable" style="overflow: auto; max-width: 100%; max-height:300px;"></div>

{% elif docsListScore == 'Error' %}
	<div id="selectedDocument">
	</div>
	<div class="explanation" style="color: red; font-size: 1.25em"> Error: {{ docsListName }}</div>

{% endif %}

</div>
{% endblock %}


{% block submit %}
<input type="submit" class="bttn bttn-action" id="getsims" name="gen-sims" value="Get Similarity Rankings"/>
<input type="submit" class="bttn bttn-exit bttndownload" id="simsdownload" name="get-sims" value="Download Similarity CSV"/>

{% endblock %}