{% extends "base_analyze.html" %}
{% set active_page = 'similarity' %}

{% block head %}
<script type="text/javascript" src="{{ url_for('static', filename='js/scripts_similarity.js') }}?ver={{version}}"></script>

<script>
	
	var docsList = "{{ docsList.decode("utf-8", "replace") }}";
	docsList = docsList.split("***");
	console.log(docsList);

</script>

{% endblock %}

{% block title %}analyzer{% endblock %}


{% block options %}
<input type="hidden" id="num_active_files" value="{{ labels|len }}" />

<fieldset class="similarity-options" id="similarity-upload" class="cf">
		<legend>Upload a Comparison File</legend>
		<div class="bttn upload-bttn" id="multiclouduploadbttn">
			Upload File
			<span class="icon-help tooltip small" id="multicloud-upload-tooltip" data-tooltip="The comparison file is the one you want to contrast with your selected files."></span>
		</div>
		<input type="file" class="similarity-options" id="uploadname" name="uploadname"/> 
</fieldset>
<div>{{ session['similarities']['uploadname']}}</div>
{% endblock %}


{% block results %}
<div id="simiaritiesresultscheck">{{ session['similaritiesdatagenerated'] }}</div>
<div id="similaritiesresults">


<legend>Similarity Rankings:</legend>

<div id="simstable"></div>
<p>
<div id="simsexplanation">The module used to produce this ranking employs Latent Semantic Analysis to generate unique vectors for each document. The cosine angle between your comparison document's vector and the vector of each document of your corpus is calculated, and these values are then compared. Cosine similarity measures can be between (-1, 1), and the higher the value, the more similar two documents are to one another.</div>

</div>
{% endblock %}


{% block submit %}
<input class="bttn bttn-action" id="getsims" name="getsims" type="submit" value="Get Similarity Rankings"/>

{% endblock %}