{% extends "base.html" %}
{% set active_page = 'statistics' %}

{% block head %}
<script type="text/javascript" src="{{ url_for('static', filename='js/scripts_extension.js') }}?ver={{version}}"></script>
{% endblock %}

{% block title %}statistics{% endblock %}


{% block content %}


{% if (labels|len) == 0 %}
	<span id="no-active-error">No Documents are Selected</span>

{% else %}
	<div>Each File</div>


<!--Dump Everything
	<table border=4>
	{% for key in FileInfoDict %}
		<tr><td><div>File:</div>{{ key }}</td>
		<td> {{ FileInfoDict[key] }}</td></tr>
	{% endfor %}
	</table>
-->


	<table border=4>
		<tr>
			<td>ID</td>
			<td><center>Name</center></td>
			<td><center>Q1</center></td>
			<td><center>Q3</center></td>
			<td><center>IQR</center></td>
			<td><center>Total Wordcount</center></td>
			<td><center>Unique Words</center></td>
			<td><center>Standard Deviation</center></td>
			<td><center>Average</center></td>
			<td><center>Median</center></td>
		</tr>
	{% for file in FileInfoDict %}
		<tr>
			<td>{{ file[0] }}</td>
			<td><center> {{ file[1].name }} </center></td>
			<td><center> {{ file[1].Q1 }} </center></td>
			<td><center> {{ file[1].Q3 }} </center></td>
			<td><center> {{ file[1].IQR }} </center></td>
			<td><center> {{ file[1].totalwordCount }} </center></td>
			<td><center> {{ file[1].numUniqueWords }} </center></td>
			<td><center> {{ file[1].stdE }} </center></td>
			<td><center> {{ file[1].average }} </center></td>
			<td><center> {{ file[1].median }} </center></td>
		</tr>

	{% endfor %}
	</table>


	<div>Whole Corpus</div>
	<table border=4>
		<tr>
			<td><center>Q1</center></td>
			<td><center>Q3</center></td>
			<td><center>IQR</center></td>
			<td><center>Standard Deviation</center></td>
			<td><center>File Anomaly IQR</center></td>
			<td><center>File Anomaly Standard Deviation</center></td>
			<td><center>Median</center></td>
			<td><center>Average</center></td>
		</tr>
		<tr>
			<td>{{ corpusInfoDict.Q1 }}</td>
			<td>{{ corpusInfoDict.Q3 }}</td>
			<td>{{ corpusInfoDict.IQR }}</td>
			<td>{{ corpusInfoDict.StdE }}</td>
			<td>{{ corpusInfoDict.fileanomalyIQR }}</td>
			<td>{{ corpusInfoDict.fileanomalyStdE }}</td>
			<td>{{ corpusInfoDict.median }}</td>
			<td>{{ corpusInfoDict.average }}</td>
		</tr>
	</table>
{% endif %}
{% endblock %}

