{% extends "base_analyze.html" %}
{% set active_page = 'statistics' %}

{% block head %}
<script type="text/javascript" src="{{ url_for('static', filename='js/scripts_extension.js') }}?ver={{version}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/scripts_analyze.js') }}?ver={{version}}"></script>
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> -->

<!-- DataTables CSS -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='DataTables-1.10.7/media/css/jquery.dataTables.css') }}?ver={{version}}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='DataTables-1.10.7/extensions/TableTools/css/dataTables.tableTools.css') }}?ver={{version}}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='DataTables-1.10.7/extensions/FixedColumns/css/dataTables.fixedColumns.css') }}?ver={{version}}">

<!-- DataTables -->
<script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='DataTables-1.10.7/media/js/jquery.dataTables.min.js') }}?ver={{version}}"></script>
<script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='DataTables-1.10.7/extensions/TableTools/js/dataTables.tableTools.min.js') }}?ver={{version}}"></script>
<script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='DataTables-1.10.7/natural.js') }}?ver={{version}}"></script>
<script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='DataTables-1.10.7/extensions/FixedColumns/js/dataTables.fixedColumns.min.js') }}?ver={{version}}"></script>
<!-- Lexos Scripts -->
<script type="text/javascript" src="{{ url_for('static', filename='js/scripts_statistics.js') }}?ver={{version}}"></script>
<script>
$(document).ready( function () {
	
	$("form").submit(function(){
		if ($("input[name='segmentlist']:checked").length < 1) {
			$('#error-message').text("No documents selected from actives.");
			$('#error-message').show().fadeOut(3000,"easeInOutCubic"); 
			return false;
		}
	});

	$('#statsgen').click(function() {
		$("#status-analyze").css({"visibility":"visible", "z-index": "400000"});
	});
	$(DataTables_Table_0_wrapper).css({"padding-top":"10px"});
	$(DataTables_Table_0_wrapper).css({"text-align":"center"});
	$(DataTables_Table_0_wrapper).prepend('<legend style="margin-bottom:20px;text-align:left !important;">Statistics for each Document</legend>');
});
</script>
<!-- CSS for DataTables -->
{% endblock %}


{% block title %}statistics{% endblock %}


{% block options %}
<input type="hidden" id="num_active_files" value="{{ labels|len }}" />
<legend style="width: 400px;">Select a File</legend>
{% if labels|len > 0 %}
    <div class="forAllCheckBox"><label><input type="checkbox" id="allCheckBoxSelector" checked>Check/Uncheck All</label></div>
{%- endif %}
<div id="statsFileSelectcontainer" name="segmentlistdiv" style="overflow:auto; width: 400px; float: left; max-height: 135px; min-height: 2em;">
<div id="statsFileSelect">
    {% for fileID, label in labels.items() %}
    <div class="forCheckBox">
      <label id= "statSelect">{{label}}
        <input type="checkbox" name="segmentlist" class="minifilepreview"  {{ 'checked' if fileID|unicode in session['statisticoption']['segmentlist'] }} id="{{fileID}}_selector" value="{{fileID}}">
      </label>
    </div>
    {%- endfor %}
    {% if labels|len == 0 %}
      <span id="no-labels">No Documents are Selected</span>
    {%- endif %}
</div>
</div>
{% endblock %}

{% block results %}
{% if FileInfoDict %}
<div id="entire-corpus" style = "width: 475px;">
	<legend>Statistics for Entire Corpus</legend>
	<table>
		{% if corpusInfoDict %}
			<tbody>
				<tr>
					<td>
						Average File Size: {{ corpusInfoDict['average'] }}<br>
						Median File Size: {{ corpusInfoDict['median'] }}<br>

						{% if corpusInfoDict['fileanomalyStdE'] == {} %}
							No anomalies found using StdE
						{% else %}
							Anomaly found using StdE: 
							{% for key in corpusInfoDict['fileanomalyStdE'] %}
								{{key}} is {{ corpusInfoDict['fileanomalyStdE'][key] }}
							{% endfor %}
						{% endif %}
					<!-- 	<br>
						{% if corpusInfoDict['fileanomalyIQR'] == {} %}
							No anomalies found using IQR
						{% else %}
							Anomaly found using IQR in
							{% for key in corpusInfoDict['fileanomalyIQR'] %}
								{{key}} is {{ corpusInfoDict['fileanomalyStdE'][key] }}
							{% endfor %}
						{% endif %} -->
					</td>
				</tr>
			</tbody>
		{% endif %}
	</table>
</div>
<div>
	<table class="display">
	<thead>
		<tr>
			<th>Document Name</th>
			<th>Number of Distinct Terms</th>
			<th>Number of Words Occurring Once</th>
			<th>Total Term Count</th>
			<th>Average Term Frequency</th>
		</tr>
	</thead>
	<tbody>
	{% for file in FileInfoDict %}
		<tr>
			<td>{{ file[1].name }}</td>
			<td>{{ file[1].numUniqueWords }}</td>
			<td>{{ file[1].Hapax }} </td>
			<td>{{ file[1].totalwordCount }}</td>
			<td>{{ file[1].average }}</td>
		</tr>
	{% endfor %}
	</tbody>
	</table>
</div>

{% endif %}
{% endblock %}

{% block submit %}

<input type="submit" class="bttn bttn-action" id="statsgen" name="gen-stats" value="Generate Statistics"/>

{% endblock %}

