{% extends "base_analyze.html" %}
{% set active_page = 'tokenizer' %}

{% block head %}
<script type="text/javascript" charset="utf-8" src="{{ url_for('static', filename='js/scripts_tokenizer.js') }}?ver={{version}}"></script>

<!-- Latest compiled and minified DataTables CSS -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/t/bs/jszip-2.5.0,pdfmake-0.1.18,dt-1.10.11,b-1.1.2,b-html5-1.1.2,b-print-1.1.2,fh-3.1.1,sc-1.4.1,se-1.1.2/datatables.min.css"/>

<!-- Latest compiled and minified DataTables JS --> 
<script type="text/javascript" src="https://cdn.datatables.net/t/bs/jszip-2.5.0,pdfmake-0.1.18,dt-1.10.11,b-1.1.2,b-html5-1.1.2,b-print-1.1.2,fh-3.1.1,sc-1.4.1,se-1.1.2/datatables.min.js"></script>

<script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='DataTables-1.10.7/natural.js') }}?ver={{version}}"></script>
{% endblock %}

{% block title %}tokenizer{% endblock %}


{% block options %}
<input type="hidden" id="num_active_files" value="{{ labels|len }}" />

<legend>Document-Term Matrix (DTM) Options</legend>
<div id="csvoptiondiv">
	<fieldset class="csvoptions" id="csvorientdiv">
		<legend>Data Orientation:</legend>
		<label class="radio label-csvorientation" for="csvorientation-filecolumn">
			<input type="radio" name="csvorientation" id="csvorientation-filecolumn" value="filecolumn" {{ "checked" if session['csvoptions']['csvorientation'] == "filecolumn" }} />
			Documents as Columns, Tokens as Rows
		</label>
		<label class="radio label-csvorientation" for="csvorientation-filerow">
			<input type="radio" name="csvorientation" id="csvorientation-filerow" value="filerow" {{ "checked" if session['csvoptions']['csvorientation'] == "filerow" }} />
			Documents as Rows, Tokens as Columns
		</label>
	</fieldset>
	<fieldset class="csvoptions" id="csvdelimdiv">
		<legend>Delimiter Format:</legend>
		<label class="radio label-csvdelimiter" for="csvdelimiter-comma">
			<input type="radio" name="csvdelimiter" id="csvdelimiter-comma" value="comma" {{ "checked" if session['csvoptions']['csvdelimiter'] == "comma" }} />
			Use Comma
		</label>
		<label class="radio label-csvdelimiter" for="csvdelimiter-tab">
			<input type="radio" name="csvdelimiter" id="csvdelimiter-tab" value="tab" {{ "checked" if session['csvoptions']['csvdelimiter'] == "tab" }} />
			Use Tab
		</label>
	</fieldset>
	
	<fieldset class="csvoptions" id="csvcontdiv" style="display:none;">
		<legend>DTM Contents:</legend>
		<label class="label-csvcontent" for="csvcontent-onlygreyword">
			<input type="checkbox" name="onlygreyword" id="csvcontent-onlygreyword" {{ "checked" if session['csvoptions']['onlygreyword'] }} />
			Only show removed tokens
		</label>
	</fieldset>

	{% block submit %}
	<div class="row" style="padding-bottom:20px;">
		<div class="col-md-12">
			<input type="submit" class="bttn bttn-action" id="csvgen" name="gen-csv" value="Generate and Visualize Matrix"/>

			<input type="submit" class="bttn bttn-exit bttndownload" id="csvdownload" name="get-csv" value="Download Matrix"/>
		</div>
	</div>
	{% endblock %}

</div>
{% endblock %}

{% block results %}
<table id="example" class="display" cellspacing="0" width="100%">
	<thead>
		<tr>
			{# Iterate through the list to add table headers #}
			{%- for title in  matrixTitle%}
			<th>{{ title }}</th>
			{%- endfor %}
		</tr>
	</thead>
	{# Display table body from an HTML string injected by back-end rather than front-end processing #}
	{{ tableStr | safe }}
</table>
{% endblock %}