{% extends "base_analyze.html" %}
{% set active_page = 'tokenizer' %}

{% block head %}
<script type="text/javascript" charset="utf-8" src="{{ url_for('static', filename='js/scripts_csvgenerator.js') }}?ver={{version}}"></script>
<script type="text/javascript">
	var matrixExist = {{ matrixExist }};
</script>
<script type="text/javascript" charset="utf-8" src="{{ url_for('static', filename='js/jquery.js') }}?ver={{version}}"></script>
<script type="text/javascript" charset="utf-8" src="{{ url_for('static', filename='js/jquery.dataTables.js') }}?ver={{version}}"></script>
<script type="text/javascript" charset="utf-8" src="{{ url_for('static', filename='js/dataTables.scroller.js') }}?ver={{version}}"></script>
<script type="text/javascript" charset="utf-8" src="{{ url_for('static', filename='js/dataTables.fixedColumns.js') }}?ver={{version}}"></script>

<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.dataTables.css') }}?ver={{version}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/dataTables.scroller.css') }}?ver={{version}}">
{% endblock %}

{% block title %}tokenizer{% endblock %}


{% block options %}
<legend>Frequency Matrix Options</legend>
<div id="csvoptiondiv">
	<fieldset class="csvoptions" id="csvorientdiv">
		<legend>Data Orientation:</legend>
		<label class="radio label-csvorientation" for="csvorientation-filecolumn">
			<input type="radio" name="csvorientation" id="csvorientation-filecolumn" value="filecolumn" {{ "checked" if session['csvoptions']['csvorientation'] == "filecolumn" }}>
			Files as Columns, Words as Rows
		</label>
		<label class="radio label-csvorientation" for="csvorientation-filerow">
			<input type="radio" name="csvorientation" id="csvorientation-filerow" value="filerow" {{ "checked" if session['csvoptions']['csvorientation'] == "filerow" }}>
			Files as Rows, Words as Columns
		</label>
	</fieldset>
	<fieldset class="csvoptions" id="csvdelimdiv">
		<legend>Delimiter Format:</legend>
		<label class="radio label-csvdelimiter" for="csvdelimiter-comma">
			<input type="radio" name="csvdelimiter" id="csvdelimiter-comma" value="comma" {{ "checked" if session['csvoptions']['csvdelimiter'] == "comma" }}>
			Use Comma
		</label>
		<label class="radio label-csvdelimiter" for="csvdelimiter-tab">
			<input type="radio" name="csvdelimiter" id="csvdelimiter-tab" value="tab" {{ "checked" if session['csvoptions']['csvdelimiter'] == "tab" }}>
			Use Tab
		</label>
	</fieldset>
	
	<fieldset class="csvoptions" id="csvcontdiv" style="display: none;">
		<legend>DTM Options:</legend>
        <label class="radio label-csvcontent" for="csvcontent-nogreyword">
			<input type="radio" name="csvcontent" id="csvcontent-nogreyword" value="nogreyword" checked {{ "checked" if session['csvoptions']["csvcontent"] == "nogreyword" }}>
			Do not show removed words
		</label>
		<label class="radio label-csvcontent" for="csvcontent-onlygreyword">
			<input type="radio" name="csvcontent" id="csvcontent-onlygreyword" value="onlygreyword" {{ "checked" if session['csvoptions']["csvcontent"] == "onlygreyword" }}>
			Only show removed words
		</label>
		<label class="radio label-csvcontent" for="csvcontent-showall">
			<input type="radio" name="csvcontent" id="csvcontent-showall" value="showall" {{ "checked" if session['csvoptions']["csvcontent"] == "showall" }}>
			Show all words
		</label>
	</fieldset>
</div>
{% endblock %}


{% block result %}{% endblock %}

{% block submit %}
<input type="submit" class="bttn bttn-action" id="csvgen" name="gen-csv" value="Generate and Visualize Matrix" data-matrix="{{matrixData}}" data-title="{{matrixTitle}}"/>

<input type="submit" class="bttn bttn-action" id="csvdownload" name="get-csv" value="Download Matrix"/>
<span class="submiterrors" id="csvsubmiterrormessage1">No active files.</span>

<hr>

{% if not matrixExist %}
<script>
	// Disable dtm toggle when matrix
	$(".toggle-dtm").unbind("click")
					.css("background-color", "gray");
</script>
{% endif %}

{% if matrixExist %}
<script>
$(document).ready(function() {
	// Add table headers to the DataTable manually (Unicode handled here)
	$matrixTable = $("table").first()
	$.each({{matrixTitle | safe or []}}, function( key ) {
		$matrixTable.find("thead tr").append( "<th>" + decodeURIComponent(escape({{matrixTitle | safe or []}}[key])) + "</th>");
	});

	// Fix the first cell of the table
	$tokenTag = $matrixTable.find("thead tr th").first();
	$tokenTag.css({"background-color": "#ddd", "position": "relative"});


	// Decode Tokens
	var decodedMatrixData = [];
	for (var i = 0; i < {{matrixData | safe or []}}.length; i++) {
		var line = {{matrixData | safe or []}}[i];
		line[0] = decodeURIComponent(escape(line[0]));
		decodedMatrixData.push(line);
	};

	// Embed DataTable 
	var oTable = $('#example').dataTable( {
		data: decodedMatrixData,
		deferRender: true,
		scrollY: 340,
		scrollCollapse: true,
		language: {
			decimal: ".",
			thousands: ",",
			infoEmpty: "No entries to show",
			emptyTable: "No data available in table",
			loadingRecords: "Please wait - loading...",
			processing: "DataTables is currently busy",
			search: "Search for Tokens:"
		},
		scrollX: "100%",
		search: {
			regex: true
		},
        aLengthMenu: [[-1, 10, 20, 50, 100], ["All", 10, 20, 50, 100]]
	});

	// Fix the first column of the DataTable
	new $.fn.DataTable.FixedColumns(oTable, {
        leftColumns: 1,
        rightColumns: 1
    });

	// Fix the last cell of the first row in the table
    $totalTag = $(".DTFC_RightHeadWrapper").find("table thead tr th").first();
    $totalTag.css({"background-color": "#ddd", "position": "relative"});
});
</script>

{% endif %}
<table id="example" class="display" cellspacing="0" width="100%">
	<thead>
		<tr>
		</tr>
	</thead>
</table>
{% endblock %}

