{% extends "base_analyze.html" %}
{% set active_page = 'topword' %}


{% block head %}
    <style type="text/css">
        .topwordResultLegend {
        }
    </style>
    <script type="text/javascript"
            src="{{ url_for('static', filename='js/scripts_topword.js') }}?ver={{ version }}">
    </script>
    <script type="text/javascript">
            var classNum = {{ classmap[1]|length|default(0) }};
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}

{% block title %}analyzer{% endblock %}


{% block options %}
    <input type="hidden" id="num_active_files" value="{{ labels|len }}"/>

    <div class="row">
        <div class="col-md-6">

            <fieldset class="analyze-advanced-options" id="test-input-options">
                <legend id="testMethod-title" style="letter-spacing: -1px;">Comparison Method
                <i class="fa fa-question-circle lexos-popover-trigger" data-trigger="hover" data-html="true" data-toggle="popover" data-placement="right" data-container="body" data-content='By default, Topwords compares individual documents to the entire set of active documents. If you wish to compare individual documents to classes of documents or to compare classes of documents to other classes, go to the <a href="/manage">Manage</a> tool to edit class labels.' style="" title=""></i>
                </legend>
                <div class="test-input-div" id="testInput">
                    {% if numclass == 1 %}
                        <label for="allToPara">
                        <input type="radio" name="testInput" id="allToPara"
                               value="allToPara" checked>
                        Compare individual documents to the whole collection
                        <i class="fa fa-question-circle lexos-tooltip-trigger" data-trigger="hover" data-html="true" data-toggle="tooltip" data-placement="right" data-container="body" data-content="" style="" title="Compares the proportion of each term in individual documents to their proportions in the whole collection. Example: Find topwords for one chapter compared to the entire book."></i>
                        </label>
                    {% else %}
                        <label for="allToPara">
                            <input type="radio" name="testInput" id="allToPara"
                                   value="allToPara" {{ "checked" if session['topwordoption']['testInput'] == 'allToPara' }}>
                            Compare individual documents to the whole collection
                            <i class="fa fa-question-circle lexos-tooltip-trigger" data-trigger="hover" data-html="true" data-toggle="tooltip" data-placement="right" data-container="body" style="" title="Compares the proportion of each term in individual documents to their proportions in the whole collection. Example: Find topwords for one chapter compared to the entire book."></i>
                        </label>
                        <label for="classToPara">
                            <input type="radio" name="testInput" id="classToPara"
                                   value="classToPara" {{ "checked" if session['topwordoption']['testInput'] == 'classToPara' }}>
                            Compare each document against other class(es)
                            <i class="fa fa-question-circle lexos-tooltip-trigger" data-trigger="hover" data-html="true" data-toggle="tooltip" data-placement="right" data-container="body" style="" title="Comparing the proportion of each term in a document in one class to that in another class as a whole. Example: With two books (two classes), find topwords in every chapter (document) from one of the books compared to the entire other book (class)."></i>
                        </label>
                        <label for="classToClass">
                            <input type="radio" name="testInput" id="classToClass"
                                   value="classToClass" {{ "checked" if session['topwordoption']['testInput'] == 'classToClass' }}>
                            Compare classes one to another.
                            <i class="fa fa-question-circle lexos-tooltip-trigger" data-trigger="hover" data-html="true" data-toggle="tooltip" data-placement="right" data-container="body" style="" title="Comparing the proportion of each term in one class to that in another class. Example: Find topwords between two books (classes)."></i>
                        </label>
                    {% endif %}
                </div>
            </fieldset>
        </div>

        <div class="col-md-6">
            <fieldset class="analyze-advanced-options" id="words-options">
                <legend id="groupOption-title" style="letter-spacing: -1px;">Statistical Measures
                <i class="fa fa-question-circle lexos-tooltip-trigger" data-trigger="hover" data-html="true" data-toggle="tooltip" data-placement="right" data-container="body" style="" title="More ways to reduce the potential list of topwords. Use these options and/or Tokenize Culling Options to limit the number of topwords."></i>
                </legend>
                <div class="groupOption-div" id="groupOption-radios">
                    <label>All<input type="radio" name="groupOptionType" value="all" checked/>
                        <i class="fa fa-question-circle lexos-tooltip-trigger" data-trigger="hover" data-html="true" data-toggle="tooltip" data-placement="right" data-container="body" style="" title="Use all terms that appear in both groups."></i>
                    </label>
                    <br>
                    <label class="show-options">Built-in Options
                        <i class="fa fa-question-circle lexos-tooltip-trigger" data-trigger="hover" data-html="true" data-toggle="tooltip" data-placement="right" data-container="body" style="" title="Choose to find topwords using samples of term proportions from built-in outlier ranges."></i>
                        <input type="radio" name="groupOptionType"
                               value="bio" {{ 'checked' if session['topwordoption']['groupOptionType'] == 'bio' }} />

                        <div class="outlierMethod-div expansion cf" id="outlierMethod-radios">
                            <hr/>
                            <label class="show-options">Standard Deviation
                                <input type="radio" name="outlierMethodType" value="stdErr" checked/>
                        <i class="fa fa-question-circle lexos-tooltip-trigger" data-trigger="hover" data-html="true" data-toggle="tooltip" data-placement="right" data-container="body" style="" title="Choose outlier region: all defined by the standard deviation from the mean on a normal distribution (bell-shaped curve) of frequencies of all terms."></i>

                                <div class="outlier-div expansion cf" id="outlier-radios">
                                    <hr/>
                                    <label>Top Outliers Only<input type="radio" name="outlierTypeStd" value="top" checked/>
                        <i class="fa fa-question-circle lexos-tooltip-trigger" data-trigger="hover" data-html="true" data-toggle="tooltip" data-placement="right" data-container="body" style="" title="Only compare terms with rather high frequencies: +2&#963; standard deviations above the mean."></i>
                                    </label>
                                    <label>Non-Outliers Only<input type="radio" name="outlierTypeStd"
                                                             value="mid" {{ "checked" if session['topwordoption']['outlierTypeStd'] == 'mid' }}/>
                        <i class="fa fa-question-circle lexos-tooltip-trigger" data-trigger="hover" data-html="true" data-toggle="tooltip" data-placement="right" data-container="body" style="" title="Only compare terms with mid-range frequencies: frequences within +/-1&#963; around the mean."></i>
                                                             </label>
                                    <label>Low Outliers Only<input type="radio" name="outlierTypeStd"
                                                             value="low" {{ "checked" if session['topwordoption']['outlierTypeStd'] == 'low' }}/>
                        <i class="fa fa-question-circle lexos-tooltip-trigger" data-trigger="hover" data-html="true" data-toggle="tooltip" data-placement="right" data-container="body" style="" title="Only compare terms with rather low frequencies: +2&#963; standard deviations below the mean."></i>
                                                             </label>
                                </div>
                            </label>
                            <label class="show-options">Interquartile Range
                                <input type="radio" name="outlierMethodType"
                                       value="iqr" {{ 'checked' if session['topwordoption']['outlierMethodType'] == 'iqr' }}/>
                                <i class="fa fa-question-circle lexos-tooltip-trigger" data-trigger="hover" data-html="true" data-toggle="tooltip" data-placement="right" data-container="body" style="" title="Choose to find topwords using samples of term proportions using the InterQuartile Range (IQR)."></i>
                                <div class="outlier-div expansion cf" id="outlier-radios">
                                    <hr/>
                                    <label>Top Outliers Only<input type="radio" name="outlierTypeIQR" value="top" checked/>
                                        <i class="fa fa-question-circle lexos-tooltip-trigger" data-trigger="hover" data-html="true" data-toggle="tooltip" data-placement="right" data-container="body" style="" title="Only compare terms with unusually high frequencies which are at least 1.5 interquartile ranges above the third quartile (Q3)."></i>
                                    </label>
                                    <label>Non-Outliers Only<input type="radio" name="outlierTypeIQR"
                                                             value="mid" {{ "checked" if session['topwordoption']['outlierTypeIQR'] == 'mid' }}/>
                                    <i class="fa fa-question-circle lexos-tooltip-trigger" data-trigger="hover" data-html="true" data-toggle="tooltip" data-placement="right" data-container="body" style="" title="Only compare terms that are not outliers, whose frequencies are below (Q3 + 1.5 IQR) and above (Q1 - 1.5 IQR)."></i>
                                    </label>
                                    <label>Low Outliers Only<input type="radio" name="outlierTypeIQR"
                                                             value="low" {{ "checked" if session['topwordoption']['outlierTypeIQR'] == 'low' }}/>
                                    <i class="fa fa-question-circle lexos-tooltip-trigger" data-trigger="hover" data-html="true" data-toggle="tooltip" data-placement="right" data-container="body" style="" title="Only compare terms with unusually low frequencies which are at least 1.5 interquartile ranges below the first quartile (Q1)."></i>
                                    </label>
                                </div>
                            </label>
                        </div>
                    </label>

                    <label class="show-options">Customize Options
                        <i class="fa fa-question-circle lexos-tooltip-trigger" data-trigger="hover" data-html="true" data-toggle="tooltip" data-placement="right" data-container="body" style="" title="Use terms only within a user-defined range of proportions or raw counts."></i>
                        <input type="radio" name="groupOptionType"
                               value="customize" {{ 'checked' if session['topwordoption']['groupOptionType'] == 'customize' }}/>

                        <div class="outlierMethod-div expansion cf" id="outlierMethod-radios">
                            <hr/>
                            <label class="show-options">Proportional Counts
                                <input type="radio" name="useFreq" value="PC" checked/>
                                <i class="fa fa-question-circle lexos-tooltip-trigger" data-trigger="hover" data-html="true" data-toggle="tooltip" data-placement="right" data-container="body" style="" title="Using all term frequencies."></i>

                                <div class="outlier-div expansion cf" id="outlier-radios">
                                    <hr/>
                                    <label>Low Bound - <input type="number" id="lowerboundPC" name="lowerboundPC"
                                                              value={{ session['topwordoption']['lowerboundPC'] }} step="0.01"
                                                              min="0" max="1" style="width: 50px;"/></label>
                                    <label>Upper Bound - <input type="number" id="upperboundPC" name="upperboundPC"
                                                                value={{ session['topwordoption']['upperboundPC'] }} step="0.01"
                                                                min="0" max="1" style="width: 50px;"/></label>
                                </div>
                            </label>
                            <label class="show-options">Raw Counts
                                <input type="radio" name="useFreq"
                                       value="RC" {{ 'checked' if session['topwordoption']['useFreq'] == 'RC' }}/>
                                 <i class="fa fa-question-circle lexos-tooltip-trigger" data-trigger="hover" data-html="true" data-toggle="tooltip" data-placement="right" data-container="body" style="" title="Using all absolute (integer) term counts."></i>
                                <div class="outlier-div expansion cf" id="outlier-radios">
                                    <hr/>
                                    <label>Low Bound - <input type="number" id="lowerboundRC" name="lowerboundRC"
                                                              value={{ session['topwordoption']['lowerboundRC'] }} step="1"
                                                              min="0" style="width: 40px;"/></label>
                                    <label>Upper Bound - <input type="number" id="upperboundRC" name="upperboundRC"
                                                                value={{ session['topwordoption']['upperboundRC'] }} step="1"
                                                                min="0" style="width: 40px;"/></label>
                                </div>
                            </label>
                        </div>
                    </label>
                </div>
            </fieldset>
        </div>
    </div>
<!--     <div class="row">
        <div class="col-md-12">
            <fieldset class="analyze-advanced-options" id="words-options">
                <legend>Built-In Options</legend>
                <label class="show-options">Standard Deviation
                    <input type="radio" name="outlierMethodType" value="stdErr" checked/>
                    <i class="fa fa-question-circle lexos-tooltip-trigger" data-trigger="hover" data-html="true" data-toggle="tooltip" data-placement="right" data-container="body" style="" title="Choose outlier region: all defined by the standard deviation from the mean on a normal distribution (bell-shaped curve) of frequencies of all terms."></i>
                </label>
                <div class="outlier-div expansion cf" id="outlier-radios">
                    <hr/>
                    <label>Top Outliers Only<input type="radio" name="outlierTypeStd" value="top" checked/>
                        <i class="fa fa-question-circle lexos-tooltip-trigger" data-trigger="hover" data-html="true" data-toggle="tooltip" data-placement="right" data-container="body" style="" title="Only compare terms with rather high frequencies: +2&#963; standard deviations above the mean."></i>
                    </label>
                    <label>Non-Outliers Only<input type="radio" name="outlierTypeStd" value="mid" {{ "checked" if session['topwordoption']['outlierTypeStd'] == 'mid' }}/>
                        <i class="fa fa-question-circle lexos-tooltip-trigger" data-trigger="hover" data-html="true" data-toggle="tooltip" data-placement="right" data-container="body" style="" title="Only compare terms with mid-range frequencies: frequences within +/-1&#963; around the mean."></i>
                    </label>
                    <label>Low Outliers Only<input type="radio" name="outlierTypeStd" value="low" {{ "checked" if session['topwordoption']['outlierTypeStd'] == 'low' }}/>
                        <i class="fa fa-question-circle lexos-tooltip-trigger" data-trigger="hover" data-html="true" data-toggle="tooltip" data-placement="right" data-container="body" style="" title="Only compare terms with rather low frequencies: +2&#963; standard deviations below the mean."></i>
                    </label>
                </div>
                <label class="show-options">Interquartile Range
                    <input type="radio" name="outlierMethodType" value="iqr" {{ 'checked' if session['topwordoption']['outlierMethodType'] == 'iqr' }}/>
                    <i class="fa fa-question-circle lexos-tooltip-trigger" data-trigger="hover" data-html="true" data-toggle="tooltip" data-placement="right" data-container="body" style="" title="Choose to find topwords using samples of term proportions using the InterQuartile Range (IQR)."></i>
                    <div class="outlier-div expansion cf" id="outlier-radios">
                    <hr/>
                    <label>Top Outliers Only<input type="radio" name="outlierTypeIQR" value="top" checked/>
                        <i class="fa fa-question-circle lexos-tooltip-trigger" data-trigger="hover" data-html="true" data-toggle="tooltip" data-placement="right" data-container="body" style="" title="Only compare terms with unusually high frequencies which are at least 1.5 interquartile ranges above the third quartile (Q3)."></i>
                    </label>
                    <label>Non-Outliers Only<input type="radio" name="outlierTypeIQR" value="mid" {{ "checked" if session['topwordoption']['outlierTypeIQR'] == 'mid' }}/>
                        <i class="fa fa-question-circle lexos-tooltip-trigger" data-trigger="hover" data-html="true" data-toggle="tooltip" data-placement="right" data-container="body" style="" title="Only compare terms that are not outliers, whose frequencies are below (Q3 + 1.5 IQR) and above (Q1 - 1.5 IQR)."></i>
                    </label>
                    <label>Low Outliers Only<input type="radio" name="outlierTypeIQR" value="low" {{ "checked" if session['topwordoption']['outlierTypeIQR'] == 'low' }}/>
                        <i class="fa fa-question-circle lexos-tooltip-trigger" data-trigger="hover" data-html="true" data-toggle="tooltip" data-placement="right" data-container="body" style="" title="Only compare terms with unusually low frequencies which are at least 1.5 interquartile ranges below the first quartile (Q1)."></i>
                    </label>
                </div>
            </fieldset>
        </div>
    </div> -->
{% endblock %}


{% block results %}
    <input class="bttn bttn-action" id="gettopword" name="gen-topword" type="submit" value="Get Topwords"/>
    <input type="submit" class="bttn bttn-exit bttndownload" id="topworddownload" name="get-topword" value="Download Results"/>

    {# get request display the class division #}
    {% if topwordsgenerated == 'class_div' %}
    <legend class="topwordResultLegend">Class Division:</legend>
    {% if classmap[1]|length == 1 %}
            Please go to the <a href='{{ url_for("manage") }}'>Manage page</a> to
            assign class labels to documents</strong></span>
    {% endif %}

    {% for i in range(classmap[1]|length) %}
    {% endfor %}

    <div class="row">
    {% for i in range(classmap[1]|length) %}
        <div class="col-md-6 topwordTableDivv topwordTableDivClass">
            {%  if classmap[1][i] == '' %}
                <p class="topwordResultTableTitle"><strong>Class: untitled</strong></p>
            {% else %}
                <p class="topwordResultTableTitle"><strong>Class: "{{ classmap[1][i] }}"</strong></p>
            {% endif %}
                <div class="topwordFileTable">
                    {% for filename in classmap[0][i] %}
                        <p class="topwordFile">{{ filename }}</p>
                    {% endfor %}
                </div>
       </div>
    {% endfor %}
    </div>

    {% elif topwordsgenerated == 'True' %}
    <div class="row">
        <div class="col-md-12">
            <legend class="topwordResultLegend">{{ header }}</legend>
        </div>
    </div>
    <div class="row">
        {% for file in result %}
            <div class="col-md-6 topwordTableDivv topwordTableDivPZAlll">
                <p class="topwordResultTableTitle"><strong> {{ file[0] }} </strong></p>
                <table style="border:1px solid #ddd;" class="table table-striped table-condensed table-hover header-fixed">
                    <thead>
                        <th>Top Word</th>
                        <th>Z Score</th>
                    </thead>
                    <tbody>
                    {% for data in file[1] %}
                        <tr>
                            <td>{{ data[0] }}</td>
                            <td>{{ data[1] }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endfor %}
    </div>
    {% endif %}

{% endblock %}


{% block submit %}
<!--     <p style="color: red"><strong> Warning: TopWord is currently in BETA</strong></p>
    <input class="bttn bttn-action" id="gettopword" name="gen-topword" type="submit" value="Get Topwords"/>
    <input type="submit" class="bttn bttn-exit bttndownload" id="topworddownload" name="get-topword" value="Download Matrix"/> -->
{% endblock %}