{% extends "base_analyze.html" %}
{% set active_page = 'topword' %}

{% block head %}
<script type="text/javascript" src="{{ url_for('static', filename='js/scripts_topword.js') }}?ver={{version}}"></script>
<script type="text/javascript">
	var matrixExist = {{ matrixExist|default(1) }};
</script>
{% endblock %}

{% block title %}analyzer{% endblock %}


{% block options %}
<fieldset class="analyze-advanced-options" id="test-options">
<legend id="testMethod-title">Method for Test</legend>
<div class="testMethod-div" id="testMethod-radios">
	<label>Proportion Z-test<input type="radio" name="testMethodType" value="pz" checked/></label>
	<label>Kruskal&ndash;Wallis Test <input type="radio" name="testMethodType" value="kw" {{ 'checked' if request.form['testMethodType'] == 'kw' }}/></label>
</div>
</fieldset>

<fieldset class="analyze-advanced-options" id="group-options">
<legend id="groupOption-title">Define Groups</legend>
<div class="groupOption-div" id="groupOption-radios">
	<label class="show-options">Default
		<input type="radio" name="groupOptionType" value="df" checked />
		<div class="outlierMethod-div expansion cf" id="outlierMethod-radios">
			<label class="show-options">Standard Deviation
				<input type="radio" name="outlierMethodType" value="stdErr" checked/>
					<div class="outlier-div expansion cf" id="outlier-radios">
						<label>Top<input type="radio" name="outlierType" value="top" checked/></label>
						<label>Mid<input type="radio" name="outlierType" value="mid" {{ 'checked' if request.form['outlierType'] == 'mid' }}/></label>
						<label>Low<input type="radio" name="outlierType" value="low" {{ 'checked' if request.form['outlierType'] == 'low' }}/></label>
					</div>
			</label>
			<label class="show-options">IQR
				<input type="radio" name="outlierMethodType" value="iqr" {{ 'checked' if request.form['outlierMethodType'] == 'iqr' }}/>
					<div class="outlier-div expansion cf" id="outlier-radios">
						<label>Top<input type="radio" name="outlierType" value="top" checked/></label>
						<label>Mid<input type="radio" name="outlierType" value="mid" {{ 'checked' if request.form['outlierType'] == 'mid' }}/></label>
						<label>Low<input type="radio" name="outlierType" value="low" {{ 'checked' if request.form['outlierType'] == 'low' }}/></label>
					</div>
			</label>
		</div>
	</label>
	<label>All<input type="radio" name="groupOptionType" value="all" {{ 'checked' if request.form['groupOptionType'] == 'all' }}/></label>
	<label class="show-options">Customize
		<input type="radio" name="groupOptionType" value="customize" {{ 'checked' if request.form['groupOptionType'] == 'customize' }}/>
		<div class="outlierMethod-div expansion cf" id="outlierMethod-radios">
			<label class="show-options">Frequency
				<input type="radio" name="outlierMethodType" value="stdErr" checked/>
					<div class="outlier-div expansion cf" id="outlier-radios">
						<label>Low<input type="radio" name="outlierType" value="low" {{ 'checked' if request.form['outlierType'] == 'low' }}/></label>
						<label>Top<input type="radio" name="outlierType" value="top" {{ 'checked' if request.form['outlierType'] == 'top' }}/></label>
					</div>
			</label>
			<label class="show-options">Raw Counts
				<input type="radio" name="outlierMethodType" value="iqr" {{ 'checked' if request.form['outlierMethodType'] == 'iqr' }}/>
					<div class="outlier-div expansion cf" id="outlier-radios">
						<label>Low<input type="radio" name="outlierType" value="low" {{ 'checked' if request.form['outlierType'] == 'low' }}/></label>
						<label>Top<input type="radio" name="outlierType" value="top" {{ 'checked' if request.form['outlierType'] == 'top' }}/></label>
					</div>
			</label>
		</div>
	</label>
</div>
</fieldset>
{% endblock %}


{% block results %}
{% if topwordsgenerated %}
<div id="topwordresults">
	<p>
	<legend>Topword Results:</legend>
	<div class="explanation"></div>
	<p>
</div>
{% endif %}
{% endblock %}


{% block submit %}
<input class="bttn bttn-action" id="gettopword" name="gettopword" type="submit" value="Get Topwords"/>
{% endblock %}