{% extends "base.html" %}

{% block head %}
<script type="text/javascript" src="{{ url_for('static', filename='scripts_upload.js') }}"></script>
{% endblock %}

{% block title %}loader{% endblock %}

{% block navbar %}
<form id="upload" action="" method="POST" enctype="multipart/form-data" onsubmit="return haveactivefiles()">

<div class="navbaroption" id="uploadnavbar1">Upload</div>
<!-- <input class="hidden" type="submit" name="uploadnav"/> -->
<div class="navbaroption enabled" id="uploadnavbar2">Manage</div>
<input class="hidden" type="submit" name="managenav"/>
<div class="navbaroption enabled" id="uploadnavbar3">Scrub</div>
<input class="hidden" type="submit" name="scrubnav"/>
<div class="navbaroption enabled" id="uploadnavbar4">Cut</div>
<input class="hidden" type="submit" name="cutnav"/>
<div class="navbaroption enabled" id="uploadnavbar5">Analyze</div>
<input class="hidden" type="submit" name="analyzenav"/>
{% endblock %}


{% block field %}
<legend>Bulk File Upload<small> (formats supported: .txt, .html, .xml and DOE(.sgml) files)</small></legend>


<input type="hidden" id="MAX_FILE_SIZE" name="MAX_FILE_SIZE" value={{ 4 * 1024 * 1024 }} />
<input type="file" id="fileselect" name="fileselect[]" multiple="multiple"/>
<div class="bttn bttn-action" id="uploadbrowse">Browse</div>
<div id="dragndrop">Or drop files here</div>
{% endblock %}

{% block submit %}{% endblock %}


{% block content %}
<div id="uploadpreviewdiv">
</div>
{% endblock %}