{% extends "base.html" %}

{% block head %}
<script type="text/javascript" src="{{ url_for('static', filename='scripts_upload.js') }}"></script>
{% endblock %}

{% block title %}loader{% endblock %}

{% block field %}
<h3>Bulk File Upload</h3>

<form id="upload" action="" method="POST" enctype="multipart/form-data" onsubmit="return havefile()">

<input type="hidden" id="MAX_FILE_SIZE" name="MAX_FILE_SIZE" value={{4 * 1024 * 1024}} />
<input type="hidden" id="tags" name="tags" value="" />
<div>
	<label for="fileselect">Files to upload:</label>
	<input type="file" id="fileselect" name="fileselect[]" multiple="multiple" />
	<div id="filedrag">Or drop files here</div>
</div>
{% endblock %}

{% block submit %}
<input class="btn btn-primary" type="submit" value="Proceed to Scrubbing"/>
{% endblock %}

{% block content %}
<div id="progress"></div>

<div id="messages" style="display: none"></div>
</form>
<script type="text/javascript" src="{{ url_for('static', filename='filedrag.js') }}"></script>

{% endblock %}