{% extends "base.html" %}
{% set active_page = 'viz' %}
{% set is_analysis = True %}

{% block head %}
<script type="text/javascript" src="{{ url_for('static', filename='scripts_viz.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='jquery.multiselect.min.js') }}"></script>
<link href="{{ url_for('static', filename='jquery.multiselect.css') }}" rel="stylesheet">
<script src="{{ url_for('static', filename='d3.v3.min.js') }}"></script>
{% endblock %}

{% block title %}analyzer{% endblock %}

{% block formstart %}
<form id="viz" action="" method="POST" enctype="multipart/form-data">
{% endblock %}


{% block field %}
<legend>BubbleViz Options</legend>
<div id="vizoptionsbox">
	<div id="vizcreateoptions">
		
		<div style="float: left; margin-right: 20px;">
			<select id="segmentlist" name="segmentlist" multiple="multiple" style="width: 300px;">
				{% for item in segments %}
				<option value="{{ item }}" {{ 'selected' if item in request.form.getlist('segmentlist') }}>{{ item }}</option>
				{% endfor %}
			</select>
			<br />
			Large graphs can take a while to render.
		</div>

	</div>

	<div style="float: left; margin-right: 20px;">
		<label for="minlength">Minimum Word Length:
		<input id="minlength" name="minlength" value="{{ request.form['minlength'] if request.form['minlength'] else '0' }}" style="width:30px;" />
		<!-- <input type="hidden" id="ml" name="ml" value="{{ request.form['minlength'] if request.form['minlength'] else '0' }}" /> -->
		</label>
	</div>

	<div style="float: left; margin-right: 20px;">
		<label for="graphsize">Graph Size:
		<input id="graphsize" name="graphsize" value="{{ request.form['graphsize'] if request.form['graphsize'] else '800' }}" style="width:40px;" />
		<!-- <input type="hidden" id="gs" name="gs" value="{{ request.form['graphsize'] if request.form['graphsize'] else '800' }}" /> -->
		</label>
	</div>

</div>

{% for word in words %}
	<input type="hidden" class="words" value="{{ word|safe }}"/>
{% endfor %}

{% endblock %}



{% block content %}

<div id="svgid"></div>

{% endblock %}


{% block submit %}
<input class="bttn bttn-action" id="getviz" type="submit" value="Get Graph"/>
{% endblock %}