{% extends "base_visualize.html" %}
{% set active_page = 'wordcloud' %}


{% block head %}
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.multiselect.min.js') }}?ver={{version}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/d3.layout.cloud.js') }}?ver={{version}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/scripts_wordcloud.js') }}?ver={{version}}"></script>

<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.multiselect.css') }}?ver={{version}}">

<script>
  var dataset = {{ JSONObj|safe or {} }};
</script>
{% endblock %}


{% block title %}visualizer{% endblock %}


{% block options %}
<legend>Word Cloud Options</legend>
<div id="vizcreateoptions">
	<!-- May want to switch dropdown script to http://davidstutz.github.io/bootstrap-multiselect/ -->
	<select id="segmentlist" name="segmentlist" multiple="multiple">
		{% for fileID, fileLabel in labels.items() %}
		<option value="{{ fileID }}" {{ 'selected' if fileID|unicode in request.form.getlist('segmentlist') }}>{{ fileLabel }}</option>
		{% endfor %}
	</select>
	<span class="viz-tips">Large graphs can take a while to render.</span>
</div>

{% endblock %}


{% block results %}

{% if not JSONObj %}
<h4 id="nosegments">Please select the segments for the word cloud.</h4>
{% else %}

<div id="wordcloudoptionswrapper">

<div id="vis"></div>

  <p id="status"></p>

<hr>

<div id="rightsideoptions">
  <p><label for="maxwords">Number of words:</label> <input type="number" value="250" min="1" id="maxwords">
  <!--<p><label for="colours">Colours:</label> <a href="#" id="random-palette">get random palette</a>-->
  <p><label>Download:</label>
    <a id="download-svg" href="#" target="_blank">SVG</a> |
    <a id="download-png" href="#" target="_blank">PNG</a>
  </p>
</div>

<div id="leftsideoptions">
  <p><label>Spiral:</label>
    <label for="archimedean"><input type="radio" name="spiral" id="archimedean" value="archimedean" checked="checked"> Archimedean</label>
    <label for="rectangular"><input type="radio" name="spiral" id="rectangular" value="rectangular"> Rectangular</label>
  </p>
  <p><label for="scale">Scale:</label>
    <label for="scale-log"><input type="radio" name="scale" id="scale-log" value="log" checked="checked"> log n</label>
    <label for="scale-sqrt"><input type="radio" name="scale" id="scale-sqrt" value="sqrt"> √n</label>
    <label for="scale-linear"><input type="radio" name="scale" id="scale-linear" value="linear"> n</label>
  </p>
  <p><label for="font">Font:</label> <input type="text" id="font" value="Impact"></p>
</div>

<div id="angles">
  <p><input type="number" id="angle-count" value="5" min="1"> <label for="angle-count">orientations</label>
    <label for="angle-from">from</label> <input type="number" id="angle-from" value="-60" min="-90" max="90"> &deg;
    <label for="angle-to">to</label> <input type="number" id="angle-to" value="60" min="-90" max="90"> &deg;
  </p>
</div>
</div>

<hr>

<p id="wordcloudcopyright"><a href="http://www.jasondavies.com/wordcloud/about/" target="_blank">How the Word Cloud Generator Works</a>.
<p>Copyright &copy; <a href="http://www.jasondavies.com/" target="_blank">Jason Davies</a> 2012.<br />
Modified slightly to use Lexos data.</p>
</form>

<!-- Leave this script at the bottom so the cloud is computed/generated/shown AFTER the page loads and shows -->

{% endif %}
{% endblock %}

{% block submit %}
<input class="bttn bttn-action" id="getviz" type="submit" value="Get Graph"/>
{% endblock %}