{% extends "helpers/visualize-template.html" %}

{% block title %}Bubbleviz{% endblock %}

<!-- Head -->
{% block page_head %}

    <!-- Page JS and CSS -->
    <script type="text/javascript" src="frontend/js/bubbleviz.js"></script>
    <link rel="stylesheet" type="text/css" href="frontend/css/bubbleviz.css"/>
{% endblock %}


<!-- Title -->
{% block graph_title %}Bubbleviz{% endblock %}


<!-- Graph -->
{% block graph %}

    <!-- Bubbleviz -->
    <div id="bubbleviz" class="section-body"></div>
{% endblock %}
