{% extends "helpers/analyze-template.html" %}

{% block title %}Consensus Tree{% endblock %}

<!-- Head -->
{% block page_head %}

<!-- Page Lexos dependencies -->
<script type="text/javascript" src="frontend/js/helpers/tree-options.js"></script>

<!-- Page JS and CSS -->
<script type="text/javascript" src="frontend/js/consensus-tree.js"></script>
<link rel="stylesheet" type="text/css" href="frontend/css/consensus-tree.css" />
{% endblock %}


<!-- Options -->
{% block options %}

<!-- Options -->
<fieldset id="consensus-tree-options-fieldset">
    <div id="consensus-tree-options-section" class="section">
        <legend class="section-top title">Options</legend>
        <div class="section-body vertical-splitter">

            <!-- Left column -->
            <div>
                <!-- Sample with replacement -->
                <label><input name="sample_with_replacement" type="checkbox"><span></span>Sample with
                    replacement</label>
                <br>

                <!-- Distance metric -->
                <h3>Distance Metric: </h3><span id="distance-metric-button" class="button">Euclidean</span>
                <span id="distance-metric-tooltip-button" class="tooltip-button">?</span><br>

                <!-- Linkage method -->
                <h3>Linkage Method: </h3><span id="linkage-method-button" class="button">Average</span>
                <span id="linkage-method-tooltip-button" class="tooltip-button">?</span>
            </div>

            <!-- Right column -->
            <div>

                <!-- Cutoff -->
                <div>
                    <label for="cutoff-input">Cutoff</label>
                    <input id="cutoff-input" name="cutoff" value="0.5" type="text" spellcheck="false"
                        autocomplete="off">
                    <span id="cutoff-tooltip-button" class="tooltip-button">?</span><br>
                </div>

                <!-- Iterations -->
                <div>
                    <label for="iterations-input">Iterations</label>
                    <input id="iterations-input" name="iterations" value="100" type="text"
                        spellcheck="false" autocomplete="off">
                    <span id="iterations-tooltip-button" class="tooltip-button">?</span>
                </div>
            </div>
        </div>
    </div>
</fieldset>

{% endblock %}


<!-- Results -->
{% block results %}

<!-- Consensus tree -->
<div class="section">

    <!-- Top -->
    <div class="vertical-splitter section-top">
        <h3 class="title">Consensus Tree</h3>
        <div id="consensus-tree-buttons" class="right-justified">
            <span id="generate-button" class="disabled important-button">Generate</span>
            <span id="download-button" class="disabled button">Download</span>
        </div>
    </div>

    <!-- Body -->
    <div id="consensus-tree-body" class="section-body centerer"></div>
</div>
{% endblock %}


<!-- Hidden elements -->
{% block hidden_elements %}
<input id="distance-metric-input" name="distance_metric" value="euclidean" type="hidden">
<input id="linkage-method-input" name="linkage_method" value="Average" type="hidden">
{% endblock %}
