{% extends "helpers/base-template.html" %}

{% block title %}Content Analysis{% endblock %}

<!-- Head -->
{% block head %}

    <!-- Page Lexos dependencies -->
    <script type="text/javascript" src="frontend/js/helpers/table.js"></script>
    <link rel="stylesheet" type="text/css" href="frontend/css/helpers/table.css"/>

    <!-- Page JS and CSS -->
    <script type="text/javascript" src="frontend/js/content-analysis.js"></script>
    <link rel="stylesheet" type="text/css" href="frontend/css/content-analysis.css"/>
{% endblock %}


<!-- Content -->
{% block content %}

    <!-- Top -->
    <div id="top-section">

        <!-- Dictionaries -->
        <div id="dictionaries-section" class="section">

            <!-- Top -->
            <div class="vertical-splitter section-top">
                <div>
                     <h3 class="title">Dictionaries</h3>
                </div>

                <div class="right-justified">
                    <span id="upload-button" class="important-button">Upload</span>
                    <span id="dictionaries-tooltip-button" class="tooltip-button">?</span>
                </div>
            </div>

            <!-- Body -->
            <div class="borderless-section-body dictionaries-wrapper">
                <h3 class="centerer">No Uploads</h3>
            </div>
        </div>

        <!-- Formula --->
        <div id="formula-section" class="section">

            <!-- Top -->
            <div class="vertical-splitter section-top">
                <h3 class="title">Formula</h3>

                <div class="right-justified">
                    <span id="analyze-button" class="important-button">Analyze</span>
                    <span id="formula-tooltip-button" class="tooltip-button">?</span>
                </div>
            </div>

            <!-- Body -->
            <div id="formula-body" class="section-body">

                <label for="formula-textarea" class="hidden">Formula Text Area</label>
                <textarea id="formula-textarea" name="formula" spellcheck="false"></textarea>

                <div id="formula-buttons">
                    <div id="number-pad">
                        <h3>1</h3><h3>2</h3><h3>3</h3>
                        <h3>4</h3><h3>5</h3><h3>6</h3>
                        <h3>7</h3><h3>8</h3><h3>9</h3>
                        <h3>DEL</h3><h3>0</h3><h3>CLR</h3>
                    </div>

                    <div id="operations-pad">
                        <h3>(</h3><h3>)</h3>
                        <h3>+</h3><h3>-</h3>
                        <h3>/</h3><h3>X</h3>
                        <h3>.</h3><h3>^</h3>
                    </div>

                    <div id="documents-pad" class="dictionaries-wrapper">
                        <h3 class="centerer">No Uploads</h3>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Overview -->
    <div id="overview-table-section" class="section"></div>


    <!-- Corpus -->
    <div id="corpus-table-section" class="section"></div>


    <!-- Documents -->
    <div id="documents-section" class="section">
        <div class="vertical-splitter section-top">
            <h3 class="title">Documents</h3>
            <span id="documents-tooltip-button" class="right-justified tooltip-button">?</span>
        </div>
        <div id="documents-body" class="section-body">
            <h3 class="centerer">No Results</h3>
        </div>
    </div>


    <!-- Hidden elements -->
    <label for="file-input" class="hidden">File Input</label>
    <input id="file-input" name="dictionaries[]" type="file" class="hidden" multiple>

{% endblock %}
