{% extends "helpers/analyze-template.html" %}

{% block title %}Dendrogram{% endblock %}

<!-- Head -->
{% block page_head %}

<!-- Page Lexos dependencies -->
<script type="text/javascript" src="frontend/js/helpers/graph.js"></script>
<link rel="stylesheet" type="text/css" href="frontend/css/helpers/graph.css" />
<script type="text/javascript" src="frontend/js/helpers/tree-options.js"></script>


<!-- Page JS and CSS -->
<script type="text/javascript" src="frontend/js/dendrogram.js"></script>
<link rel="stylesheet" type="text/css" href="frontend/css/dendrogram.css" />
{% endblock %}


<!-- Options -->
{% block options %}

<!-- Dendrogram options -->
<fieldset id="dendrogram-options-fieldset">
    <div id="dendrogram-options-section" class="section">
        <legend class="section-top title">Options</legend>

        <div class="section-body">

            <!-- Distance metric -->
            <div>
                <h3>Distance Metric: </h3>
                <span id="distance-metric-button" class="button">Euclidean</span>
                <span id="distance-metric-tooltip-button" class="tooltip-button">?</span><br>
            </div>

            <!-- Linkage method -->
            <h3>Linkage Method: </h3>
            <span id="linkage-method-button" class="button">Average</span>
            <span id="linkage-method-tooltip-button" class="tooltip-button">?</span><br>

            <!-- Orientation -->
            <h3>Orientation: </h3>
            <span id="orientation-button" class="button">Left</span>
        </div>
    </div>
</fieldset>
{% endblock %}


<!-- Results -->
{% block results %}

<!-- Dendrogram -->
<div class="section">
    <div class="vertical-splitter section-top">
        <h3 class="title">Dendrogram</h3>
        <div id="dendrogram-buttons" class="right-justified">
            <span id="generate-button" class="disabled important-button">Generate</span>
            <span id="png-button" class="disabled button">PNG</span>
            <span id="svg-button" class="disabled button">SVG</span>
            <span id="fullscreen-button" class="disabled button">Fullscreen</span>
        </div>
    </div>

    <div id="graph-container" class="section-body"></div>
</div>
{% endblock %}


<!-- Hidden elements -->
{% block hidden_elements %}
<input id="distance-metric-input" name="distance_metric" value="euclidean" type="hidden">
<input id="linkage-method-input" name="linkage_method" value="Average" type="hidden">
<input id="orientation-input" name="orientation" value="Left" type="hidden">
{% endblock %}
