{% extends "helpers/base-template.html" %}

{% block title %}Manage{% endblock %}

<!-- Head -->
{% block head %}
    <!-- Page Lexos dependencies -->
    <script type="text/javascript" src="frontend/js/helpers/point.js"></script>
    <script type="text/javascript" src="frontend/js/helpers/manage-table-selection-box.js"></script>
    <script type="text/javascript" src="frontend/js/helpers/manage-table.js"></script>
    <link rel="stylesheet" type="text/css" href="frontend/css/helpers/manage-table.css"/>

    <!-- Page JS and CSS -->
    <script type="text/javascript" src="frontend/js/manage.js"></script>
    <link rel="stylesheet" type="text/css" href="frontend/css/manage.css"/>
{% endblock %}


<!-- Content -->
{% block content %}

    <!-- Table -->
    <div id="manage-table" class="section"></div>

    <!-- Context menu -->
    <div id="context-menu">
        <h3 id="preview-button" class="clickable-text">Preview</h3>
        <h3 id="edit-name-button" class="clickable-text">Edit Name</h3>
        <h3 id="edit-class-button" class="clickable-text">Edit Class</h3>
        <h3 id="delete-button" class="clickable-text">Delete</h3>
        <hr class="separator">
        <h3 id="merge-selected-button" class="clickable-text">Merge Active</h3>
        <h3 id="edit-selected-classes-button" class="clickable-text">Edit Active Classes</h3>
        <h3 id="delete-selected-button" class="clickable-text">Delete Active</h3>
        <hr class="separator">
        <h3 id="select-all-button" class="clickable-text">Activate All</h3>
        <h3 id="deselect-all-button" class="clickable-text">Deactivate All</h3>
    </div>

{% endblock %}
